<app-navmenu></app-navmenu>

<div *ngIf="article && article.coverImageUrl"
     class="blog-hero-wrapper" [ngStyle]="{'background-image':'url('+ article.coverImageUrl +')'}">
</div>

<div *ngIf="!article; else blog" class="blog-loading-wrapper">
  <div class="loading-wrapper">
    <div class="loading-logo">
      <img src="{{getAbsoluteUrl('/assets/img/loading-logo.svg')}}" alt="">
    </div>
  </div>
</div>
<ng-template #blog>
<div *ngIf="article" class="blog-article-wrapper">
  <div class="blog-article-top d-flex justify-content-between align-items-center">
    <div class="blog-article-title">
      <svg class="blog-article-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="20" viewBox="0 0 24 20">
          <g fill="none" fill-rule="evenodd">
              <path fill="#f86649" d="M21.445 18.15c.726 0 1.316-.604 1.316-1.346V3.636H20.13v13.168c0 .742.59 1.346 1.316 1.346zM1.24 16.804c0 .742.59 1.346 1.316 1.346H19.26a2.632 2.632 0 0 1-.37-1.346V1.684H1.24v15.12zM23.38 2.369c.342 0 .619.284.619.634v13.8c0 1.442-1.146 2.613-2.555 2.613H2.555c-1.356 0-2.467-1.086-2.547-2.453-.003-.026-.008-.052-.008-.08V1.05C0 .7.277.416.62.416h18.89c.341 0 .62.284.62.633v1.32h3.25zM4.226 7.191h11.548V4.64H4.226V7.19zm12.162-3.775c.338 0 .612.273.612.612v3.776a.612.612 0 0 1-.612.612H3.613A.613.613 0 0 1 3 7.804V4.028c0-.339.274-.612.613-.612h12.775zm-7.95 7c.31 0 .562.224.562.5s-.252.5-.563.5H3.563c-.311 0-.563-.224-.563-.5s.252-.5.563-.5h4.874zm8 0c.31 0 .562.224.562.5s-.252.5-.563.5h-4.875c-.31 0-.562-.224-.562-.5s.252-.5.562-.5h4.875zm-8 2c.31 0 .562.223.562.5s-.252.5-.563.5H3.563c-.311 0-.563-.223-.563-.5s.252-.5.563-.5h4.874zm8 0c.31 0 .562.223.562.5s-.252.5-.563.5h-4.875c-.31 0-.562-.223-.562-.5s.252-.5.562-.5h4.875zm-8 2c.31 0 .562.223.562.5 0 .276-.252.5-.563.5H3.563c-.311 0-.563-.224-.563-.5 0-.277.252-.5.563-.5h4.874zm8 0c.31 0 .562.223.562.5 0 .276-.252.5-.563.5h-4.875c-.31 0-.562-.224-.562-.5 0-.277.252-.5.562-.5h4.875z"/>
          </g>
      </svg>
      {{ category.name }}
    </div>

    <span class="blog-article-date">{{ article.createdAt * 1000 | date:'dd.MM.yyyy' }}</span>
  </div>

  <h1 class="article-title">{{ article.title }}</h1>

  <div class="article-txt" [innerHtml]="body">

  </div>
</div>
<div *ngIf="related && related.length" class="blog-similar-articles">
  <div class="wrapper">
    <div class="d-flex flex-wrap justify-content-center">
      <a class="blog-preview-col" *ngFor="let relatedArticle of related" [href]="'/blog/article/' + relatedArticle.slug">
        <div *ngIf="relatedArticle.coverImageUrl"
             [ngStyle]="{'background-image':'url('+ relatedArticle.coverImageUrl +')'}" class="blog-preview-img" >
        </div>
        <div class="blog-preview-body">
          <span class="blog-title">{{ relatedArticle.title }}</span>
          <p class="blog-description">{{ relatedArticle.description }}</p>
        </div>
      </a>
    </div>
  </div>
</div>
</ng-template>


<app-kikmoov-footer></app-kikmoov-footer>
