@import "../blog-list/blog-list.component.scss";

.blog-article-wrapper {
  max-width: 740px;
  margin: 0 auto;
  padding: 0 15px 90px 15px;
  overflow: hidden;

  @media (max-width: $screen-sm-max) {
    padding: 0  15px 50px 15px;
  }

  p {
    font-size: 14px;
    line-height: 19px;
    color: #000;
    margin: 0 0 20px 0;

    img {
      max-width: 100%;
      margin-bottom: 25px;
    }
  }
}

.blog-article-top {
  padding: 12px 15px;
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  margin: 30px 0 40px 0;

  .blog-article-title {
    font-size: 16px;
    color: $orange;

    .blog-article-icon {
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
    }
  }

  .blog-article-date {
    border-left: 1px solid #cacaca;
    padding: 3px 0 0 20px;
    font-size: 18px;
    color: #cacaca;
  }
}

.article-title {
  display: block;
  font-size: 38px;
  font-weight: 500;
  color: #000;
  margin: 0 0 40px 0;

  @media (max-width: $screen-sm-max) {
    font-size: 28px;
  }
}

.article-txt {
  font-size: 14px;
  line-height: 19px;
  color: #000;
  margin: 0 0 20px 0;
}

.article-img {
  max-width: 100%;
  margin-bottom: 25px;
}

.blog-similar-articles {
  padding: 60px 0;
  background-color: #f8f8f8;
}

.blog-loading-wrapper {
  min-height: calc(100vh - 362px);
  position: relative;

  @media (max-width:$screen-sm-max) {
    min-height: 100vh;
  }
}
