@import "../../../variables.scss";

.indepth-slider-wrapper {
  position: relative;

  .slider-arrows {
    @media (max-width: $screen-md-max) {
      &.prev {
        left: 15px;
      }

      &.next {
        right: 15px;
      }
    }
    @media (max-width: $screen-sm-max) {
      display: block !important;
    }
  }
}

.indepth-slider {
  margin: 0;

  .slick-list {
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 400px;
      height: 100%;
      background: rgba(255, 255, 255, .5);
    }
  }

  .indepth-slide {
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    cursor: pointer;

    @media (max-width: $screen-xs-max) {
      height: 280px;
    }
  }

  .slick-slide {
    position: relative;
  }
}

.indepth-row {
  padding-top: 15px;
}

.indepth-left-wrap {
  width: 522px;
  margin-right: 25px;
  padding: 0 0 45px 0;
  border-bottom: 1px solid #e4e4e4;

  @media (max-width: $screen-xs-max) {
    width: 100%;
    margin-right: 0;
  }



  .space-name {
    display: block;
    font-size: 24px;
    line-height: 26px;
    font-weight: 500;
    color: #000;
    margin-bottom: 5px;
    word-break: break-all;
  }

  .space-location {
    display: block;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #9b9b9b;
    margin-bottom: 20px;
  }

  .space-description {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    color: #000;
    margin: 0 0 20px 0;
    word-break: break-word;
    white-space: pre-line;

    &:last-child {
      margin: 0;
    }
  }
}

.indepth-info-heading {
  position: relative;
  padding-right: 40px;
}

.like-wrap {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 0;

  .fa {
    font-size: 30px;
    line-height: 30px;
    color: #cacaca;

    &.selected {
      color: #f86649;
    }
  }
}

.indepth-right-wrapper {
  width: 230px;
  position: absolute;
  right: 0;

  @media (max-width: 800px) {
    position: static;
  }

  @media (max-width: $screen-xs-max) {
    width: 100%;
    margin-bottom: 30px;
  }
}

.indepth-right-sidebar {
  width: 230px;
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  margin-bottom: 10px;

  @media (max-width: $screen-xs-max) {
    width: 100%;
  }

  .indepth-sidebar-top {
    padding: 20px 10px 15px 10px;
    background-color: #f7f7f7;
    margin-bottom: 40px;
    overflow: hidden;

    .indepth-sidebar-title {
      display: block;
      font-size: 12px;
      line-height: 14px;
      margin-bottom: 5px;

      &.blue_c {
        color: #3d8fc6;
      }

      &.blueNew_c {
        color: #3d8fc6;
      }

      &.orange_c {
        color: #f86649;
      }
    }

    .indepth-sidebar-spacename {
      display: block;
      font-size: 16px;
      line-height: 18px;
      font-weight: 500;
      color: #000;
      margin-bottom: 5px;
    }

    .indepth-sidebar-price {
      display: block;
      font-size: 16px;
      line-height: 18px;
      font-weight: 300;
      color: #000;
    }
  }

  .indepth-sidebar-buttons {
    padding: 0 10px;

    .btn-site {
      margin-bottom: 10px;
      font-weight: 400;
    }
  }
}

.share-button {
  display: block;
  width: 100%;
  background-color: #f7f7f7;
  text-align: center;
  padding: 10px;
  font-size: 12px;
  color: #000;
  border-radius: 4px;
  cursor: pointer;
  @include transition(.2s);

  &:hover {
    background-color: #ebe8e8;
  }

  img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }
}

.indepth-title-wrap {
  margin-bottom: 25px;

  &.margin-none {
    margin: 0;
  }

  &.monthly {
    .indepth-tag {
      background-color: $orange;
    }

    .indepth-title {
      color: $orange;
    }
  }

  &.hourly {
    .indepth-title {
      color: #3d8fc6;
    }

    .indepth-tag {
      background-color: #3d8fc6;
    }
  }

  &.daily {
    .indepth-title {
      color: #3d8fc6;
    }

    .indepth-tag {
      background-color: #3d8fc6;
    }
  }
}

.indepth-title {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #3d8fc6;
}

.indepth-tag {
  display: inline-block;
  margin-left: 5px;
  font-size: 10px;
  line-height: 12px;
  color: #fff;
  padding: 2px;
  border-radius: 5px;
}

.facilities-list {
  margin-bottom: 30px;
}

.indepth-facilities-list-wrapper {
  .indepth-facility-item {
    margin-right: 10px;
    margin-bottom: 25px;
    width: 31%;

    @media (max-width: $screen-sm-max) {
      width: 100%;
      margin-right: 0;
    }

    .indepth-facility-item-img {
      width: 40px;
    }

    img {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      max-width: 28px;
      max-height: 28px;
    }

    span {
      display: inline-block;
      vertical-align: middle;
      font-size: 12px;
      font-weight: 500;
      color: #000;
    }
  }
}

.indepth-select {
  padding: 3px;
  overflow: hidden;
  margin: -3px;
  
  .mat-accordion {
    .mat-expansion-panel {
      background: none;
      box-shadow: none;
      overflow: initial;

      .mat-expansion-panel-header {
        border-radius: 4px;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
        padding: 0 10px;
        position: relative;
        background: transparent;
      }

      .indepth-select-list {
        padding-top: 15px;
        margin-left: -14px;
        margin-right: -14px;
      }

      .mat-expansion-panel-content {
        .mat-expansion-panel-body {
          padding: 15px 10px;
        }
      }
    }
  }
}

.desk-price-wrap {
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  width: 100%;

  .desk-col {
    width: 100%;
    border-right: 1px solid #ececec;
    text-align: center;
    padding: 8px;
    cursor: pointer;
    margin-bottom: 0;

    &.active {
      background-color: #f7f7f7;

      span {
        color: #000;
        font-weight: 600;
      }
    }

    &:last-child {
      border: none;
    }

    span {
      display: block;
      color: #9b9b9b;
    }

    .price {
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 5px;
    }

    .hint {
      font-size: 12px;
      line-height: 14px;
    }
  }
}

.select-space-info {
  font-family: 'Montserrat', sans-serif;

  .select-space-info-top {
    display: block;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #000;
    margin-bottom: 3px;
  }

  .select-space-info-bottom {
    display: block;
    font-size: 10px;
    line-height: 12px;
    font-weight: 500;
    color: #4a4a4a;
  }
}

.sort-arrow {
  @include center(vertical);
  @include transition(.2s);
  right: 22px;
  color: #cacaca;
  font-size: 40px;
  line-height: 41px;
  z-index: 10;
}

.mat-expanded {
  .sort-arrow {
    transform: rotate(90deg);
    line-height: 5px;
  }
}

.map-wrap {
  margin-bottom: 10px;

  img {
    border-radius: 4px;
  }
}

#map-canvas {
  height: 234px;
}

.map-info-wrap {
  .map-info-col {
    width: 37%;
    margin-right: 25px;
    margin-bottom: 20px;

    @media (max-width: $screen-sm-max) {
      width: 100%;
      margin-right: 0;
    }

    .icon-wrap {
      margin-right: 10px;
      padding-top: 1px;

      img {
        display: block;
        vertical-align: top;
      }
    }

    span {
      display: block;
    }

    .map-info-title {
      font-size: 14px;
      line-height: 16px;
      font-weight: 500;
      color: #4a4a4a;
      margin-bottom: 3px;
    }

    .map-info-hint {
      font-size: 12px;
      line-height: 14px;
      font-weight: 500;
      color: #9b9b9b;
    }
  }
}
