<app-navmenu [filled]="true" [scrollable]="false"></app-navmenu>
<div *ngIf="isBrowser; else noslider">
  <div class="indepth-slider-wrapper"
       *ngIf="indepthSlides && indepthSlides.length">
    <div class="slider-arrows prev" *ngIf="indepthSlides && indepthSlides.length > 1" (click)="slickModal.slickPrev()">
      <i class="fa fa-angle-left"></i>
    </div>

    <ngx-slick-carousel
        [ngClass]="{'indepth-slider-one-item': indepthSlides.length <= 1}"
      class="indepth-slider"
      #slickCarousel
      #slickModal="slick-carousel"
      (init)="handleSlickInit(slickCarousel)"
      [config]="indepthSliderConfig"
    >
      <div ngxSlickItem class="slide" *ngFor="let slide of indepthSlides;  let i=index">
        <div
          class="indepth-slide"
          (click)="open(i)"
          [ngStyle]="{ 'background-image': 'url(' + slide.url + ')' }"
        ></div>
      </div>
    </ngx-slick-carousel>

    <div class="slider-arrows next" *ngIf="indepthSlides && indepthSlides.length > 1" (click)="slickModal.slickNext()">
      <i class="fa fa-angle-right"></i>
    </div>

  </div>
</div>

<ng-template #noslider>
  <div class="indepth-slider-wrapper">
    <ngx-slick-carousel class="indepth-slider"  >
      <div class="slide">
        <div class="indepth-slide" [ngStyle]="{ 'background-image': 'url(' + currentWorkspace.coverImageUrl + ')' }"></div>
      </div>
    </ngx-slick-carousel>
  </div>
</ng-template>

<div class="wrapper-sm">
  <div class="loading-wrapper" *ngIf="!currentWorkspace; else workSpaceTemplate">
    <div class="loading-logo">
      <img src="{{getAbsoluteUrl('/assets/img/loading-logo.svg')}}" alt="">
    </div>
  </div>
  <ng-template #workSpaceTemplate>
  <div class="indepth-row d-flex align-items-start flex-sm-nowrap flex-wrap">
    <div class="indepth-right-wrapper order-sm-2" *ngIf="workSpaceType === 'private-office'">
      <div class="indepth-right-sidebar">
        <div class="indepth-sidebar-top">
          <span class="indepth-sidebar-title blue_c"
            >{{ workSpaceTypes[workSpaceType] }} •
            {{ currentWorkspace.capacity }} ppl
          </span>

          <div class="d-flex justify-content-between flex-wrap">
            <span class="indepth-sidebar-spacename">{{
              workSpace['location'].name
            }}</span>
            <span class="indepth-sidebar-price"
              >{{ currentWorkspace.price | currency: 'GBP' : 'symbol' : '1.0-2' }}/{{ paymentType === 'monthly' ? 'm' : 'hr' }}</span
            >
          </div>
        </div>

        <!-- Visited by Kikmoov -->
        <span *ngIf="workSpace['workspace'].visited" class="kikmoov-checked-button">
          <img src="{{getAbsoluteUrl('/assets/img/kikmoov-check.svg')}}" alt="">
          Visited by Kikmoov
        </span>
        <div class="indepth-sidebar-buttons">
          <a class="btn-site blue_c w100" (click)="showBookingProcess('viewing')">Schedule a viewing</a>
          <a class="btn-site red_c w100" (click)="showBookingProcess('booking')"
          >Request to book</a
          >
        </div>
      </div>
      <a class="share-button" (click)="showShareModal()">
        <img src="{{getAbsoluteUrl('/assets/img/share-icon.svg')}}" alt="">
        Share
      </a>
    </div>

    <div class="indepth-right-wrapper order-sm-2" *ngIf="workSpaceType === 'meeting-room' || workSpaceType === 'desk'">
      <div class="indepth-right-sidebar">
        <div class="indepth-sidebar-top">
          <span class="indepth-sidebar-title" [ngClass]="{blue_c: paymentType === 'hourly', blueNew_c: paymentType === 'daily', orange_c: paymentType === 'monthly'}">{{ workSpaceTypes[workSpaceType] }} • {{ paymentType }}{{currentWorkspace.type === 'meeting-room' ? ' • ' + currentWorkspace.capacity + 'ppl' : ''}} </span>

          <div class="d-flex justify-content-between flex-wrap">
            <span class="indepth-sidebar-spacename">{{ workSpace['location'].name }}</span>
            <span class="indepth-sidebar-price" *ngIf="workSpaceType === 'meeting-room' && currentWorkspace.deskType === 'daily_meeting_room'; else notDailyMeeting">
              {{ currentWorkspace.price | currency: 'GBP' : 'symbol' : '1.0-2' }}/day</span>
            <ng-template #notDailyMeeting>
              <span class="indepth-sidebar-price" *ngIf="workSpaceType === 'desk' && currentWorkspace.deskType === 'daily_hot_desk'; else notDailyDesk">
              {{ currentWorkspace.price | currency: 'GBP' : 'symbol' : '1.0-2' }}/day</span>
              <ng-template #notDailyDesk>
                <span class="indepth-sidebar-price">{{ currentWorkspace.price | currency: 'GBP' : 'symbol' : '1.0-2' }}/{{ paymentType === 'monthly' ? 'm' : 'hr' }}</span>
              </ng-template>
            </ng-template>
          </div>
        </div>

        <!-- Visited by Kikmoov -->
        <span *ngIf="workSpace['workspace'].visited" class="kikmoov-checked-button">
              <img src="{{getAbsoluteUrl('/assets/img/kikmoov-check.svg')}}" alt="">
              Visited by Kikmoov
            </span>
        <div *ngIf="paymentType === 'hourly' || paymentType === 'daily'; else bookingViewing" class="indepth-sidebar-buttons">
          <a class="btn-site red_c blue_c w100"  (click)="showBookingProcess('booking')">Book</a>
        </div>
        <ng-template #bookingViewing>
          <div class="indepth-sidebar-buttons">
            <a class="btn-site blue_c w100" (click)="showBookingProcess('viewing')">Schedule a viewing</a>
            <a class="btn-site red_c w100" (click)="showBookingProcess('booking')"
            >Request to book</a
            >
          </div>
        </ng-template>
      </div>
      <a class="share-button" (click)="showShareModal()">
        <img src="{{getAbsoluteUrl('/assets/img/share-icon.svg')}}" alt="">
        Share
      </a>
    </div>


    <div class="indepth-left-wrap order-sm-1">
      <div class="indepth-info-heading">
        <div class="like-wrap" (click)="handleLikeWorkSpace(currentWorkspace)">
          <i class="fa fa-heart-o"
             [ngClass]="{'selected': currentWorkspace['isLiked'], 'fa-heart': currentWorkspace['isLiked'], 'fa-heart-o': !currentWorkspace['isLiked']}"></i>
        </div>

        <div [class]="'indepth-title-wrap margin-none ' + paymentType">
          <span class="indepth-title">{{
            workSpaceTypes[workSpaceType]
          }}</span>
          <span class="indepth-tag">{{ paymentType }}</span>
        </div>

        <span class="space-name">{{ workSpace['location'].name }}</span>
        <span class="space-location">{{ workSpace['location'].address }}</span>
      </div>

      <p class="space-description" [innerHTML]="workSpace['workspace'].description">
      </p>
    </div>
  </div>

  <div class="indepth-row d-flex align-items-start">
    <div class="indepth-left-wrap">
      <div class="indepth-title-wrap">
        <span class="indepth-title">Workspace Facilities</span>
      </div>

      <!-- Facilities list icons -->
      <div class="indepth-facilities-list-wrapper d-flex flex-wrap">
        <div class="indepth-facility-item d-flex align-items-center"
             *ngFor="let facility of currentWorkspace.facilities">
          <div class="indepth-facility-item-img">
            <img [src]="facility.webIcon" alt="">
          </div>
          <span>{{ facility.name }}</span>
        </div>
      </div>

      <div class="indepth-select" *ngIf="workSpaceType !== 'desk'; else deskBlock">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header expandedHeight="48px">
              <div class="select-space-info">
                <span class="select-space-info-top" *ngIf="currentWorkspace.deskType === 'daily_meeting_room'; else notDailyMeetingIndepth"
                  >{{ workSpaceTypes[workSpaceType] }} -
                  {{ currentWorkspace.price | currency: 'GBP' : 'symbol' : '1.0-2' }}/day</span
                >
                <ng-template #notDailyMeetingIndepth>
                  <span class="select-space-info-top"
                  >{{ workSpaceTypes[workSpaceType] }} -
                  {{ currentWorkspace.price | currency: 'GBP' : 'symbol' : '1.0-2' }}{{ paymentType === 'monthly' ? ' /m' : '/hr' }}</span
                  >
                </ng-template>
                <span class="select-space-info-bottom"
                  >{{ currentWorkspace.type !== 'meeting-room' && !!currentWorkspace.size? currentWorkspace.size + ' sq ft |' : '' }}
                  {{ currentWorkspace.capacity }} ppl</span
                >
              </div>
              <i class="fa fa-angle-right sort-arrow"></i>
            </mat-expansion-panel-header>
            <div class="indepth-select-list">
              <div class="radio-blue" *ngFor="let related of workSpace['related']">
                <div class="radio">
                  <input type="radio" name="name" [(ngModel)]="currentWorkspace" (change)="changeTypes()" [value]="related" [id]="'related-' + related.id" />
                  <label [for]="'related-' + related.id">
                    <span class="check-wrap"></span>
                    <div class="select-space-info">
                      <span class="select-space-info-top" *ngIf="related['deskType'] === 'daily_meeting_room'; else notDailyMeetingRelated"
                      >{{ workSpaceTypes[workSpaceType] }} -
                        {{
                          related.price | currency: 'GBP' : 'symbol' : '1.0-2'
                        }}/day</span
                      >
                      <ng-template #notDailyMeetingRelated>
                        <span class="select-space-info-top"
                        >{{ workSpaceTypes[workSpaceType] }} -
                        {{
                          related.price | currency: 'GBP' : 'symbol' : '1.0-2'
                        }}{{ related['type'] === 'private-office' ? ' /m' : '/hr' }}</span
                        >
                      </ng-template>
                      <span class="select-space-info-bottom"
                      >{{ related.type !== 'meeting-room' && !!related.size ? related.size + ' sq ft |' : '' }}
                        {{ related.capacity }} ppl</span
                      >
                    </div>
                  </label>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <ng-template #deskBlock>
        <div class="desk-price-wrap d-flex">
          <label *ngFor="let related of workSpace['related']" class="desk-col" [class.active]="related.id === currentWorkspace.id">
              <span class="price" *ngIf="related['deskType'] === 'daily_hot_desk'; else notDailyRelated">{{ related['price'] | currency:'GBP' : 'symbol' : '1.0-2' }} /day</span>
              <ng-template #notDailyRelated>
                <span class="price">{{ related['price'] | currency:'GBP' : 'symbol' : '1.0-2' }} /{{ related['deskType'] !== 'hourly_hot_desk' ? 'm' : 'hr' }}</span>
              </ng-template>
              <span class="hint" *ngIf="related['deskType'] === 'hourly_hot_desk' || related['deskType'] === 'daily_hot_desk'; else monthlyBlock">
                {{ hourlyDeskTypesNames[related['deskType']] }}
              </span>
              <ng-template #monthlyBlock>
                <span class="hint">
                {{ monthlyDeskTypesNames[related['deskType']] }}
              </span>
              </ng-template>
              <input type="radio" [attr.disabled]="related.disabled" [(ngModel)]="currentWorkspace" (change)="changeTypes()" [value]="related">
          </label>
        </div>
      </ng-template>
      <!-- On indepth desk pages -->
    </div>
  </div>

  <div class="indepth-row d-flex align-items-start">
    <div class="indepth-left-wrap">
      <div class="indepth-title-wrap">
        <span class="indepth-title">Location</span>
      </div>
      <div class="map-wrap">
        <div id="map-canvas" #map></div>
      </div>

      <div class="map-info-wrap d-flex flex-wrap" *ngIf="workSpace['location'].nearby">
        <div class="map-info-col" *ngFor="let element of workSpace['location'].nearby">
          <div class="d-flex">
            <div class="icon-wrap">
              <img src="{{getAbsoluteUrl('/assets/img/nearby-icon.svg')}}" alt="">
            </div>
            <div class="nearby-info">
              <span class="map-info-title">{{ element.name }}</span>
              <span class="map-info-hint">{{ element.duration }} walk</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="indepth-row d-flex align-items-start">
    <div class="indepth-left-wrap">
      <div class="indepth-title-wrap">
        <span class="indepth-title">About the Provider</span>
      </div>

      <p class="space-description">
        {{ workSpace['location'].description }}
      </p>

      <div *ngIf="workSpace['location'].videoLink" class="videoWrapper">
        <iframe width="560" height="349" [src]="workSpace['location'].videoLink" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  </ng-template>
</div>

<app-kikmoov-footer></app-kikmoov-footer>
<ngx-smart-modal
  #bookingProcess
  identifier="bookingProcess"
  [closable]="false"
  [dismissable]="false"
  [customClass]="
    'request-book-modal modal-frame nsm-dialog-animation-fade nsm-centered'
  "
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <app-booking-process #appBookingProcess [modal]="bookingProcess" *ngIf="currentWorkspace$ && workSpace" [type]="bookingType" [workSpace$]="currentWorkspace$" [location]="workSpace['location']" (close)="handleModalClosing()"></app-booking-process>
      <span class="close-modal" (click)="appBookingProcess.closeModal()">
        <img src="{{getAbsoluteUrl('/assets/img/close-modal-button.svg')}}" alt="">
      </span>
    </div>
  </div>
</ngx-smart-modal>

<!-- share modal -->
<ngx-smart-modal
  #shareModal
  identifier="shareModal"
  [closable]="false"
  [customClass]="
    'share-modal modal-frame nsm-dialog-animation-fade nsm-centered'
  "
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      
      <span class="close-modal" (click)="shareModal.close()">
        <img src="{{getAbsoluteUrl('/assets/img/close-modal-button.svg')}}" alt="">
      </span>
      <span class="share-heading">Share this workspace</span>
      <div class="share-body">
        <div class="share-string" (click)="copyText(copyInput)">
          {{ fullUrl }}
          <input #copyInput class="select-text hidden" [value]="fullUrl">
          <span class="copy-share-button">Copy</span>
        </div>
        <div id="share" class="share-social-links">
          <share-buttons></share-buttons>
        </div>
      </div>
    </div>
  </div>
</ngx-smart-modal>
