@import "../../../../variables.scss";

.bp-header {
  background-color: #f7f7f7;
  padding: 25px 30px 0 30px;
  border-radius: 4px 4px 0 0;

  @media (max-width: $screen-sm-max) {
    padding: 25px 15px 0 15px;
  }

  span {
    display: block;
  }
}

.bp-title {
  font-size: 16px;
  color: #000;
  margin-bottom: 15px;
}

.bp-space-info {
  font-size: 14px;
  color: #3d8fc6;
  margin-bottom: 3px;
}

.bp-text-info {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  margin-bottom: 10px;
}

.bp-block-booked-info {
  margin-bottom: 10px;
}

.bp-text-booked {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #4a4a4a;
}

.bp-body {
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 0 0 4px 4px;

  @media (max-width: $screen-sm-max) {
    padding: 25px 15px;
  }


  &.book-body {
    padding: 25px 30px 5px 30px;

    @media (max-width: $screen-sm-max) {
      padding: 25px 15px 5px 15px;
    }

    .bp-row {
      margin-bottom: 0;
    }

    .btn-site {
      margin-bottom: 20px;
    }
  }
}

.label-text {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #4a4a4a;
  margin-bottom: 15px;
}

.bp-hint-message {
  text-align: center;
  padding: 55px 0;

  p {
    font-size: 16px;
    color: #000;
    margin: 0 0 10px 0;
    text-align: center;
  }

  .user-email {
    display: inline-block;
    border-radius: 4px;
    background-color: #f7f7f7;
    padding: 15px 20px;
    font-size: 22px;
    font-weight: 500;
    color: #3d8fc6;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }
}

.choose-time-block {
  margin-right: 20px;
  margin-bottom: 10px;
  min-width: 70px;

  input {
    &:checked {
      + label {
        background-color: #3d8fc6;
        color: #fff;
      }
    }
  }

  label {
    display: block;
    padding: 3px 15px;
    border-radius: 4px;
    border: 1px solid #3d8fc6;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    height: auto;
    font-weight: 300;
    color: #3d8fc6;
    margin: 0;
    @include transition(.2s);

    &:before, &:after {
      display: none;
    }

    &.disabled {
      background-color: #e4e4e4;
    }
  }
}
.price-list {
  padding: 5px;
  margin-bottom: 10px;


  ul {
    margin-bottom: 0;


    &:first-child{
      box-sizing: border-box;
      padding-right: 20px;
    }

    li {
      margin-bottom: 7px;
      font-size: 12px;

      &:last-child{
        font-size: 16px;
      }

    }
  }
}

.book-info {
  max-width: 50%;
}
