<!-- bp -> booking process -->

<!-- Design bp hot desk http://joxi.ru/KAxpqoKTMgaRyA -->
<!-- Design bp meeting room http://joxi.ru/nAypgxZTYLEVQ2 -->
<!-- Design viewing schedule process http://joxi.ru/LmGgoelteXQ3Mm -->

<div class="bp-wrapper" *ngIf="workSpace && type">
  <form [formGroup]="currentBookingForm" (ngSubmit)="paymentType === 'monthly' ? submitBookingRequest(currentBookingForm) : submitBooking(currentBookingForm)">
    <!-- request to book process START -->
    <div *ngIf="type === 'booking' && paymentType === 'monthly' && !done">
      <div class="bp-header">
        <span class="bp-title">Request to book</span>
        <span class="bp-space-info">{{ workSpaceTypes[workSpace.type] }} •
          {{ workSpace.size ? workSpace.size + ' sq ft' : paymentType }}</span>

        <div
          class="d-flex justify-content-between align-items-center flex-wrap"
        >
          <span class="bp-text-info">{{ location.name }}</span>
          <span class="bp-text-info">{{ workSpace.price | currency: 'GBP' : 'symbol' : '1.0-2' }} per month</span>
        </div>
      </div>
      <div class="bp-body">
        <div class="row bp-row" *ngIf="workSpace.type !== 'private-office'">
          <div class="col-md-8">
            <span class="label-text">How many desks would like to book?</span>
            <div class="input-select" style="width: 70px;">
              <mat-select placeholder="" formControlName="units">
                <mat-option *ngFor="let unit of listOfDesks" [value]="unit">{{ unit }}</mat-option>
              </mat-select>
              <mat-error
                      *ngIf="
              currentBookingForm.get('units').invalid &&
              (currentBookingForm.get('units').dirty ||
                currentBookingForm.get('units').touched)
            "
              >
                <div *ngIf="currentBookingForm.get('units').errors && currentBookingForm.get('units').errors['required']">
                  This field is required
                </div>
              </mat-error>
            </div>
          </div>
        </div>
        <div class="row bp-row">
          <div class="col-md-7">
            <span class="label-text">When would you like to start?</span>
            <div class="input-class input-class-border-bottom">
              <div class="input-datepicker">
                <input
                  matInput
                  [matDatepicker]="picker"
                  formControlName="startDate"
                  [min]="currentDate"
                  placeholder="Choose a date"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </div>
              <mat-error
                *ngIf="
              currentBookingForm.get('startDate').invalid &&
              (currentBookingForm.get('startDate').dirty ||
                currentBookingForm.get('startDate').touched) ||
                bookingForm.get('startTime').invalid
            "
              >
                <div *ngIf="currentBookingForm.get('startDate').errors && currentBookingForm.get('startDate').errors['required']">
                  This field is required
                </div>
                <div *ngIf="bookingForm.get('startTime').errors && bookingForm.get('startTime').errors['startTime']">
                  {{ bookingForm.get('startTime').errors['startTime'] }}
                </div>
                <div *ngIf="currentBookingForm.get('startDate').errors && currentBookingForm.get('startDate').errors['startDate']">
                  This workspace will be available from {{ availableFrom }}
                </div>
                <div *ngIf="bookingForm.get('startDate').errors && bookingForm.get('startDate').errors['startDate-error']">
                  {{ bookingForm.get('startDate').errors['startDate-error'] }}
                </div>
              </mat-error>
            </div>
          </div>
          <div class="col-md-5">
            <span class="label-text">Duration</span>
            <div class="input-select">
              <mat-select placeholder="not sure" formControlName="duration">
                <mat-option value="not-sure">not sure</mat-option>
                <mat-option value="one-month-or-more">one month or more</mat-option>
                <mat-option value="six-month-or-more">six months or more</mat-option>
                <mat-option value="one-year-or-more">one year or more</mat-option>
              </mat-select>
              <mat-error
                *ngIf="
              currentBookingForm.get('duration').invalid &&
              (currentBookingForm.get('duration').dirty ||
                currentBookingForm.get('duration').touched)
            "
              >
                <div *ngIf="currentBookingForm.get('duration').errors && currentBookingForm.get('duration').errors['required']">
                  This field is required
                </div>
              </mat-error>
            </div>
          </div>
        </div>

        <div class="bp-row">
          <div class="radio">
            <input formControlName="tenantType" value="freelancer" type="radio" id="freelancer"/>
            <label for="freelancer">
              <span class="check-wrap"></span>
              <i class="checkbox-text">Freelancer</i>
            </label>
            <input formControlName="tenantType" value="company" type="radio" id="company"/>
            <label for="company">
              <span class="check-wrap"></span>
              <i class="checkbox-text">Company</i>
            </label>
          </div>
        </div>

        <div class="bp-row">
          <span class="label-text"
          >Tell the provider a bit about {{ currentBookingForm.get('tenantType').value === 'company' ? 'your company' : 'you' }}</span
          >
          <div class="textarea-class input-class-border-bottom">
            <textarea formControlName="information" placeholder="Type something…"></textarea>
            <mat-error
              *ngIf="
              currentBookingForm.get('information').invalid &&
              (currentBookingForm.get('information').dirty ||
                currentBookingForm.get('information').touched)
            "
            >
              <div *ngIf="currentBookingForm.get('information').errors && currentBookingForm.get('information').errors['required']">
                This field is required
              </div>
            </mat-error>
          </div>
        </div>

        <div class="row bp-row">
          <div class="col-md-6">
            <span class="label-text">Phone number</span>
            <div class="input-class input-class-border-bottom">
              <input formControlName="phone" type="tel" placeholder="phone"/>
              <mat-error
                *ngIf="
              currentBookingForm.get('phone').invalid &&
              (currentBookingForm.get('phone').dirty ||
                currentBookingForm.get('phone').touched)
            "
              >
                <div *ngIf="currentBookingForm.get('phone').errors && currentBookingForm.get('phone').errors['required']">
                  This field is required
                </div>
                <div *ngIf="currentBookingForm.get('phone').errors && currentBookingForm.get('phone').errors['pattern']">
                  Invalid phone number
                </div>
              </mat-error>
            </div>
          </div>
          <div class="col-md-6">
            <span class="label-text">{{ currentBookingForm.get('tenantType').value === 'company' ? 'Company name' : 'Your name' }}</span>
            <div class="input-class input-class-border-bottom">
              <input formControlName="name" type="text" placeholder="name"/>
              <mat-error
                *ngIf="
              currentBookingForm.get('name').invalid &&
              (currentBookingForm.get('name').dirty ||
                currentBookingForm.get('name').touched)
            "
              >
                <div *ngIf="currentBookingForm.get('name').errors && currentBookingForm.get('name').errors['required']">
                  This field is required
                </div>
              </mat-error>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-class input-class-border-bottom">
              <label></label>
              <input type="email" formControlName="email" placeholder="email"/>
              <mat-error
                *ngIf="
              currentBookingForm.get('email').invalid &&
              (currentBookingForm.get('email').dirty ||
                currentBookingForm.get('email').touched)
            "
              >
                <div *ngIf="currentBookingForm.get('email').errors && currentBookingForm.get('email').errors['required']">
                  This field is required
                </div>
                <div *ngIf="currentBookingForm.get('email').errors && currentBookingForm.get('email').errors['email']">
                  Incorrect E-mail
                </div>
              </mat-error>
            </div>
          </div>
        </div>

        <div class="text-center">
          <button class="btn-site" [disabled]="currentBookingForm.disabled" [ngClass]="{grey_c: currentBookingForm.invalid, blue_c: currentBookingForm.valid}">Send request</button>
        </div>
      </div>
    </div>
    <!-- request to book process END -->

    <!-- request to book process hint message START -->
    <div *ngIf="done && type === 'booking' && paymentType === 'monthly'">
      <div class="bp-header">
        <span class="bp-title">Booking request sent!</span>
        <span class="bp-space-info">{{ workSpaceTypes[workSpace.type] }} •
          {{ workSpace.size ? workSpace.size + ' sq ft' : paymentType }}</span>

        <div
          class="d-flex justify-content-between align-items-center flex-wrap"
        >
          <span class="bp-text-info">{{ location.name }}</span>
          <span class="bp-text-info">{{ workSpace.price | currency: 'GBP' : 'symbol' : '1.0-2'}} per month</span>
        </div>
      </div>
      <div class="bp-body">
        <div class="bp-hint-message">
          <p>Hold tight, we will get back to you on</p>
          <span class="user-email">{{ currentBookingForm.get('email').value }}</span>
          <p>with a confirmation soon</p>
        </div>

        <div class="text-center">
          <span class="btn-site blue_c" (click)="closeModal()">Done</span>
        </div>
      </div>
    </div>

    <!-- request to book process hint message END -->

    <!-- booking process meeting room START -->

    <div
      *ngIf="
        (!done && (paymentType === 'hourly' || paymentType === 'daily') && bookStep === 'book' && type === 'booking')
      "
    >
      <div class="bp-header">
        <span class="bp-title">Book</span>
        <span class="bp-space-info">{{ workSpaceTypes[workSpace.type] }} •
          {{ workSpace.size ? workSpace.size + ' sq ft' : paymentType }}</span>

        <div class="d-flex justify-content-between align-items-center flex-wrap">
          <span class="bp-text-info">{{ location.name }}</span>
          <span class="bp-text-info">{{
            (((workSpace.price * checkedCount) - workSpace.price) < 0 ?
                0 : ((workSpace.price * checkedCount) - workSpace.price)) | currency: 'GBP' : 'symbol' : '1.0-2'
            }}</span>
        </div>
      </div>
      <div class="bp-body">
        <div class="row bp-row">
          <div class="col-md-6">
            <span class="label-text">Choose a date</span>
            <div class="input-class input-class-border-bottom">
              <div class="input-datepicker">
                <input
                  matInput
                  formControlName="startDate"
                  [min]="currentDate"
                  [matDatepicker]="picker"
                  (dateChange)="onTimeCheck()"
                  placeholder="Choose a date"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </div>
              <mat-error
                *ngIf="
              bookingForm.get('startDate').invalid &&
              (bookingForm.get('startDate').dirty ||
                bookingForm.get('startDate').touched)
            "
              >
                <div *ngIf="bookingForm.get('startDate').errors && bookingForm.get('startDate').errors['required']">
                  This field is required
                </div>
              </mat-error>
            </div>
          </div>
        </div>

        <div class="bp-row">
          <span class="label-text">Pick a time</span>

          <div class="choose-time-wrap d-flex flex-wrap">
            <div
              class="choose-time-block"
              *ngFor="let time of times; let i = index"
            >
              <input
                formControlName="time"
                [value]="time"
                (change)="checkTimeRange($event)"
                type="checkbox"
                [id]="'time' + (i + 1)"
              />
              <label [ngClass]="{disabled: isTimePassed(time)}" [for]="'time' + (i + 1)">{{ time }}</label>
            </div>
          </div>
          <mat-error
            *ngIf="
              bookingForm.get('time').invalid &&
              (bookingForm.get('time').dirty ||
                bookingForm.get('time').touched)
            "
          >
            <div *ngIf="bookingForm.get('time').errors && bookingForm.get('time').errors['required']">
              This field is required
            </div>
            <div *ngIf="bookingForm.get('time').errors && bookingForm.get('time').errors['notAvailable']">
              {{ bookingForm.get('time').errors['notAvailable'] }}
            </div>
          </mat-error>
        </div>

        <div class="row bp-row">
          <div class="col-md-6">
            <span class="label-text">Phone number</span>
            <div class="input-class input-class-border-bottom">
              <input type="tel" formControlName="phone" placeholder="phone"/>
              <mat-error
                *ngIf="
              bookingForm.get('phone').invalid &&
              (bookingForm.get('phone').dirty ||
                bookingForm.get('phone').touched)
            "
              >
                <div *ngIf="bookingForm.get('phone').errors && bookingForm.get('phone').errors['required']">
                  This field is required
                </div>
                <div *ngIf="bookingForm.get('phone').errors && bookingForm.get('phone').errors['pattern']">
                  Invalid phone number
                </div>
              </mat-error>
            </div>
          </div>
          <div class="col-md-6">
            <ng-template [ngIf]="workSpace.type === 'meeting-room'">
              <span class="label-text">Meeting name</span>
              <div class="input-class input-class-border-bottom">
                <input type="text" formControlName="name" placeholder="meeting name"/>
                <mat-error
                  *ngIf="
              bookingForm.get('name').invalid &&
              (bookingForm.get('name').dirty ||
                bookingForm.get('name').touched)
            "
                >
                  <div *ngIf="bookingForm.get('name').errors && bookingForm.get('name').errors['required']">
                    This field is required
                  </div>
                </mat-error>
              </div>
            </ng-template>
            <!-- This field only for booking meeting room -->
          </div>
          <div class="col-md-6">
            <div class="input-class input-class-border-bottom">
              <label></label>
              <input type="email" formControlName="email" placeholder="email"/>
              <mat-error
                *ngIf="
              bookingForm.get('email').invalid &&
              (bookingForm.get('email').dirty ||
                bookingForm.get('email').touched)
            "
              >
                <div *ngIf="bookingForm.get('email').errors && bookingForm.get('email').errors['required']">
                  This field is required
                </div>
                <div *ngIf="bookingForm.get('email').errors && bookingForm.get('email').errors['email']">
                  Incorrect E-mail
                </div>
              </mat-error>
            </div>
          </div>
        </div>

        <div class="text-center">
          <button type="button" class="btn-site"
                  [ngClass]="{grey_c: bookingForm.invalid, blue_c: bookingForm.valid}"
                  (click)="proceedBook(bookingForm)"
          >Proceed to payment
          </button
          >
          <p style="margin-top: 20px;">
            By confirming your booking, you are agreeing to our <a routerLink="/terms" fragment="privacy">Privacy Policy</a> and <a routerLink="/terms">Terms and Conditions</a>.
          </p>
        </div>
      </div>
    </div>
    <!-- booking process meeting room END -->

    <!-- booking process meeting room card details START -->

    <div
      *ngIf="
        (!done && (paymentType === 'hourly' || paymentType === 'daily') && bookStep === 'card' && type === 'booking')
      "
    >
      <div class="bp-header">
        <span class="bp-title">Book</span>

        <div class="d-flex justify-content-between align-items-center flex-wrap">
          <div class="book-info">
            <span class="bp-space-info">{{ workSpaceTypes[workSpace.type] }} •
            {{ workSpace.size ? workSpace.size + ' sq ft' : paymentType }}</span>
            <span class="bp-text-info">{{ location.name }}</span>
          </div>
          <div class="d-flex justify-content-between align-items-center flex-wrap price-list">
            <ul>
              <li>Price for {{(checkedCount - 1)}} {{(paymentType === 'daily') ? 'day' : 'hour'}} {{(checkedCount - 1) > 1 ? 's' : ''}}</li>
              <li>+20% VAT</li>
              <li><strong>Total</strong></li>
            </ul>
            <ul>
              <li>
                {{
                (((workSpace.price * checkedCount) - workSpace.price) < 0 ?
                0 : ((workSpace.price * checkedCount) - workSpace.price)) | currency: 'GBP' : 'symbol' : '1.0-2'
                }}
              </li>
              <li>
                {{
                (((workSpace.price * checkedCount) - workSpace.price) < 0 ?
                0 : (((workSpace.price * checkedCount) - workSpace.price) * VATPercentage)) | currency: 'GBP' : 'symbol' : '1.0-2'
                }}
              </li>
              <li>
                <strong>
                  {{
                  (((workSpace.price * checkedCount) - workSpace.price) < 0 ?
                  0 : (((workSpace.price * checkedCount) - workSpace.price) + ((workSpace.price * checkedCount) - workSpace.price) * VATPercentage)) | currency: 'GBP' : 'symbol' : '1.0-2'
                  }}
                </strong>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="bp-body book-body">
        <div class="row bp-row">
          <div class="stripe-wrapper">
            <p>This is a secure payment with <strong>stripe</strong></p>
          </div>
          <div class="col-12">
            <div class="d-flex justify-content-between flex-wrap">
              <span class="label-text">Card details</span>

              <div class="payment-icons">
                <img src="/assets/img/mastercard-icon.png" alt="">
                <img src="/assets/img/visa-icon.png" alt="">
                <img src="/assets/img/american-express-icon.png" alt="">
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="input-class input-class-border-bottom">
              <input type="text" [formControl]="cardForm.get('cardHolderName')" placeholder="Cardholder Name"/>
              <mat-error
                *ngIf="
              cardForm.get('cardHolderName').invalid &&
              (cardForm.get('cardHolderName').dirty ||
                cardForm.get('cardHolderName').touched)
            "
              >
                <div *ngIf="cardForm.get('cardHolderName').errors && cardForm.get('cardHolderName').errors['required']">
                  This field is required
                </div>
              </mat-error>
            </div>
          </div>
        </div>
        <div class="row bp-row">
          <div class="col-12">
            <div class="input-class input-class-border-bottom">
              <!--<input type="hidden" [formControl]="cardForm.get('cardNumber')" placeholder="Card Number" />-->
              <div id="card-number-element"></div>
              <mat-error
                *ngIf="
              cardForm.invalid ||
              (cardForm.dirty ||
                cardForm.touched)
            "
              >
                <div *ngIf="cardForm.errors && cardForm.errors['cardNumber']">
                  {{cardForm.errors['cardNumber']}}
                </div>
                <div *ngIf="cardForm.errors && cardForm.errors['incomplete_number']">
                  {{cardForm.errors['incomplete_number']}}
                </div>
                <div *ngIf="cardForm.errors && cardForm.errors['incorrect_number']">
                  {{cardForm.errors['incorrect_number']}}
                </div>
              </mat-error>
            </div>
          </div>
        </div>
        <div class="row bp-row">
          <div class="col-md-6">
            <div class="input-class input-class-border-bottom">
              <!--<input type="hidden" [formControl]="cardForm.get('expiry')" placeholder="XX/XX" />-->
              <div id="card-expiry-element"></div>
              <mat-error
                *ngIf="
              cardForm.invalid ||
              (cardForm.dirty ||
                cardForm.touched)
            "
              >
                <div *ngIf="cardForm.errors && cardForm.errors['cardExpiry']">
                  {{cardForm.errors['cardExpiry']}}
                  <div *ngIf="cardForm.errors && cardForm.errors['incomplete_expiry']">
                    {{cardForm.errors['incomplete_expiry']}}
                  </div>
                  <div *ngIf="cardForm.errors && cardForm.errors['incorrect_expiry']">
                    {{cardForm.errors['incorrect_expiry']}}
                  </div>
                </div>
              </mat-error>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-class input-class-border-bottom">
              <!--<input type="hidden" [formControl]="cardForm.get('ccv')" placeholder="CCV" />-->
              <div id="card-cvc-element"></div>
              <mat-error
                *ngIf="
              cardForm.invalid ||
              (cardForm.dirty ||
                cardForm.touched)
            "
              >
                <div *ngIf="cardForm.errors && cardForm.errors['cardCvc']">
                  {{cardForm.errors['cardCvc']}}
                </div>
                <div *ngIf="cardForm.errors && cardForm.errors['incomplete_cvc']">
                  {{cardForm.errors['incomplete_cvc']}}
                </div>
                <div *ngIf="cardForm.errors && cardForm.errors['incorrect_cvc']">
                  {{cardForm.errors['incorrect_cvc']}}
                </div>
              </mat-error>
            </div>
          </div>
        </div>

        <div class="row bp-row">
          <div class="col-12">
            <div class="input-class input-class-border-bottom">
              <input type="text" [formControl]="cardForm.get('billingAddress')" placeholder="Billing Address"/>
              <mat-error
                *ngIf="
              cardForm.get('billingAddress').invalid &&
              (cardForm.get('billingAddress').dirty ||
                cardForm.get('billingAddress').touched)
            "
              >
                <div *ngIf="cardForm.get('billingAddress').errors && cardForm.get('billingAddress').errors['required']">
                  This field is required
                </div>
              </mat-error>
            </div>
          </div>
        </div>

        <div class="row bp-row">
          <div class="col-md-6">
            <div class="input-class input-class-border-bottom">
              <input type="text" [formControl]="cardForm.get('city')" placeholder="City/Town"/>
              <mat-error
                *ngIf="
              cardForm.get('city').invalid &&
              (cardForm.get('city').dirty ||
                cardForm.get('city').touched)
            "
              >
                <div *ngIf="cardForm.get('city').errors && cardForm.get('city').errors['required']">
                  This field is required
                </div>
              </mat-error>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-class input-class-border-bottom">
              <!--<input type="hidden" [formControl]="cardForm.get('postcode')" placeholder="Postcode" />-->
              <div id="card-postcode-element"></div>
              <mat-error
                *ngIf="
              cardForm.invalid ||
              (cardForm.dirty ||
                cardForm.touched)
            "
              >
                <div *ngIf="cardForm.errors && cardForm.errors['postalCode']">
                  {{cardForm.errors['postalCode']}}
                </div>
                <div *ngIf="cardForm.errors && cardForm.errors['incomplete_zip']">
                  {{cardForm.errors['incomplete_zip']}}
                </div>
                <div *ngIf="cardForm.errors && cardForm.errors['incorrect_zip']">
                  {{cardForm.errors['incorrect_zip']}}
                </div>
              </mat-error>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <span class="btn-site grey_c w100" (click)="proceedBack()"
            >Back</span
            >
          </div>
          <div class="col-6">
            <button class="btn-site w100"
                    [disabled]="bookingForm.disabled"
                    [ngClass]="{grey_c: cardForm.invalid, blue_c: cardForm.valid}"
                    type="submit"
            >
              <span *ngIf="!bookingForm.disabled; else spinner">Confirm</span>
              <ng-template #spinner>
                <mat-progress-spinner
                        class="login-spinner"
                        [diameter]="20"
                        [mode]="'indeterminate'"
                        [value]="50">
                </mat-progress-spinner>
              </ng-template>
            </button
            >
          </div>
        </div>
      </div>
    </div>

    <!-- booking process meeting room card details END -->

    <!-- booking process meeting room/hot desk hint message START -->

    <div
      *ngIf="
        (done && (paymentType === 'hourly' || paymentType === 'daily') && type === 'booking')
      "
    >
      <div class="bp-header">
        <span class="bp-title">Booked!</span>
        <span class="bp-space-info"
        >{{ workSpaceTypes[workSpace.type] }} •
          {{ workSpace.size ? workSpace.size + ' sq ft' : paymentType }}</span
        >

        <div
          class="d-flex justify-content-between align-items-center flex-wrap"
        >
          <span class="bp-text-info">{{ location.name }}</span>
          <span class="bp-text-info">{{
              (((workSpace.price * checkedCount) - workSpace.price) < 0 ?
                  0 : (((workSpace.price * checkedCount) - workSpace.price) + ((workSpace.price * checkedCount) - workSpace.price) * 0.2)) | currency: 'GBP' : 'symbol' : '1.0-2'
            }}</span>
        </div>
        <div
          class="d-flex justify-content-between align-items-center flex-wrap"
        >
          <div class="bp-block-booked-info">
            <span class="bp-text-booked">{{ location.address }}</span>
            <span class="bp-text-booked">{{ location.postcode }}</span>
          </div>
          <div class="bp-block-booked-info text-right">
            <span class="bp-text-booked">{{
              formatDate(bookingForm.get('startDate').value)
              }}</span>
            <span class="bp-text-booked">{{
              formatTime(bookingForm.get('startTime').value)
              }}</span>
          </div>
        </div>
      </div>
      <div class="bp-body">
        <div class="bp-hint-message">
          <p>Confirmation email sent to:</p>
          <span class="user-email">{{ bookingForm.get('email').value }}</span>
          
          <div class="row justify-content-center">
            <div class="col-6">
              <a class="btn-site red_c w100" (click)="inviteAttendeeModal()">Invite attendee</a>
            </div>
            <div class="col-6">
              <a class="btn-site red_c w100" [href]="getExportBooking()">+ Add to Calendar</a>
            </div>
          </div>
        </div>

        <div class="text-center">
          <span class="btn-site blue_c" (click)="closeModal()">Done</span>
        </div>
      </div>
    </div>

    <!-- booking process meeting room/hot desk hint message END -->
  </form>
  <form *ngIf="type === 'viewing'" [formGroup]="bookingForm" (ngSubmit)="submitViewing(bookingForm)">
    <!-- viewing schedule process START -->
    <div>
      <div class="bp-header">
        <span class="bp-title">Schedule a viewing</span>
        <span class="bp-space-info"
        >{{ workSpaceTypes[workSpace.type] }} •
          {{ workSpace.size ? workSpace.size + ' sq ft' : paymentType }}</span
        >

        <div
          class="d-flex justify-content-between align-items-center flex-wrap"
        >
          <span class="bp-text-info">{{ workSpace.name }}</span>
          <span class="bp-text-info"
          >{{ workSpace.price | currency: 'GBP' : 'symbol' : '1.0-2' }} per month</span
          >
        </div>
      </div>
      <div class="bp-body">
        <div class="row bp-row">
          <div class="col-md-6">
            <span class="label-text">Choose a date</span>
            <div class="input-class input-class-border-bottom">
              <div class="input-datepicker">
                <input
                  matInput
                  [matDatepicker]="picker"
                  placeholder="Choose a date"
                  [min]="currentDate"
                  (dateChange)="onViewingTimeCheck()"
                  formControlName="startDate"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </div>
              <mat-error
                *ngIf="
              bookingForm.get('startDate').invalid &&
              (bookingForm.get('startDate').dirty ||
                bookingForm.get('startDate').touched) ||
                bookingForm.get('startTime').invalid
            "
              >
                <div *ngIf="bookingForm.get('startDate').errors && bookingForm.get('startDate').errors['required']">
                  This field is required
                </div>
                <div *ngIf="bookingForm.get('startTime').errors && bookingForm.get('startTime').errors['startTime-error']">
                  {{ bookingForm.get('startTime').errors['startTime-error'] }}
                </div>
                <div *ngIf="bookingForm.get('startDate').errors && bookingForm.get('startDate').errors['startDate']">
                  This workspace will be available from {{ availableFrom }}
                </div>
              </mat-error>
            </div>
          </div>
        </div>

        <div class="bp-row">
          <span class="label-text">Pick a time</span>

          <div class="choose-time-wrap d-flex flex-wrap">
            <div
              class="choose-time-block"
              *ngFor="let time of times; let i = index"
            >
              <input
                formControlName="time"
                [value]="time"
                (change)="checkViewingTime($event, time)"
                type="radio"
                [id]="'time' + (i + 1)"
              />
              <label [ngClass]="{disabled: isViewingTimePassed(time)}" [for]="'time' + (i + 1)">{{ time }}</label>
            </div>
          </div>
          <mat-error
            *ngIf="
              bookingForm.get('time').invalid &&
              (bookingForm.get('time').dirty ||
                bookingForm.get('time').touched)
            "
          >
            <div *ngIf="bookingForm.get('time').errors && bookingForm.get('time').errors['required']">
              This field is required
            </div>
          </mat-error>
        </div>

        <div class="row bp-row">
          <div class="col-md-6">
            <span class="label-text">Phone number</span>
            <div class="input-class input-class-border-bottom">
              <input formControlName="phone" type="tel" placeholder="phone"/>
              <mat-error
                *ngIf="
              bookingForm.get('phone').invalid &&
              (bookingForm.get('phone').dirty ||
                bookingForm.get('phone').touched)
            "
              >
                <div *ngIf="bookingForm.get('phone').errors && bookingForm.get('phone').errors['required']">
                  This field is required
                </div>
                <div *ngIf="bookingForm.get('phone').errors && bookingForm.get('phone').errors['pattern']">
                  Invalid phone number
                </div>
              </mat-error>
            </div>
          </div>
          <div class="col-md-6"></div>
          <div class="col-md-6">
            <div class="input-class input-class-border-bottom">
              <label></label>
              <input type="email" formControlName="email" placeholder="email"/>
              <mat-error
                *ngIf="
              bookingForm.get('email').invalid &&
              (bookingForm.get('email').dirty ||
                bookingForm.get('email').touched)
            "
              >
                <div *ngIf="bookingForm.get('email').errors && bookingForm.get('email').errors['required']">
                  This field is required
                </div>
                <div *ngIf="bookingForm.get('email').errors && bookingForm.get('email').errors['email']">
                  Incorrect E-mail
                </div>
              </mat-error>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button class="btn-site" [disabled]="bookingForm.disabled"
                  [ngClass]="{grey_c: bookingForm.invalid, blue_c: bookingForm.valid}">
            Send request
          </button>
        </div>
      </div>
    </div>
  </form>
  <!-- viewing schedule process END -->
</div>

<!-- Invite Attendee modal -->
<ngx-smart-modal
  #inviteAttendee
  identifier="inviteAttendee"
  [closable]="false"
  [customClass]="
    'share-modal invite-attendee modal-frame nsm-dialog-animation-fade nsm-centered'
  "
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <span class="close-modal" (click)="inviteAttendeeModalClose()">
        <img src="/assets/img/close-modal-button.svg" alt="">
      </span>
      <span class="share-heading">Invite Attendee</span>
      <div class="invite-body">
        <div class="invite-attendee-input">
          <div class="selected-emails" *ngFor="let item of inviteAttendeeEmails">
            <span class="selected" *ngIf="item.length > 0">{{item}}
              <img src="/assets/img/close-modal-button.svg" alt="" (click)="removeEmailIntoInviteAttendeeEmails(item)">
            </span>
          </div>
          <form class="invite-form" [formGroup]="inviteAttendeeForm">
            <input type="email" class="invite-email-input" #email formControlName="email">
            <input type="submit" class="invite-add-btn" value="Add" (click)="addEmailIntoInviteAttendeeEmails(email)">
          </form>
        </div>
        <div class="row">
          <div class="col-6">
            <a class="btn-site grey_c w100" (click)="inviteAttendeeModalClose()">Cancel</a>
          </div>
          <div class="col-6">
            <a class="btn-site blue_c w100" (click)="submitAttendees()">Send</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ngx-smart-modal>
