<!-- n -> notifications -->
<!-- Portal notifications https://zpl.io/adkyE55 -->

<app-post-space-bar [disableHomePage]="true"></app-post-space-bar>
<div class="portal-wrapper">
  <div class="wrapper">
    <div class="portal-row d-flex flex-wrap">
      <div class="portal-col col-sidebar order-lg-1">
        <app-portal-sidebar [notificationsCount$]="notificationCount$" [workspaceList]="workspacelist" [currentWorkSpaceId]="currentId"></app-portal-sidebar>
      </div>

      <div class="portal-col col-main order-lg-2">
        <!-- If no notifications -->
        <div class="loading-wrapper" *ngIf="!notifications">
          <div class="loading-logo">
            <img src="/assets/img/loading-logo.svg" alt="">
          </div>
        </div>
        <div *ngIf="notifications && !notifications.length" class="n-empty text-center">
          <img src="/assets/img/empty-bookings-icon.svg" alt="">
          <span>No notifications yet.</span>
        </div>
        <ng-template [ngIf]="notifications && notifications.length">
        <div class="text-right">
          <span class="n-delete" (click)="deleteNotifications()">Delete</span>

          <div class="n-table">
            <table>
              <thead>
                <tr>
                  <th style="width: 120px"></th>
                  <th>Message</th>
                  <th style="width: 120px">From</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let notification of notifications"
                    [ngClass]="{decline: notification.status.includes('DECLINED')}">
                  <td>
                    <app-km-checkbox [ngClass]="'check-notifications'"
                                     [elemetId]="notification.type + notification.id"
                                     (changed)="handleNotificationCheck($event)">
                      {{ notification.tableDate }}
                    </app-km-checkbox>
                  </td>
                  <td>
                    <div class="status no-cursor"
                         *ngIf="!notification.status.includes('REQUESTED'); else actions">
                      <div class="accept"
                           *ngIf="notification.status.includes('ACCEPTED')">
                        Accepted
                      </div>
                      <div class="decline"
                             *ngIf="notification.status.includes('DECLINED')">
                        Declined
                      </div>
                    </div>
                    <ng-template #actions>
                      <div class="status">
                        <div class="accept"
                             (click)="acceptNotification({
                               id: notification.notificationId,
                               type: notification.type,
                               workspaceId: notification.workspaceId,
                               status: 'accepted'
                             })">Accept</div> /
                        <div class="decline"
                             (click)="acceptNotification({
                               id: notification.notificationId,
                               type: notification.type,
                               workspaceId: notification.workspaceId,
                               status: 'declined'
                             })">Decline</div>
                      </div>
                    </ng-template>
                    <span class="message" [innerHTML]="notification.message"></span>
                  </td>
                  <td>{{ notification.from }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
