.n-empty {
  padding: 0 15px;

  img {
    display: inline-block;
    margin-bottom: 45px;
  }

  span {
    display: block;
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    color: #9b9b9b;
  }
}
