<app-navmenu [filled]="true" [userName]="userName$"></app-navmenu>

<div class="personal-details-wrapper personal-details">
  <form [formGroup]="profileForm" (ngSubmit)="saveProfile(profileForm)" class="personal-details-container">
    <div class="row personal-row">
      <div class="col-12">
        <span class="personal-title">Personal details</span>
      </div>
    </div>

    <div class="row personal-row">
      <div class="col-md-6">
        <div class="input-class">
          <input type="text" formControlName="firstname" placeholder="First name">
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-class">
          <input type="text" formControlName="lastname" placeholder="Last name">
        </div>
      </div>
    </div>
    <div class="row personal-row personal-email-row">
      <div class="col-md-6">
        <div class="input-class">
          <input type="email" formControlName="email" placeholder="email" value="kim@email.com">
        </div>
      </div>
    </div>
    <div class="row personal-row">
      <div class="col-md-6">
        <div class="input-class">
          <input type="tel" formControlName="phone" placeholder="Phone nubmer">
          <mat-error
            *ngIf="
              profileForm.get('phone').invalid &&
              (profileForm.get('phone').dirty ||
                profileForm.get('phone').touched)
            "
          >
            <div *ngIf="profileForm.get('phone').errors && profileForm.get('phone').errors['pattern']">
              Invalid phone number
            </div>
          </mat-error>
        </div>
      </div>
    </div>
    <div class="row personal-row personal-company-row">
      <div class="col-md-6">
        <div class="input-class">
          <input type="text" formControlName="companyName" placeholder="Company">
        </div>
      </div>
      <div class="col-md-6">
        <p class="terms-privacy-msg">
          If you would to delete your account, please email us on <a href="mailto:info@kikmoov.com">info@kikmoov.com</a> with the subject delete account.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-between align-items-center w-100 flex-wrap">
          <span class="personal-bottom-link" [routerLink]="'/profile/change-password'">Reset password</span>

          <button [disabled]="profileForm.pristine" class="btn-site grey_c">Save</button>
        </div>
      </div>
    </div>
  </form>
</div>
