@import "../../../variables.scss";

.signup-title {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  color: #000;
  margin-bottom: 30px;
}

.signup-frame {
  margin-top: -20px;
  width: 100%;
}

.signup-modal-wnd {
  background: #fff;
  position: absolute;
  padding: 40px;
  max-width: 414px;
  top: 50%;
  left: 50%;
  border-radius: 5px;
  transform: translate(-50%, -50%);

  @media (max-width: $screen-sm-max) {
    @include reset-position;
    padding: 30px;
    width: 100%;
  }
}

.signup-btn {
  border-radius: 4px;
  margin-top: 68px;
  margin-bottom: 40px;
  background-color: #3d8fc6;
  width: 100%;
  height: 33px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
}

.error-msg {
  color: #dc4e41;
  max-width: 250px;
}

.signup-success-msg {
  color: #9a9a9a;
}

.signup-back-btn {
  color: #9b9b9b !important;
  position: relative;
  left: -39px;
  top: -70px;
  font-family: Montserrat;
  font-size: 14px;
  text-decoration: underline !important;
  cursor: pointer;

  &:hover {
    text-decoration: none !important;
  }

  @media (max-width: $screen-sm-max) {
    left: -30px;
  }
}
