<div class="signup-seller-wrapper">
  <app-post-space-bar></app-post-space-bar>
  <mat-card class="signup-modal-wnd">
    <a class="signup-back-btn" [routerLink]="'/signup/seller'">back</a>
    <div *ngIf="!success; else successBlk" class="signup-frame">
      <div class="logo-wrap text-center">
        <img src="/assets/img/kikmoov-logo-sm.svg" alt=""/>
      </div>
      <p class="signup-title">Contact details</p>
      <form (ngSubmit)="doInvoiceSignup(invoiceFormGroup)" [formGroup]="invoiceFormGroup" method="POST">
        <div class="input-class input-class-border-bottom">
          <input matInput placeholder="Company name" formControlName="companyName">
          <mat-error *ngIf="
            invoiceFormGroup.get('companyName').invalid &&
            (invoiceFormGroup.get('companyName').dirty ||
              invoiceFormGroup.get('companyName').touched)">
            <div
              *ngIf="invoiceFormGroup.get('companyName').errors['required']">
              This field is required
            </div>
          </mat-error>
        </div>
        <div class="input-class input-class-border-bottom">
          <input matInput placeholder="Address" formControlName="address">
          <mat-error *ngIf="
            invoiceFormGroup.get('address').invalid &&
            (invoiceFormGroup.get('address').dirty ||
              invoiceFormGroup.get('address').touched)">
            <div
              *ngIf="invoiceFormGroup.get('address').errors['required']">
              This field is required
            </div>
          </mat-error>
        </div>
        <div class="input-class input-class-border-bottom">
          <input matInput placeholder="Address" formControlName="optionalAddress">
        </div>
        <div class="input-class input-class-border-bottom">
          <div class="row">
            <div class="col-md-7">
              <input matInput class="signup-input city" placeholder="Town/city" formControlName="town">
              <mat-error *ngIf="
                invoiceFormGroup.get('town').invalid &&
                (invoiceFormGroup.get('town').dirty ||
                  invoiceFormGroup.get('town').touched)">
                <div
                  *ngIf="invoiceFormGroup.get('town').errors['required']">
                  This field is required
                </div>
              </mat-error>
            </div>
            <div class="col-md-5">
              <input matInput class="signup-input code" placeholder="Postcode" formControlName="postcode">
              <mat-error *ngIf="
                invoiceFormGroup.get('postcode').invalid &&
                (invoiceFormGroup.get('postcode').dirty ||
                  invoiceFormGroup.get('postcode').touched)">
                <div
                  *ngIf="invoiceFormGroup.get('postcode').errors['required']">
                  This field is required
                </div>
              </mat-error>
            </div>
          </div>
        </div>
        <div class="input-class input-class-border-bottom">
          <input matInput placeholder="Email" formControlName="invoiceEmail">
          <mat-error *ngIf="
                invoiceFormGroup.get('invoiceEmail').invalid &&
                (invoiceFormGroup.get('invoiceEmail').dirty ||
                  invoiceFormGroup.get('invoiceEmail').touched)">
            <div
              *ngIf="invoiceFormGroup.get('invoiceEmail').errors['required']">
              This field is required
            </div>
            <div
              *ngIf="invoiceFormGroup.get('invoiceEmail').errors['email']">
              Incorrect E-mail
            </div>
          </mat-error>
        </div>
        <div *ngIf="errMsg != ''" class="error-msg">
          {{errMsg}}
        </div>

        <div class="text-center create-button-wrap">
          <button mat-flat-button class="btn-site blue_c" name="submit">Create account</button>
        </div>
      </form>
    </div>
    <ng-template #successBlk>
      <div class="signup-success-msg">
        <div class="logo-wrap text-center">
          <img src="/assets/img/kikmoov-logo-sm.svg" alt="">
        </div>
        User was successfully registered, please confirm your account via email
      </div>
    </ng-template>
  </mat-card>
</div>
