@import "../../../variables.scss";

.hiw-hero-section {
  width: 100%;
  position: relative;
  background-color: #f7f7f7;
  text-align: center;

  @media (max-width: $screen-sm-max) {
    background: url("/assets/img/how-it-works/glass-stairs.png") no-repeat 50% 50%;
    background-size: cover;
    min-height: 400px;
    overflow: hidden;
  }
}

.hiw-main-img {
  max-width: 100%;

  @media (max-width: $screen-sm-max) {
    display: none;
  }
}

.hiw-img-figure {
  position: absolute;
  bottom: 22px;
  left: 0;
  width: 100%;

  @media (max-width: 1800px) {
    bottom: 17px;
  }

  @media (max-width: 1280px) {
    bottom: 15px;
  }

  @media (max-width: 1100px) {
    bottom: 12px;
  }

  @media (max-width: $screen-md-max) {
    bottom: 9px;
  }

  @media (max-width: $screen-sm-max) {
    bottom: -2px;
  }

  img {
    display: inline-block;
    width: 780px;

    @media (max-width: 1600px) {
      width: 680px;
    }

    @media (max-width: 1500px) {
      width: 580px;
    }

    @media (max-width: 1370px) {
      width: 480px;
    }

    @media (max-width: 1220px) {
      width: 400px;
    }

    @media (max-width: 1100px) {
      width: 430px;
    }

    @media (max-width: $screen-md-max) {
      max-width: 295px;
    }
  }
}

.hiw-title {
  display: block;
  letter-spacing: -0.7px;
  color: #fff;

  &.hiw-title-lg {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;

    @media (max-width: 1100px) {
      margin-bottom: 0;
      font-size: 26px;
    }
  }

  &.hiw-title-sm {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 25px;

    @media (max-width: 1100px) {
      font-size: 16px;
      margin-bottom: 15px;
    }
  }
}

.hiw-info-section {
  background-color: #f7f7f7;
  padding: 30px 0 50px 0;

  .wrapper {
    max-width: 1020px;
  }
}

.hiw-info-col {
  border-radius: 10px;
  box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  padding: 38px 20px 15px 20px;
  height: 100%;
  margin: 0 8px 25px 8px;

  @media (max-width: $screen-md-max) {
    height: auto;
  }

  @media (max-width: $screen-xs-max) {
    padding: 20px 15px;
  }

  .hiw-info-icon {
    min-height: 71px;
    margin-bottom: 31px;
    position: relative;

    img {
      max-width: 100%;
      @include center(both);
    }
  }

  span {
    display: block;
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 18px;
    color: $orange;
    text-align: center;
  }

  p {
    font-size: 14px;
    line-height: 19px;
    margin: 0;
    color: #000;
  }
}

.find-book-col {
  text-align: center;

  @media (max-width: $screen-sm-max) {
    margin-bottom: 30px;
  }

  .find-book-img {
    margin-bottom: 42px;

    @media (max-width: $screen-sm-max) {
      margin-bottom: 25px;
    }
  }

  .find-book-txt {
    padding: 0 50px;

    @media (max-width: $screen-md-max) {
      padding: 0;
    }

    span {
      display: block;
      font-size: 41px;
      font-weight: 500;
      color: $orange;
      margin-bottom: 20px;
    }

    p {
      font-size: 14px;
      color: #000;
      margin: 0;
    }
  }
}

.get-work-section {
  background-color: $orange;
  padding: 52px 0;
  position: relative;

  span {
    display: block;
    color: #fff;
  }
}

.get-work-title {
  font-size: 41px;
  font-weight: 500;
  margin-bottom: 25px;
}

.get-work-txt {
  font-size: 23px;
  margin-bottom: 40px;
}

.get-work-social {
  .get-work-link {
    display: inline-block;
    vertical-align: middle;
    margin: 0 15px;
    cursor: pointer;
  }
}

.leasehold-office-section {
  padding: 100px 0 50px 0;
  margin-top: -50px;

  .wrapper {
    max-width: 965px;
  }
}

.section-download-app {
  padding: 50px 0 0 0;
  background-color: $orange;

  .wrapper {
    max-width: 965px;
  }
}

.download-app-txt-wrap {
  padding: 30px 0;

  > span {
    display: block;
    color: #fff;
    font-size: 31px;
    font-weight: 500;
    margin-bottom: 15px;
  }

  p {
    font-size: 14px;
    line-height: 19px;
    color: #fff;
    margin: 0 0 20px 0;
  }

  .social-link {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    cursor: pointer;
  }
}

.leasehold-form {
  .input-class {
    margin-bottom: 18px;
  }
  input {
    margin-bottom: 0;
  }
}

button.orange_c {
  background-color: $orange;
  color: #fff;
}
