<app-navmenu></app-navmenu>

<section class="hiw-hero-section">
	<img src="{{getAbsoluteUrl('/assets/img/how-it-works/hero-bg3.png')}}" class="hiw-main-img" alt="">

	<div class="hiw-img-figure text-center">
		<h1 class="hiw-title hiw-title-lg">Find your flexible workspaces on the Kikmoov app</h1>
		<span class="hiw-title hiw-title-sm">coming soon…</span>
		<img src="{{getAbsoluteUrl('/assets/img/how-it-works/iphones@2x.png')}}" alt="">
	</div>
</section>

<section class="section-wrap hiw-info-section">
	<div class="wrapper">
		<span class="home-block-title-text">How it works</span>
		<div class="row">
			<div class="col-lg-4">
				<div class="hiw-info-col">
					<div class="hiw-info-icon">
						<img src="{{getAbsoluteUrl('/assets/img/how-it-works/private-office-on.svg')}}" alt="">
					</div>
					<span>Flexible office spaces</span>
					<p>Here at kikmoov we have a wide range of flexible office spaces available for YOU. Find your perfect workspace. Schedule viewings and speak to our professional real estate team at any time for advice.</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="hiw-info-col">
					<div class="hiw-info-icon">
						<img src="{{getAbsoluteUrl('/assets/img/how-it-works/desk-on.svg')}}" alt="">
					</div>
					<span>Hourly work spaces</span>
					<p>We also provide great short-term work solutions on an hourly basis. Browse through our hourly workspace options and get booking with us instantly through our website.</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="hiw-info-col">
					<div class="hiw-info-icon">
						<img src="{{getAbsoluteUrl('/assets/img/how-it-works/meeting-room-on.svg')}}" alt="">
					</div>
					<span>Meeting spaces</span>
					<p>Here at kikmoov we understand the importance of a suitable meeting space! Scroll through amazing meeting spaces. Find, book and pay directly through the Kikmoov platform.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section-wrap find-book-section">
	<div class="wrapper">
		<div class="row">
			<div class="col-md-6">
				<div class="find-book-col">
					<div class="find-book-img">
						<img src="{{getAbsoluteUrl('/assets/img/how-it-works/find.png')}}" class="img-fluid" alt="">
					</div>
					<div class="find-book-txt">
						<span>Find</span>
						<p>Scroll through a live feed and compare 1,000’s of available workspaces and meeting rooms.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="find-book-col">
					<div class="find-book-img">
						<img src="{{getAbsoluteUrl('/assets/img/how-it-works/book.png')}}" class="img-fluid" alt="">
					</div>
					<div class="find-book-txt">
						<span>Book</span>
						<p>Book your viewings or hourly workspaces directly through our platform.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section-wrap get-work-section">
	<div class="wrapper text-center">
		<span class="get-work-title">Get to Work</span>
		<span class="get-work-txt">Start by downloading the app.</span>

		<div class="get-work-social">
			<a href="https://play.google.com/store/apps/details?id=com.kikmoovltd.kikmoov" target="_blank" class="get-work-link">
				<img src="{{getAbsoluteUrl('/assets/img/how-it-works/play-store.svg')}}" alt="">
			</a>
			<a href="https://apps.apple.com/us/app/kikmoov/id1446888750" target="_blank" class="get-work-link">
				<img src="{{getAbsoluteUrl('/assets/img/how-it-works/app-store.svg')}}" alt="">
			</a>
		</div>
	</div>
</section>

<section class="section-wrap section-faq section-faq-hiw" id="faq">
	<div class="wrapper">
		<span class="home-block-title-text">FAQs</span>

		<div class="faq-accordion">
			<mat-accordion *ngFor="let faq of faqContent">
				<mat-expansion-panel>
					<mat-expansion-panel-header>
						{{ faq.title }}
						<i class="fa fa-angle-right faq-arrow"></i>
					</mat-expansion-panel-header>
					<p class="faq-content">{{ faq.description }}</p>
				</mat-expansion-panel>
			</mat-accordion>
		</div>
	</div>
</section>

<section class="section-wrap leasehold-office-section" id="leasehold_office">
	<div class="wrapper">
		<div class="form-top-block">
			<span class="form-title">Leasehold Offices</span>

			<div class="row">
				<div class="col-md-6">
					<p class="form-txt">If serviced offices and co-working is not for you, we have a dedicated office agency team which will help you find your perfect leasehold office space.</p>
				</div>
				<div class="col-md-6">
					<p class="form-txt">Their mission is simple: to act exclusively on behalf of tenants, offering best advice, planning and consultancy available to companies seeking to acquire or renegotiate office space.</p>
				</div>
			</div>
		</div>

		<form [formGroup]="enquiryForm" (ngSubmit)="onSubmit(enquiryForm)" class="leasehold-form form-holder">
			<span class="form-heading">Find a Leasehold office</span>

			<div class="form-row-wrap">
				<span class="form-label">Area of central London</span>

				<div class="checkbox-form-wrap d-flex flex-wrap">
					<div class="checkbox-form-block">
						<input (change)="handleAreaCheck($event)" value="north" type="checkbox" id="id1">
						<label for="id1">North</label>
					</div>
					<div class="checkbox-form-block">
						<input (change)="handleAreaCheck($event)" value="east" type="checkbox" id="id2">
						<label for="id2">East</label>
					</div>
					<div class="checkbox-form-block">
						<input (change)="handleAreaCheck($event)" value="south" type="checkbox" id="id3">
						<label for="id3">South</label>
					</div>
					<div class="checkbox-form-block">
						<input (change)="handleAreaCheck($event)" value="west" type="checkbox" id="id4">
						<label for="id4">West</label>
					</div>
				</div>
        <mat-error *ngIf="
                enquiryForm.get('area').invalid &&
                (enquiryForm.get('area').dirty ||
                  enquiryForm.get('area').touched)">
          <div
            *ngIf="enquiryForm.get('area').errors['area-error']">
            {{ enquiryForm.get('area').errors['area-error'] }}
          </div>
        </mat-error>
			</div>

			<div class="form-row-wrap">
				<span class="form-label">Number of people</span>

				<div class="input-class input-form-mod" style="width: 110px;">
					<input formControlName="numberOfPeople" type="number" placeholder="00">
          <mat-error *ngIf="
                enquiryForm.get('numberOfPeople').invalid &&
                (enquiryForm.get('numberOfPeople').dirty ||
                  enquiryForm.get('numberOfPeople').touched)">
            <div
              *ngIf="enquiryForm.get('numberOfPeople').errors['numberOfPeople-error']">
              {{ enquiryForm.get('numberOfPeople').errors['numberOfPeople-error'] }}
            </div>
          </mat-error>
        </div>
			</div>

			<div class="form-row-wrap contact-details-row">
				<span class="form-label">Contact details</span>

				<div class="row">
					<div class="col-md-6">
						<div class="input-class input-form-mod">
							<input formControlName="fullName" type="text" placeholder="Full name">
              <mat-error *ngIf="
                enquiryForm.get('fullName').invalid &&
                (enquiryForm.get('fullName').dirty ||
                  enquiryForm.get('fullName').touched)">
                <div
                  *ngIf="enquiryForm.get('fullName').errors['fullName-error']">
                  {{ enquiryForm.get('fullName').errors['fullName-error'] }}
                </div>
              </mat-error>
            </div>
					</div>
					<div class="col-md-6">
						<div class="input-class input-form-mod">
							<input formControlName="companyName" type="text" placeholder="Company name">
              <mat-error *ngIf="
                enquiryForm.get('companyName').invalid &&
                (enquiryForm.get('companyName').dirty ||
                  enquiryForm.get('companyName').touched)">
                <div
                  *ngIf="enquiryForm.get('companyName').errors['companyName-error']">
                  {{ enquiryForm.get('companyName').errors['companyName-error'] }}
                </div>
              </mat-error>
            </div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="input-class input-form-mod">
							<input formControlName="phone" type="tel" placeholder="Phone number (optional)">
              <mat-error *ngIf="
                enquiryForm.get('phone').invalid &&
                (enquiryForm.get('phone').dirty ||
                  enquiryForm.get('phone').touched)">
                <div
                  *ngIf="enquiryForm.get('phone').errors && enquiryForm.get('phone').errors['phone-error']">
                  {{ enquiryForm.get('phone').errors['phone-error'] }}
                </div>
                <div *ngIf="enquiryForm.get('phone').errors && enquiryForm.get('phone').errors['pattern']">
                  Invalid phone number
                </div>
              </mat-error>
            </div>
					</div>
					<div class="col-md-6">
						<div class="input-class input-form-mod">
							<input formControlName="email" type="email" placeholder="Email">
              <mat-error *ngIf="
                enquiryForm.get('email').invalid &&
                (enquiryForm.get('email').dirty ||
                  enquiryForm.get('email').touched)">
                <div
                  *ngIf="enquiryForm.get('email').errors['email-error']">
                  {{ enquiryForm.get('email').errors['email-error'] }}
                </div>
              </mat-error>
            </div>
					</div>
				</div>
			</div>

			<div class="form-row-wrap">
				<div class="text-center">
					<button type="submit" class="btn-site" [ngClass]="{orange_c: enquiryForm.valid, grey_c: enquiryForm.invalid}">Send me offices</button>
				</div>
			</div>
		</form>
	</div>
</section>

<section class="section-wrap section-download-app">
	<div class="wrapper">
		<div class="row align-items-center">
			<div class="col-md-6">
				<div class="text-center">
					<img src="{{getAbsoluteUrl('/assets/img/how-it-works/iphone-half.png')}}" class="img-fluid" alt="">
				</div>
			</div>

			<div class="col-md-6">
				<div class="download-app-txt-wrap">
					<span>Download the app</span>
					<p>Coming soon to the app store and the Google play store.</p>
					
					<div class="social-wrap">
						<a href="https://play.google.com/store/apps/details?id=com.kikmoovltd.kikmoov" target="_blank" class="social-link">
							<img src="{{getAbsoluteUrl('/assets/img/how-it-works/circle-play-store.svg')}}" alt="">
						</a>
						<a href="https://apps.apple.com/us/app/kikmoov/id1446888750" target="_blank" class="social-link">
							<img src="{{getAbsoluteUrl('/assets/img/how-it-works/circle-app-store.svg')}}" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<app-kikmoov-footer></app-kikmoov-footer>

<!-- Modal after send message -->
<ngx-smart-modal
  #afterSendMessageHiw
  identifier="afterSendMessageHiw"
  [closable]="false"
  [customClass]="
    'confirm-modal modal-frame nsm-dialog-animation-fade nsm-centered'
  "
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <span class="close-modal" (click)="afterSendMessageHiw.close()">
        <img src="{{getAbsoluteUrl('/assets/img/close-modal-button.svg')}}" alt="">
      </span>
      <div class="logo-wrap text-center">
        <img src="{{getAbsoluteUrl('/assets/img/kikmoov-logo-sm.svg')}}" alt="">
      </div>
      <p>Thanks for your request</p>
      <span>The real estate team will be in touch with you shortly.</span>

      <button class="btn-site blue_c" (click)="afterSendMessageHiw.close()">Done</button>
    </div>
  </div>
</ngx-smart-modal>
