<div *ngIf="pagination$.pages && pagination$.pages.length" class="pagination-wrapper">
          <span class="pag-item prev-item"
                [class.disabled-item]="pagination$.currentPage === 1"
                (click)="pagination$.currentPage > 1 ? setPage(pagination$.currentPage - 1) : false">prev</span>
  <span class="page-item"
        *ngIf="pagination$.startPage > 1 && pagination$.currentPage > (pagination$.startPage + 2)">...</span>
  <span class="pag-item"
        [class.active]="pagination$.currentPage === page"
        *ngFor="let page of pagination$.pages"
        (click)="pagination$.currentPage !== page ? setPage(page) : false">{{ page }}</span>
  <span class="page-item"
        *ngIf="pagination$.currentPage < (pagination$.totalPages - 3)">...</span>
  <span class="pag-item next-item"
        [class.disabled-item]="pagination$.currentPage === pagination$.totalPages"
        (click)="pagination$.currentPage !== pagination$.totalPages ? setPage(pagination$.currentPage + 1) : false">next</span>
</div>
