<app-navmenu></app-navmenu>

<section class="hero-section-contact d-lg-flex flex-column justify-content-end">
  <div class="wrapper text-center">
    <h1 class="contact-main-title">Our mission</h1>
    <h2 class="contact-subtitle">To help you find your perfect workspace</h2>
  </div>
</section>

<section class="contact-wrapper contact-img">
  <span class="watch-video-button" (click)="videoFrame.classList.remove('hidden')" *ngIf="videoFrame.classList.contains('hidden')">
    <img src="{{getAbsoluteUrl('/assets/img/combined-shape.svg')}}" alt="">
    Watch our video
  </span>
  <img src="{{getAbsoluteUrl('/assets/img/team.png')}}" alt="" *ngIf="videoFrame.classList.contains('hidden')">
  <iframe #videoFrame class="hidden" width="100%" height="531px"
          src="https://youtube.com/embed/eFTnTGlBzAQ"
          frameborder="0" allowfullscreen></iframe>
</section>

<section class="section-about-info">
  <div class="contact-wrapper">
    <div class="row">
      <div class="col-md-6">
        <h3 class="about-title">Our Mission</h3>
        <p class="about-txt">Today, the work community and office are no longer about the repetitive work process; ‘the rat race’. Work has become increasingly about connection, integration and collaboration.</p>
        <p class="about-txt">Freelancers, entrepreneurs, start-ups and business alike seek a ‘work community connection’ and is the priority for the ‘perfect workspace’.</p>
        <p class="about-txt">Choosing an office, is not just about four walls and desks, it is much more; It’s now about choosing a home away from home.</p>
        <p class="about-txt">Kikmoov’s mission is to help people and business find their perfect workspace. We will find you the unfindable.</p>
      </div>
      <div class="col-md-6">
        <h3 class="about-title">Our Values</h3>
        <p class="about-txt">Todays, fast growing start-up and freelancer generation flexible workspaces will soon become the most popular way of working in the UK. Kikmoov, strongly believes this is the future and was created to help make finding the perfect workspace as easy as possible.</p>
        <p class="about-txt">We know from personal experience how difficult it is to easily find the perfect work solution. Not knowing what is available on the market can leave you overpaying in an unsatisfactory workspace. That is why we are matching companies with the best offices available. You are at the heart of the co-working experience.</p>
        <p class="about-txt">We believe that where you work influences your overall life. After all, to feel happy you must feel like you’re at home.</p>
      </div>
    </div>

    <span class="about-cta-txt">Join us, and find your perfect workspace with kikmoov.</span>
  </div>
</section>


<section class="contact-section-form" id="contact">
  <div class="contact-wrapper">
      <div class="contact-cards-wrap">
        <div class="row">
          <div class="col-md-6">
            <div class="contact-card">
              <div class="contact-card-icon">
                <img src="{{getAbsoluteUrl('/assets/img/contact-icon.svg')}}" alt="">
              </div>
              <a href="mailto:info@kikmoov.com" class="contact-card-txt">info@kikmoov.com</a>
              <a href="tel:+44 (0)20 7031 3504" class="contact-card-txt">+44 (0)20 7031 3504</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="contact-card">
              <div class="contact-card-icon">
                <img src="{{getAbsoluteUrl('/assets/img/location-icon.svg')}}" alt="">
              </div>
              <span class="contact-card-txt">
                Capital House <br>
                42 Weston Street <br>
                London SE1 3QD
              </span>
            </div>
          </div>
        </div>
      </div>

    <div class="contact-form-holder" id="support">
      <form [formGroup]="contactForm" (ngSubmit)="sendMessage(contactForm)" class="form-holder">
        <span class="form-heading">Send an enquiry</span>

        <div class="form-row-wrap">
          <div class="row">
            <div class="col-md-6">
              <div class="input-class input-form-mod">
                <input type="text" formControlName="name" placeholder="Name">
                <mat-error *ngIf="
              contactForm.get('name').invalid &&
              (contactForm.get('name').dirty ||
               contactForm.get('name').touched)">
                  <div
                    *ngIf="contactForm.get('name').errors['name-error']">
                    {{ contactForm.get('name').errors['name-error'] }}
                  </div>
                </mat-error>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-class input-form-mod">
                <input type="email" formControlName="email" placeholder="Email">
              </div>
              <mat-error *ngIf="
              contactForm.get('email').invalid &&
              (contactForm.get('email').dirty ||
               contactForm.get('email').touched)">
                <div
                  *ngIf="contactForm.get('email').errors['email-error']">
                  {{ contactForm.get('email').errors['email-error'] }}
                </div>
              </mat-error>
            </div>
          </div>
        </div>

        <div class="form-row-wrap">
          <div class="textarea-class height170 input-form-mod">
            <textarea formControlName="message" placeholder="Message"></textarea>
          </div>
          <mat-error *ngIf="
          contactForm.get('message').invalid &&
          (contactForm.get('message').dirty ||
            contactForm.get('message').touched)">
            <div
              *ngIf="contactForm.get('message').errors['message-error']">
              {{ contactForm.get('message').errors['message-error'] }}
            </div>
          </mat-error>
        </div>

        <div class="form-row-wrap">
          <div class="text-center">
            <button type="submit" [disabled]="contactForm.pristine && contactForm.valid" class="btn-site grey_c">Send</button>
            <!--<button type="submit" class="btn-site grey_c" (click)="afterSendMessage()">Send</button>-->
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<!-- Modal after send message -->
<!--<ngx-smart-modal
  #afterSendMessageContact
  identifier="afterSendMessageContact"
  [closable]="false"
  [customClass]="
    'confirm-modal modal-frame nsm-dialog-animation-fade nsm-centered'
  "
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <span class="close-modal" (click)="afterSendMessageContact.close()">
        <img src="/assets/img/close-modal-button.svg" alt="">
      </span>
      <div class="logo-wrap text-center">
        <img src="/assets/img/kikmoov-logo-sm.svg" alt="">
      </div>
      <p>Thanks for your enquiry</p>
      <span>The team will be in touch with you shortly.</span>

      <button class="btn-site blue_c">Done</button>
    </div>
  </div>
</ngx-smart-modal>-->

<app-kikmoov-footer></app-kikmoov-footer>
