@import "../../../variables.scss";

.hero-section-contact {
  min-height: 510px;
  background: url('/assets/img/orange-and-blue.png') no-repeat 50% 50%;
  background-size: cover;
  padding-bottom: 200px;
  margin-top: -1px;

  .wrapper {
    width: 1130px;

    @media (max-width: $screen-lg-max) {
      width: 100%;
    }
  }

  @media (max-width: $screen-md-max) {
    min-height: 500px;
    padding: 110px 0 50px 0;
  }

  @media (max-width: $screen-xs-max) {
    min-height: 300px;
  }
}

.contact-main-title {
  margin: 0 0 10px 0;
  font-size: 43px;
  font-weight: 600;
  color: #fff;

  @media (max-width: $screen-sm-max) {
    font-size: 34px;
    line-height: 38px;
  }
}

.contact-subtitle {
  margin: 0;
  font-size: 31px;
  font-weight: 500;
  color: #fff;

  @media (max-width: $screen-sm-max) {
    font-size: 20px;
    line-height: 25px;
  }
}

.contact-wrapper {
  position: relative;
  max-width: 765px;
  margin: 0 auto;
  padding: 0 15px;

  .hidden {
    width: 0 !important;
  }

  iframe {
    @media (max-width: $screen-sm-max) {
      height: 300px !important;
    }
  }
}

.contact-img {
  margin-top: -180px;

  @media (max-width: $screen-xs-max) {
    margin-top: 50px;
  }

  img {
    width: 100%;
    border-radius: 10px;
  }

  .watch-video-button {
    @include center(both);
  }
}

.section-about-info {
  padding: 25px 0 10px 0;

  .about-title {
    display: block;
    margin: 0 0 30px 0;
    font-size: 23px;
    font-weight: 500;
    color: #000;
  }

  .about-txt {
    margin: 0 0 20px 0;
    font-size: 14px;
    line-height: 18px;
    color: #000;
  }

  .about-cta-txt {
    display: block;
    text-align: center;
    font-size: 23px;
    font-weight: 600;
    color: $orange;
    margin-top: 75px;

    @media (max-width: $screen-xs-max) {
      margin-top: 40px;
    }
  }
}

.contact-section-form {
  background-color: #f7f7f7;
  padding: 100px 0 83px 0;

  @media (max-width: $screen-xs-max) {
    padding: 80px 0 50px 0;
  }

  .contact-section-wrapper {
    max-width: 840px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

.contact-cards-wrap {
  margin-bottom: 30px;
}

.contact-card {
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #fff;
  padding: 20px 35px;
  height: 100%;

  @media (max-width: $screen-xs-max) {
    height: auto;
    margin-bottom: 30px;
    padding: 20px;
  }

  .contact-card-icon {
    height: 38px;
    margin-bottom: 17px;
  }

  img {
    display: block;
  }

  .contact-card-txt {
    display: block;
    font-size: 18px;
    line-height: 1.46;
    color: #000;
    text-decoration: none;
  }
}
