<app-menu-market></app-menu-market>
<div class="wrapper">
  <div class="community-market-row row">
    <div class="col-md-5">
      <h2 class="main-title">The City Square Mile</h2>
      <p class="main-txt">The hustle and bustle of the prestigious financial district.</p>
    </div>
    <div class="col-md-7">
      <div class="img-wrap">
        <img src="{{getAbsoluteUrl('/assets/img/community-maps/map-the-city.png')}}" alt="">
        <span class="cite">London, UK</span>
      </div>
    </div>
  </div>
  <p class="main-txt">The City square mile is the core of the city starting at Bank station. The City of London is a historical financial district, home to both the stock exchange and the bank of England. It is known for its modern corporate skyscraper towers above old, medieval city architecture. Large finance and insurance organisations like to situate themselves in the city.</p>
  <h3 class="sub-title">Transport Links</h3>
  <div class="community-list-wrapper">
    <p class="main-txt">Journey times from <span class="medium-weight">Bank Station</span> by London Underground:</p>
    <ul class="community-list">
      <li><span class="medium-weight">Oxford Circus</span>– 9 minutes</li>
      <li><span class="medium-weight">Kings Cross</span>– 12 minutes</li>
      <li><span class="medium-weight">London Bridge</span>– 5 minutes</li>
      <li><span class="medium-weight">Heathrow</span>– 45 minutes (1 change)</li>
    </ul>
  </div>

  <h3 class="sub-title">Are you Looking for office space or workspace in The City? </h3>

  <div class="table-community-wrapper">
    <div class="table-community">
      <table>
        <thead>
        <tr>
          <th style="width: 58%">Co-working and services office spaces</th>
          <th style="width: 14%">Affordable</th>
          <th style="width: 14%">A step up</th>
          <th style="width: 14%">High-end</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td>EC2: Liverpool Street</td>
          <td>£450 - £500</td>
          <td>£500 - £750</td>
          <td>£750 - £1200</td>
        </tr>
        <tr>
          <td>EC3: Lloyds</td>
          <td>£450 - £500</td>
          <td>£500 - £700</td>
          <td>£700 - £1600</td>
        </tr>
        <tr>
          <td>EC4: St Pauls/Bank</td>
          <td>£500 - £600</td>
          <td>£600 - £800</td>
          <td>£800 - £1800</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="text-right">
      <span class="table-community-hint">Prices: per desk/per month</span>
    </div>
  </div>


  <div class="table-community-wrapper">
    <div class="table-community">
      <table>
        <thead>
        <tr>
          <th style="width: 58%">Leased office space</th>
          <th style="width: 14%">Affordable</th>
          <th style="width: 14%">A step up</th>
          <th style="width: 14%">High-end</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td>EC2: Liverpool Street</td>
          <td>£40 - £50</td>
          <td>£50 - £65</td>
          <td>£65 - £80</td>
        </tr>
        <tr>
          <td>EC3: Lloyds</td>
          <td>£39.50 - £45</td>
          <td>£45 - £62.50</td>
          <td>£62.50 - £70</td>
        </tr>
        <tr>
          <td>EC4: St Pauls/Bank</td>
          <td>£40 - £45</td>
          <td>£45 - £60</td>
          <td>£60 - £75</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="text-right">
      <span class="table-community-hint">Prices: per square foot</span>
    </div>
  </div>
</div>
