<app-post-space-bar [disableHomePage]="true"></app-post-space-bar>
<div class="portal-wrapper">
  <div class="wrapper">
    <div class="portal-row d-flex flex-wrap">
      <div class="portal-col col-sidebar order-lg-1">
        <app-portal-sidebar [workspaceList]="workspacelist" [currentWorkSpaceId]="currentId" (clicked)="onWorkspaceSelect($event)"></app-portal-sidebar>
      </div>
      <div class="portal-col col-sidebar order-lg-3">
        <app-portal-location (onWorkSpaceDelete)="handleDelete($event)" [workspaceList]="workspacelist" [workspaceId]="currentId"></app-portal-location>
      </div>
      <div class="portal-col col-main order-lg-2">
        <div class="loading-wrapper" *ngIf="!workspacelist; else tables">
          <div class="loading-logo">
            <img src="/assets/img/loading-logo.svg" alt="">
          </div>
        </div>
        <ng-template #tables>
        <div class="workspace-row">
          <span class="workspace-name">Private office</span>
          <app-workspace-table [headData]="privateOfficeHead" [bodyData]="privateOfficeData" (handleEdit)="handleEdit($event)" (onUpdateStatus)="handleUpdateStatus($event)"></app-workspace-table>
        </div>
        <div class="workspace-row">
          <span class="workspace-name">Meeting space</span>
          <app-workspace-table [headData]="meetingSpaceHead" [bodyData]="meetingSpaceData" (handleEdit)="handleEdit($event)" (onUpdateStatus)="handleUpdateStatus($event)"></app-workspace-table>
        </div>
        <div class="workspace-row">
          <span class="workspace-name">Desks</span>
          <app-workspace-table [headData]="desksHead" [bodyData]="desksData" (handleEdit)="handleEdit($event)" (onUpdateStatus)="handleUpdateStatus($event)"></app-workspace-table>
          <app-workspace-table [headData]="desksHourlyHead" [bodyData]="desksHourlyData" (handleEdit)="handleEdit($event)" (onUpdateStatus)="handleUpdateStatus($event)"></app-workspace-table>
        </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<!-- Modal Bookings -->
<ngx-smart-modal #bookingModal identifier="bookingModal" [closable]="false" [customClass]="'booking-modal modal-frame nsm-dialog-animation-fade nsm-centered'">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <span class="close-modal" (click)="bookingModal.close()">
        <img src="/assets/img/close-modal-button.svg" alt="">
      </span>

      <div class="bookings-top-info" *ngIf="bookingModal['workSpace']">
        <span class="workspace-info">
          {{ workSpaceTypes[bookingModal['workSpace'].type] }} •
          {{ bookingModal['workSpace'].size ?
              bookingModal['workSpace'].size + 'sq ft' :
              descTypes[bookingModal['workSpace'].deskType] }}
        </span>
        <span class="location-info">
          {{ bookingModal['location'].name }} -
          {{ bookingModal['workSpace'].price | currency:'GBP' : 'symbol' : '1.0-2' }}
          {{
            bookingModal['workSpace'].deskType === 'hourly_hot_desk' ||
            bookingModal['workSpace'].type === 'meeting-room' ? 'per hr' : 'per m'
          }}
        </span>
      </div>

      <app-bookings-table></app-bookings-table>
    </div>
  </div>
</ngx-smart-modal>
