@import "../../../variables.scss";

/* home page hero slider start */
.home-top-holder {
  position: relative;

  /*&:after {
    content: '';
    display: block;
    position: absolute;
    top: -33px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    transform: skewY(-2deg);
  }*/
}

.skew-element {
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
  width: 101%;

  img {
    max-width: 100%;
    vertical-align: top;
  }
}

.hero-slider {
  position: absolute;
  top: 0;
  min-height: 700px;
  width: 100%;
  height: 100%;
  z-index: -90;

  @media (max-width:$screen-sm-max) {
    //min-height: 580px;
  }
}

.hero-slider-slide {
  width: 100%;
  height: 100%;
  min-height: 700px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  background-size: cover;

  @media (max-width:$screen-sm-max) {
    //min-height: 580px;
  }
}
/* home page hero slider end */



/* home page heading frame start */
.heading-frame-wrapper {
  display: flex;
  max-width: 960px;
  min-height: 700px;
  padding: 150px 15px 50px 15px;
  z-index: 10;
}

.heading-frame {
  width: 50%;
  margin-right: 50px;

  @media (max-width: $screen-md-max) {
    margin: 0 auto;
    max-width: 440px;
    width: auto;
  }
}

.home-heading-text {
  font-size: 29px;
  line-height: 32px;
  font-weight: 600;
  color: #fff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 0 36px 0;
}

.home-heading-description {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: #fff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 0 20px 0;
}

.heading-contacts-wrap {
  width: 50%;
  height: 100%;
  min-height: 415px;
  background: url("/assets/img/header-contacts-bg.svg") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  padding: 40px 60px;

  @media (max-width: $screen-md-max) {
    background: rgba(72, 82, 106, 0.9);
    width: 100%;
    min-height: initial;
    padding: 30px;
  }

  &.for-desktop {
    @media (max-width: $screen-md-max) {
      display: none;
    }
  }

  &.for-mobile {
    display: none;

    @media (max-width: $screen-md-max) {
      display: block;
    }
  }

  .heading-contacts-title {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    line-height: 22px;
    font-weight: 500;
    color: #fff;
    margin: 0 0 10px 0;
  }

  .heading-contacts-desc {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    line-height: 23px;
    color: #fff;
    margin: 0 0 15px 0;
  }

  .chat-to-us-btn {
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 22px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    color: #fff;
    padding: 7px 25px;
    margin-bottom: 15px;
    transition: all .3s ease-in-out;

    &:hover {
      border-color: $orange;
      color: $orange;
    }
  }

  .heading-contacts-row {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    .heading-contacts-txt {
      width: 75px;
      margin-right: 5px;
    }

    .heading-contacts-links {
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      font-size: 20px;
      line-height: 22px;
      font-weight: 500;
      color: #fff;
      transition: all .3s ease-in-out;

      &:hover {
        color: $orange;
      }
    }
  }

  .heading-contacts-links-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;

    .heading-contacts-txt {
      width: 50%;
      margin-bottom: 5px;
      transition: all .3s ease-in-out;

      &:hover {
        color: $orange;
      }
    }
  }

  .heading-contacts-txt {
    display: inline-block;
    vertical-align: middle;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    line-height: 18px;
    color: #fff;
  }
}
/* home page heading frame end */


/* home page partners start */
.home-page-partners {
  background: #f1f1f1;
  padding-top: 30px;

  .home-page-partners-title {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: .8px;
    color: #6f6f6f;
    margin: 0 0 20px 0;
    text-align: center;
  }
}

.home-page-partners-logos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

  .home-page-partners-logo {
    margin: 0 20px 30px;
  }
}

/* home page partners end */


/* what we do section start */
.what-we-do-section {
  padding-top: 150px;
  background: url("/assets/img/what-we-do-bg.svg") no-repeat 50% 0;

  @media (max-width: $screen-md-max) {
    padding-top: 40px;
  }

  .repeat-title-wrapper {
    max-width: 100%;
  }
}

.what-we-do-cards {
  display: flex;
  margin: 0 -10px;
  padding: 0 45px;

  @media (max-width: $screen-md-max) {
    display: block;
    margin: 0;
    padding: 0;
  }

  .what-we-do-card {
    width: calc(33.33% - 20px);
    margin: 0 10px;
    min-height: 390px;
    border-radius: 20px;
    box-shadow: 0 8px 18px 1px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    padding: 35px 40px 130px;
    position: relative;
    text-align: center;

    @media (max-width: $screen-md-max) {
      width: auto;
      max-width: 400px;
      margin: 0 auto 30px;
      padding: 35px 20px 130px;
    }

    &.marked-card {
      overflow: hidden;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: -50px;
        left: -50px;
        background: $orange;
        border-radius: 50%;
        width: 100px;
        height: 100px;
      }

      .what-we-do-card-list {
        li {
          &:before {
            background: $orange;
          }
        }
      }
    }

    .what-we-do-card-title {
      font-size: 24px;
      line-height: 26px;
      font-weight: 600;
      letter-spacing: 1.2px;
      color: #4a4a4a;
      margin: 0 0 20px;
    }

    .what-we-do-card-desc {
      font-size: 16px;
      line-height: 20px;
      font-weight: 500;
      color: #4a4a4a;
      margin: 0 0 30px;
    }

    .what-we-do-card-list {
      max-width: 200px;
      margin: 0 auto;
      padding: 0;
      list-style: none;
      text-align: left;

      li {
        font-size: 16px;
        line-height: 23px;
        color: #4a4a4a;
        position: relative;
        padding-left: 17px;

        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 8px;
          left: 0;
          width: 7px;
          height: 7px;
          border-radius: 50%;
          background: #45b4d8;
        }
      }
    }

    .what-we-do-card-link {
      position: absolute;
      bottom: 50px;
      left: 0;
      width: 100%;
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: .7px;
      color: #38afd6;
      transition: all .3s ease-in-out;

      &:hover {
        color: $orange;
      }

      img {
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
      }
    }

    .talk-advisor-link {
      position: absolute;
      bottom: 40px;
      left: 50%;
      transform: translateX(-50%);
      border: 1px solid #c4c4c4;
      border-radius: 27px;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      color: #4a4a4a;
      padding: 5px 10px;
      min-width: 220px;

      &:hover {
        .phone-advisor {
          color: $orange;
        }
      }

      .phone-advisor {
        display: block;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: .8px;
        color: #38afd6;
        margin-top: 5px;
        transition: all .3s ease-in-out;
      }
    }
  }
}
/* what we do section end */


/* popular areas section start */
.popular-areas-section {
  padding: 25px 0;
  background: #f1f1f1;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: #4a4a4a;
  }

  .popular-areas-text {
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    color: #4a4a4a;
    margin-right: 10px;

    @media (max-width: $screen-xs-max) {
      display: block;
      width: 100%;
      text-align: center;
      margin: 0 0 5px;
    }
  }

  .area-link {
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: .8px;
    color: #38afd6;
    margin-left: 10px;
    cursor: pointer;
    transition: all .3s ease-in-out;

    &:hover {
      color: $orange;
    }
  }
}

.outer-wrapper-popular-areas {
  padding: 40px 0;
}

/* popular areas section end */


/* mobile app section start */
.mobile-app-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto 100px;

  @media (max-width: $screen-sm-max) {
    display: block;
    text-align: center;
    margin: 0;
  }

  .mobile-app-text {
    width: 445px;

    @media (max-width: $screen-sm-max) {
      width: 100%;
      margin-bottom: 50px;
    }

    .mobile-app-title {
      font-size: 28px;
      line-height: 30px;
      font-weight: 600;
      letter-spacing: .8px;
      color: #4a4a4a;
      margin: 0 0 25px;
    }

    .mobile-app-desc {
      font-size: 14px;
      line-height: 18px;
      color: #4a4a4a;
      margin: 0 0 25px;

      &:last-child {
        margin: 0;
      }
    }


    .mobile-app-links {
      margin-top: 50px;
      display: flex;
      align-items: center;

      @media (max-width: $screen-sm-max) {
        justify-content: center;
      }

      .app-link {
        display: flex;
        align-items: center;
        padding: 12px 20px;
        min-width: 200px;
        border-radius: 32px;
        background: $orange;
        margin-right: 15px;
        transition: all .3s ease-in-out;

        @media (max-width: $screen-sm-max) {
          border-radius: 50%;
          width: 64px;
          height: 64px;
          min-width: initial;
          position: relative;
          img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin-right: 0;
          }
        }

        &:hover {
          background: #ed4e2f;
        }

        img {
          margin-right: 10px;
          width: 32px;
        }

        .app-link-text {
          @media (max-width: $screen-sm-max) {
            display: none;
          }

          .top {
            display: block;
            font-size: 14px;
            line-height: 16px;
            font-weight: 500;
            color: #fff;
            margin-bottom: 5px;
          }

          .bottom {
            display: block;
            font-size: 16px;
            line-height: 18px;
            font-weight: 600;
            color: #fff;
          }
        }
      }
    }
  }

  .mobile-app-image {
    img {
      max-width: 100%;
    }
  }
}

.home-page-benefits {
  background: url("/assets/img/hand-phone.png") no-repeat 0 100%;
  -webkit-background-size: contain;
  background-size: contain;
  padding: 60px 0 130px;

  @media (max-width: $screen-md-max) {
    -webkit-background-size: contain;
    background-size: contain;
  }

  @media (max-width: $screen-sm-max) {
    padding: 60px 0 40%;
  }
}

.home-page-benefits-wrapper {
  max-width: 960px;
  margin: 0 auto;
  display: flex;

  .home-page-benefits-list {
    width: 50%;
    margin-left: auto;
    padding-right: 70px;

    @media (max-width: $screen-md-max) {
      padding-right: 0;
    }

    @media (max-width: $screen-sm-max) {
      width: 100%;
    }

    .home-page-benefit-item {
      display: flex;
      margin-bottom: 71px;

      @media (max-width: $screen-sm-max) {
        margin-bottom: 15px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      .home-page-benefit-number {
        width: 60px;
        height: 60px;
        box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.14);
        background-color: #fff;
        text-align: center;
        border-radius: 50%;
        font-size: 32px;
        line-height: 60px;
        font-weight: 700;
        color: #38afd6;
        margin: 5px 30px 0 0;
      }

      .home-page-benefit-text {
        flex: 1;

        .home-page-benefit-name {
          font-size: 20px;
          line-height: 22px;
          font-weight: 600;
          letter-spacing: 0.57px;
          color: #4a4a4a;
          margin: 0 0 5px;
        }

        .home-page-benefit-desc {
          font-size: 16px;
          line-height: 1.5;
          color: #4a4a4a;
          margin: 0;
        }
      }
    }
  }
}
/* mobile app section end */


/* get in touch section start */
.get-in-touch-wrapper {
  text-align: center;
  background: #f6f6f6;
  padding: 55px 0;

  @media (max-width: $screen-sm-max) {
    padding: 20px 0;
  }

  span {
    display: inline-block;
    vertical-align: middle;
  }

  .get-in-touch-bold {
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: 0.9px;
    color: #4a4a4a;
    transition: all .3s ease-in-out;

    &.get-in-touch-bold-main {
      @media (max-width: $screen-sm-max) {
        display: block;
        width: 100%;
        margin-bottom: 5px;
      }
    }
  }

  .get-in-touch-light {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.9px;
    color: #4a4a4a;
    margin-right: 5px;
  }

  .get-in-touch-link {
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;

    @media (max-width: $screen-sm-max) {
      margin: 0 0 5px;
    }

    &:hover {
      .get-in-touch-bold {
        color: $orange;
      }
    }
  }
}
/* get in touch section end */


/* news grid section start */
.news-grid {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;

  @media (max-width: $screen-sm-max) {
    display: block;
  }

  .news-col-left {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;

    @media (max-width: $screen-sm-max) {
      width: calc(100% - -10px);
      margin: 0 -5px;
    }

    .news-card {
      display: block;
      width: calc(50% - 24px);
      height: 225px;
      border-radius: 10px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      -webkit-background-size: cover;
      background-size: cover;
      padding: 20px;
      margin: 12px;
      position: relative;

      &.last-item-card {
        background-image: url("/assets/img/case-study.jpg");
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        //background-color: rgba(72, 82, 106, 0.5);
        border-radius: 10px;
      }

      @media (max-width: $screen-sm-max) {
        width: calc(50% - 10px);
        margin: 5px;
        padding: 20px 8px;
        text-align: center;
      }

      .news-card-name {
        display: block;
        position: relative;
        z-index: 1;
        font-size: 20px;
        line-height: 22px;
        font-weight: 600;
        letter-spacing: 1px;
        color: #fff;
      }
    }
  }

  .news-col-right {
    width: 40%;
    margin: 12px 0 12px 24px;

    @media (max-width: $screen-sm-max) {
      width: 100%;
      margin: 5px 0 0;
    }

    .news-preview {
      height: 100%;
      border: 2px solid #c4c4c4;
      border-radius: 10px;

      .news-preview-header {
        height: 250px;
        margin: -2px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        -webkit-background-size: cover;
        background-size: cover;
        padding: 20px;
        border-radius: 10px 10px 0 0;
        position: relative;

        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, .3);
          border-radius: 10px 10px 0 0;
        }

        .news-preview-name {
          display: block;
          font-size: 20px;
          line-height: 22px;
          font-weight: 600;
          letter-spacing: 1px;
          color: #fff;
          position: relative;
          z-index: 1;
        }
      }

      .news-preview-body {
        padding: 20px;

        .news-preview-title {
          display: block;
          font-size: 20px;
          line-height: 22px;
          font-weight: 600;
          letter-spacing: 1px;
          color: #4a4a4a;
          margin-bottom: 10px;
        }

        .news-preview-desc {
          font-size: 16px;
          line-height: 20px;
          letter-spacing: 0.8px;
          color: #4a4a4a;
          margin: 0 0 31px;
          max-height: 100px;
          min-height: 100px;
          overflow: hidden;

          @media (max-width: $screen-sm-max) {
            max-height: initial;
            min-height: initial;
          }
        }

        .read-more-btn {
          display: inline-block;
          font-size: 20px;
          line-height: 22px;
          font-weight: 600;
          letter-spacing: 1px;
          color: #45b4d8;
          transition: all .3s ease-in-out;

          &:hover {
            color: $orange;
          }
        }
      }
    }
  }
}
/* news grid section end */


/* home page how it works new section start */
.how-it-works {
  .hiw-row {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.hiw-col {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  border: 1px solid #ececec;
  background-color: #fff;
  width: 315px;
  margin: 15px;
  border-radius: 4px 4px 10px 10px;
  overflow: hidden;
  position: relative;
  padding: 220px 30px 30px 30px;

  .hiw-img-wrapper {
    width: 500px;
    height: 245px;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    overflow: hidden;

    .hiw-img {
      min-height: 195px;
      width: 315px;
      margin: 50px auto 0 auto;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
    }
  }

  .hiw-name {
    display: block;
    text-align: center;
    color: #000;
    font-size: 35px;
    line-height: 37px;
    font-weight: 500;
    margin-bottom: 15px;
  }

  .hiw-description {
    margin: 0;
    color: #000;
    font-size: 16px;
    line-height: 20px;
  }
}
/* home page how it works new section end */


/* home page free services start */
.home-fs-section {
  width: 100%;
  background: url("/assets/img/orange-and-blue.svg") no-repeat 50% 50%;
  background-size: cover;
  text-align: center;
  font-weight: 600;
  color: #fff;
  padding-top: 200px;
  margin-top: -225px;
  padding-left: 15px;
  padding-right: 15px;

  .fs-title {
    display: block;
    font-size: 43px;
    line-height: 45px;
    margin-bottom: 30px;

    @media (max-width: $screen-xs-max) {
      font-size: 34px;
      line-height: 36px;
      margin-bottom: 10px;
    }
  }

  .home-fs-section-desc {
    font-size: 26px;
    line-height: 30px;
    max-width: 412px;
    margin: 0 auto;

    @media (max-width: $screen-xs-max) {
      font-size: 20px;
      line-height: 24px;
    }
  }
}
/* home page free services end */


/* home page popular areas start */
.popular-areas-wrapper {
  position: relative;

  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 300px;
    background-image: linear-gradient(256deg, #ff9976, #f76649);
    position: absolute;
    bottom: 0;
    left: 0;
    transform: skewY(-2deg);
  }
}

.areas-grid {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 5px;
}

.col-areas {
  min-height: 300px;
  margin: 5px;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;

  @media (max-width: $screen-md-max) {
    min-height: 250px;
  }

  @media (max-width: $screen-xs-max) {
    min-height: 200px;
  }

  @media (max-width: $screen-sm-max) {
    width: calc(50% - 10px);
  }

  &:hover {
    .area-img {
      transform: scale(1.1);
    }
  }

  .area-img {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 10px;
    @include transition(.8s);

    @media (max-width: $screen-md-max) {
      height: 250px;
    }

    @media (max-width: $screen-xs-max) {
      height: 200px;
    }
  }
}

.areas-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 10px;
  font-size: 20px;
  line-height: 22px;
  color: #fff;
  font-weight: 600;
  text-align: center;

  @media (max-width: $screen-xs-max) {
    font-size: 16px;
    line-height: 18px;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 130px;
    height: 2px;
    background-color: #fff;
  }
}
/* home page popular areas end */



/* home page blog slider start */
.blog-slider {
  width: 100%;
  position: relative;

  .slick-slider {
    margin: 0;
  }
}

.blog-slide {
  position: relative;
  padding: 200px 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  @media (max-width: $screen-md-max) {
    padding: 120px 0;
  }

  .blog-slider-text {
    color: #fff;
    max-width: 590px;
    margin: 0 auto;
    padding: 0 15px;

    span {
      display: block;
      font-size: 24px;
      line-height: 26px;
      font-weight: 600;
      text-align: center;
      margin-bottom: 25px;
    }

    p {
      font-size: 16px;
      line-height: 20px;
      font-weight: 500;
      margin: 0;
      text-align: center;
    }
  }
}

.read-article {
  display: block;
  min-width: 100px;
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  font-size: 20px;
  line-height: 22px;
  color: #fff;
  font-weight: 500;
  border: 1px solid #fff;
  border-radius: 5px;
  text-align: center;
  transition: all 0.3s linear;
  text-decoration: none;

  @media (max-width: $screen-md-max) {
    bottom: 40px;
  }

  &:hover {
    background-color: #fff;
    color: #000;
  }
}

.blog-slider-arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 70px;
  line-height: 70px;
  color: #fff;
  z-index: 100;
  cursor: pointer;

  @media (max-width:$screen-sm-max) {
    //display: none;
    //width: 15%;
    //height: 100%;
    //opacity: 0;
  }

  &:hover .fa {
    color: $orange;
  }

  .fa {
    transition: all .3s linear;
  }

  &.prev {
    left: 50px;

    @media (max-width: $screen-md-max) {
      left: 25px;
    }

    @media (max-width:$screen-sm-max) {
      left: 0;
    }
  }

  &.next {
    right: 50px;

    @media (max-width: $screen-md-max) {
      right: 5px;
    }

    @media (max-width:$screen-sm-max) {
      right: 0;
    }
  }
}
/* home page blog slider end */



/* home page reviews slider start */
.reviews-slider {
  max-width: 600px;
  margin: 0 auto;

  .slick-slider {
    .slick-arrow {
      width: 15%;
      height: 100%;
      opacity: 0;

      &.slick-next {
        right: 0;
      }

      &.slick-prev {
        left: 0;
      }
    }
  }
}

.review-slide {
  padding: 55px 5px 5px 5px;

  @media (max-width:$screen-sm-max) {
    padding: 55px 15px 5px 15px;
  }
}
/* home page reviews slider end */



/* home page partners start */
.home-partners-block {
  background: url('/assets/img/transparent-desk-photo.png') no-repeat 100% 100%,
              url('/assets/img/partners-bg-1.svg') no-repeat 0 110%,
              url('/assets/img/partners-bg-2.svg') no-repeat 100% 120%;
  padding: 140px 0;
  position: relative;

  @media (max-width:$screen-md-max) {
    padding: 50px 0;
    background: none;
  }
}

.home-partners-block-wrapper {
  max-width: 1010px;
  margin: 0 auto 50px;
  text-align: center;

  img {
    margin: 35px;

    @media (max-width: $screen-sm-max) {
      display: block;
      margin: 40px auto;
    }
  }
}
/* home page partners end */

.free-service-sticker {
  position: absolute;
  bottom: -5px;
  right: 15px;
  width: 106px;
  height: 106px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  background-color: $orange;
  padding: 26px 0;

  @media (max-width: $screen-xs-max) {
    bottom: -30px;
    right: 3px;
  }
}

.section-watch-video {
  min-height: 430px;
  background: url("/assets/img/watch-video-bg.jpg") no-repeat 50% 50%;
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(47, 55, 75, 0.6);
  }

  @media (max-width: $screen-xs-max) {
    min-height: 300px;

    .hidden {
      width: 0 !important;
    }

    iframe {
      height: 100% !important;
      margin: -50px 0 0 0 !important;
    }
  }

  .watch-video-button {
    @include center(both);
    z-index: 10;
  }
}

.main-info-top {
  position: relative;
  margin-bottom: 150px;

  @media (max-width: $screen-sm-max) {
    margin-bottom: 50px;
  }

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 400px;
    background-image: linear-gradient(256deg, #5c6882, #2f374b);
    position: absolute;
    top: 100%;
    left: 0;
    transform: skewY(-2deg);

    @media (max-width: $screen-sm-max) {
      top: 95%;
    }
  }

  .main-info-txt {
    span {
      display: block;
      font-size: 26px;
      font-weight: 500;
      color: #000;
      margin-bottom: 30px;
    }

    p {
      font-size: 14px;
      color: #000;
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.main-info-cards {
  max-width: 840px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;

  @media (max-width: $screen-xs-max) {
    display: block !important;
  }
}

.main-card {
  width: 33.33%;
  min-height: 290px;
  border-radius: 7.5px;
  box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.15);
  background-color: #fff;
  padding: 30px;

  @media (max-width: $screen-sm-max) {
    padding: 30px 15px;
  }

  @media (max-width: $screen-xs-max) {
    width: 100%;
    min-height: initial;
    margin-bottom: 30px;
  }

  &:nth-child(2) {
    z-index: 10;
    min-height: 350px;
    padding: 45px 30px;

    @media (max-width: $screen-sm-max) {
      padding: 45px 15px;
    }

    @media (max-width: $screen-xs-max) {
      min-height: initial;
    }
  }

  &:first-child {
   border-radius: 7.5px 0 0 7.5px;

    @media (max-width: $screen-xs-max) {
      border-radius: 7.5px;
    }
  }

  &:last-child {
    border-radius: 0 7.5px 7.5px 0;

    @media (max-width: $screen-xs-max) {
      border-radius: 7.5px;
    }
  }

  img {
    display: inline-block;
  }

  span {
    display: block;
    margin: 20px 0;
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
    color: $blue;
    position: relative;
    
    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #e7e7e7;
    }
  }
  
  p {
    font-size: 14px;
    color: #000;
    margin: 0;
  }
}
