<app-navmenu></app-navmenu>


<div class="home-top-holder">
  <ngx-slick-carousel class="hero-slider" #slickModal="slick-carousel" [config]="slideConfig" *ngIf="isBrowser; else noSlider">
    <div ngxSlickItem class="slide" *ngFor="let slide of slides">
      <div class="hero-slider-slide" [ngStyle]="{'background-image': 'url(' + getAbsoluteUrl('/' + slides[0].img) + ')'}"></div>
    </div>
  </ngx-slick-carousel>
  <ng-template #noSlider>
      <ngx-slick-carousel class="hero-slider" #slickModal="slick-carousel">
          <div class="slide">
              <div class="hero-slider-slide" [ngStyle]="{'background-image': 'url(' + getAbsoluteUrl('/' + slides[0].img) + ')'}"></div>
          </div>
      </ngx-slick-carousel>
  </ng-template>

  <div class="heading-frame-wrapper wrapper">
    <div class="heading-frame">
      <h1 class="home-heading-text">Find your perfect workspace. Innovate. Create.</h1>
      <p class="home-heading-description">The most diverse, real-time network of workspaces.</p>
      <app-home-search></app-home-search>
      <div class="text-center">
        <span (click)="videoFirstModal.open()" class="watch-video-button home-page-video-btn">
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="31" viewBox="0 0 26 31">
              <g fill="none" fill-rule="evenodd">
                  <path fill="#FFF" fill-rule="nonzero" d="M23.712 18.82L6.354 30.22A3.773 3.773 0 0 1 .51 27.068V4.265A3.773 3.773 0 0 1 6.354 1.11l17.358 11.402a3.773 3.773 0 0 1 0 6.307z"/>
              </g>
          </svg>
          Learn about Kikmoov
        </span>
      </div>
    </div>
    <div class="heading-contacts-wrap for-desktop">
      <h2 class="heading-contacts-title">Need A Helping Hand? Let Us Search For You.</h2>
      <p class="heading-contacts-desc">Our Tech Savvy Platform is great, but if you need any help our specialist team are here to assist.</p>

      <a href="https://calendly.com/greg-286/15min" target="_blank" class="chat-to-us-btn">Chat to us</a>

      <div class="heading-contacts-row">
        <span class="heading-contacts-txt">Call us</span>
        <a href="tel:+44(0)20 7031 3504" class="heading-contacts-links">+44(0)20 7031 3504</a>
      </div>
      <div class="heading-contacts-row">
        <span class="heading-contacts-txt">Email us</span>
        <a href="mailto:team@kikmoov.com" class="heading-contacts-links">team@kikmoov.com</a>
      </div>

      <div class="heading-contacts-links-wrap">
        <a href="/findaspace?duration=monthly&type=private-office" class="heading-contacts-txt">Private Offices</a>
        <a href="/findaspace?duration=monthly&type=desk" class="heading-contacts-txt">Co-working</a>
        <a href="/findaspace?duration=monthly&type=desk" class="heading-contacts-txt">Serviced offices</a>
        <a href="/findaspace?duration=hourly&type=meeting-room" class="heading-contacts-txt">Meeting rooms</a>
      </div>
    </div>
  </div>
</div>

<div class="heading-contacts-wrap for-mobile">
  <div class="text-center">
    <h2 class="heading-contacts-title">Need A Helping Hand? Let Us Search For You.</h2>
    <p class="heading-contacts-desc">Our Tech Savvy Platform is great, but if you need any help our specialist team are here to assist.</p>

    <a href="https://calendly.com/greg-286/15min" target="_blank" class="chat-to-us-btn">Chat to us</a>
  </div>

  <div class="heading-contacts-row">
    <span class="heading-contacts-txt">Call us</span>
    <a href="tel:+44(0)20 7031 3504" class="heading-contacts-links">+44(0)20 7031 3504</a>
  </div>
  <div class="heading-contacts-row">
    <span class="heading-contacts-txt">Email us</span>
    <a href="mailto:team@kikmoov.com" class="heading-contacts-links">team@kikmoov.com</a>
  </div>

  <div class="heading-contacts-links-wrap">
    <a href="/findaspace?duration=monthly&type=private-office" class="heading-contacts-txt">Private Offices</a>
    <a href="/findaspace?duration=monthly&type=desk" class="heading-contacts-txt">Co-working</a>
    <a href="/findaspace?duration=monthly&type=desk" class="heading-contacts-txt">Serviced offices</a>
    <a href="/findaspace?duration=hourly&type=meeting-room" class="heading-contacts-txt">Meeting rooms</a>
  </div>
</div>

<section class="home-page-partners">
  <div class="wrapper">
    <h3 class="home-page-partners-title">Proud to have found space for</h3>

    <div class="home-page-partners-logos">
      <img src="{{getAbsoluteUrl('/assets/img/partners/creme-de-la-creme.svg')}}" class="home-page-partners-logo" alt="">
      <img src="{{getAbsoluteUrl('/assets/img/partners/dbx.svg')}}" class="home-page-partners-logo" alt="">
      <img src="{{getAbsoluteUrl('/assets/img/partners/cobidol-group-white.png')}}" class="home-page-partners-logo" alt="">
      <img src="{{getAbsoluteUrl('/assets/img/partners/mansons-consulting.png')}}" class="home-page-partners-logo" alt="">
      <img src="{{getAbsoluteUrl('/assets/img/partners/velocity-black.svg')}}" class="home-page-partners-logo" alt="">
      <img src="{{getAbsoluteUrl('/assets/img/partners/timeout.svg')}}" class="home-page-partners-logo" alt="">
      <img src="{{getAbsoluteUrl('/assets/img/partners/we-play-logo.png')}}" class="home-page-partners-logo" alt="">
    </div>
  </div>
</section>

<section class="outer-wrapper what-we-do-section">
  <div class="wrapper">
    <div class="repeat-title-wrapper">
      <span class="title">What we do</span>
      <span class="subtitle">Whether you need workspace for the few or the many - it’s here</span>
    </div>

    <div class="what-we-do-cards">
      <div class="what-we-do-card marked-card">
        <h4 class="what-we-do-card-title">Hourly</h4>
        <p class="what-we-do-card-desc">Commitment-free workspaces when you need them. Use the kikmoov platform and app to book on the go.</p>

        <ul class="what-we-do-card-list">
          <li>Meeting rooms</li>
          <li>Day passes</li>
          <li>Desks by the hour</li>
        </ul>

        <a href="/findaspace?duration=hourly" class="what-we-do-card-link">
          Browse Hourly Spaces
          <img src="{{getAbsoluteUrl('/assets/img/arrow.svg')}}" alt="">
        </a>
      </div>
      <div class="what-we-do-card marked-card">
        <h4 class="what-we-do-card-title">Monthly</h4>
        <p class="what-we-do-card-desc">Dedicated, move-in plug and play spaces on safe and simple terms</p>

        <ul class="what-we-do-card-list">
          <li>Private offices</li>
          <li>Dedicated desks</li>
          <li>Hot desks</li>
          <li>Memberships</li>
        </ul>

        <a href="/findaspace?duration=monthly" class="what-we-do-card-link">
          Browse Monthly Spaces
          <img src="{{getAbsoluteUrl('/assets/img/arrow.svg')}}" alt="">
        </a>
      </div>
      <div class="what-we-do-card">
        <h4 class="what-we-do-card-title">Custom offices</h4>
        <p class="what-we-do-card-desc">Workspace built for your team, tailored to your business.</p>

        <ul class="what-we-do-card-list">
          <li>Make your own space</li>
          <li>Leasehold experience on flexible terms</li>
          <li>Introduce your own company culture</li>
        </ul>

        <a href="tel:+44 (0)20 7031 3504" class="talk-advisor-link">
          Talk to an advisor
          <span class="phone-advisor">+44 (0)20 7031 3504</span>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="section-wrap home-topticks-block">
  <app-home-top-picks></app-home-top-picks>
</section>

<section class="outer-wrapper-popular-areas">
  <div class="popular-areas-section">
    <div class="wrapper">
      <span class="popular-areas-text">Popular areas: </span>
      <div routerLink="findaspace" [queryParams]="{duration: 'monthly', area: 'Shoreditch'}" class="area-link">
        Shoreditch
      </div>,
      <div routerLink="findaspace" [queryParams]="{duration: 'monthly', borough: 'City'}" class="area-link">
        The City
      </div>,
      <div routerLink="findaspace" [queryParams]="{duration: 'monthly', area: 'London Bridge'}" class="area-link">
        London Bridge
      </div>,
      <div routerLink="findaspace" [queryParams]="{duration: 'monthly', area: 'King\'s Cross'}" class="area-link">
        Kings Cross
      </div>
    </div>
  </div>
</section>

<section class="outer-wrapper">
  <div class="wrapper">
    <div class="repeat-title-wrapper">
      <span class="title">The kikmoov app</span>
      <span class="subtitle">The brighter way to book workspaces</span>
    </div>

    <div class="mobile-app-wrapper">
      <div class="mobile-app-text">
        <h4 class="mobile-app-title">Hourly, daily, monthly, yearly</h4>
        <p class="mobile-app-desc">Using the Kikmoov app, have the flexibility to book your perfect workspace.</p>
        <p class="mobile-app-desc">Filter through 1000’s of meeting rooms, desks, coworking spaces, private offices and shared offices.</p>

        <div class="mobile-app-links">
          <a href="https://apps.apple.com/us/app/kikmoov/id1446888750" class="app-link">
            <img src="{{getAbsoluteUrl('/assets/img/app-store-icn.svg')}}" alt="">
            <span class="app-link-text">
              <span class="top">Download on</span>
              <span class="bottom">The App Store</span>
            </span>
          </a>
          <a href="https://play.google.com/store/apps/details?id=com.kikmoovltd.kikmoov" class="app-link">
            <img src="{{getAbsoluteUrl('/assets/img/play-market-icn.svg')}}" alt="">
            <span class="app-link-text">
              <span class="top">Get it on</span>
              <span class="bottom">Google Play</span>
            </span>
          </a>
        </div>
      </div>
      <div class="mobile-app-image">
        <img src="{{getAbsoluteUrl('/assets/img/double-iphones.png')}}" alt="">
      </div>
    </div>
  </div>
  <div class="home-page-benefits">
    <div class="wrapper">
      <div class="home-page-benefits-wrapper">
        <div class="home-page-benefits-list">
          <div class="home-page-benefit-item">
            <div class="home-page-benefit-number">1</div>
            <div class="home-page-benefit-text">
              <h4 class="home-page-benefit-name">Find a space</h4>
              <p class="home-page-benefit-desc">Find a workspace on the go to meet, work, and focus on your projects.</p>
            </div>
          </div>
          <div class="home-page-benefit-item">
            <div class="home-page-benefit-number">2</div>
            <div class="home-page-benefit-text">
              <h4 class="home-page-benefit-name">Book & pay</h4>
              <p class="home-page-benefit-desc">Find, instantly book and pay for your workspace using the app.</p>
            </div>
          </div>
          <div class="home-page-benefit-item">
            <div class="home-page-benefit-number">3</div>
            <div class="home-page-benefit-text">
              <h4 class="home-page-benefit-name">Get to work</h4>
              <p class="home-page-benefit-desc">Fast wifi, coffee, plugs and like-minded people at Kikmoov’s verified workspaces.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="outer-wrapper" id="testimonials">
  <div class="wrapper">
    <div class="repeat-title-wrapper">
      <span class="title">Hear from our users</span>
      <span class="subtitle">Kikmoov testimonials</span>
    </div>

    <div class="wrapper">
      <ngx-slick-carousel class="pws-testimonials-slider home-page-testimonials"
                          [config]="testimonialsSliderConfig"
                          (afterChange)="afterChange($event)"
                          (beforeChange)="beforeChange($event)">
        <div ngxSlickItem class="pws-testimonials-slide" *ngFor="let testimonial of homePageTestimonial">
          <div class="testimonials-slide-wrap d-flex align-items-center">
            <div class="testimonials-author-photo">
              <img src="{{ testimonial.photo }}" alt="">
            </div>
            <div class="testimonials-author-info">
              <p class="desc">{{ testimonial.desc }}</p>
              <span class="testimonials-author-name">{{ testimonial.name }}</span>
              <span class="testimonials-author-pos">{{ testimonial.position }}</span>
            </div>
          </div>
        </div>
      </ngx-slick-carousel>
      <div class="anim-wrapper">
        <div id="animation-block" class="anim-block animation_0">
          <img src="{{getAbsoluteUrl('/assets/img/homepage-testimonials/rect1.png')}}"
               class="anim-elem-1"
               alt="">
          <img src="{{getAbsoluteUrl('/assets/img/homepage-testimonials/rect2.png')}}"
               class="anim-elem-2"
               alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="outer-wrapper">
  <div class="get-in-touch-wrapper">
    <div class="wrapper">
      <span class="get-in-touch-bold get-in-touch-bold-main">Get in touch: </span>
      <a href="tel:+44 (0)20 7031 3504" class="get-in-touch-link">
        <span class="get-in-touch-light">Phone </span> <span class="get-in-touch-bold">+44 (0)20 7031 3504</span>
      </a>
      <a href="mailto:team@kikmoov.com" class="get-in-touch-link">
        <span class="get-in-touch-light">Email </span> <span class="get-in-touch-bold">team@kikmoov.com</span>
      </a>
    </div>
  </div>
</section>

<section class="outer-wrapper" *ngIf="lastArticleInfo">
  <div class="wrapper">
    <div class="repeat-title-wrapper fullwidth">
      <span class="title">Keep up to date</span>
      <span class="subtitle">Read our latest news, guides and case studies</span>
    </div>
    <div class="news-grid">
      <div class="news-col-left">
        <a href="{{ '/blog/category/' + info.slug }}" class="news-card" *ngFor="let info of categories | slice:0:3; let i = index" [ngStyle]="{'background-image': 'url(' + infoList[i].img + ')'}">
          <span class="news-card-name">{{ info.name }}</span>
        </a>
        <a href="{{ '/blog/community-market' }}" class="news-card" [ngStyle]="{'background-image': 'url(' + infoList[2].img + ')'}">
          <span class="news-card-name">{{ infoList[2].name }}</span>
        </a>
      </div>
      <div class="news-col-right">
        <div class="news-preview">
          <div class="news-preview-header" [ngStyle]="{'background-image': 'url(' + setBackgroundImage(lastArticleInfo['coverImageUrl']) + ')'}">
            <span class="news-preview-name">{{ lastArticleInfo.name }}</span>
          </div>
          <div class="news-preview-body">
            <span class="news-preview-title">{{ lastArticleInfo.title }}</span>
            <p class="news-preview-desc">{{ lastArticleInfo.description }}</p>

            <div class="text-center">
              <a href="{{ '/blog/article/' + lastArticleInfo.slug }}" class="read-more-btn">Read more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="home-partners-block">
  <div class="repeat-title-wrapper fullwidth">
    <span class="title">Our partners</span>
  </div>
  <div class="home-partners-block-wrapper wrapper">
    <img src="{{getAbsoluteUrl('/assets/img/2/purpose-group-logo.svg')}}" alt="">
    <img src="{{getAbsoluteUrl('/assets/img/2/the-coal-face-logo.svg')}}" alt="">
    <img src="{{getAbsoluteUrl('/assets/img/2/uncommon-logo.svg')}}" alt="">
    <img src="{{getAbsoluteUrl('/assets/img/2/wework-logo.svg')}}" alt="">
    <img src="{{getAbsoluteUrl('/assets/img/2/knotel.jpg')}}" alt="">
    <img src="{{getAbsoluteUrl('/assets/img/2/salty-commune-logo.svg')}}" alt="">
    <img src="{{getAbsoluteUrl('/assets/img/2/aw-logo-transparent.png')}}" alt="">
    <img src="{{getAbsoluteUrl('/assets/img/2/fbc.jpg')}}" alt="">
    <img src="{{getAbsoluteUrl('/assets/img/2/worklife.png')}}" alt="">
    <img src="{{getAbsoluteUrl('/assets/img/2/wp-logo.png')}}" alt="">
    <img src="{{getAbsoluteUrl('/assets/img/2/the-office-group-logo.png')}}" alt="">
    <img src="{{getAbsoluteUrl('/assets/img/2/runway-east.png')}}" alt="">
  </div>
  <div class="home-partners-email">
    <p>Need help? email us at <a href="mailto:team@kikmoov.com">team@kikmoov.com</a></p>
  </div>
</section>

<app-kikmoov-footer></app-kikmoov-footer>

<ngx-smart-modal #videoFirstModal identifier="videoFirstModal" customClass="medium-modal nsm-centered">
  <div class="videoWrapper">
    <iframe width="100%" src="https://youtube.com/embed/eFTnTGlBzAQ" frameborder="0" allowfullscreen></iframe>
  </div>
</ngx-smart-modal>
