<app-navmenu></app-navmenu>

<div class="subscribe-wrap">Subscribe</div>

<div class="pws-splash-section">
  <div class="wrapper">
    <div class="pws-splash-text">
      <h1 class="heading">{{ pwsSplash.title }}</h1>
      <p class="desc">{{ pwsSplash.desc }}</p>
      <a href="#" class="button">Subscribe</a>
    </div>

    <div class="pws-play-video">
      <img src="{{getAbsoluteUrl('/assets/img/pws-page/play-button.svg')}}" alt="">
      <span>Watch video</span>
    </div>
  </div>
</div>

<div class="outer-wrapper">
  <div class="wrapper">
    <div class="repeat-title-wrapper">
      <span class="title">How it works</span>
      <span class="subtitle">Pay with Skills</span>
    </div>

    <div class="row">
      <div class="col-md-4" *ngFor="let column of howItWorksColumns">
        <div class="how-it-works-col">
          <div class="how-it-works-icon">
            <img src="{{ column.icon }}" alt="">
          </div>
          <h3 class="how-it-works-title">{{ column.title }}</h3>
          <p class="how-it-works-desc">{{ column.desc }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="outer-wrapper pws-signup-wrapper">
  <div class="repeat-title-wrapper">
    <span class="title">Get started</span>
    <span class="subtitle">Sign up to Pay with Skills for a FREE office space</span>
  </div>

  <div class="wrapper">
    <div class="pws-signup-form">
      <form>
        <span class="pws-form-label">Tell us about yourself and your skills</span>

        <input type="text" class="pws-input" placeholder="Name">
        <input type="email" class="pws-input" placeholder="Email">
        <input type="tel" class="pws-input" placeholder="Phone">

        <span class="pws-form-label">What skills can you offer? <span class="max-number">3 max</span></span>
        <div class="input-select select-skills">
          <div class="selected-options">
            <span class="selected-option">Option 1 <img src="{{getAbsoluteUrl('/assets/img/pws-page/remove-option-icon.svg')}}" class="remove-option" alt=""></span>
            <span class="selected-option">Option with long skill title <img src="{{getAbsoluteUrl('/assets/img/pws-page/remove-option-icon.svg')}}" class="remove-option" alt=""></span>
            <span class="selected-option">Option 6<img src="{{getAbsoluteUrl('/assets/img/pws-page/remove-option-icon.svg')}}" class="remove-option" alt=""></span>
          </div>
          <mat-select placeholder="Options">
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option3">Option 3</mat-option>
            <mat-option value="option4">Option 4</mat-option>
            <mat-option value="option5">Option 5</mat-option>
          </mat-select>
        </div>

        <button type="submit" class="button full-width">Submit</button>
      </form>
    </div>
  </div>
</div>

<div class="outer-wrapper">
  <div class="wrapper">
    <div class="repeat-title-wrapper">
      <span class="title">Testimonials</span>
      <span class="subtitle">Freelancers benefiting from Pay with Skills</span>
    </div>

    <div class="wrapper">
      <ngx-slick-carousel class="pws-testimonials-slider" [config]="slideConfig">
        <div ngxSlickItem class="pws-testimonials-slide" *ngFor="let testimonial of pwsTestimonial">
          <div class="testimonials-slide-wrap d-flex align-items-center">
            <div class="testimonials-author-photo">
              <img src="{{ testimonial.photo }}" alt="">
            </div>
            <div class="testimonials-author-info">
              <p class="desc">{{ testimonial.desc }}</p>

              <span class="testimonials-author-name">{{ testimonial.name }}</span>
              <span class="testimonials-author-pos">{{ testimonial.position }}</span>
            </div>
          </div>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
</div>

<div class="outer-wrapper pws-benefits-wrapper">
  <div class="wrapper">
    <div class="repeat-title-wrapper">
      <span class="title">The benefits</span>
      <span class="subtitle">Why use pay with skills</span>
    </div>

    <div class="wrapper">
      <div class="pws-benefits">
        <div class="pws-benefit d-flex" *ngFor="let benefit of pwsBenefits">
          <div class="pws-benefit-number">{{ benefit.number }}</div>
          <p class="pws-benefit-desc">{{ benefit.desc }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="outer-wrapper pws-partners-wrapper">
  <div class="wrapper">
    <div class="repeat-title-wrapper">
      <span class="title">Our Partners</span>
      <span class="subtitle">Kikmoov’s free office space partners</span>
    </div>

    <div class="wrapper">
      <div class="pws-partners d-flex align-items-center justify-content-around flex-wrap">
        <img src="{{getAbsoluteUrl('/assets/img/pws-page/logo-purpose.png')}}" alt="">
        <img src="{{getAbsoluteUrl('/assets/img/pws-page/logo-finsbury.png')}}" alt="">
        <img src="{{getAbsoluteUrl('/assets/img/pws-page/logo-aw.png')}}" alt="">
        <img src="{{getAbsoluteUrl('/assets/img/pws-page/logo-hubhub.png')}}" alt="">
      </div>
    </div>
  </div>
</div>

<!--<app-kikmoov-footer></app-kikmoov-footer>-->
