@import "../../../variables.scss";

.subscribe-wrap {
  position: fixed;
  right: -75px;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
  border-radius: 30px 30px 0 0;
  background: $blue-light;
  padding: 15px 10px;
  min-width: 200px;
  font-size: 24px;
  line-height: 26px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-align: center;
  cursor: pointer;
  z-index: 10;
  transition: all .3s ease-in-out;

  @media (max-width: $screen-sm-max) {
    padding: 8px 10px;
    min-width: 185px;
    font-size: 18px;
    line-height: 20px;
  }

  &:hover {
    background: #22acd9;
  }
}

.pws-splash-section {
  min-height: 450px;
  width: 100%;
  background: url("/assets/img/pws-page/pws-cover-photo.jpg") no-repeat 50% 100%;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 90px 0 50px;
  margin-bottom: 75px;
  position: relative;

  @media (max-width: $screen-sm-max) {
    margin-bottom: 40px;
  }

  .pws-splash-text {
    max-width: 380px;

    .heading {
      font-size: 45px;
      line-height: 48px;
      font-weight: 600;
      letter-spacing: 2.25px;
      color: #fff;
      margin-bottom: 20px;
    }

    .desc {
      font-size: 20px;
      line-height: 25px;
      font-weight: 500;
      color: #fff;
      letter-spacing: 1px;
      margin-bottom: 30px;
    }
  }
}

.pws-play-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;

  @media (max-width: $screen-md-max) {
    position: static;
    top: auto;
    left: auto;
    transform: none;
    margin-top: 20px;
  }

  span {
    display: block;
    font-size: 17px;
    font-weight: 600;
    line-height: 19px;
    color: #fff;
  }
}

.button {
  display: inline-block;
  border-radius: 30px;
  background: $blue-light;
  min-width: 170px;
  text-align: center;
  padding: 12px 10px;
  font-size: 17px;
  line-height: 19px;
  font-weight: 600;
  letter-spacing: 0.85px;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all .3s ease-in-out;

  &.full-width {
    display: block;
    width: 100%;
    min-width: initial;
  }
  
  &:hover {
    background: #22acd9;
  }
}

.how-it-works-col {
  text-align: center;
  padding: 0 30px;

  @media (max-width: $screen-sm-max) {
    padding: 0;
    margin-bottom: 30px;
  }

  .how-it-works-icon {
    height: 178px;
    margin: 0 auto 15px;
  }

  .how-it-works-title {
    font-size: 24px;
    line-height: 26px;
    font-weight: 500;
    letter-spacing: 1.2px;
    color: #000;
    margin-bottom: 15px;
  }

  .how-it-works-desc {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: .9px;
    color: #000;
  }
}

.pws-signup-wrapper {
  background: url("/assets/img/pws-page/rectangle-copy.svg") no-repeat 0 200px;
}

.pws-signup-form {
  max-width: 630px;
  margin: 0 auto;
  box-shadow: 0 8px 18px 1px rgba(0, 0, 0, 0.12);
  background: #fff;
  border-radius: 10px;
  border-bottom: 10px solid $blue-light;
  padding: 50px 135px;
  position: relative;

  @media (max-width: $screen-sm-max) {
    padding: 50px 20px;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    right: -150px;
    bottom: -100px;
    z-index: -1;
    width: 429px;
    height: 347px;
    background: url("/assets/img/pws-page/rectangle.svg") no-repeat 50% 50%;
    background-size: contain;

    @media (max-width: $screen-md-max) {
      display: none;
    }
  }

  .pws-form-label {
    display: block;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    letter-spacing: .8px;
    color: #000;
    margin-bottom: 20px;

    .max-number {
      display: inline-block;
      vertical-align: middle;
      font-size: 16px;
      line-height: 18px;
      letter-spacing: .8px;
      color: #9b9b9b;
    }
  }

  .pws-input {
    border: none;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.08);
    margin-bottom: 30px;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: .7px;
    color: #000;

    &:focus {
      box-shadow: none;
      border: none;
    }

    &::-webkit-input-placeholder {
      font-size: 14px;
      line-height: 16px;
      letter-spacing: .7px;
      color: #000;
    }

    &::-moz-placeholder {
      font-size: 14px;
      line-height: 16px;
      letter-spacing: .7px;
      color: #000;
    }

    &:-ms-input-placeholder {
      font-size: 14px;
      line-height: 16px;
      letter-spacing: .7px;
      color: #000;
    }

    &:-moz-placeholder {
      font-size: 14px;
      line-height: 16px;
      letter-spacing: .7px;
      color: #000;
    }
  }
}

.select-skills {
  margin-bottom: 30px;

  .selected-options {
    .selected-option {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 10px;
      margin-right: 10px;
      font-size: 14px;
      line-height: 16px;
      color: #000;
      letter-spacing: .7px;

      .remove-option {
        display: inline-block;
        vertical-align: middle;
        width: 10px;
        cursor: pointer;
        position: relative;
        top: -1px;
        margin-left: 5px;
      }
    }
  }
}

.pws-benefits-wrapper {
  background: url("/assets/img/pws-page/benefits-image.png") no-repeat 100% 100px;

  @media (max-width: 1250px) {
    background: none;
  }
}

.pws-benefits {
  max-width: 500px;

  @media (max-width: 1250px) {
    margin: 0 auto;
  }

  .pws-benefit {
    margin-bottom: 60px;

    @media (max-width: $screen-sm-max) {
      margin-bottom: 30px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .pws-benefit-number {
      width: 60px;
      height: 60px;
      font-size: 32px;
      line-height: 60px;
      text-align: center;
      border-radius: 50%;
      color: $orange;
      margin-right: 40px;
      background-color: rgba(255, 155, 119, 0.2);

      @media (max-width: $screen-sm-max) {
        width: 40px;
        height: 40px;
        line-height: 40px;
        margin-right: 20px;
      }
    }

    .pws-benefit-desc {
      flex: 1;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 1.2px;
      color: #000;

      @media (max-width: $screen-sm-max) {
        font-size: 18px;
      }
    }
  }
}

.pws-partners-wrapper {
  background: #ebf1f5;

  .pws-partners {
    img {
      margin: 0 15px 30px;
    }
  }
}
