<app-menu-market></app-menu-market>
<div class="wrapper">
  <div class="community-market-row row">
    <div class="col-md-5">
      <h2 class="main-title">Tech City</h2>
      <p class="main-txt">Where innovation happens and where creators come to life.</p>
      <p class="main-txt">The main areas that compose ‘Tech City’ are <span class="medium-weight">Shoreditch</span> and <span class="medium-weight">Old street.</span> </p>
    </div>
    <div class="col-md-7">
      <div class="img-wrap">
        <img src="{{getAbsoluteUrl('/assets/img/community-maps/map-tech-city.png')}}" alt="">
        <span class="cite">London, UK</span>
      </div>
    </div>
  </div>
  <p class="main-txt">Tech city is a technology district in East London occupying area’s like Shoreditch and Old Street. The area is also known as ‘Silicon roundabout’ and is home to a diverse and concentrated cluster of technology firms, ranging from innovative start-ups to outposts of some of the world’s leading and most firmly established companies. Leading companies like stripe.com and techhub.com are situated in Tech city. </p>
  <h3 class="sub-title">Transport Links</h3>
  <p class="main-txt">The transport links from the ‘tech city’ are convenient. Nearby stations include Liverpool Street Station, Old Street and Shoreditch High Street. The area is also due to benefit significantly from the London crossrail.com launch in 2018.</p>

  <div class="community-list-wrapper">
    <p class="main-txt">Journey times from Old Street Sation by London Underground:</p>
    <ul class="community-list">
      <li><span class="medium-weight">Oxford Street</span> – 15 minutes</li>
      <li><span class="medium-weight">Bank</span> – 5 minutes</li>
      <li><span class="medium-weight">Kings Cross</span> – 10 minutes</li>
      <li><span class="medium-weight">Heathrow</span> – 75 minutes (1 Change)</li>
    </ul>
  </div>

  <h3 class="sub-title">Are you Looking for office space or workspace in Old street, Shoreditch or Clerkenwell?</h3>

  <div class="table-community-wrapper">
    <div class="table-community">
      <table>
        <thead>
        <tr>
          <th style="width: 58%">Co-working and services office spaces</th>
          <th style="width: 14%">Affordable</th>
          <th style="width: 14%">A step up</th>
          <th style="width: 14%">High-end</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td>EC1: Clerkenwell/OldStreet</td>
          <td>£200 - £450</td>
          <td>£450 - £600</td>
          <td>£600 - £850</td>
        </tr>
        <tr>
          <td>EC2/E1: Shoreditch</td>
          <td>£250 - £450</td>
          <td>£500 - £600</td>
          <td>£600 - £750</td>
        </tr>
        <tr>
          <td>E2: Bethnal Green</td>
          <td>£200 - £300</td>
          <td>£300 - £400</td>
          <td>£400 - £500</td>
        </tr>
        <tr>
          <td>E8: Haggerston/Dalston/Hackney</td>
          <td>£200 - £300</td>
          <td>£300 - £400</td>
          <td>£400 - £500</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="text-right">
      <span class="table-community-hint">Prices: per desk/per month</span>
    </div>
  </div>


  <div class="table-community-wrapper">
    <div class="table-community">
      <table>
        <thead>
        <tr>
          <th style="width: 58%">Leased office space</th>
          <th style="width: 14%">Affordable</th>
          <th style="width: 14%">A step up</th>
          <th style="width: 14%">High-end</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td>EC1: Clerkenwell/OldStreet</td>
          <td>£35 - £45</td>
          <td>£45 - £60</td>
          <td>£60 - £72.50</td>
        </tr>
        <tr>
          <td>EC2/E1: Shoreditch</td>
          <td>£40 - £45</td>
          <td>£45 - £60</td>
          <td>£60 - £70</td>
        </tr>
        <tr>
          <td>E2: Bethnal Green</td>
          <td>£25 - £30</td>
          <td>£30 - £35</td>
          <td>£35 - £49.50</td>
        </tr>
        <tr>
          <td>E8: Haggerston/Dalston/Hackney</td>
          <td>£20 - £25</td>
          <td>£25 - £30</td>
          <td>£30 - £42.50</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="text-right">
      <span class="table-community-hint">Prices: per square foot</span>
    </div>
  </div>
</div>
