@import "../../../../variables.scss";

.nav-bar-frame {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 50px;
  background: #fff;
  z-index: 100;

  @media (max-width: $screen-lg-max) {
    padding: 10px 15px;
  }

  &.nav-scrolled,
  &.filled {
    box-shadow: 0 -5px 20px 1px #000;
    z-index: 1000;
  }
}

.logo {
  a {
    display: block;

    .nav-bar-logo {
      width: 165px;

      @media (max-width: $screen-lg-max) {
        width: 130px;
      }
    }
  }
}

.main-nav {
  &.show-mobile-menu {
    display: block;
  }

  .nav-bar-dropdown {
    z-index: 999;
    position: absolute;
    top: calc(100% + 1px);
    right: -50px;
    background-color: $blue;
    padding: 0 3px;
    width: calc(100% + 23px);
    min-width: 160px;
    max-width: 220px;
    opacity: 0;
    visibility: hidden;
    @include transition(.3s);

    @media (max-width: $screen-xs-max) {
      opacity: 1;
      visibility: visible;
      position: static;
      top: auto;
      right: auto;
      width: 100%;
      padding: 0;
      margin-top: 10px;
    }

    .dropdown-link {
      display: block;
      padding: 10px;
      font-size: 14px;
      color: #fff;
      text-decoration: none;
      border-bottom: 2px solid #626877;
      cursor: pointer;
      @include transition(.2s);

      &:hover {
        color: $orange;
      }

      &:last-child {
        border: none;
      }
    }
  }

  @media (max-width: $screen-xs-max) {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 225px;
    height: 100vh;
    z-index: 100;
    background: $blue;
    padding: 80px 15px;
    text-align: center;
    transition: all 0.3s ease-in-out;
  }

  .nav-bar-lnk {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    color: #4a4a4a;
    cursor: pointer;
    margin: 0;
    letter-spacing: .7px;
    padding: 0 25px;
    transition: all 0.3s linear;

    &.new-bar-lnk {
      position: relative;

      &:after {
        content: 'New';
        display: block;
        position: absolute;
        top: -5px;
        right: -6px;
        padding: 0 2px;
        background: $orange;
        border-radius: 4px;
        color: #fff;
        text-transform: uppercase;
        font-size: 10px;
        line-height: 13px;

        @media (max-width: $screen-md-max) {
          top: -10px;
          right: -15px;
        }

        @media (max-width: $screen-sm-max) {
          right: -10px;
        }
      }
    }

    @media (max-width: $screen-md-max) {
      margin: 0 7px;
      padding: 0;
    }

    @media (max-width: $screen-sm-max) {
      margin: 5px 5px 0;
      font-size: 12px;
    }

    @media (max-width: $screen-xs-max) {
      display: block;
      margin: 0 0 30px 0;
      font-size: 18px;
      color: #fff;
    }

    &:hover {
      color: $orange !important;
      text-decoration: none;
    }

    &.active {
      color: $orange !important;
      text-decoration: none;

      .nav-bar-dropdown {
        opacity: 1;
        visibility: visible;
      }
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    .fa {
      display: inline-block;
      vertical-align: middle;
      font-size: 20px;
      margin-right: 10px;
      margin-top: -2px;
    }
  }
}

.toggle-menu-button {
  display: none;
  width: 44px;
  height: 44px;
  position: relative;
  margin-right: -7px;
  z-index: 100;

  @media (max-width: $screen-xs-max) {
    display: block;
  }

  &.active {
    span {
      background-color: #fff;
      &.line1 {
        transform: rotate(45deg);
        top: 21px;
      }

      &.line2 {
        transform: translateX(-20px);
        opacity: 0;
      }

      &.line3 {
        transform: rotate(-45deg);
        bottom: 21px;
      }
    }
  }

  span {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #48526a;
    position: absolute;
    left: 50%;
    margin-left: -15px;
    transition: all 0.3s linear;

    &.line1 {
      top: 12px;
    }

    &.line2 {
      top: 21px;
    }

    &.line3 {
      bottom: 12px;
    }
  }
}
