<div class="nav-bar-frame d-flex justify-content-between align-items-center" [ngClass]="{ 'nav-scrolled': scrollable && scrolled, 'filled': filled }" [ngStyle]="{position: scrollable ? 'fixed' : 'relative'}">
    <div class="logo">
        <a [routerLink]="'/'">
            <img src="{{getAbsoluteUrl('/assets/img/kikmoov-logo.svg')}}" class="nav-bar-logo">
        </a>
    </div>
    <div class="main-nav" [ngClass]="{'show-mobile-menu': showMenu}">
        <a routerLinkActive="active" class="nav-bar-lnk" [routerLink]="'/findaspace'">Find a Space</a>
        <a routerLinkActive="active" class="nav-bar-lnk" [routerLink]="'/blog'">Co-community</a>
        <a routerLinkActive="active" class="nav-bar-lnk" [routerLink]="'/postspace'">Post a Space</a>
        <!--<a routerLinkActive="active" class="nav-bar-lnk" [routerLink]="'/how-it-works'">How it Works</a>-->
        <a routerLinkActive="active" class="nav-bar-lnk new-bar-lnk" target="_blank" href="http://kikmoov.space">Pay with Skills</a>
        <a *ngIf="isLoggedIn && accountType === 'buyer'; else logInBlk" class="nav-bar-lnk" appClickoutside [ngClass]="{'active': showDropdown}">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
            {{ userDetails && userDetails.firstname ? userDetails.firstname : '' }}
            {{ userDetails && userDetails.lastname ?  userDetails.lastname : '' }}

            <div class="nav-bar-dropdown">
                <a routerLinkActive="active" class="dropdown-link" [routerLink]="'/profile/saved-workspaces'">Saved workspaces</a>
                <a routerLinkActive="active" class="dropdown-link" [routerLink]="'/profile'">Profile</a>
                <a routerLinkActive="active" class="dropdown-link" [routerLink]="'/profile/bookings'">Bookings</a>
                <a routerLinkActive="active" class="dropdown-link" (click)="signOutModal()">Sign out</a>
            </div>
        </a>
        <ng-template #logInBlk>
            <a *ngIf="!isLoggedIn; else logOutBlk" class="nav-bar-lnk" (click)="showLoginDlg()">Sign up/Login</a>
            <ng-template #logOutBlk>
                <a class="nav-bar-lnk" (click)="signOutModal()">Sign out</a>
            </ng-template>
        </ng-template>
    </div>

    <!-- Mobile toggle button start -->
    <div class="toggle-menu-button" (click)="showMenu = !showMenu" [ngClass]="{'active': showMenu}">
        <span class="line1"></span>
        <span class="line2"></span>
        <span class="line3"></span>
    </div>
    <!-- Mobile toggle button end -->
</div>

<!-- Modal signIn/signUp -->
<ngx-smart-modal #authModal identifier="authModal" [closable]="false" [customClass]="'auth-modal-wrapper modal-frame nsm-dialog-animation-fade nsm-centered'">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div *ngIf="authModal.showDlg === 'login'">
                <app-logindialog [modal]="true" (action)="signinHadler($event)" [linkedInCode]="linkedInCode"></app-logindialog>
            </div>
            <div *ngIf="authModal.showDlg === 'signup'">
                <app-signup (action)="signinHadler($event)"></app-signup>
            </div>
            <div *ngIf="authModal.showDlg === 'recover'">
                <app-forgot-password (action)="signinHadler($event)"></app-forgot-password>
            </div>
        </div>
    </div>
</ngx-smart-modal>

<!-- Modal Sign out -->
<ngx-smart-modal
        #confirmModal
        identifier="confirmModal"
        [closable]="false"
        [customClass]="
    'confirm-modal modal-frame nsm-dialog-animation-fade nsm-centered'
  "
>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!--<span class="close-modal" (click)="confirmModal.close()">
              <img src="/assets/img/close-modal-button.svg" alt="">
            </span>-->
            <div class="logo-wrap text-center">
                <img src="{{getAbsoluteUrl('/assets/img/kikmoov-logo-sm.svg')}}" alt="" />
            </div>

            <p>Are you sure you want to sign out?</p>

            <button (click)="tryToLogut()" class="btn-site blue_c">Sign out</button>
            <button (click)="signOutModalClose()" class="btn-site grey_c">Cancel</button>
        </div>
    </div>
</ngx-smart-modal>
