<div class="row-facilities d-flex flex-wrap">
  <div class="facilities-col" *ngFor="let facility of facilitiesList; let i = index">
    <input type="checkbox" id="check_{{ i }}" (change)="onFacilitiesChange($event.target.value, i)" [value]="facility.slug">
    <label for="check_{{ i }}" class="d-flex flex-column justify-content-between">
      <span class="facility-img">
        <img [src]="facility.webIcon" alt="">
      </span>
      <!--<img src="/assets/img/instagram.svg" alt="">-->
      <span>{{ facility.name }}</span>
    </label>
  </div>
</div>
