@import "../../../../variables.scss";

.row-facilities {
  margin-left: -4px;
  margin-right: -4px;

  .facilities-col {
    @media (max-width: $screen-xs-max) {
      width: calc(33.33% - 8px);
      margin: 4px;
    }

    input[type='checkbox'] {
      display: none;

      &:checked {
        + label {
          border-color: #3d8fc6;
          color: #3d8fc6;
        }
      }
    }

    label {
      width: 90px;
      height: 90px;
      border-radius: 4px;
      border: 1px solid #cacaca;
      margin: 4px;
      padding: 15px 5px 5px 5px;
      text-align: center;
      font-size: 11px;
      line-height: 13px;
      cursor: pointer;
      color: #4a4a4a;
      @include transition(.2s);

      @media (max-width: $screen-xs-max) {
        margin: 0;
        width: 100%;
      }

      &:before, &:after {
        display: none;
      }

      .facility-img {
        display: block;
        height: 35px;
        width: 35px;
        margin: 0 auto;
        position: relative;

        img {
          @include center(both);
          max-height: 100%;
          max-width: 100%;
        }
      }
    }
  }
}
