@import "../../../../variables.scss";

.footer-top {
  padding: 50px 0 25px 0;
  background-color: #2f374b;
}

.footer-bottom {
  background-color: #252d43;
  padding: 13px 15px;

  .copyright-text {
    display: block;
    font-size: 10px;
    font-weight: 500;
    color: #fff;
  }
}

.footer-col {
  width: 19%;
  padding: 0 15px;

  &:nth-child(1) {
    width: 18%;
  }

  &:nth-child(2) {
    width: 17%;
  }

  &:nth-child(3) {
    width: 22%;
  }

  &:nth-child(5) {
    width: 23%;
  }

  @media (max-width: $screen-md-max) {
    width: 50% !important;
  }

  @media (max-width: $screen-sm-max) {
    width: 100% !important;
    margin-bottom: 30px;
  }
}

.footer-title {
  margin: 0 0 15px 0;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
}

.footer-block {
  padding-left: 10px;
  border-left: 1px solid #626877;

  &.social-block {
    margin-bottom: 30px;
  }
}

.footer-list {
  li {
    margin-bottom: 10px;

    a {
      display: inline-block;
      font-size: 10px;
      font-weight: 300;
      color: #fff;
      @include transition(.2s);

      &:hover {
        color: $orange;
        text-decoration: none;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.footer-social {
  display: inline-block;
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }
}

.link-app {
  display: inline-block;
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }

  img {
    width: 100px;
  }
}
