<footer class="main-footer">
    <div class="footer-top">
        <div class="wrapper">
            <div class="row flex-wrap">
                <div class="footer-col">
                    <h3 class="footer-title">Who we are</h3>
                    <div class="footer-block">
                        <ul class="footer-list">
                            <li><a routerLink="/contact">About</a></li>
                            <li><a routerLink="/contact" fragment="contact">Contact</a></li>
                            <li><a routerLink="/how-it-works" fragment="faq" (click)="scrollToTop('faq')">FAQ</a></li>
                            <li><a routerLink="/contact" fragment="support">Help & Support</a></li>
                            <li><a routerLink="/" fragment="testimonials" (click)="scrollToTop('testimonials')">Testimonials</a></li>
                            <li><a routerLink="/terms">Terms & Conditions</a></li>
                            <li><a routerLink="/terms" fragment="privacy">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-col">
                    <h3 class="footer-title">Services</h3>
                    <div class="footer-block">
                        <ul class="footer-list">
                            <li><a target="_blank" href="http://kikmoov.space">Pay with Skills</a></li>
                            <li><a routerLink="/how-it-works">How it Works</a></li>
                            <li><a routerLink="/postspace">Post a Space</a></li>
                            <li><a routerLink="/findaspace">Find a Space</a></li>
                            <li><a routerLink="/blog">Co-community</a></li>
                            <li><a routerLink="/how-it-works" fragment="leasehold_office">Leasehold office</a></li>
                            <li *ngIf="!userService.isLoggedin()"><a class="clickable" (click)="login()">Sign in</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-col">
                    <h3 class="footer-title">Find office space</h3>
                    <div class="footer-block">
                        <ul class="footer-list">
                            <li><a routerLink="/findaspace" [queryParams]="{duration: 'monthly', borough: 'City'}">Office space in The City</a></li>
                            <li><a routerLink="/findaspace" [queryParams]="{duration: 'monthly', area: 'King\'s Cross'}">Office space in Kings Cross</a></li>
                            <li><a routerLink="/findaspace" [queryParams]="{duration: 'monthly', area: 'Clerkenwell'}">Office space in Clerkenwell</a></li>
                            <li><a routerLink="/findaspace" [queryParams]="{duration: 'monthly', area: 'London Bridge'}">Office space in London Bridge</a></li>
                            <li><a routerLink="/findaspace" [queryParams]="{duration: 'monthly', area: 'Bermondsey'}">Office space in Bermondsey</a></li>
                            <li><a routerLink="/findaspace" [queryParams]="{duration: 'monthly', area: 'Mayfair'}">Office space in Mayfair</a></li>
                            <li><a routerLink="/findaspace" [queryParams]="{duration: 'monthly', area: 'Old Street'}">Office space in Old Street</a></li>
                            <li><a routerLink="/findaspace" [queryParams]="{duration: 'monthly', area: 'Shoreditch'}">Office space in Shoreditch</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-col">
                  <h3 class="footer-title">Find workspaces</h3>
                  <div class="footer-block">
                    <ul class="footer-list">
                      <li><a routerLink="/findaspace" [queryParams]="{duration: 'monthly', type: 'private-office'}">Private Offices</a></li>
                      <li><a routerLink="/findaspace" [queryParams]="{duration: 'monthly', type: 'desk'}">Coworking</a></li>
                      <li><a routerLink="/findaspace" [queryParams]="{duration: 'monthly', type: 'private-office'}">Serviced Offices</a></li>
                      <li><a routerLink="/findaspace" [queryParams]="{duration: 'monthly', type: 'desk'}">Shared Office Space</a></li>
                      <li><a routerLink="/findaspace" [queryParams]="{duration: 'monthly', type: 'desk'}">Desk Space</a></li>
                      <li><a routerLink="/findaspace" [queryParams]="{duration: 'monthly', type: 'desk'}">Dedicated Desk</a></li>
                      <li><a routerLink="/findaspace" [queryParams]="{duration: 'monthly', type: 'desk'}">Flexible Desk</a></li>
                      <li><a routerLink="/findaspace" [queryParams]="{duration: 'hourly', type: 'meeting-room'}">Meeting Room</a></li>
                      <li><a routerLink="/findaspace" [queryParams]="{duration: 'hourly', type: 'meeting-room'}">Board Room</a></li>
                      <li><a routerLink="/findaspace" [queryParams]="{duration: 'hourly', type: 'meeting-room'}">Conference Room</a></li>
                    </ul>
                  </div>
                </div>
                <div class="footer-col">
                    <h3 class="footer-title">Social media</h3>
                    <div class="footer-block social-block">
                        <a href="https://www.instagram.com/kikmoov/" class="footer-social" target="_blank">
                            <img src="{{getAbsoluteUrl('/assets/img/instagram-icon.svg')}}" alt="">
                        </a>
                        <a href="https://www.facebook.com/kikmoov/" class="footer-social" target="_blank">
                            <img src="{{getAbsoluteUrl('/assets/img/fb-icon.svg')}}" alt="">
                        </a>
                        <a href="https://www.linkedin.com/company/kikmoov/about/" class="footer-social" target="_blank">
                            <img src="{{getAbsoluteUrl('/assets/img/in-icon.svg')}}" alt="">
                        </a>
                        <a href="https://twitter.com/kikmoov" class="footer-social" target="_blank">
                            <img src="{{getAbsoluteUrl('/assets/img/twitter-icon.svg')}}" alt="">
                        </a>
                        <a href="https://www.youtube.com/channel/UC3wjZFPGFGmoSTDhoTZrDcA" class="footer-social" target="_blank">
                            <img src="{{getAbsoluteUrl('/assets/img/youtube-icon.svg')}}" alt="">
                        </a>
                    </div>

                    <h3 class="footer-title">Download the app</h3>
                    <div class="footer-block">
                        <a href="https://play.google.com/store/apps/details?id=com.kikmoovltd.kikmoov" target="_blank" class="link-app">
                            <img src="{{getAbsoluteUrl('/assets/img/google-play.svg')}}" alt="">
                        </a>
                        <a href="https://apps.apple.com/us/app/kikmoov/id1446888750" target="_blank" class="link-app">
                            <img src="{{getAbsoluteUrl('/assets/img/app-store.svg')}}" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom text-center">
        <span class="copyright-text">Kikmoov ltd © copyright {{ year }} </span>
    </div>
</footer>
