@import "../../../variables.scss";

.signup-modal-wnd {
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  padding: 30px 20px 40px 20px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  font-family: 'Montserrat', sans-serif;

  @media (max-width: $screen-xs-max) {
    padding: 30px;
  }
}

.logo-wrap {
  margin-bottom: 40px;
}

.signup-frame {
  padding: 0 61px;

  @media (max-width: $screen-xs-max) {
    padding: 0;
  }

  .input-class {
    margin-bottom: 20px;
    input {
      margin-bottom: 0;
    }
  }
}

.signup-line {
  width: 100%;
  position: relative;
  text-align: center;
  margin: 30px 0;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #cacaca;
    z-index: 1;
  }

  span {
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
    color: #cacaca;
    padding: 0 15px;
    background-color: #fff;
    position: relative;
    z-index: 2;
  }
}

.signup-social {
  padding: 0 61px;

  @media (max-width: $screen-xs-max) {
    padding: 0;
  }

  .signup-social-link {
    display: block;
    margin-bottom: 16px;
    border-radius: 30px;
    padding: 10px 15px;
    color: inherit;
    @include transition(.2s);

    &:hover {
      text-decoration: none;
      border-color: #4a4a4a !important;
    }

    &.google {
      border: 1px solid #dc4e41;

      .icon-wrap {
        color: #dc4e41;
      }

      .social-text {
        color: #dc4e41;
      }
    }

    &.facebook {
      border: 1px solid #3b5998;

      .icon-wrap {
        color: #3b5998;
      }

      .social-text {
        color: #3b5998;
      }
    }

    &.linkedin {
      border: 1px solid #007ab9;

      .icon-wrap {
        color: #007ab9;
      }

      .social-text {
        color: #007ab9;
      }
    }

    .icon-wrap {
      display: inline-block;
      margin-right: 15px;
      width: 30px;
      font-size: 20px;
      line-height: 20px;
      text-align: center;
      position: relative;
      top: 1px;
    }

    .social-text {
      font-size: 14px;
      line-height: 16px;
    }
  }
}

.signup-success-msg {
  color: #9a9a9a;
}

.signup-back-btn {
  color: #9b9b9b !important;
  position: relative;
  left: 360px;
  top: -25px;
  font-family: Montserrat;
  font-size: 14px;
  text-decoration: underline;
}
