<mat-card class="signup-modal-wnd">
  <a class="close-modal" (click)="action.emit('close')">
    <img src="/assets/img/close-modal-button.svg" alt="">
  </a>
  <div *ngIf="!success; else successBlk">
    <div class="signup-frame">
      <div class="logo-wrap text-center">
        <img src="/assets/img/kikmoov-logo-sm.svg" alt="">
      </div>
      <form (ngSubmit)="onDoLogin()" [formGroup]="signupFormGroup" method="POST">
        <div class="input-class input-class-border-bottom">
          <input matInput placeholder="First Name" formControlName="firstname">
          <mat-error
            *ngIf="
                signupFormGroup.get('firstname').invalid &&
                (signupFormGroup.get('firstname').dirty ||
                  signupFormGroup.get('firstname').touched)
              ">
            <div
              *ngIf="
                  signupFormGroup.get('firstname').errors['required']
                "
            >
              This field is required.
            </div>
          </mat-error>
        </div>
        <div class="input-class input-class-border-bottom">
          <input matInput placeholder="Last Name" formControlName="lastname">
          <mat-error
            *ngIf="
                signupFormGroup.get('lastname').invalid &&
                (signupFormGroup.get('lastname').dirty ||
                  signupFormGroup.get('lastname').touched)
              "
          >
            <div
              *ngIf="
                  signupFormGroup.get('lastname').errors['required']
                "
            >
              This field is required.
            </div>
          </mat-error>
        </div>
        <div class="input-class input-class-border-bottom">
          <input matInput placeholder="Email" formControlName="email">
          <mat-error
            *ngIf="
                signupFormGroup.get('email').invalid &&
                (signupFormGroup.get('email').dirty ||
                  signupFormGroup.get('email').touched)
              "
          >
            <div
              *ngIf="
                  signupFormGroup.get('email').errors['required']
                "
            >
              This field is required.
            </div>
            <div
              *ngIf="
                  signupFormGroup.get('email').errors['email']
                "
            >
              Incorrect E-mail.
            </div>
          </mat-error>
        </div>
        <div class="input-class input-class-border-bottom">
          <input matInput placeholder="Password" type="password" formControlName="password">
          <mat-error
            *ngIf="
                signupFormGroup.get('password').invalid &&
                (signupFormGroup.get('password').dirty ||
                  signupFormGroup.get('password').touched)
              "
          >
            <div
              *ngIf="
                  signupFormGroup.get('password').errors['required']
                "
            >
              This field is required.
            </div>
            <div
              *ngIf="signupFormGroup.get('password').errors['minlength']">
              Password should have 8 characters or more
            </div>
          </mat-error>
        </div>
        <div class="input-class input-class-border-bottom">
          <input matInput placeholder="Re-Enter Password" type="password" formControlName="passwordCnfrm">
          <mat-error
            *ngIf="
                signupFormGroup.get('passwordCnfrm').invalid &&
                (signupFormGroup.get('passwordCnfrm').dirty ||
                  signupFormGroup.get('passwordCnfrm').touched)
              "
          >
            <div
              *ngIf="
                  signupFormGroup.get('passwordCnfrm').errors['required']
                "
            >
              This field is required.
            </div>
          </mat-error>
        </div>
        <div *ngIf="errMsg != ''" class="error-msg">
          {{errMsg}}
        </div>
        <button mat-flat-button class="btn-site blue_c w100">Create account</button>
      </form>
    </div>

    <div class="signup-line">
      <span>or</span>
    </div>

    <div class="signup-social">
      <a href="#" role="button" (click)="socialSignIn($event, 'google')" class="signup-social-link google">
                <span class="icon-wrap">
          <i class="fa fa-google-plus"></i>
        </span>
        <span class="social-text">Sign in with google</span>
      </a>

      <a href="#" role="button" (click)="socialSignIn($event, 'facebook')" class="signup-social-link facebook">
                <span class="icon-wrap">
          <i class="fa fa-facebook"></i>
        </span>
        <span class="social-text">Sign in with facebook</span>
      </a>

      <a [href]="oauthService.getLinkedInAuthLink()" class="signup-social-link linkedin">
                <span class="icon-wrap">
          <i class="fa fa-linkedin"></i>
        </span>
        <span class="social-text">Sign in with linkedin</span>
      </a>

    </div>
  </div>
  <ng-template #successBlk>
    <div class="signup-success-msg">
      <div class="logo-wrap text-center">
        <img src="/assets/img/kikmoov-logo-sm.svg" alt="">
      </div>
      User was successfully registered, please confirm your account via email
    </div>
  </ng-template>
</mat-card>
