@import "../blog-list/blog-list.component.scss";

.community-links-wrapper {
  max-width: 930px;
  margin: 0 auto;
  padding: 25px 15px 35px 15px;

  @media (max-width: $screen-md-max) {
    white-space: nowrap;
    overflow: auto;
    padding: 15px 15px 20px 15px;
  }
}

.market-link {
  display: block;
  margin: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #9b9b9b;
  padding: 12px 7px;
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  white-space: nowrap;
  border: 1px solid transparent;
  cursor: pointer;
  @include transition(.2s);

  @media (max-width: $screen-lg-max) {
    font-size: 15px;
    padding: 8px 5px;
  }

  @media (max-width: $screen-md-max) {
    display: inline-block;
    vertical-align: middle;
  }

  &.active,
  &:hover {
    color: $orange;
    border-color: $orange;
    box-shadow: none;
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

::ng-deep .community-market-row {
  margin-bottom: 40px;
}

::ng-deep .community-market-wrapper {
  padding-bottom: 50px;

  .wrapper {
    max-width: 930px;
  }

  .main-title {
    display: block;
    margin: 30px 0;
    font-size: 26px;
    font-weight: 500;
    color: #000;
  }

  .main-txt {
    font-size: 14px;
    line-height: 19px;
    color: #000;
    margin: 0 0 20px 0;
  }

  .medium-weight {
    font-weight: 500;
  }

  .sub-title {
    display: block;
    margin: 40px 0 20px 0;
    font-size: 18px;
    font-weight: 500;
    color: #000;
  }

  .img-wrap {
    position: relative;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
    background-color: #fff;

    @media (max-width: $screen-sm-max) {
      padding: 10px;
    }

    img {
      width: 100%;
    }

    .cite {
      position: absolute;
      bottom: 30px;
      right: 30px;
      font-size: 20px;
      font-weight: 500;
      color: #9b9b9b;

      @media (max-width: $screen-sm-max) {
        bottom: 5px;
        right: 5px;
      }
    }
  }

  .community-list-wrapper {
    margin-bottom: 20px;

    .main-txt {
      margin: 0 0 10px 0;
    }
  }

  .community-list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      position: relative;
      padding-left: 30px;
      font-size: 14px;
      line-height: 19px;
      color: #000;

      &:before {
        content: '';
        display: block;
        width: 3px;
        height: 3px;
        background-color: #000;
        border-radius: 50%;
        position: absolute;
        top: 9px;
        left: 0;
      }
    }
  }
}

::ng-deep .table-community-wrapper {
  margin-bottom: 40px;

  .table-community-hint {
    display: block;
    font-size: 14px;
    color: #9b9b9b;
  }

  .table-community {
    overflow: auto;
    margin-bottom: 15px;

    table {
      @media (max-width: $screen-md-max) {
        width: 1000px;
      }

      tr {
        border-bottom: 1px solid #cacaca;
      }

      thead {
        background-color: #f8f8f8;

        th {
          padding: 12px 10px;
          font-size: 18px;
          font-weight: 500;
          color: $orange;

          &:first-child {
            color: #000;
          }
        }
      }

      tbody {
        td {
          padding: 8px 10px;
          font-size: 14px;
          color: #000;

          &:first-child {
            font-weight: 500;
          }
        }
      }
    }
  }
}
