<app-menu-market></app-menu-market>
<div class="wrapper">
  <div class="community-market-row row">
    <div class="col-md-5">
      <h2 class="main-title">East London</h2>
      <p class="main-txt">Gentrified London with growth and opportunity.</p>
    </div>
    <div class="col-md-7">
      <div class="img-wrap">
        <img src="{{getAbsoluteUrl('/assets/img/community-maps/map-east-london.png')}}" alt="">
        <span class="cite">London, UK</span>
      </div>
    </div>
  </div>
  <p class="main-txt">Canary wharf is known to be ‘the modern’ financial district of London, glittered with new skyscrapers like the infamous one Canada square.  Casual cafes bustle during the day and post work crowds meet and socialise in its fashionable pubs and bars.</p>
  <p class="main-txt">Stratford, in the last few years have easily become one of the most gentrified areas of London. Stratford is famous for the 2012 Olympic park and its famous, world renowned stadium now occupied by West Ham United Football Club.</p>
  <h3 class="sub-title">Transport Links</h3>
  <p class="main-txt">Local stations include <span class="medium-weight">Stratford</span> and <span class="medium-weight">Hackney Wick.</span></p>
  <div class="community-list-wrapper">
    <p class="main-txt"> Journey Times from <span class="medium-weight">Stratford Station</span> by Tube</p>
    <ul class="community-list">
      <li><span class="medium-weight">Liverpool Street</span> – 10 minutes</li>
      <li><span class="medium-weight">Bond Street</span> – 22 minutes</li>
      <li><span class="medium-weight">London Bridge</span> – 20 minutes</li>
      <li><span class="medium-weight">City Airport</span> – 25 minutes</li>
    </ul>
  </div>

  <h3 class="sub-title">Are you Looking for office space or workspace in Hackney or Stratford?</h3>

  <div class="table-community-wrapper">
    <div class="table-community">
      <table>
        <thead>
        <tr>
          <th style="width: 58%">Co-working and services office spaces</th>
          <th style="width: 14%">Affordable</th>
          <th style="width: 14%">A step up</th>
          <th style="width: 14%">High-end</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td>E14: Canary Wharf</td>
          <td>£400 - £500</td>
          <td>£500 - £750</td>
          <td>£750 - £1100</td>
        </tr>
        <tr>
          <td>E20: Stratford</td>
          <td>£400 - £450</td>
          <td>£450 - £500</td>
          <td>£500 - £550</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="text-right">
      <span class="table-community-hint">Prices: per desk/per month</span>
    </div>
  </div>


  <div class="table-community-wrapper">
    <div class="table-community">
      <table>
        <thead>
        <tr>
          <th style="width: 58%">Leased office space</th>
          <th style="width: 14%">Affordable</th>
          <th style="width: 14%">A step up</th>
          <th style="width: 14%">High-end</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td>E14: Canary Wharf</td>
          <td>£20 - £30</td>
          <td>£30 - £40</td>
          <td>£40 - £57.50</td>
        </tr>
        <tr>
          <td>E20: Stratford</td>
          <td>£22.50 - £30</td>
          <td>£30 - £35</td>
          <td>£35 - £40</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="text-right">
      <span class="table-community-hint">Prices: per square foot</span>
    </div>
  </div>
</div>
