<app-navmenu [filled]="true"></app-navmenu>

<div class="personal-details-wrapper reset-pass-wrapper">
  <form [formGroup]="passwordForm" (ngSubmit)="changePassword(passwordForm)" class="personal-details-container">
    <div class="row personal-row">
      <div class="col-12">
        <span class="personal-title">Reset password</span>
      </div>
    </div>

    <div class="row personal-row current-pass-row">
      <div class="col-md-6">
        <div class="input-class">
          <input type="password" formControlName="oldPassword" placeholder="Current password">
        </div>
      </div>
    </div>
    <div class="row personal-row">
      <div class="col-md-6">
        <div class="input-class">
          <input type="password" formControlName="newPassword" placeholder="New password">
        </div>
      </div>
    </div>
    <div class="row personal-row repeat-pass-row">
      <div class="col-md-6">
        <div class="input-class">
          <input type="password" formControlName="repeatNewPassword" placeholder="Repeat password">
        </div>
        <mat-error *ngIf="
          passwordForm.get('repeatNewPassword').invalid &&
          (passwordForm.get('repeatNewPassword').dirty ||
            passwordForm.get('repeatNewPassword').touched)">
          <div
            *ngIf="passwordForm.get('repeatNewPassword').errors['not_match']">
            {{ passwordForm.get('repeatNewPassword').errors['not_match'] }}
          </div>
        </mat-error>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-between align-items-center w-100 flex-wrap">
          <span class="personal-bottom-link" [routerLink]="'/profile'">Cancel</span>
          <button [disabled]="passwordForm.pristine" class="btn-site grey_c">Save</button>
        </div>
      </div>
    </div>
  </form>
</div>
