<form class="heading-select-wrapper" autocomplete="off" (ngSubmit)="applySearch()">
  <!-- Design screenshot http://joxi.ru/VrwyJ8LIOEBP52 -->
  <!-- Design Zeplin https://zpl.io/aX4DGLl -->
  <div class="home-search-wrapper d-flex">
    <div class="search-input-wrapper">
      <img src="{{getAbsoluteUrl('/assets/img/home-search-icon.svg')}}" class="search-icon" alt="">
      <input autocomplete="disabled" type="search" #searchInput="ngModel" [(ngModel)]="addressModel" (submit)="applySearch()" [ngModelOptions]="{standalone: true}" class="search-input"
             placeholder="e.g. Shoreditch, London Bridge…">

      <ul class="search-dropdown-list" *ngIf="suggestionList.length">
        <li
          *ngFor="let suggestion of suggestionList"
          [innerHTML]="resolveSuggestion(suggestion)"
          (click)="submitSuggestion($event.target.innerText.replace(suggestion.type, ''), suggestion.type)">
        </li>
      </ul>
    </div>
    <div class="home-office-toggle-frm d-flex">
      <label *ngFor="let duration of durationTypes" [for]="duration.value" class="home-office-toggle-btn"
             [class.active]="duration.value === duratonModel.type">
        <span class="home-office-toggle-text">{{ duration.name }}</span>
        <input type="radio" name="duration" [(ngModel)]="duratonModel.type" (change)="resetOffice()" [id]="duration.value"
               [value]="duration.value">
      </label>
    </div>
  </div>
  <div class="home-office-select">
    <div class="d-flex">
      <label class="home-office-select-btn" [class.active]="officeModel.type === office.type"
             *ngFor="let office of duratonModel[duratonModel.type].offices">
        <svg *ngIf="office.type === 'meeting-room'" class="home-office-select-img" xmlns="http://www.w3.org/2000/svg"
             width="53" height="33" viewBox="0 0 53 33">
          <path fill="#4A4A4A" fill-rule="evenodd"
                d="M34.626 19.424l5.402 11.93a.75.75 0 1 1-1.37.62l-5.202-11.488H20.277l-5.201 11.489a.75.75 0 1 1-1.37-.62l5.402-11.93a.753.753 0 0 1 .685-.443H33.94c.295 0 .563.174.685.442zm-26.22 2.962a4.305 4.305 0 0 1-4.301-4.3 4.306 4.306 0 0 1 4.3-4.302 4.306 4.306 0 0 1 4.302 4.302c0 2.372-1.93 4.3-4.301 4.3zm0-7.098a2.8 2.8 0 0 0-2.797 2.798 2.799 2.799 0 0 0 2.797 2.797 2.8 2.8 0 0 0 2.797-2.797 2.8 2.8 0 0 0-2.797-2.798zm5.522 10.039a.752.752 0 1 1-.989 1.134 6.903 6.903 0 0 0-4.533-1.698 6.91 6.91 0 0 0-6.902 6.902.752.752 0 1 1-1.504 0c0-4.636 3.77-8.406 8.406-8.406 2.031 0 3.992.734 5.522 2.068zm30.647-2.94a4.304 4.304 0 0 1-4.301-4.3 4.306 4.306 0 0 1 4.3-4.303c2.372 0 4.301 1.93 4.301 4.302s-1.93 4.3-4.3 4.3zm0-7.099a2.801 2.801 0 0 0-2.798 2.798 2.8 2.8 0 0 0 2.798 2.797 2.8 2.8 0 0 0 2.796-2.797 2.8 2.8 0 0 0-2.796-2.798zm0 7.971c4.634 0 8.405 3.77 8.405 8.406a.752.752 0 0 1-1.504 0c0-3.806-3.096-6.902-6.901-6.902a6.865 6.865 0 0 0-3.905 1.21.752.752 0 1 1-.852-1.24 8.363 8.363 0 0 1 4.757-1.474zM15.94 13.507h.286V1.504h-.286a.751.751 0 1 1 0-1.504h21.855a.752.752 0 1 1 0 1.504h-.122v12.003h.122a.752.752 0 1 1 0 1.504H15.94a.751.751 0 1 1 0-1.504zm1.79 0h18.44V1.504H17.73v12.003zM30.8 12.393a.751.751 0 0 1-.752-.751V9.53a.751.751 0 1 1 1.504 0v2.11a.752.752 0 0 1-.752.752zm-2.903 0a.752.752 0 0 1-.752-.751V4.973a.752.752 0 0 1 1.504 0v6.669a.751.751 0 0 1-.752.751zm-2.902 0a.751.751 0 0 1-.752-.751V8.096a.751.751 0 1 1 1.504 0v3.546a.752.752 0 0 1-.752.751zm-2.902 0a.752.752 0 0 1-.752-.751V5.479a.752.752 0 1 1 1.504 0v6.163a.751.751 0 0 1-.752.751z"/>
        </svg>
        <svg *ngIf="office.type === 'desk'" class="home-office-select-img" xmlns="http://www.w3.org/2000/svg" width="42"
             height="30" viewBox="0 0 42 30">
          <path fill="#4A4A4A" fill-rule="evenodd"
                d="M39.535 9.753H23.21l-.37-1.741h16.694v1.741zm-2.603 9.127h-9.711v-2.958h9.442l.296 2.964c-.01 0-.018-.006-.027-.006zm-.725-7.523l.295 2.96h-9.281v-2.96h8.986zm-14.7 5.162a3.536 3.536 0 0 1-2.63 1.155h-6.23a3.536 3.536 0 0 1-2.63-1.155c-.685-.744-1.016-1.708-.946-2.615L10.84 5.59a5.057 5.057 0 0 1 4.922-3.985 5.057 5.057 0 0 1 4.922 3.985l1.756 8.215a3.534 3.534 0 0 1-.933 2.715zM1.603 9.753V8.012h7.083l-.369 1.741H1.603zm38.734-3.345H22.499l-.245-1.154C21.605 2.21 18.876 0 15.762 0 12.65 0 9.92 2.21 9.271 5.254l-.245 1.154H.802A.802.802 0 0 0 0 7.21v3.345c0 .443.358.802.802.802H3.62L1.884 28.73a.802.802 0 0 0 1.595.16l1.753-17.533h2.745l-.49 2.313a5.19 5.19 0 0 0 1.35 3.936c.588.64 1.334 1.09 2.142 1.368l-1.81 9.688a.802.802 0 0 0 1.578.295l1.81-9.689c.03.001.059.01.09.01h6.109l1.808 9.679a.802.802 0 0 0 1.577-.295l-1.798-9.624c.888-.264 1.708-.74 2.345-1.432.978-1.063 1.47-2.497 1.335-4.037l-.471-2.212h2.065v8.325c0 .444.358.802.802.802h10.513c.065 0 .122-.022.184-.037l.843 8.442a.802.802 0 0 0 1.596-.16l-1.736-17.372h2.518c.443 0 .802-.359.802-.802V7.21a.802.802 0 0 0-.802-.802zm-8.843 7.231h.362a.801.801 0 1 0 0-1.603h-.362a.802.802 0 1 0 0 1.603m.363 2.96h-.363a.801.801 0 1 0 0 1.603h.363a.801.801 0 1 0 0-1.604"/>
        </svg>
        <svg *ngIf="office.type === 'private-office'" class="home-office-select-img" xmlns="http://www.w3.org/2000/svg"
             width="35" height="35" viewBox="0 0 35 35">
          <path fill="#4A4A4A" fill-rule="evenodd"
                d="M33.962 29.864l.06 3.762a.768.768 0 0 1-.924.76l-4.707-.985a.763.763 0 0 1-.38-.204L14.762 20.168a10.49 10.49 0 0 1-11.74-2.257A10.458 10.458 0 0 1 0 10.44a10.455 10.455 0 0 1 3.147-7.418C5.15 1.05 7.827.009 10.616 0a10.456 10.456 0 0 1 7.42 3.147 10.492 10.492 0 0 1 2.062 11.777l5.15 5.44c.145.155.22.36.208.57l-.075 1.292 2.02.908a.768.768 0 0 1 .45.63l.101 1.104 2.403 1.011c.262.11.442.359.466.643l.097 1.193 1.114.098c.187.017.36.1.49.236l1.23 1.3a.76.76 0 0 1 .21.515zm-5.037 2.084l3.55.744-.04-2.507-.825-.871-1.469-.129a.768.768 0 0 1-.697-.7l-.112-1.375-2.397-1.008a.767.767 0 0 1-.466-.636l-.103-1.118-2.094-.943a.763.763 0 0 1-.45-.742l.085-1.486-5.288-5.586a.766.766 0 0 1-.122-.883A8.968 8.968 0 0 0 16.943 4.22a8.94 8.94 0 0 0-6.34-2.689A8.9 8.9 0 0 0 4.22 4.115a8.939 8.939 0 0 0-2.689 6.338 8.938 8.938 0 0 0 2.583 6.383 8.968 8.968 0 0 0 10.46 1.729.766.766 0 0 1 .881.138l13.47 13.245zm-14.324-26.2a.766.766 0 0 1 1.083.025c2.654 2.768 2.561 7.18-.208 9.835a6.913 6.913 0 0 1-4.81 1.934l-.152-.001a6.905 6.905 0 0 1-4.874-2.142.767.767 0 0 1 .022-1.083l8.94-8.567zm-.186 8.753c-1.044 1.004-2.385 1.574-3.868 1.509a5.385 5.385 0 0 1-3.233-1.154l7.755-7.433a5.43 5.43 0 0 1-.654 7.078zM6.38 6.308a1.035 1.035 0 0 1 1.45 1.475c-.198.195-.474.322-.734.297a1.037 1.037 0 0 1-.716-1.772zm.724 3.305a2.568 2.568 0 0 0 1.829-4.367 2.57 2.57 0 0 0-3.628-.03 2.57 2.57 0 0 0-.03 3.63 2.54 2.54 0 0 0 1.808.765c.008.002.015.002.021.002"/>
        </svg>
        <span class="home-office-select-text">{{ office.name }}</span>
        <input type="radio" name="type" [(ngModel)]="officeModel" [value]="office">
      </label>
    </div>

  </div>
  <button class="search-button">Search</button>
</form>
