@import "../../../../variables.scss";

.heading-select-wrapper {
  margin-bottom: 50px;
}

.home-search-wrapper {
  margin-bottom: 15px;

  @media (max-width: $screen-sm-max) {
    flex-wrap: wrap;
  }
}

.search-input-wrapper {
  position: relative;
  flex: 1;

  @media (max-width: $screen-sm-max) {
    width: 100%;
    margin-bottom: 15px;
  }

  .search-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
  }

  .search-input {
    display: block;
    width: 100%;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #fff;
    border-radius: 30px;
    height: 43px;
    margin: 0;
    padding-left: 45px;
    padding-right: 10px;
    border: none;
    font-size: 14px;
    color: #000;

    &:focus {
      box-shadow: none;
      border: none;
    }

    @include input-placeholder {
      font-size: 14px;
      color: #9b9b9b;
    }
  }
}

.search-button {
  display: block;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  padding: 10px;
  background-color: $orange;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  width: 100%;
  border: 0;
  font-family: 'Montserrat', sans-serif;
  @include transition(.2s);

  &:hover {
    background-color: #ed4e2f;
  }
}

.home-office-toggle-frm {
  width: 130px;
  margin-left: 10px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);

  @media (max-width: $screen-sm-max) {
    width: 100%;
    margin-left: 0;
  }

  .home-office-toggle-btn {
    background-color: #fff;
    width: 50%;
    height: 43px;
    color: #4a4a4a;
    text-align: center;
    font-size: 12px;
    line-height: 41px;
    cursor: pointer;
    margin: 0;

    &.active {
      background-color: $orange;
      color: #fff;
    }

    &:first-child {
      border-radius: 5px 0 0 5px;
    }

    &:last-child {
      border-radius: 0 5px 5px 0;
    }

    input {
      display: none;
    }
  }
}

.home-office-select {
  border-radius: 5px;
  background-color: #fff;
  padding: 10px;

  .home-office-select-btn {
    text-align: center;
    width: 50%;
    padding: 10px;
    margin: 0;
    transition: all .3s linear;
    cursor: pointer;

    &:hover, &.active {
      .home-office-select-text {
        color: $orange;
      }

      .home-office-select-img path {
        fill: $orange;
      }
    }

    .home-office-select-img {
      display: inline-block;
      height: 35px;
      margin-bottom: 10px;

      path {
        transition: all .3s linear;
      }
    }

    .home-office-select-text {
      display: block;
      font-size: 14px;
      line-height: 16px;
      color: #4a4a4a;
      transition: all .3s linear;
    }

    &:first-child {
      border-right: 1px solid #cacaca;
    }
  }
}

.select-col {
  margin-right: 60px;

  @media (max-width: $screen-sm-max) {
    margin-right: 25px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.select-hint {
  display: block;
  font-size: 14px;
  font-weight: 300;
  color: #4a4a4a;
  margin-right: 15px;
  margin-bottom: 5px;
  white-space: nowrap;
}

.select-label-txt {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #4a4a4a;
  margin-bottom: 10px;
}

.home-details-select {
  padding: 30px 30px 10px 30px;

  @media (max-width: $screen-sm-max) {
    padding: 30px 10px 10px 10px;
  }
}
