@import "../../../../variables.scss";

.filters-holder {
  position: fixed;
  width: 100%;
  top: 65px;
  left: 0;
  background-color: #fff;
  z-index: 100;

  @media (max-width: $screen-lg-max) {
    top: 55px;
  }

  @media (max-width: $screen-md-max) {
    position: static;
  }
}

.filters-wrapper {
  height: 50px;
  border-bottom: 1px solid #9b9b9b;
  padding: 7px 50px;

  @media (max-width: 1440px) {
    padding: 7px 15px;
  }

  @media (max-width: $screen-md-max) {
    height: auto;
    padding: 15px 15px 5px 15px;
  }
}

.filter-search {
  position: relative;
  width: 250px;
  padding-left: 30px;

  @media (max-width: 1370px) {
    width: 180px;
  }

  @media (max-width: 1340px) {
    width: 200px;
  }

  @media (max-width: $screen-md-max) {
    padding-left: 25px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    width: 100%;
    border-bottom: 1px solid #9b9b9b;
  }

  .search-icon {
    position: absolute;
    top: 0;
    left: 0;
  }

  .search-filter-input {
    display: block;
    border: none;
    width: 100%;
    height: auto;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: $blue;

    @media (max-width: $screen-md-max) {
      font-size: 14px;
    }

    &:focus {
      box-shadow: none;
      border: none;
    }
    
    @include input-placeholder {
      font-size: 18px;
      font-weight: 500;
      color: #9b9b9b;

      @media (max-width: $screen-md-max) {
        font-size: 14px;
      }
    }
  }
}

.filters-show-mobile, .filters-hide-mobile {
  display: none;
}

.filters-show-mobile {
  @media (max-width: $screen-sm-max) {
    display: flex;
    align-items: center;
    padding: 10px 0;

    &.active {
      display: none;
    }

    img {
      width: 20px;
      margin-right: 5px;
    }
  }
}

.filters-hide-mobile {
  @media (max-width: $screen-sm-max) {
    padding: 10px 0;
    width: 100%;
    text-align: center;

    .filters-arrow {
      position: relative;
      top: -12px;
    }

    &.active {
      display: block;
    }
  }
}

.filters-arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid;
  margin: 0 4px;
  color: $blue;

  &.rotate {
    transform: rotate(180deg);
    border-top: 5px solid transparent;
    border-bottom: 5px solid;
  }
}

.filter-col {
  position: relative;
  border-right: 1px solid #cacaca;
  border-left: 1px solid transparent;
  margin-left: -1px;
  @include unselectable;

  @media (max-width: $screen-sm-max) {
    border: none !important;
    width: 100%;
  }

  &.filter-col-datapicker {
    height: 33px;
  }

  &.first {
    border-left: 1px solid #cacaca;
  }

  &:last-child {
    border-right: none;
  }

  &.mobile-toggle {
    @media (max-width: $screen-sm-max) {
      display: none;

      &.show-mobile-filter {
        display: block;
      }
    }
  }

  &.active {
    border-color: $blue;

    .filter-dropdown {
      display: block;
      opacity: 1 !important;
      visibility: visible !important;

      &.filter-dropdown-facilities {
        display: flex !important;
      }
    }
  }

  &.filter-slider-range {
    .filter-dropdown {
      display: block;
      opacity: 0;
      visibility: hidden;
    }
  }
}

.filter-name {
  display: block;
  font-size: 14px;
  color: $blue;
  font-weight: 500;
  padding: 8px 10px;
  cursor: pointer;
  min-width: 125px;
  text-align: center;

  @media (max-width: 1340px) {
    min-width: inherit;
  }

  @media (max-width: 1024px) {
    //min-width: 95px;
  }

  @media (max-width: $screen-lg-max) {
    //min-width: 100px;
    font-size: 12px;
    padding: 8px 5px;
  }

  @media (max-width: $screen-sm-max) {
    width: 100%;
    text-align: left;
  }

  img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    position: relative;
    top: -1px;

    @media (max-width: $screen-sm-max) {
      width: 20px;
    }
  }

  &.clear, &.active {
    font-weight: 600;
    color: $blue;
  }
}

.filter-dropdown {
  display: none;
  position: absolute;
  top: calc(100% + 20px);
  left: 0;
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  background-color: #fff;
  padding: 15px 15px 0 15px;
  min-width: 130px;
  z-index: 10;

  &.right-side-md {
    @media (max-width: 1366px) {
      left: auto;
      right: 0;
    }
  }

  &.filter-dropdown-facilities {
    flex-direction: column;
    justify-content: space-between;
    height: 55vh;
    padding: 0;
    @media (max-width: $screen-sm-max) {
      padding: 15px 15px 0 15px;
    }
  }

  @media (max-width: $screen-sm-max) {
    top: 100%;
    width: 100%;
    min-width: initial;
  }

  .select-item {
    display: block;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500 !important;
    margin-bottom: 15px;
    padding: 0 !important;
    color: #9b9b9b;
    
    &.selected {
      font-weight: 500;
      color: $blue;
    }

    &.disabled {
      color: #ececec;
      cursor: auto;
    }
  }
}

.capacity-select-wrapper {
  padding: 20px 0 10px 0;
  width: 170px;
  text-align: center;

  @media (max-width: $screen-sm-max) {
    width: 100%;
  }
}

.filter-controls {
  height: 60px;
  padding: 0 20px;

  .filter-control-button {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #cacaca;
    cursor: pointer;
    @include transition(.2s);
    
    &:hover, 
    &.active {
      color: $blue;
    }
  }
}

.price-range-wrapper {
  padding: 20px 0 10px 0;
  width: 300px;
}

.price-range-top {
  margin-bottom: 15px;
}


.facilities-filter-wrapper {
  padding: 10px;
  width: 452px;
  overflow: auto;
  flex: 1;

  @media (max-width: $screen-sm-max) {
    width: 100%;
    padding: 0;
  }
}

.facilities-filter-col {
  width: 129px;
  margin: 5px;

  @media (max-width: $screen-sm-max) {
    width: calc(50% - 10px);
  }

  input {
    display: none;

    &:checked {
      + label {
        border-color: #3d8fc6;

        .facilities-filter-name {
          color: #3d8fc6;
        }
      }
    }
  }

  label {
    display: block !important;
    margin: 0;
    padding: 5px 8px;
    height: auto;
    cursor: pointer;
    border-radius: 4px;
    border: solid 1px #cacaca;
    @include transition(.2s);

    .facilities-filter-icon {
      display: block;
      margin-right: 5px;
      width: 30px;
      line-height: 26px;
      text-align: center;

      img {
        max-width: 100%;
        max-height: 25px;
      }
    }

    .facilities-filter-name {
      display: block;
      font-size: 11px;
      line-height: 13px;
      color: #9b9b9b;
      flex: 1;
      @include transition(.2s);
    }

    &:after, &:before {
      display: none;
    }
  }
}
