<!-- Design filters hourly https://zpl.io/bznJmrz -->
<!-- Design filters monthly https://zpl.io/2GOBDj9 -->

<div class="filters-holder">
  <form
    [formGroup]="filtersForm"
    class="filters-wrapper d-flex align-items-center flex-wrap"
  >
    <div class="filter-search">
      <img src="{{getAbsoluteUrl('/assets/img/filter-search.svg')}}" class="search-icon" alt="" />
      <input
        type="search"
        placeholder="Location"
        [ngModelOptions]="{standalone: true}"
        [(ngModel)]="address$"
        class="search-filter-input"
        (keyup)="handleSearchSubmit($event)"
        #searchInput="ngModel"
      />

      <ul class="search-dropdown-list findaspace-search" *ngIf="suggestionList.length">
        <li *ngFor="let suggestion of suggestionList"
            [innerHTML]="'<div class=\'d-flex\'>' + resolveSuggestion(suggestion) + '<span class=\'search-hint\'>' + suggestion.type + '</span></div>'"
            (click)="submitSuggestion($event.target.innerText.replace(suggestion.type, ''), suggestion.type)"></li>
      </ul>
    </div>

    <div class="filters-show-mobile" (click)="showFiltersMobile = !showFiltersMobile" [ngClass]="{'active': showFiltersMobile}">
      <img src="{{getAbsoluteUrl('/assets/img/funnel.svg')}}" alt="">
      <span class="filters-show-txt">Filters</span>
      <span class="filters-arrow"></span>
    </div>

    <div class="filter-col first mobile-toggle" (click)="showFilter($event)" [ngClass]="{'show-mobile-filter': showFiltersMobile}">
      <span class="filter-name">{{
        filtersForm.get('duration').value === 'monthly' ? 'Monthly' : 'Hourly'
      }}</span>
      <div class="filter-dropdown radio">
        <ng-template ngFor let-duration [ngForOf]="durations">
          <label
            [for]="duration.value"
            class="select-item"
            [class.selected]="
              filtersForm.get('duration').value === duration.value
            "
            >{{ duration.name }}</label
          >
          <input
            [id]="duration.value"
            type="radio"
            formControlName="duration"
            [value]="duration.value"
            (change)="this.setFilter()"
          />
        </ng-template>
      </div>
    </div>

    <div class="filter-col mobile-toggle" (click)="showFilter($event)" [ngClass]="{'show-mobile-filter': showFiltersMobile}">
      <span class="filter-name">
        <img src="{{getAbsoluteUrl('/assets/img/filters/spaces-icon.svg')}}" alt="" />
        {{ filtersForm.get('type').value ? typeNames[filtersForm.get('type').value] : 'Space' }}
      </span>
      <div class="filter-dropdown radio">
        <ng-template ngFor let-type [ngForOf]="types">
          <label
            [for]="type.value"
            class="select-item"
            [class.selected]="filtersForm.get('type').value === type.value"
            [class.disabled]="
              (filtersForm.get('duration').value === 'monthly' &&
                type.value === 'meeting-room') ||
              (filtersForm.get('duration').value === 'hourly' &&
                type.value === 'private-office')
            "
            >{{ type.name }}</label
          >
          <input
            [id]="type.value"
            type="radio"
            formControlName="type"
            [value]="type.value"
            (change)="this.setFilter()"
            *ngIf="
              (filtersForm.get('duration').value === 'monthly' &&
                type.value === 'private-office') ||
              (filtersForm.get('duration').value === 'hourly' &&
                type.value === 'meeting-room') ||
              (type.value === 'desk')
            "
          />
        </ng-template>
      </div>
    </div>

    <div class="filter-col mobile-toggle" (click)="showFilter($event)" [ngClass]="{'show-mobile-filter': showFiltersMobile}">
      <span class="filter-name">
        <img src="{{getAbsoluteUrl('/assets/img/filters/combined-shape.svg')}}" alt="" /> {{ filterNames.capacity ? filterNames.capacity : 'Capacity' }}
      </span>
      <div class="filter-dropdown">
        <div class="capacity-select-wrapper">
          <div class="d-flex align-items-center justify-content-center">
            <div class="capacity-select d-flex">
              <span
                class="input-control minus"
                (click)="handleDecreaseCapacity()">-</span>
              <input
                #capacityInput
                type="number"
                min="0"
                max="5000"
                (input)="validateCapacity($event)"
                class="capacity-input"
                formControlName="capacity"
                placeholder="00"
                value="0"
              />
              <span class="input-control plus" (click)="handleIncreaseCapacity()">+</span>
            </div>
            <span class="capacity-people">people</span>
          </div>
          <div
            class="filter-controls d-flex justify-content-between align-items-center"
          >
            <span class="filter-control-button" (click)="clearFilters('capacity')">Clear</span>
            <span class="filter-control-button" (click)="setFilter()"
              >Apply</span
            >
          </div>
        </div>
      </div>
    </div>

    <div class="filter-col filter-slider-range mobile-toggle" (click)="showFilter($event)" [ngClass]="{'show-mobile-filter': showFiltersMobile}">
      <span class="filter-name">
        <img src="{{getAbsoluteUrl('/assets/img/filters/combined-shape1.svg')}}" alt="" />
        {{ (filterNames.minPrice > 0 || filterNames.maxPrice < maxValue) && (filterNames.maxPrice) ?
            '£' + +filterNames.minPrice + ' - £' + +filterNames.maxPrice :
            'Price range' }}
      </span>
      <div class="filter-dropdown">
        <div class="price-range-wrapper">
          <input type="hidden" formControlName="minPrice" value="minRangeValue" />
          <input type="hidden" formControlName="maxPrice" value="maxRangeValue" />
          <ng5-slider [(value)]="minRangeValue" [options]="options"  [(highValue)]="maxRangeValue" *ngIf="isBrowser"></ng5-slider>

          <div class="filter-controls d-flex justify-content-between align-items-center">
            <span class="filter-control-button" (click)="clearFilters('minPrice')">Clear</span>
            <span class="filter-control-button" (click)="setFilter()">Apply</span>
          </div>
        </div>
      </div>
    </div>

    <div class="filter-col filter-col-datapicker mobile-toggle" [ngClass]="{'show-mobile-filter': showFiltersMobile}">
      <div class="input-datepicker filter-datepicker">
        <input #inputText matInput formControlName="availableFrom" (dateChange)="setFilter(); handleDataChanged(inputText.value)" [matDatepicker]="picker" placeholder="Start date" [ngStyle]="{'width': widthDateField + 'px'}" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker
          #picker
          (opened)="showFilter(null, '.filter-datepicker-wrap .mat-calendar-content', picker)"
          [panelClass]="'filter-datepicker-wrap'"
        ></mat-datepicker>
      </div>
      <span #invisibleText id="invisibleTextID">{{ stringDateField }}</span>
    </div>

    <div class="filter-col mobile-toggle" (click)="showFilter($event)" [ngClass]="{'show-mobile-filter': showFiltersMobile}">
      <span class="filter-name">
        <img src="{{getAbsoluteUrl('/assets/img/filters/path.svg')}}" alt="" /> Facilities
        {{
          facilitiesList && facilitiesList.length &&
          isArray(filtersForm.get('facilities').value) &&
          filtersForm.get('facilities').value &&
          filtersForm.get('facilities').value.length ?
            '• ' + getFacilityName(filtersForm.get('facilities').value[0]) +
            (filtersForm.get('facilities').value.length > 1 ?
              ' + ' + (filtersForm.get('facilities').value.length - 1) :
              '') :
            ''
        }}
      </span>
      <div class="filter-dropdown filter-dropdown-facilities right-side-md">
        <div class="facilities-filter-wrapper d-flex flex-wrap justify-content-center">
          <div
            class="facilities-filter-col"
            *ngFor="let facility of facilitiesList"
          >
            <input
              type="checkbox"
              id="facilities-check{{ facility.slug }}"
              name="facilities"
              [checked]="filtersForm.get('facilities').value.includes(facility.slug)"
              (change)="handleFacilitiesCheck($event)"
              [value]="facility.slug"
            />
            <label for="facilities-check{{ facility.slug }}">
              <span class="d-flex align-items-center">
                <span class="facilities-filter-icon">
                  <img [src]="facility.webIcon" alt="" />
                </span>
                <span class="facilities-filter-name">{{ facility.name }}</span>
              </span>
            </label>
          </div>
        </div>
        <div
          class="filter-controls d-flex justify-content-around align-items-center"
        >
          <span class="filter-control-button" (click)="clearFilters('facilities')">Clear</span>
          <span class="filter-control-button" (click)="setFilter()"
            >Apply</span
          >
        </div>
      </div>
    </div>

    <div class="filter-col mobile-toggle" [ngClass]="{'show-mobile-filter': showFiltersMobile}">
      <span class="filter-name clear" (click)="clearFilters()"
        >Clear filters</span
      >
    </div>

    <div class="filters-hide-mobile" (click)="showFiltersMobile = !showFiltersMobile" [ngClass]="{'active': showFiltersMobile}">
      <span class="filters-arrow rotate"></span>
    </div>
  </form>
</div>
