<div class="portal-sidebar">
  <a class="sidebar-link" [routerLink]="'/mainportal'">My Locations</a>

  <div class="portal-sidebar-block">
    <div class="sidebar-block-list">
      <div class="sidebar-expansion-panel">
        <mat-accordion [multi]="false">
          <mat-expansion-panel
            *ngFor="let workspace of _workspaceList"
            (click)="onWorkspaceSelect(workspace.id)"
            [expanded]="workspace.id == activeId"
          >
            <mat-expansion-panel-header
              [collapsedHeight]="'auto'"
              [expandedHeight]="'auto'"
            >
              <mat-panel-title> {{ workspace.name }} </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
              <a
                [routerLink]="'/upload-location/' + workspace.id + '/meeting-room'"
                class="add-link"
              >
                Add <span class="mark-space">MEETING SPACE</span>
              </a>
              <a
                [routerLink]="'/upload-location/' + workspace.id + '/desk'"
                class="add-link"
              >
                Add <span class="mark-space">DESKS</span>
              </a>
              <a
                [routerLink]="'/upload-location/' + workspace.id + '/private-office'"
                class="add-link"
              >
                Add <span class="mark-space">PRIVATE OFFICE</span>
              </a>
            </p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>

    <div class="sidebar-block-button">
      <a [routerLink]="'/upload-location'">
        <img src="/assets/img/add-location-icon.svg" alt="" /> NEW LOCATION
      </a>
    </div>
  </div>

  <a [routerLink]="'/mainportal/notifications'" class="sidebar-link">
    <span class="notifications">
      Notifications
      <span class="notif-quantity" *ngIf="notificationsCount">{{ notificationsCount }}</span>
    </span>
  </a>
  <a [routerLink]="'/mainportal/profile'" class="sidebar-link">Profile</a>
  <a class="sidebar-link" (click)="signOutModal()">Sign out</a>
</div>

<!-- Modal Sign out -->
<ngx-smart-modal
  #confirmModal
  identifier="confirmModal"
  [closable]="false"
  [customClass]="
    'confirm-modal modal-frame nsm-dialog-animation-fade nsm-centered'
  "
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!--<span class="close-modal" (click)="confirmModal.close()">
        <img src="/assets/img/close-modal-button.svg" alt="">
      </span>-->
      <div class="logo-wrap text-center">
        <img src="/assets/img/kikmoov-logo-sm.svg" alt="" />
      </div>

      <p>Are you sure you want to sign out?</p>

      <button (click)="signOut($event)" class="btn-site blue_c">Sign out</button>
      <button (click)="signOutModalClose()" class="btn-site grey_c">Cancel</button>
    </div>
  </div>
</ngx-smart-modal>
