@import '../../../../variables.scss';

.portal-sidebar {
  .sidebar-link {
    display: block;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    color: #000;
    padding: 10px 0;
    cursor: pointer;
    @include transition(0.2s);

    &:first-child {
      padding-top: 0;
    }

    &:hover,
    &.active {
      text-decoration: none;
      color: $orange;
    }

    .notifications {
      display: inline-block;
      position: relative;

      .notif-quantity {
        position: absolute;
        top: -7px;
        right: -12px;
        width: 14px;
        height: 14px;
        background-color: $orange;
        border-radius: 50%;
        text-align: center;
        font-size: 9px;
        line-height: 14px;
        color: #fff;
      }
    }
  }
  .active {
    color: $orange;
  }
}
