@import "../../../variables.scss";

.signup-modal-wnd-pos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (max-width: $screen-sm-max) {
    @include reset-position;
  }
}
