<div class="signup-seller-wrapper">
  <app-post-space-bar></app-post-space-bar>
  <div class="signup-modal-wnd-pos">
    <app-logindialog
      [modal]="false"
      [forgotPasswordModal]="true"
    ></app-logindialog>
  </div>
</div>
<ngx-smart-modal
  #recover
  identifier="recover"
  [closable]="false"
  [customClass]="
    'auth-modal-wrapper modal-frame nsm-dialog-animation-fade nsm-centered'
  "
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <app-forgot-password
        (action)="modalHandler($event)"
      ></app-forgot-password>
    </div>
  </div>
</ngx-smart-modal>
