nav {
  background-color: #fff;
  height: auto;
  line-height: normal;

  a {
    text-decoration: none;
    color: #4a4a4a;
  }

  i.material-icons {
    display: inline-block;
  }

  .mat-icon-button .mat-icon {
    color: #29b6f6;
  }
}

.mat-icon-button i {
  color: #29b6f6;
}

.nav-wrapper {
  width: 90%;
  padding: 25px 0 18px;
}

main.container {
  width: 100%;
  max-width: none;
  padding: 0;
}
