<div class="blog-page-wrapper">
  <div class="wrapper">
      <div class="d-flex flex-wrap justify-content-center">
        <div class="loading-wrapper" *ngIf="!articles; else articleList">
          <div class="loading-logo">
            <img src="{{getAbsoluteUrl('/assets/img/loading-logo.svg')}}" alt="">
          </div>
        </div>
          <ng-template #articleList>
          <div class="blog-preview-col" *ngFor="let post of articles" [routerLink]="['/blog/article/', post.slug]">
              <div *ngIf="post.coverImageUrl"
                   class="blog-preview-img" [ngStyle]="{'background-image':'url('+ post.coverImageUrl +')'}">
              </div>
              <div class="blog-preview-body">
                  <span class="blog-title">{{ post.title }}</span>
                  <p class="blog-description">{{ post.description }}</p>
              </div>
          </div>
          </ng-template>
      </div>
  </div>
</div>
