@import "../../../../variables.scss";

.blog-hero-wrapper {
  min-height: 430px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  position: relative;
  padding: 0 15px;
}

.blog-page-wrapper {
  padding: 90px 0;

  @media (max-width: $screen-md-max) {
    padding: 50px 0;
  }

  .wrapper {
    max-width: 1035px;
  }
}


.blog-preview-col {
  width: 305px;
  border-radius: 10px;
  box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  margin: 15px;
  cursor: pointer;
  text-decoration: none;
  @include transition(.2s);

  &:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
    text-decoration: none !important;
  }

  @media (max-width: $screen-xs-max) {
    width: 100%;
    margin: 15px 0;
  }

  .blog-preview-img {
    min-height: 157px;
    border-radius: 10px 10px 0 0;
    background-color: #ececec;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  .blog-preview-body {
    padding: 15px;

    .blog-title {
      display: block;
      font-size: 21px;
      font-weight: 500;
      color: #000;
      word-break: break-all;
      margin-bottom: 15px;
    }

    .blog-description {
      font-size: 14px;
      line-height: 21px;
      color: #000;
      margin: 0;
    }
  }
}
