<app-menu-market></app-menu-market>
<div class="wrapper">
  <div class="community-market-row row">
    <div class="col-md-5">
      <h2 class="main-title">West End</h2>
      <p class="main-txt">The heart of London and a popular melting pot of offices and industries.</p>
    </div>
    <div class="col-md-7">
      <div class="img-wrap">
        <img src="{{getAbsoluteUrl('/assets/img/community-maps/map-west-end.png')}}" alt="">
        <span class="cite">London, UK</span>
      </div>
    </div>
  </div>
  <p class="main-txt">London’s West End is famous for its fantastic range of theatres, attractions, hotels and shopping. There’s always something happening on these iconic central London Streets.</p>
  <p class="main-txt">The West End, is one of London’s most popular and most important locations for offices. major companies like Linked in and Facebook have made the West End their home.</p>
  <h3 class="sub-title">Transport Links</h3>
  <p class="main-txt">Local stations include <span class="medium-weight">Oxford Street Station.</span></p>
  <div class="community-list-wrapper">
    <p class="main-txt">Journey Times from <span class="medium-weight">Oxford Street Station</span> by Tube.</p>
    <ul class="community-list">
      <li><span class="medium-weight">Liverpool Street</span> - 15 minutes</li>
      <li><span class="medium-weight">Paddington</span> – 10 minutes</li>
      <li><span class="medium-weight">London Bridge</span> – 15 minutes</li>
      <li><span class="medium-weight">Heathrow</span> – 35 minutes (1 change)</li>
    </ul>
  </div>

  <h3 class="sub-title">Are you Looking for office space or workspace in West London?</h3>

  <div class="table-community-wrapper">
    <div class="table-community">
      <table>
        <thead>
        <tr>
          <th style="width: 58%">Co-working and services office spaces</th>
          <th style="width: 14%">Affordable</th>
          <th style="width: 14%">A step up</th>
          <th style="width: 14%">High-end</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td>W1/SW1: Mayfair/St James</td>
          <td>£500 - £600</td>
          <td>£600 - £800</td>
          <td>£800 - £1800</td>
        </tr>
        <tr>
          <td>W1: Fitzrovia/Noho</td>
          <td>£500 - £550</td>
          <td>£550 - £700</td>
          <td>£700 - £1000</td>
        </tr>
        <tr>
          <td>W1: Soho</td>
          <td>£500 - £550</td>
          <td>£550 - £700</td>
          <td>£700 - £900</td>
        </tr>
        <tr>
          <td>W1: Marylebone</td>
          <td>£400 - £500</td>
          <td>£500 - £800</td>
          <td>£800 - £1100</td>
        </tr>
        <tr>
          <td>WC2: Convent Garden</td>
          <td>£500 - £550</td>
          <td>£550 - £750</td>
          <td>£750 - £900</td>
        </tr>
        <tr>
          <td>SW1: Victoria</td>
          <td>£400 - £500</td>
          <td>£500 - £800</td>
          <td>£500 - £800</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="text-right">
      <span class="table-community-hint">Prices: per desk/per month</span>
    </div>
  </div>


  <div class="table-community-wrapper">
    <div class="table-community">
      <table>
        <thead>
        <tr>
          <th style="width: 58%">Leased office space</th>
          <th style="width: 14%">Affordable</th>
          <th style="width: 14%">A step up</th>
          <th style="width: 14%">High-end</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td>W1/SW1: Mayfair/St James</td>
          <td>£55 - £70</td>
          <td>£70 - £99.50</td>
          <td>£99.50 - £150</td>
        </tr>
        <tr>
          <td>W1: Fitzrovia/Noho</td>
          <td>£50 - £60</td>
          <td>£60 - £75</td>
          <td>£75 - £87.50</td>
        </tr>
        <tr>
          <td>W1: Soho</td>
          <td>£50 - £60</td>
          <td>£60 - £80</td>
          <td>£80 - £105</td>
        </tr>
        <tr>
          <td>W1: Marylebone</td>
          <td>£50 - £60</td>
          <td>£60 - £70</td>
          <td>£70 - £100</td>
        </tr>
        <tr>
          <td>WC2: Convent Garden</td>
          <td>£45 - £57.50</td>
          <td>£57.50 - £70</td>
          <td>£70 - £85</td>
        </tr>
        <tr>
          <td>SW1: Victoria</td>
          <td>£35 - £50</td>
          <td>£50 - £65</td>
          <td>£65 - £82.50</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="text-right">
      <span class="table-community-hint">Prices: per square foot</span>
    </div>
  </div>
</div>
