<div class="cookies-wrap" [ngClass]="{active: !confirmed}" *ngIf="isBrowser"> <!-- add class active for show -->
  <div class="wrapper">
    <div class="d-flex justify-content-between align-items-center flex-wrap flex-sm-nowrap">
      <div class="cookies-txt">
        <p>This website uses cookies in order to offer you the most relevant information.</p>
        <p>Please accept cookies for optimal performance.</p>
      </div>

      <div class="cookies-btns">
        <span class="terms-link" routerLink="/terms">More information</span>

        <span (click)="confirm()" class="cookies-btn">Got it</span>
      </div>
    </div>
  </div>
</div>
