@import "../../../../variables.scss";

.cookies-wrap {
  width: 100%;
  padding: 25px 0;
  background-color: $blue;
  position: fixed;
  bottom: -50%;
  left: 0;
  right: 0;
  z-index: 100;
  box-shadow: 0 5px 20px 1px #000;
  @include transition(.5s);

  @media (max-width: $screen-xs-max) {
    bottom: -100%;
  }

  &.active {
    bottom: 0;
  }
}

.cookies-txt {
  padding-left: 25px;
  margin-right: 15px;
  background: url("/assets/img/information-icon.svg") no-repeat 0 1px;

  @media (max-width: $screen-xs-max) {
    margin-bottom: 10px;
    margin-right: 0;
  }
  
  p {
    margin: 0;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
  }
}

.cookies-btns {
  white-space: nowrap;

  @media (max-width: $screen-xs-max) {
    text-align: center;
    width: 100%;
    white-space: normal;
  }
}

.terms-link {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 500;
  margin-right: 25px;
  color: #fff;
  cursor: pointer;
  border-bottom: 1px solid #fff;
  @include transition(.2s);

  @media (max-width: $screen-xs-max) {
    margin: 5px;
  }

  &:hover {
    border-color: transparent;
  }
}

.cookies-btn {
  display: inline-block;
  vertical-align: middle;
  border-radius: 5px;
  border: 2px solid $orange;
  font-size: 14px;
  font-weight: 600;
  color: $orange;
  padding: 10px;
  min-width: 190px;
  cursor: pointer;
  text-align: center;
  @include transition(.2s);

  @media (max-width: $screen-xs-max) {
    margin: 5px;
  }

  &:hover {
    color: #fff;
    background-color: $orange;
  }
}
