<app-navmenu [filled]="true"></app-navmenu>

<section class="section-saved-workspaces">
  <span class="saved-workspaces-title">Saved Workspaces</span>

  <div class="loading-wrapper" *ngIf="!workSpaces">
    <div class="loading-logo">
      <img src="/assets/img/loading-logo.svg" alt="">
    </div>
  </div>
  <div *ngIf="workSpaces && workSpaces.length; else empty" class="saved-workspaces-wrapper d-flex justify-content-center flex-wrap">
    <!--<div class="saved-workspace-col" *ngFor="let workSpace of workSpaces">
      <div class="slide topticks-slide">
        <div class="topticks-img" [ngStyle]="{'background-image': 'url(' + workSpace['workspace'].coverImageUrl + ')'}"></div>
        <div class="topticks-info-wrapper">
          <span class="topticks-info-wrapper-title">{{ workSpaceTypes[workSpace['workspace'].type] }}</span>
          <span class="topticks-info-wrapper-name">{{ workSpace['location'].name }}</span>
          <span class="topticks-info-wrapper-location">{{ workSpace['location'].address }}</span>

          <div class="topticks-info-wrapper-like" (click)="handleLikeWorkSpace(workSpace)">
            <i class="fa fa-heart selected"></i>
          </div>
        </div>

        <div class="topticks-price">
          <div class="topticks-price-col" (click)="openDetails(workSpace['workspace'].id)">
            <p class="topticks-price-col-text">
              {{ workSpace['workspace'].price | currency:'GBP' }}
              <span>{{
                workSpace['workspace'].deskType === 'hourly_hot_desk' || workSpace['workspace'].type === 'meeting-room' ? '/hr' : '/m'
                }}</span>
            </p>
            <p class="topticks-price-col-text"
               *ngIf="workSpace['workspace'].type !== 'desk'; else deskPriceInfo">
              <span>{{ workSpace['workspace'].size }} sq ft • {{ workSpace['workspace'].capacity }} ppl</span>
            </p>
            <ng-template #deskPriceInfo>
              <p class="topticks-price-col-text">
                <span>{{ deskTypeNames[workSpace['workspace'].deskType] }}</span>
              </p>
            </ng-template>
          </div>
          <ng-template [ngIf]="workSpace['related'].length <= 2">
            <div class="topticks-price-col" *ngFor="let related of workSpace['related']"
                 (click)="openDetails(workSpace['workspace'].id, related['id'])">
              <p class="topticks-price-col-text">
                {{ related.price | currency:'GBP' }}
                <span>{{
                  related.deskType === 'hourly_hot_desk' || related.type === 'meeting-room' ? '/hr' : '/m'
                  }}</span>
              </p>
              <p class="topticks-price-col-text" *ngIf="related.type !== 'desk'; else deskPriceInfo">
                <span>{{ related.size }} sq ft • {{ related.capacity }} ppl</span>
              </p>
              <ng-template #deskPriceInfo>
                <p class="topticks-price-col-text">
                  <span>{{ deskTypeNames[related.deskType] }}</span>
                </p>
              </ng-template>
            </div>
          </ng-template>
          <ng-template [ngIf]="workSpace['related'].length > 2">
            <div class="topticks-price-col"
                 (click)="openDetails(workSpace['workspace'].id, workSpace['related'][0]['id'])">
              <p class="topticks-price-col-text">
                {{ workSpace['related'][0].price | currency:'GBP' }}
                <span>{{
                  workSpace['related'][0].deskType === 'hourly_hot_desk' || workSpace['related'][0].type === 'meeting-room' ? '/hr' : '/m'
                  }}</span>
              </p>
              <p class="topticks-price-col-text"
                 *ngIf="workSpace['related'][0].type !== 'desk'; else deskPriceInfo">
                <span>{{ workSpace['related'][0].size }} sq ft • {{ workSpace['related'][0].capacity }} ppl</span>
              </p>
              <ng-template #deskPriceInfo>
                <p class="topticks-price-col-text">
                  <span>{{ deskTypeNames[workSpace['related'][0].deskType] }}</span>
                </p>
              </ng-template>
            </div>
            <div class="topticks-price-col more" (click)="openDetails(workSpace['workspace'].id)">
              <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
              <span class="topticks-more">more</span>
            </div>
          </ng-template>
        </div>
      </div>
    </div>-->
    <app-workspace *ngFor="let workSpace of workSpaces" (onWorkSpaceLike)="handleWorkSpaceLike($event)" [workSpace]="workSpace" classes="slide" class="saved-workspace-col"></app-workspace>
  </div>


  <!-- If saved workspaces is empty START -->
  <ng-template #empty>
  <div class="if-empty-wrapper" *ngIf="workSpaces && !workSpaces.length">
    <img src="/assets/img/empty-saved-offices-icon.svg" alt="">
    <p>No likes yet, Collect your favourite workspaces here by clicking the <i class="fa fa-heart"></i>.</p>
  </div>
  </ng-template>
  <!-- If saved workspaces is empty END -->
</section>
