@import "../../../variables.scss";

.section-saved-workspaces {
  max-width: 960px;
  margin: 0 auto;
  padding: 100px 15px;
  min-height: 100vh;
  position: relative;

  @media (max-height: 490px) {
    min-height: 500px;
  }

  @media (max-width: $screen-xs-max) {
    padding: 100px 15px 40px 15px;
  }
}

.saved-workspaces-wrapper {
  margin-left: -20px;
  margin-right: -20px;

  @media (max-width: $screen-xs-max) {
    margin: 0;
  }
}

.saved-workspace-col {
  width: 270px;
  margin: 0 20px 20px 20px;

  @media (max-width: $screen-xs-max) {
    width: 100%;
    margin: 0 0 30px 0;
  }
  
  .topticks-slide {
    margin: 0;
    cursor: pointer !important;
  }
}

.saved-workspaces-title {
  display: block;
  font-size: 18px;
  font-weight: 500;
  color: #000;
  margin-bottom: 25px;

  @media (max-width: $screen-xs-max) {
    margin-bottom: 15px;
  }
}

.if-empty-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 470px;
  padding: 0 15px;

  @media (max-width: $screen-xs-max) {
    width: 100%;
  }

  @media (max-height: 575px) {
    @include reset-position;
    padding-top: 40px;
  }

  img {
    display: block;
    text-align: center;
    margin: 0 auto 45px auto;
  }

  p {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #9b9b9b;
  }
}
