<div class="portal-sidebar">
  <span class="location-title">Location Overview</span>

  <div class="portal-sidebar-block portal-location-block">
    <div class="addr-block">
      <!-- <span class="location-heading">Address:</span> -->
      <p *ngIf="curWorkspace" class="location-name-overview">{{ curWorkspace.name }}</p>
      <p *ngIf="curWorkspace" class="addr-text">
        {{ curWorkspace.address }}
        <!-- Capital House <br> 42 Weston street <br> SE1 3DE <br> -->
      </p>
      <p *ngIf="curWorkspace" class="addr-text">
        {{ curWorkspace.postcode }}
      </p>
    </div>

    <div class="add-workspace">
      <!--<div class="text-center">
        <a
          [routerLink]="'/upload-location/' + _workspaceId"
          class="location-edit"
        >
          <img src="/assets/img/edit-icon.svg" alt="" /> Edit
        </a>
      </div>-->

      <div class="d-flex justify-content-between align-items-center">

        <a
          *ngIf="_workspaceId; else disabledEdit"
          [routerLink]="'/upload-location/' + _workspaceId"
          class="location-edit"
        >
          <img src="/assets/img/edit-icon.svg" alt="" /> Edit
        </a>
        <ng-template #disabledEdit>
        <a
          class="location-edit"
        >
          <img src="/assets/img/edit-icon.svg" alt="" /> Edit
        </a>
        </ng-template>
        <a class="location-edit" (click)="_workspaceId ? confirmLocationDelete.open() : false">Delete</a>
      </div>
    </div>

    <!--
      <div class="sidebar-block-button">
        <a [routerLink]="'/upload-location/' + _workspaceId + '/meeting-room'">
          <img src="/assets/img/grey-meeting-space-icon.svg" alt=""> MEETING SPACE
        </a>
      </div>
      <div class="sidebar-block-button">
        <a [routerLink]="'/upload-location/' + _workspaceId + '/desk'">
          <img src="/assets/img/grey-desks-icon.svg" alt=""> DESKS
        </a>
      </div>
      <div class="sidebar-block-button">
        <a [routerLink]="'/upload-location/' + _workspaceId + '/private-office'">
          <img src="/assets/img/grey-private-desk-icon.svg" alt=""> PRIVATE OFFICE
        </a>
      </div>
    -->
  </div>
</div>

<ngx-smart-modal #confirmLocationDelete identifier="confirmLocationDelete" [closable]="false" [customClass]="'confirm-modal modal-frame nsm-dialog-animation-fade nsm-centered'">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!--<span class="close-modal" (click)="confirmLocationDelete.close()">
        <img src="/assets/img/close-modal-button.svg" alt="">
      </span>
      <div class="logo-wrap text-center">
        <img src="/assets/img/kikmoov-logo-sm.svg" alt="" />
      </div>-->
      <p>Are you sure you want to delete this location?</p>
      <button class="btn-site blue_c" (click)="confirmDeleting()">Delete</button>
      <button class="btn-site grey_c" (click)="confirmLocationDelete.close()">Cancel</button>
    </div>
  </div>
</ngx-smart-modal>
