<app-menu-market></app-menu-market>
<div class="wrapper">
  <div class="community-market-row row">
    <div class="col-md-5">
      <h2 class="main-title">South London</h2>
      <p class="main-txt">Home to arguably the most iconic building in London, The Shard.</p>
    </div>
    <div class="col-md-7">
      <div class="img-wrap">
        <img src="{{getAbsoluteUrl('/assets/img/community-maps/map-south-london.png')}}" alt="">
        <span class="cite">London, UK</span>
      </div>
    </div>
  </div>
  <p class="main-txt">South London, SE1 is an area on the south bank of the River Thames between Vauxhall Bridge and St Saviour’s Dock.</p>
  <p class="main-txt">London SE1 is one of the most exciting areas to live, work, study and visit. The area is best known for the South Bank Centre and Royal National Theatre. In the past few years other developments, such as the reconstruction of Shakespeare's Globe, the Tate Modern art gallery, the London Eye and the Millennium Bridge have served to reinforce SE1's status as part of Central London. </p>
  <h3 class="sub-title">Transport Links</h3>
  <p class="main-txt">Local stations include <span class="medium-weight">London Bridge</span> and <span class="medium-weight">Waterloo Station.</span></p>
  <div class="community-list-wrapper">
    <p class="main-txt">Journey Times from <span class="medium-weight">London Bridge</span> by Tube</p>
    <ul class="community-list">
      <li><span class="medium-weight">Bank</span> – 5 minutes</li>
      <li><span class="medium-weight">City Airport</span> – 30 minutes</li>
      <li><span class="medium-weight">Old Street</span> - 10 minutes</li>
    </ul>
  </div>
  <div class="community-list-wrapper">
    <p class="main-txt">Journey Times from <span class="medium-weight">Waterloo</span> by Tube</p>
    <ul class="community-list">
      <li><span class="medium-weight">Covent Garden</span> - 8 minutes</li>
      <li><span class="medium-weight">Holborn</span> - 10 minutes</li>
      <li><span class="medium-weight">Canary Wharf</span> – 15 minutes</li>
    </ul>
  </div>

  <h3 class="sub-title">Are you Looking for office space or workspace in London Bridge, Southwark, Waterloo or Vauxhall?</h3>

  <div class="table-community-wrapper">
    <div class="table-community">
      <table>
        <thead>
        <tr>
          <th style="width: 58%">Co-working and services office spaces</th>
          <th style="width: 14%">Affordable</th>
          <th style="width: 14%">A step up</th>
          <th style="width: 14%">High-end</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td>SE1: London Bridge, Waterloo, Southwark</td>
          <td>£350 - £450</td>
          <td>£450 - £650</td>
          <td>£650 - £900</td>
        </tr>
        <tr>
          <td>SW8: Vauxhall</td>
          <td>£350 - £450</td>
          <td>£450 - £500</td>
          <td>£500 - £700</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="text-right">
      <span class="table-community-hint">Prices: per desk/per month</span>
    </div>
  </div>


  <div class="table-community-wrapper">
    <div class="table-community">
      <table>
        <thead>
        <tr>
          <th style="width: 58%">Leased office space</th>
          <th style="width: 14%">Affordable</th>
          <th style="width: 14%">A step up</th>
          <th style="width: 14%">High-end</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td>SE1: London Bridge, Waterloo, Southwark</td>
          <td>£37 - £50</td>
          <td>£50 - £65</td>
          <td>£65 - £72.50</td>
        </tr>
        <tr>
          <td>SW8: Vauxhall</td>
          <td>£30 - £37.50</td>
          <td>£37.50 - £45</td>
          <td>£45 - £55</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="text-right">
      <span class="table-community-hint">Prices: per square foot</span>
    </div>
  </div>
</div>
