<mat-card class="login-modal-wnd">
  <a
    *ngIf="!modal; else: xClose"
    class="login-back-btn"
    [routerLink]="'/postspace'"
    >back</a
  >
  <ng-template #xClose>
    <a class="close-modal" (click)="action.emit('close')"
      ><img src="{{getAbsoluteUrl('/assets/img/close-modal-button.svg')}}" alt=""></a>
  </ng-template>
  <form (ngSubmit)="onDoLogin($event)" [formGroup]="loginFormGroup" method="POST">
    <div class="logo-wrap text-center">
      <img src="{{getAbsoluteUrl('/assets/img/kikmoov-logo-sm.svg')}}" alt="" />
    </div>
    <div class="input-class input-class-border-bottom">
      <input
        type="email"
        matInput
        placeholder="email"
        formControlName="email"
      />
      <mat-error *ngIf="
          loginFormGroup.get('email').invalid &&
          (loginFormGroup.get('email').dirty ||
            loginFormGroup.get('email').touched)">
        <div
                *ngIf="loginFormGroup.get('email').errors['required']">
          This field is required
        </div>
        <div
                *ngIf="loginFormGroup.get('email').errors['email']">
          Incorrect E-mail
        </div>
      </mat-error>
    </div>
    <div class="input-class input-class-border-bottom">
      <input
        type="password"
        matInput
        placeholder="password"
        class="error-wraptext"
        formControlName="password"
      />
      <mat-error *ngIf="
          loginFormGroup.get('password').invalid &&
          (loginFormGroup.get('password').dirty ||
            loginFormGroup.get('password').touched)">
        <div
                *ngIf="loginFormGroup.get('password').errors['required']">
          This field is required
        </div>
        <div
                *ngIf="loginFormGroup.get('password').errors['minlength']">
          Password should have 8 characters or more
        </div>
      </mat-error>
    </div>
    <div *ngIf="errMsg != ''" class="error-msg">{{ errMsg }}</div>
    <div *ngIf="buyerMessage != null" class="buyer-msg">
      {{ buyerMessage[0] }}
      <p>{{ buyerMessage[1] }}</p>
    </div>

    <div *ngIf="modal" class="social-wrapper">
      <a href="#" role="button" (click)="socialSignIn($event, 'google')" class="login-social-lnk google">
        <span class="fa fa-google-plus"></span>
      </a>
      <a href="#" role="button" (click)="socialSignIn($event, 'facebook')" class="login-social-lnk facebook">
        <span class="fa fa-facebook"></span>
      </a>
      <a [href]="linkedInOauthLink" class="login-social-lnk linkedin">
        <span class="fa fa-linkedin"></span>
      </a>
    </div>

    <button mat-flat-button class="btn-site blue_c btn-center" [disabled]="loading" id="login-button" name="submit">
      <span *ngIf="!loading; else spinner">Log in</span>
      <ng-template #spinner>
        <mat-progress-spinner
          class="login-spinner"
          [diameter]="20"
          [mode]="'indeterminate'"
          [value]="50">
        </mat-progress-spinner>
      </ng-template>
    </button>
  </form>
  <div class="login-signup-block btn-site orange_c btn-center">
    <div *ngIf="!modal; else sellerSignup">
      <a [routerLink]="'/signup/seller'">Sign up</a>
    </div>
    <ng-template #sellerSignup>
      <a (click)="action.emit('signup')">Sign up</a>
    </ng-template>
  </div>
  <div class="login-forgot-pass">
    <div *ngIf="!forgotPasswordModal; else sellerRecover">
      <a [routerLink]="'/forgot-password'">forgot password</a>
    </div>
    <ng-template #sellerRecover>
      <a (click)="openForgotPasswordDialog('recover')">forgot password</a>
    </ng-template>
  </div>
  <p class="terms-privacy-msg text-center">
    By creating an account, you agree to our <a routerLink="/terms" fragment="privacy">Privacy Policy</a> and <a routerLink="/terms">Terms and Conditions</a>.
  </p>
</mat-card>
