@import "../../../../variables.scss";

.login-modal-wnd {
  width: 414px;
  background-color: #fff;
  padding: 30px 82px 40px 82px;
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  font-family: 'Montserrat', sans-serif;

  @media (max-width: $screen-xs-max) {
    width: 100%;
    padding: 30px !important;
  }
}

.social-wrapper {
  margin: 30px 0;
  text-align: center;

  .login-social-lnk  {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    margin-right: 20px;
    @include transition(.2s);

    &:hover {
      border-color: #4a4a4a !important;
    }

    &:last-child {
      margin-right: 0;
    }

    &.google {
      border: 1px solid #dc4e41;
      color: #dc4e41;

      .fa {
        margin-left: 1px;
      }
    }

    &.facebook {
      border: 1px solid #3b5998;
      color: #3b5998;

      .fa {
        margin-left: -1px;
      }
    }

    &.linkedin {
      border: 1px solid #007ab9;
      color: #007ab9;
    }

    .fa {
      font-size: 22px;
      line-height: 40px;
    }
  }
}

.login-signup-block {
  margin: 10px 0 30px;
  text-align: center;
  position: relative;
  min-height: 37px;

  a {
    position: absolute !important;
    top: 0 !important;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 37px !important;
  }

  div {
    display: inline-block;
    vertical-align: middle;
  }

  span {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 16px;
    color: #4a4a4a;
  }

  a {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 16px;
    color: #4a4a4a;
    text-decoration: underline;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    top: -1px;

    &:hover {
      text-decoration: none;
    }
  }
}

.login-forgot-pass {
  text-align: center;

  a {
    display: block;
    font-size: 14px;
    line-height: 16px;
    color: #4a4a4a;
    text-decoration: underline;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }
}

.error-msg {
  color: #dc4e41;
  max-width: 250px;
}

.buyer-msg {
  width: 362px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #f76649;
  margin: 39px -56px 35px -56px;

  @media (max-width: $screen-xs-max) {
    width: 100%;
    margin: 39px 0px 35px 0px;
  }

  p {
    font-weight: 300;
    text-align: center;
  }
}

.login-back-btn {
  color: #9b9b9b !important;
  position: relative;
  top: -70px;
  left: -83px;
  //font-family: Montserrat;
  font-size: 14px;
  line-height: 16px;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

  @media (max-width: $screen-sm-max) {
    left: -30px;
  }
}
