<div class="checkbox">
  <input type="checkbox" [id]="elemetId" (change)="onChange(elemetId, $event.target.checked)">
  <label [for]="elemetId">
    <span class="check-wrap"></span>
    <i class="checkbox-text">
      <ng-content></ng-content>
    </i>
  </label>
</div>
