<app-menu-market></app-menu-market>
<div class="wrapper">
  <div class="community-market-row row">
    <div class="col-md-5">
      <h2 class="main-title">North London</h2>
      <p class="main-txt">A green part of London which have seen tremendous amount of growth in certain areas. </p>
    </div>
    <div class="col-md-7">
      <div class="img-wrap">
        <img src="{{getAbsoluteUrl('/assets/img/community-maps/map-north-london.png')}}" alt="">
        <span class="cite">London, UK</span>
      </div>
    </div>
  </div>
  <p class="main-txt">North London, is a popular part of London for both commercial and residential purposes. North London’s main and most popular areas consist of Kings Cross, Islington and Camden.</p>
  <p class="main-txt">Kings Cross is a major rail hub, with national trains at Kings Cross station and the Eurostar terminal at St.Pancras international. The revitalised Regent’s Canal area has offices, landscaped walkways, bars and restaurants on Granary Square. Large companies occupy space in some of most iconic offices in London situated in Kings Cross – YouTube and Google.</p>
  <p class="main-txt">Camden and Islington, as well as being popular residential areas are extremely attractive to tourists. There are great office space solutions and options available in Camden and Islington. Both extremely well connected to both the City and the West End. </p>
  <h3 class="sub-title">Transport Links</h3>
  <p class="main-txt">Local stations include <span class="medium-weight">Kings Cross</span>, <span class="medium-weight">Camden</span> and <span class="medium-weight">Angel.</span></p>
  <div class="community-list-wrapper">
    <p class="main-txt">Journey Times from <span class="medium-weight">Kings Cross</span> by Tube</p>
    <ul class="community-list">
      <li><span class="medium-weight">Oxford Circus</span> – 9 minutes</li>
      <li><span class="medium-weight">Bank</span> – 21 minutes</li>
      <li><span class="medium-weight">Heathrow</span> – 65 minutes (direct)</li>
    </ul>
  </div>
  <div class="community-list-wrapper">
    <p class="main-txt">Journey Times from <span class="medium-weight">Camden Town</span> by Tube</p>
    <ul class="community-list">
      <li><span class="medium-weight">Kings Cross</span> – 11 minutes</li>
      <li><span class="medium-weight">Bank</span> – 15 minutes</li>
      <li><span class="medium-weight">Oxford Circus</span> – 7 minutes</li>
    </ul>
  </div>
  <div class="community-list-wrapper">
    <p class="main-txt">Journey Times from <span class="medium-weight">Angel</span> by Tube</p>
    <ul class="community-list">
      <li><span class="medium-weight">Old Street</span> – 3 minutes</li>
      <li><span class="medium-weight">Kings Cross</span> – 8 minutes</li>
      <li><span class="medium-weight">London Bridge</span> – 14 minutes</li>
    </ul>
  </div>

  <h3 class="sub-title">Are you Looking for office space or workspace in Islington, Camden or Kings Cross?</h3>

  <div class="table-community-wrapper">
    <div class="table-community">
      <table>
        <thead>
        <tr>
          <th style="width: 58%">Co-working and services office spaces</th>
          <th style="width: 14%">Affordable</th>
          <th style="width: 14%">A step up</th>
          <th style="width: 14%">High-end</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td>N1: Islington</td>
          <td>£350 - £450</td>
          <td>£450 - £500</td>
          <td>£500 - £550</td>
        </tr>
        <tr>
          <td>NW1: Camden</td>
          <td>£350 - £400</td>
          <td>£400 - £450</td>
          <td>£450 - £700</td>
        </tr>
        <tr>
          <td>NC1: Kings Cross</td>
          <td>£400 - £600</td>
          <td>£600 - £800</td>
          <td>£800 - £1000</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="text-right">
      <span class="table-community-hint">Prices: per desk/per month</span>
    </div>
  </div>


  <div class="table-community-wrapper">
    <div class="table-community">
      <table>
        <thead>
        <tr>
          <th style="width: 58%">Leased office space</th>
          <th style="width: 14%">Affordable</th>
          <th style="width: 14%">A step up</th>
          <th style="width: 14%">High-end</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td>N1: Islington</td>
          <td>£25 - £35</td>
          <td>£35 - £50</td>
          <td>£50 - £65</td>
        </tr>
        <tr>
          <td>NW1: Camden</td>
          <td>£25 - £45</td>
          <td>£45 - £55</td>
          <td>£55 - £70</td>
        </tr>
        <tr>
          <td>NC1: Kings Cross</td>
          <td>£45 - £55</td>
          <td>£55 - £65</td>
          <td>£65 - £85</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="text-right">
      <span class="table-community-hint">Prices: per square foot</span>
    </div>
  </div>
</div>
