@import "../../../../variables.scss";
/* home page top picks start */
.section-wrap.padding-top-none {
  padding-top: 0;
}

.home-office-carusel-frame {
  max-width: 960px;
  margin: 0 auto;
  position: relative;

  @media (max-width: $screen-md-max) {
    max-width: 650px;
  }

  .home-office-carusel-nav-btn {
    width: 36px;
    height: 36px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
    text-align: center;

    @media (max-width: $screen-sm-max) {
      width: 15%;
      height: 100%;
      opacity: 0;
      z-index: 100;
    }

    &:hover .fa {
      color: #4a4a4a;

    }

    .fa {
      display: block;
      color: $orange;
      font-size: 39px;
      line-height: 36px;
      transition: all .3s linear;

    }

    &.prev {
      left: -50px;
      padding: 0 10px;

      @media (max-width: $screen-sm-max) {
        left: 0;
        display: none;
      }
    }

    &.next {
      right: -50px;
      padding: 0 13px;

      @media (max-width: $screen-sm-max) {
        right: 0;
        top: 0;
        transform: none;
        height: 60%;
        display: none;
      }
    }

    &.mobile-part {
      display: none;

      @media (max-width: $screen-sm-max) {
        display: block;
        top: auto;
        bottom: 0;
        height: 28%;
      }
    }
  }
}

.home-office-carusel {
  width: 100%;
  background: #fff;

}

/* home page top picks end */
