<div class="repeat-title-wrapper fullwidth">
  <span class="title">Top picks</span>
  <span class="subtitle">Discover Kikmoov's recommended office space</span>
</div>
<div class="home-office-carusel-frame">
  <div class="home-office-carusel-nav-btn-frm" *ngIf="!workSpaceList.length || workSpaceList.length > 1">
    <!--<div class="home-office-carusel-nav-btn prev" (click)="slickOfficeModal.slickPrev()">
      <i class="fa fa-angle-left"></i>
    </div>-->
  </div>
  <div class="home-office-carusel">
    <ngx-slick-carousel #slickOfficeModal="slick-carousel" [config]="officeSlideConfig">
      <app-workspace ngxSlickItem *ngFor="let workSpace of workSpaceList" classes="slide" [workSpace]="workSpace"></app-workspace>
      <ng-template [ngIf]="!workSpaceList.length">
        <div ngxSlickItem class="slide topticks-slide" *ngFor="let slide of slides">
          <div class="topticks-img" [ngStyle]="{'background-image': 'url(' + slide.img + ')'}"></div>
          <div class="topticks-info-wrapper">
            <span class="topticks-info-wrapper-title">Private office</span>
            <span class="topticks-info-wrapper-name">Office Name</span>
            <span class="topticks-info-wrapper-location">Location</span>

            <div class="topticks-info-wrapper-like">
              <i class="fa fa-heart-o"></i>
            </div>
          </div>

          <div class="topticks-price">
            <div class="topticks-price-col">
              <p class="topticks-price-col-text">£1,300 <span>/m</span></p>
              <p class="topticks-price-col-text"><span>300 sq ft • 4 ppl</span></p>
            </div>
            <div class="topticks-price-col">
              <p class="topticks-price-col-text">£1,300 <span>/m</span></p>
              <p class="topticks-price-col-text"><span>300 sq ft • 4 ppl</span></p>
            </div>
          </div>
        </div>
      </ng-template>
    </ngx-slick-carousel>
  </div>
  <div class="home-office-carusel-nav-btn-frm">
    <!--<div class="home-office-carusel-nav-btn next" *ngIf="!workSpaceList.length || workSpaceList.length > 1" (click)="slickOfficeModal.slickNext()">
      <i class="fa fa-angle-right"></i>
    </div>-->
    <div class="home-office-carusel-nav-btn next mobile-part" *ngIf="!workSpaceList.length || workSpaceList.length > 1" (click)="slickOfficeModal.slickNext()">
      <i class="fa fa-angle-right"></i>
    </div>
  </div>
</div>
