<!-- Portal profile https://zpl.io/2Zz3GJl -->
<!-- Portal profile change password https://zpl.io/adPG7gK -->

<app-post-space-bar [disableHomePage]="true"></app-post-space-bar>
<div class="portal-wrapper">
  <div class="wrapper">
    <div class="portal-row d-flex flex-wrap">
      <div class="portal-col col-sidebar order-lg-1">
        <app-portal-sidebar [currentWorkSpaceId]="currentId" [workspaceList]="workspacelist"></app-portal-sidebar>
      </div>

      <div class="loading-wrapper portal-col col-main order-lg-2" *ngIf="loading">
        <div class="loading-logo">
          <img src="/assets/img/loading-logo.svg" alt="">
        </div>
      </div>
      <!-- Portal profile START -->
      <form *ngIf="mode === 'profile' && !loading" [formGroup]="profileForm" (ngSubmit)="submitProfile(profileForm)" class="portal-col col-main order-lg-2">
        <span class="workspace-name">Profile</span>

        <div class="main-portal-wrapper">
          <div class="row justify-content-between">
            <div class="col-lg-5">
              <div class="inputs-row row">
                <div class="col-12">
                  <span class="workspace-name">Invoicing contact details</span>
                  <div class="input-class">
                    <input type="text" formControlName="firstname" placeholder="Name">
                    <mat-error *ngIf="
                    profileForm.get('firstname').invalid &&
                    (profileForm.get('firstname').dirty ||
                      profileForm.get('firstname').touched)">
                      <div
                        *ngIf="profileForm.get('firstname').errors['required']">
                        {{ 'This field is required' }}
                      </div>
                    </mat-error>
                  </div>
                  <div class="input-class">
                    <input type="text" formControlName="companyName" placeholder="Company name">
                    <mat-error *ngIf="
                    profileForm.get('companyName').invalid &&
                    (profileForm.get('companyName').dirty ||
                      profileForm.get('companyName').touched)">
                      <div
                        *ngIf="profileForm.get('companyName').errors['required']">
                        {{ 'This field is required' }}
                      </div>
                    </mat-error>
                  </div>
                </div>
              </div>

              <div class="inputs-row row">
                <div class="col-12">
                  <div class="input-class">
                    <input type="text" formControlName="address" placeholder="Address">
                    <mat-error *ngIf="
                    profileForm.get('address').invalid &&
                    (profileForm.get('address').dirty ||
                      profileForm.get('address').touched)">
                      <div
                        *ngIf="profileForm.get('address').errors['required']">
                        {{ 'This field is required' }}
                      </div>
                    </mat-error>
                  </div>
                  <div class="input-class">
                    <input type="text" formControlName="optionalAddress" placeholder="Address (optional)">
                  </div>
                </div>
              </div>

              <div class="inputs-row row">
                <div class="col-md-6">
                  <div class="input-class">
                    <input type="text" formControlName="town" placeholder="Town/City">
                    <mat-error *ngIf="
                    profileForm.get('town').invalid &&
                    (profileForm.get('town').dirty ||
                      profileForm.get('town').touched)">
                      <div
                        *ngIf="profileForm.get('town').errors['required']">
                        {{ 'This field is required' }}
                      </div>
                    </mat-error>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-class">
                    <input type="text" formControlName="postcode" placeholder="Postcode">
                    <mat-error *ngIf="
                    profileForm.get('postcode').invalid &&
                    (profileForm.get('postcode').dirty ||
                      profileForm.get('postcode').touched)">
                      <div
                        *ngIf="profileForm.get('postcode').errors['required']">
                        {{ 'This field is required' }}
                      </div>
                    </mat-error>
                  </div>
                </div>
              </div>

              <div class="inputs-row row">
                <div class="col-12">
                  <div class="input-class">
                    <input type="email" formControlName="invoiceEmail" placeholder="E-mail">
                    <mat-error *ngIf="
                    profileForm.get('invoiceEmail').invalid &&
                    (profileForm.get('invoiceEmail').dirty ||
                      profileForm.get('invoiceEmail').touched)">
                      <div
                        *ngIf="profileForm.get('invoiceEmail').errors['required']">
                        {{ 'This field is required' }}
                      </div>
                      <div
                        *ngIf="profileForm.get('invoiceEmail').errors['email']">
                        {{ 'Incorrect email' }}
                      </div>
                    </mat-error>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5">
              <div class="inputs-row row">
                <div class="col-12">
                  <span class="workspace-name">Account details</span>
                  <div class="input-class">
                    <input type="text" formControlName="firstname" placeholder="Name">
                    <mat-error *ngIf="
                    profileForm.get('firstname').invalid &&
                    (profileForm.get('firstname').dirty ||
                      profileForm.get('firstname').touched)">
                      <div
                        *ngIf="profileForm.get('firstname').errors['required']">
                        {{ 'This field is required' }}
                      </div>
                    </mat-error>
                  </div>
                  <div class="input-class">
                    <input type="email" formControlName="email" placeholder="E-mail">
                    <mat-error *ngIf="
                    profileForm.get('email').invalid &&
                    (profileForm.get('email').dirty ||
                      profileForm.get('email').touched)">
                      <div
                        *ngIf="profileForm.get('email').errors['required']">
                        {{ 'This field is required' }}
                      </div>
                      <div
                        *ngIf="profileForm.get('email').errors['email']">
                        {{ 'Incorrect email' }}
                      </div>
                    </mat-error>
                  </div>
                  <div class="input-class w-50">
                    <input type="tel" formControlName="phone" placeholder="Phone number">
                    <mat-error *ngIf="
                    profileForm.get('phone').invalid &&
                    (profileForm.get('phone').dirty ||
                      profileForm.get('phone').touched)">
                      <div
                        *ngIf="profileForm.get('phone').errors && profileForm.get('phone').errors['required']">
                        {{ 'This field is required' }}
                      </div>
                      <div *ngIf="profileForm.get('phone').errors && profileForm.get('phone').errors['pattern']">
                        Invalid phone number
                      </div>
                    </mat-error>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="change-password-wrapper">
                    <span routerLink="change-password" class="change-pass">change password</span>
                  </div>
                  <p class="terms-privacy-msg">
                    <a (click)="confirmDeleteProfileModal()" class="btn-site blue_c">Delete account</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="text-right">
          <button class="btn-site grey_c save-changes-btn">Save changes</button>
        </div>
      </form>
      <!-- Portal profile END -->

      <!-- Portal profile change password START -->
      <form *ngIf="mode === 'change-password'" [formGroup]="changePasswordForm" (ngSubmit)="submitChangePassword(changePasswordForm)" class="portal-col portal-col-change-pass col-main order-lg-2">
        <span class="workspace-name">Change password</span>

        <div class="main-portal-wrapper main-portal-change-pass">
          <div class="row justify-content-between">
            <div class="col-lg-8">
              <div class="inputs-row row m-0">
                <div class="col-12">
                  <div class="input-class input-class-current-pass">
                    <input type="password" formControlName="oldPassword" placeholder="Current password">
                    <mat-error *ngIf="
                    changePasswordForm.get('oldPassword').invalid &&
                    (changePasswordForm.get('oldPassword').dirty ||
                      changePasswordForm.get('oldPassword').touched)">
                      <div
                        *ngIf="changePasswordForm.get('oldPassword').errors['required']">
                        This field is required
                      </div>
                    </mat-error>
                  </div>
                  <div class="input-class">
                    <input type="password" formControlName="newPassword" placeholder="New password">
                    <mat-error *ngIf="
                    changePasswordForm.get('newPassword').invalid &&
                    (changePasswordForm.get('newPassword').dirty ||
                      changePasswordForm.get('newPassword').touched)">
                      <div
                        *ngIf="changePasswordForm.get('newPassword').errors['required']">
                        This field is required
                      </div>
                    </mat-error>
                  </div>
                  <div class="input-class">
                    <input type="password" formControlName="repeatNewPassword" placeholder="Re-enter new password" class="m-0">
                  </div>
                  <mat-error *ngIf="
                    changePasswordForm.get('repeatNewPassword').invalid &&
                    (changePasswordForm.get('repeatNewPassword').dirty ||
                      changePasswordForm.get('repeatNewPassword').touched)">
                    <div
                      *ngIf="changePasswordForm.get('repeatNewPassword').errors['not_match']">
                      {{ changePasswordForm.get('repeatNewPassword').errors['not_match'] }}
                    </div>
                    <div
                      *ngIf="changePasswordForm.get('repeatNewPassword').errors['required']">
                      This field is required
                    </div>
                  </mat-error>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="text-right">
          <span routerLink="/mainportal/profile" class="btn-site btn-cancel">Cancel</span>
          <button class="btn-site grey_c save-changes-btn">Save changes</button>
        </div>
      </form>
      <!-- Portal profile change password END -->
    </div>
  </div>
</div>

<!-- Modal Sign out -->
<ngx-smart-modal
  #confirmDeleteModal
  identifier="confirmDeleteProfileModal"
  [closable]="false"
  [customClass]="
    'confirm-modal modal-frame nsm-dialog-animation-fade nsm-centered'
  "
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="logo-wrap text-center">
        <img src="/assets/img/alert-icon.svg" style="width: 80px;" alt="">
      </div>
      <span class="confirm-text">Are you sure you want to delete your account?</span>
      <p>Important information may be lost.</p>
      <a (click)="confirmDeleteProfileModalClose()" class="btn-site grey_c">Back</a>
      <a (click)="deleteAccount()" class="btn-site blue_c">Delete account</a>
    </div>
  </div>
</ngx-smart-modal>
