@import "../../../../variables.scss";

.blog-hero-wrapper {
  min-height: 430px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  position: relative;
  padding: 0 15px;
}

.blog-switch-pages {
  position: absolute;
  bottom: 0;
  z-index: 10;
  margin-bottom: 30px;
}

.blog-page-link {
  text-align: center;
  margin: 0 30px;
  cursor: pointer;
  min-width: 210px;

  @media (max-width: $screen-md-max) {
    margin: 0 20px;
  }

  @media (max-width: $screen-sm-max) {
    margin: 0 10px;
    min-width: initial;
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover, &.active {
    text-decoration: none;
    .blog-link-icon {
      .line {
        //stroke: $orange;
      }
    }

    span {
      color: $orange;

      &:after {
        background-color: $orange;
      }
    }
  }

  .blog-link-icon {
    display: block;
    width: 77px;
    height: 59px;
    margin: 0 auto 15px auto;

    @media (max-width: $screen-md-max) {
      width: 40px;
      height: 40px;
    }

    @media (max-width: $screen-sm-max) {
      width: 30px;
      height: 30px;
    }

    .line {
      stroke: #fff;
      @include transition(.3s);
    }
  }

  span {
    display: block;
    font-size: 21px;
    font-weight: 500;
    color: #fff;
    position: relative;
    @include transition(.3s);

    @media (max-width: $screen-md-max) {
      font-size: 20px;
    }

    @media (max-width: $screen-sm-max) {
      font-size: 15px;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: -13px;
      left: 50%;
      transform: translateX(-50%);
      height: 2px;
      width: 43px;
      background-color: transparent;
      @include transition(.3s);

      @media (max-width: $screen-sm-max) {
        width: 30px;
      }
    }
  }
}
