<app-navmenu></app-navmenu>

<div class="blog-hero-wrapper d-flex justify-content-center align-items-end" [style.background-image]="'url(' + getAbsoluteUrl('/assets/img/co-community-header-image.jpg') + ')'">
  <span class="hero-title-blog">Community HQ</span>

  <div *ngIf="categories" class="blog-switch-pages d-flex align-items-center justify-content-center">

    <a class="blog-page-link" routerLinkActive="active" [routerLink]="'/blog/category/' + category.slug"  *ngFor="let category of categories">
      <img [src]="category.icon" [alt]="category.name" class="blog-link-icon">
      <span>{{ category.name }}</span>
    </a>
    <a class="blog-page-link" routerLinkActive="active" routerLink="/blog/community-market">
      <svg class="blog-link-icon" xmlns="http://www.w3.org/2000/svg" width="79" height="61" viewBox="0 0 79 61">
        <g fill="none" fill-rule="evenodd">
          <path class="line" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M37.62 32.726c0 3.918-1.496 7.836-4.485 10.826-5.979 5.979-15.673 5.979-21.65 0-5.98-5.979-5.98-15.673 0-21.651a15.258 15.258 0 0 1 10.824-4.485v15.31h15.31z"/>
          <path d="M41.297 28.726H26v-15.31c3.918 0 7.836 1.495 10.825 4.485a15.258 15.258 0 0 1 4.485 10.825h-.013z"/>
          <path class="line" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M41.297 28.726H26v-15.31c3.918 0 7.836 1.495 10.825 4.485a15.258 15.258 0 0 1 4.485 10.825h-.013z"/>
          <path d="M50 34.916h18.667"/>
          <path class="line" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M50 34.916h18.667"/>
          <path d="M50 40.916h18.667"/>
          <path class="line" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M50 40.916h18.667"/>
          <path d="M50 46.916h18.667"/>
          <path class="line" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M50 46.916h18.667"/>
          <path d="M50 24.726h18.667v-11.31H50z"/>
          <path class="line" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M50 24.726h18.667v-11.31H50z"/>
          <path class="line" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.636 1.416h67.781v58.529H1V10.052"/>
          <path class="line" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.636 10.052H1l8.636-8.636z"/>
        </g>
      </svg>
      <span>Market rent guides</span>
    </a>
  </div>
</div>

<app-blog-list [slug]="slug" *ngIf="!categoryUrl"></app-blog-list>
<app-community-market *ngIf="categoryUrl"></app-community-market>

<app-kikmoov-footer></app-kikmoov-footer>
