@import "../../../../variables.scss";

.nav-bar-frame {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 50px;
  background: #fff;
  z-index: 100;
  box-shadow: 0 -5px 20px 1px #000;

  @media (max-width: $screen-lg-max) {
    padding: 10px 15px;
  }

  &.nav-scrolled {
    background: $blue;
    z-index: 1000;
  }
}

.logo {
  a {
    display: block;

    .nav-bar-logo {
      width: 165px;

      @media (max-width: $screen-lg-max) {
        width: 130px;
      }
    }
  }
}

.main-nav {
  &.show-mobile-menu {
    opacity: 1;
    visibility: visible;
  }

  @media (max-width: $screen-xs-max) {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 225px;
    height: 100vh;
    background: $blue;
    padding: 80px 15px;
    text-align: center;
    transition: all 0.3s ease-in-out;
  }

  .nav-bar-lnk {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #4a4a4a;
    cursor: pointer;
    margin: 0 20px;
    transition: all 0.3s linear;

    &.post-a-space {
      cursor: inherit;

      &.active {
        color: $orange !important;

        &:hover {
          color: $orange !important;
        }
      }

      &:hover {
        color: #4a4a4a !important;
      }
    }

    @media (max-width: $screen-sm-max) {
      margin: 0 5px;
    }

    @media (max-width: $screen-xs-max) {
      display: block;
      margin: 0 0 30px 0;
      font-size: 18px;
      color: #fff;
    }

    &:hover {
      color: $orange !important;
      text-decoration: none;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.toggle-menu-button {
  display: none;
  width: 44px;
  height: 44px;
  position: relative;
  margin-right: -7px;

  @media (max-width: $screen-xs-max) {
    display: block;
  }

  &.active {
    span {
      background-color: #fff;
      &.line1 {
        transform: rotate(45deg);
        top: 21px;
      }

      &.line2 {
        transform: translateX(-20px);
        opacity: 0;
      }

      &.line3 {
        transform: rotate(-45deg);
        bottom: 21px;
      }
    }
  }

  span {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #4a4a4a;
    position: absolute;
    left: 50%;
    margin-left: -15px;
    transition: all 0.3s linear;

    &.line1 {
      top: 12px;
    }

    &.line2 {
      top: 21px;
    }

    &.line3 {
      bottom: 12px;
    }
  }
}
