<div class="nav-bar-frame d-flex justify-content-between align-items-center">
  <div class="logo">
    <a [routerLink]="'/'">
      <img src="{{getAbsoluteUrl('/assets/img/kikmoov-logo.svg')}}" class="nav-bar-logo">
    </a>
  </div>
  <div class="main-nav" [ngClass]="{'show-mobile-menu': showMenu}">
    <span class="nav-bar-lnk post-a-space" [ngClass]="{active: isUploading}">Post a Space</span>
  </div>

  <!-- Mobile toggle button start -->
  <div class="toggle-menu-button" (click)="showMenu = !showMenu" [ngClass]="{'active': showMenu}">
    <span class="line1"></span>
    <span class="line2"></span>
    <span class="line3"></span>
  </div>
  <!-- Mobile toggle button end -->
</div>
