// .login-wrap {
//   width: 400px;
//   margin: 0 auto;
//   border-radius: 20px;
//   box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.26);
//   padding: 20px;
//   position: relative;
//   top: 200px;

//   .top-img {
//     position: absolute;
//     top: -56px;
//     left: 50%;
//     margin-left: -56px;
//   }

//   .logo-title {
//     text-align: center;
//     margin-top: 50px;
//   }

//   .small-title {
//     color: lightcoral;
//     text-align: center;
//     padding-top: 10px;
//     font-size: 12px;
//   }

//   form {
//     padding-top: 40px;

//     .field {
//       width: 240px;
//       margin: 0 auto;
//       padding-top: 24px;

//       input {
//         margin: 0;
//         border-radius: 5px;
//         border: 1px solid #ccc;
//         height: auto;
//         padding: 8px 16px;
//         margin-left: -8px;
//       }
//     }

//     .submit-wrap {
//       text-align: center;
//       padding-top: 50px;

//       button {
//         box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.26);
//         border-radius: 20px;
//         border: none;
//         width: 120px;
//         padding: 8px 0;
//         background-color: #009de9;
//         color: #ffffff;
//         display: block;
//         margin: 0 auto;
//       }

//       a {
//         font-size: 12px;
//         display: block;
//         margin-top: 10px;
//       }
//     }

//     .error-msg {
//       text-align: center;
//       margin-top: 12px;
//       color: red;
//     }
//   }
// }
@import "../../../variables.scss";

.signup-modal-wnd-pos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (max-width: $screen-sm-max) {
    @include reset-position;
  }
}
