<div class="recover-password-wrapper">
  <app-navmenu [filled]="true"></app-navmenu>
  <div class="signup-modal-wnd-pos">
  <mat-card class="login-modal-wnd forgot-pass-wrap">

    <form (submit)="onDoPassChange($event)" [formGroup]="loginFormGroup" method="POST">
        <div class="logo-wrap text-center">
            <img src="/assets/img/kikmoov-logo-sm.svg" alt="">
        </div>

        <span class="hint-title">Please enter new password.</span>

        <div class="input-class">
          <input matInput type="password" placeholder="password" name="password" formControlName="password" />
        </div>
        <div *ngIf="errMsg != ''" class="error-msg">
            {{errMsg}}
        </div>
        <div class="create-button-wrap">
            <button mat-flat-button class="btn-site blue_c w100" name="submit">Change</button>
        </div>
    </form>
  </mat-card>
  </div>
</div>
