<div class="signup-seller-wrapper">
  <app-post-space-bar></app-post-space-bar>
  <mat-card class="signup-modal-wnd">
    <a class="signup-back-btn" [routerLink]="'/signin/seller'">back</a>
    <div class="signup-frame">
      <div class="logo-wrap text-center">
        <img src="/assets/img/kikmoov-logo-sm.svg" alt=""/>
      </div>
      <form (ngSubmit)="signupSeller(signupFormGroup)" [formGroup]="signupFormGroup" class="signup-seller-form">
        <div class="input-class input-class-border-bottom">
          <input
            matInput
            placeholder="First Name"
            formControlName="firstname"
          />
          <mat-error *ngIf="
          signupFormGroup.get('firstname').invalid &&
          (signupFormGroup.get('firstname').dirty ||
            signupFormGroup.get('firstname').touched)">
            <div
              *ngIf="signupFormGroup.get('firstname').errors['required']">
              This field is required
            </div>
          </mat-error>
        </div>
        <div class="input-class input-class-border-bottom">
          <input matInput placeholder="Last Name" formControlName="lastname"/>
          <mat-error *ngIf="
          signupFormGroup.get('lastname').invalid &&
          (signupFormGroup.get('lastname').dirty ||
            signupFormGroup.get('lastname').touched)">
            <div
              *ngIf="signupFormGroup.get('lastname').errors['required']">
              This field is required
            </div>
          </mat-error>
        </div>
        <div class="input-class input-class-border-bottom">
          <input matInput placeholder="Email" formControlName="email"/>
          <mat-error *ngIf="
          signupFormGroup.get('email').invalid &&
          (signupFormGroup.get('email').dirty ||
            signupFormGroup.get('email').touched)">
            <div
              *ngIf="signupFormGroup.get('email').errors['required']">
              This field is required
            </div>
            <div
              *ngIf="signupFormGroup.get('email').errors['email']">
              Incorrect E-mail
            </div>
          </mat-error>
        </div>
        <div class="input-class input-class-border-bottom">
          <input
            matInput
            placeholder="Password"
            type="password"
            formControlName="password"
          />
          <mat-error *ngIf="
          signupFormGroup.get('password').invalid &&
          (signupFormGroup.get('password').dirty ||
            signupFormGroup.get('password').touched)">
            <div
              *ngIf="signupFormGroup.get('password').errors['required']">
              This field is required
            </div>
            <div
              *ngIf="signupFormGroup.get('password').errors['minlength']">
              Password should have 8 characters or more
            </div>
          </mat-error>
        </div>
        <div class="input-class input-class-border-bottom">
          <input
            matInput
            placeholder="Re-password"
            type="password"
            formControlName="rePassword"
          />
          <mat-error *ngIf="
          signupFormGroup.get('rePassword').invalid &&
          (signupFormGroup.get('rePassword').dirty ||
            signupFormGroup.get('rePassword').touched)">
            <div
              *ngIf="signupFormGroup.get('rePassword').errors['required']">
              This field is required
            </div>
          </mat-error>
        </div>
        <div class="input-class input-class-border-bottom">
          <input matInput placeholder="Phone" formControlName="phone"/>
          <mat-error *ngIf="
          signupFormGroup.get('phone').invalid &&
          (signupFormGroup.get('phone').dirty ||
            signupFormGroup.get('phone').touched)">
            <div
              *ngIf="signupFormGroup.get('phone').errors['required']">
              This field is required
            </div>
            <div
              *ngIf="signupFormGroup.get('phone').errors['pattern']">
              Invalid phone number
            </div>
          </mat-error>
        </div>
        <div *ngIf="errMsg != ''" class="error-msg">{{ errMsg }}</div>
        <div class="text-center create-button-wrap">
          <button
            mat-flat-button
            class="btn-site blue_c"
          >
            Proceed
          </button>
        </div>
      </form>
    </div>
  </mat-card>
</div>
