@import "../../../../variables.scss";

.bookings-table-wrapper {
  @media (max-width: $screen-sm-max) {
    overflow: auto;
  }

  table {
    @media (max-width: $screen-sm-max) {
      width: 635px;
    }

    th, td {
      border-right: 1px solid #ececec;

      &:last-child {
        border-right: none;
      }
    }

    thead {
      background-color: #ececec;
      border: none;

      th {
        padding: 8px 15px;
        font-size: 12px;
        line-height: 14px;
        font-weight: 500;
        color: #4a4a4a;
      }
    }

    tbody {
      tr {
        &:nth-child(2n) {
          background-color: #ececec;
        }
      }

      td {
        padding: 25px 15px;
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
        color: #000;

        &:last-child {
          white-space: pre-wrap
        }
      }
    }
  }
}