<div class="bookings-table-wrapper">
  <table>
    <thead>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th *ngIf="workSpace && workSpace.type === 'meeting-room'">Meeting name</th>
      <th>Contract</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let row of bookingList">
      <td>{{ row.date }}</td>
      <td>{{ row.time }}</td>
      <td *ngIf="workSpace && workSpace.type === 'meeting-room'">{{ row.meetingName }}</td>
      <td>{{ row.contract }}</td>
    </tr>
    </tbody>
  </table>
</div>
