<div class="community-links-wrapper d-lg-flex">
  <span class="market-link" routerLinkActive="active" routerLink="/blog/community-market/tech-city">Tech City</span>
  <span class="market-link" routerLinkActive="active" routerLink="/blog/community-market/city-square-mile">City Square Mile</span>
  <span class="market-link" routerLinkActive="active" routerLink="/blog/community-market/east-london">East London</span>
  <span class="market-link" routerLinkActive="active" routerLink="/blog/community-market/midtown">Midtown</span>
  <span class="market-link" routerLinkActive="active" routerLink="/blog/community-market/north-london">North London</span>
  <span class="market-link" routerLinkActive="active" routerLink="/blog/community-market/south-london">South London</span>
  <span class="market-link" routerLinkActive="active" routerLink="/blog/community-market/west-london">West London</span>
  <span class="market-link" routerLinkActive="active" routerLink="/blog/community-market/west-end">West End</span>
</div>