<div class="workspace-table-wrapper">
  <table class="workspace-table">
    <thead>
      <tr>
        <th *ngFor="let col of headData">{{col}}</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngIf="!bodyData.length">
        <td class="empty" colspan="6"></td>
      </tr>
      <tr *ngFor="let row of bodyData">
        <ng-template ngFor let-rowData [ngForOf]="row">
          <td *ngIf="rowData['data']">
            <i *ngIf="rowData['link']; else spanBlock">{{rowData.data}}</i>
            <ng-template #spanBlock>
              <span *ngIf="rowData['cellStyle'] && (rowData['cellStyle'] === 'available' || rowData['cellStyle'] === 'unavailable'); else noCellStyle"
                    [ngClass]="rowData['cellStyle']"
                    >
                <span  class="edit" [ngClass]="rowData['cellStyle']">
                  {{rowData.data}}
                  <span class="edit-options-wrapper">
                    <span class="edit-options">
                      <span class="edit-space" (click)="handleUpdateStatus($event, row[(row.length - 1)], unavailable)">Unavailable</span>
                      <span class="edit-space" (click)="handleUpdateStatus($event, row[(row.length - 1)], available)">Available</span>
                    </span>
                  </span>
                </span>
              </span>
              <ng-template #noCellStyle>
                <span [ngClass]="rowData['cellStyle']"
                      [class.clickable]="rowData.bookings"
                      (click)="rowData.bookings ? showBookings(row[(row.length - 1)].originalData, row[(row.length - 1)].location) : false">
                  <ng-container *ngIf="!rowData['title']; else currencyPipe">
                    {{rowData.data}}
                  </ng-container>
                  <ng-template #currencyPipe>
                    {{rowData.data | currency : 'GBP' : 'symbol' : '1.0-0'}}
                  </ng-template>
                </span>
              </ng-template>
            </ng-template>
          </td>
        </ng-template>
        <td>
          <span class="edit">
            Edit
            <span class="edit-options-wrapper">
              <span class="edit-options">
                <span class="edit-space" (click)="handleEditClick($event, row[(row.length - 1)])">Edit space</span>
                <span class="delete-space" (click)="confirmDeleteSpace(row[(row.length - 1)])">Delete space</span>
              </span>
            </span>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ngx-smart-modal *ngIf="deletingOfficeId" #confirmDelete identifier="confirmDelete" [closable]="false" [customClass]="'confirm-modal modal-frame nsm-dialog-animation-fade nsm-centered'">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
     <!-- <span class="close-modal" (click)="confirmDelete.close()">
        <img src="/assets/img/close-modal-button.svg" alt="">
      </span>
      <div class="logo-wrap text-center">
        <img src="/assets/img/kikmoov-logo-sm.svg" alt="" />
      </div>-->
      <p>Are you sure you want to delete this space?</p>
      <button class="btn-site blue_c" (click)="confirmDeleting()">Delete</button>
      <button class="btn-site grey_c" (click)="confirmDelete.close()">Cancel</button>
    </div>
  </div>
</ngx-smart-modal>
