@import "../../../../variables.scss";

.workspace-table-wrapper {
  border-radius: 2px;
  //overflow: hidden;
  border: 1px solid #ececec;
  margin-bottom: 20px;

  @media (max-width: $screen-sm-max) {
    overflow: auto;
  }

  .workspace-table {
    @media (max-width: $screen-sm-max) {
      width: 635px;
    }

    th, td {
      text-align: center;
    }

    thead {
      background-color: #ececec;
      border: none;

      th {
        font-size: 10px;
        line-height: 12px;
        font-weight: 400;
        color: #000;
        padding: 3px 5px;
        width: 20%;
      }
    }

    tbody {
      tr {
        &:last-child {
          td {
            padding: 20px 10px 20px 10px;
          }
        }
      }
      td {
        padding: 20px 10px 0 10px;
        font-size: 14px;
        line-height: 16px;
        color: #000;

        span {
          &.pending {
            background-color: #cacaca;
            font-size: 12px;
            line-height: 14px;
            font-weight: 500;
            color: #fff;
            border-radius: 3px;
            padding: 0 10px 1px 10px;
          }

          /*&.clickable {
            text-decoration: underline;

            &:hover {
              text-decoration: none;
            }
          }*/

          &.incomplete {
            background-color: #3d8fc6;
            font-size: 12px;
            line-height: 14px;
            font-weight: 500;
            color: #fff;
            border-radius: 3px;
            padding: 0 10px 1px 10px;
          }

          &.available {
            background-color: #55c183;
            font-size: 12px;
            line-height: 14px;
            font-weight: 500;
            color: #fff;
            border-radius: 3px;
            //padding: 0 10px 1px 10px;
          }

          &.unavailable {
            background-color: #d93737;
            font-size: 12px;
            line-height: 14px;
            font-weight: 500;
            color: #fff;
            border-radius: 3px;
            //padding: 0 10px 1px 10px;
          }
        }

        i {
          font-style: normal;
          text-decoration: underline;
          cursor: pointer;

          &:hover {
            text-decoration: none;
          }
        }

        .edit {
          display: block;
          //text-transform: uppercase;
          cursor: pointer;
          font-size: 12px;
          line-height: 14px;
          font-weight: 600;
          color: #4a4a4a;
          position: relative;

          &:hover {
            text-decoration: none;

            .edit-options-wrapper {
              opacity: 1;
              visibility: visible;
            }
          }

          .edit-options-wrapper {
            display: block;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            opacity: 0;
            visibility: hidden;
            @include transition(.2s);
            min-width: 115px;
            padding-top: 10px;
            z-index: 999;
          }

          .edit-options {
            display: block;
            padding: 10px;
            border-radius: 2px;
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
            background-color: #fff;
            text-align: left;
            position: relative;

            .edit-space,
            .delete-space {
              display: block;
              color: #9b9b9b;
              @include transition(.2s);

              &:hover {
                color: #000;
              }
            }

            .edit-space {
              margin-bottom: 10px;
            }

            &:before {
              content: '';
              display: block;
              position: absolute;
              width: 0;
              height: 0;
              top: -2px;
              left: calc(50% - 3px);
              box-sizing: border-box;
              border: 6px solid black;
              border-color: #fff #fff transparent transparent ;
              transform-origin: 0 0;
              transform: rotate(-45deg) translateX(-50%);
              box-shadow: 3px -3px 3px 0 rgba(0, 0, 0, 0.1);
              @include transition(.2s);
            }
          }
        }
      }
    }
  }
}

td {
  &.empty {
    height: 35px;
  }
}
