<mat-card class="login-modal-wnd forgot-pass-wrap">
    <a class="close-modal" (click)="action.emit('close')">
      <img src="/assets/img/close-modal-button.svg" alt="">
    </a>

    <form (submit)="onDoRecover()" [formGroup]="forgetFormGroup">
        <div class="logo-wrap text-center">
            <img src="/assets/img/kikmoov-logo-sm.svg" alt="">
        </div>

        <span class="hint-title">Please enter the email address associated with your account.</span>
        <p class="hint-description">We will email you with details on how to reset your password.</p>

        <div class="input-class input-class-border-bottom">
            <input type="email" formControlName="email" matInput placeholder="email">
        </div>

        <div class="create-button-wrap">
            <button mat-flat-button class="btn-site blue_c w100" name="submit">Restore</button>
        </div>
    </form>
</mat-card>
