@import "../../../variables.scss";

.bookings-page-holder {
  padding: 120px 15px 50px 15px;
  min-height: 100vh;
  position: relative;

  @media (max-width: $screen-sm-max) {
    padding: 100px 15px 50px 15px;
  }
}

.bookings-list-page-empty {
  @include center(both);
  text-align: center;
  width: 100%;
  padding: 0 15px;

  @media (max-width: $screen-xs-max) {
    .remove-mobile {
      display: none;
    }
  }

  @media (max-height: 375px) {
    @include reset-position;
  }

  img {
    display: inline-block;
    margin-bottom: 45px;
  }

  span {
    display: block;
    font-size: 18px;
    font-weight: 500;
    color: #9b9b9b;
  }
}

.bookings-page-wrapper {
  max-width: 740px;
  margin: 0 auto;
}

.bookings-list {
  border-left: 3px solid transparent;
  padding: 0 0 90px 25px;

  @media (max-width: $screen-sm-max) {
    padding: 0 0 90px 15px;
  }

  &.current-bookings {
    border-color: $orange;

    .booking-item-wrapper {
      &:before {
        background-color: $orange;
      }
    }
  }

  &.past-bookings {
    border-color: #cacaca;
    padding: 0 0 0 25px;

    @media (max-width: $screen-sm-max) {
      padding: 0 0 0 15px;
    }

    .booking-item-wrapper {
      &:before {
        background-color: #cacaca;
      }
    }
  }
}

.booking-item-wrapper {
  position: relative;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 10px;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  &:before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: -41px;
    border: 7.5px solid #fff;

    @media (max-width: $screen-sm-max) {
      left: -31px;
    }
  }
}

.bookings-info-left {
  .b-info-img {
    min-height: 160px;
    background: no-repeat 50% 50%;
    background-size:  cover;
    border-radius: 4.5px;
    margin-bottom: 7px;
  }

  span {
    display: block;
    margin-bottom: 3px;
    font-weight: 500;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .b-info-type {
    color: $orange;
    font-size: 12px;
  }

  .b-info-name {
    color: #000;
    font-size: 18px;
  }

  .b-info-location {
    color: #9b9b9b;
    font-size: 12px;
  }
}

.bookings-info-right {
  position: relative;

  .b-info-row {
    margin-bottom: 20px;
    padding: 5px;
    
    &.b-info-row-top {
      background-color: #f5f5f5;
      border-radius: 4px;
      width: 220px;
    }

    .b-info-title {
      display: block;
      font-size: 14px;
      font-weight: 500;
      color: #000;
      margin-bottom: 10px;
    }

    .b-info-txt {
      margin: 0;
      font-size: 12px;
      color: #000;
      word-break: break-word;
      &.email {
        word-break: normal;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    .row {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
}

.b-cancel {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  color: #d0021b;
  font-size: 12px;
  border-bottom: 1px solid #d0021b;
  cursor: pointer;
  @include transition(.2s);

  @media (max-width: $screen-sm-max) {
    @include reset-position;
    display: inline-block;
    margin: 15px 0;
  }

  &:hover {
    border-color: transparent;
  }
}
