<app-navmenu [filled]="true"></app-navmenu>

<section class="bookings-page-holder">

  <!-- If no bookings -->
  <div class="bookings-list-page-empty" *ngIf="!futureBookings.length && !pastBookings.length && !loading; else bookings">
    <img src="/assets/img/empty-bookings-icon.svg" alt="">
    <span>
      No likes bookings yet. <br>
      Current and past requests, bookings and <br class="remove-mobile">
      viewings will be stored here.
    </span>
  </div>

  <div class="loading-wrapper" *ngIf="loading">
    <div class="loading-logo">
      <img src="/assets/img/loading-logo.svg" alt="">
    </div>
    <span class="loading-txt">Searching for amazing workspaces</span>
  </div>


  <ng-template #bookings>
  <div class="bookings-page-wrapper" *ngIf="!loading">
    <span class="bookings-title">Current Bookings</span>
    <div class="bookings-list current-bookings">
      <div class="booking-item-wrapper" *ngFor="let booking of futureBookings">
        <div class="row">
          <div class="col-sm-5">
            <div class="bookings-info-left">
              <a [routerLink]="'/indepth/' + booking['workspace'].id">
                <div class="b-info-img" [ngStyle]="{backgroundImage: 'url(' + booking['workspace'].coverImageUrl + ')'}"></div>
              </a>
              <span class="b-info-type">
                {{ booking['workspace'].type === 'desk' && booking['booking'].units > 1 ? booking['booking'].units : ''}}
                {{  booking['workspace'].type === 'desk' && booking['booking'].units > 1 ? ' Desks' : workSpaceTypes[booking['workspace'].type] }}
              </span>
              <span class="b-info-name">{{ booking['location'].name }}</span>
              <span class="b-info-location">{{ booking['location'].address }}</span>
            </div>
          </div>
          <div class="col-sm-7">
            <div class="bookings-info-right">
              <span class="b-cancel" (click)="bookingCancelModalOpen(booking)">Cancel</span>
              <div class="b-info-row b-info-row-top">
                <span class="b-info-title">{{
                  booking['booking'].viewing ? 'Viewing at' : (
                    booking['workspace'].type === 'meeting-room' ? booking['booking'].name : 'Start date'
                  )
                }}</span>
                <p class="b-info-txt">{{ booking['booking'].date }}</p>
              </div>
              <div class="b-info-row">
                <span class="b-info-title">{{ booking['workspace'].type !== 'desk' ?
                  workSpaceTypes[booking['workspace'].type] : deskTypes[booking['workspace'].deskType] }} - {{ booking['workspace'].price | currency : 'GBP' : 'symbol' : '1.0-2' }}
                  {{ booking['workspace'].type === 'private-office' || booking['workspace'].deskType === 'monthly_fixed_desk' ? '/m' : '' }}</span>
                <p class="b-info-txt" *ngIf="booking['workspace'].type === 'meeting-room'">{{ booking['workspace'].capacity }} ppl</p>
              </div>
              <div class="b-info-row">
                <span class="b-info-title">Contact info</span>
                <div class="row">
                  <div class="col-md-6">
                    <p class="b-info-txt">{{ booking['location'].name }}</p>
                    <p class="b-info-txt">{{ booking['location'].address }}</p>
                    <p class="b-info-txt">{{ booking['location'].town }} {{ booking['location'].postcode }}</p>
                  </div>
                  <div class="col-md-6">
                    <p class="b-info-txt">{{ booking['location'].phone }}</p>
                    <p class="b-info-txt email" [title]="booking['location'].email">{{ booking['location'].email }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <span class="bookings-title mt-height">Past Bookings</span>
    <div class="bookings-list past-bookings">
      <div class="booking-item-wrapper" *ngFor="let booking of pastBookings">
        <div class="row">
          <div class="col-sm-5">
            <div class="bookings-info-left">
              <a [routerLink]="'/indepth/' + booking['workspace'].id">
                <div class="b-info-img" [ngStyle]="{backgroundImage: 'url(' + booking['workspace'].coverImageUrl + ')'}"></div>
              </a>
              <span class="b-info-type">{{ workSpaceTypes[booking['workspace'].type] }}</span>
              <span class="b-info-name">{{ booking['location'].name }}</span>
              <span class="b-info-location">{{ booking['location'].address }}</span>
            </div>
          </div>
          <div class="col-sm-7">
            <div class="bookings-info-right">
              <div class="b-info-row b-info-row-top">
                <span class="b-info-title">{{
                  booking['booking'].viewing ? 'Viewing at' : (
                    booking['workspace'].type === 'meeting-room' ? booking['booking'].name : 'Start date'
                  )
                  }}</span>
                <p class="b-info-txt">{{ booking['booking'].date }}</p>
              </div>
              <div class="b-info-row">
                <span class="b-info-title">{{ booking['workspace'].type !== 'desk' ?
                  workSpaceTypes[booking['workspace'].type] : deskTypes[booking['workspace'].deskType] }} - {{ booking['workspace'].price | currency : 'GBP' : 'symbol' : '1.0-2' }}
                  {{ booking['workspace'].type === 'private-office' || booking['workspace'].deskType === 'monthly_fixed_desk' ? '/m' : '' }}</span>
                <p class="b-info-txt" *ngIf="booking['workspace'].type === 'meeting-room'">{{ booking['workspace'].capacity }} ppl</p>
              </div>
              <div class="b-info-row">
                <span class="b-info-title">Contact info</span>
                <div class="row">
                  <div class="col-md-6">
                    <p class="b-info-txt">{{ booking['location'].name }}</p>
                    <p class="b-info-txt">{{ booking['location'].address }} {{ booking['location'].optionalAddress }}</p>
                    <p class="b-info-txt">{{ booking['location'].town }} {{ booking['location'].postcode }}</p>
                  </div>
                  <div class="col-md-6">
                    <p class="b-info-txt">{{ booking['location'].phone }}</p>
                    <p class="b-info-txt">{{ booking['location'].email }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </ng-template>
</section>

<!--<app-footer></app-footer>-->

<!-- Modal Bookings -->
<ngx-smart-modal #bookingCancelModal identifier="bookingCancelModal" [closable]="false" [customClass]="'booking-cancel-modal modal-frame nsm-dialog-animation-fade nsm-centered'">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="text-center booking-cancel-wrap">
        <img src="/assets/img/kikmoov-logo-sm.svg" alt="">

        <span class="b-modal-title">Are you sure you want to cancel this booking?</span>
        <p class="b-modal-txt" *ngIf="cancelingBooking && cancelingBooking.booking.duration === 'hourly' ">Full refund if you cancel 24 hours before the reservation start time.</p>

        <button (click)="cancelBooking()" class="btn-site blue_c">Cancel booking</button>
        <a routerLink="/terms" class="btn-site view-policy">View policy…</a>
        <span class="btn-site grey_c" (click)="bookingCancelModal.close()">Cancel</span>
      </div>
    </div>
  </div>
</ngx-smart-modal>
