@import "../../../../variables.scss";

.slide-image {
  width: 260px;
  //height: 300px;
}

.active-loading {
  visibility: hidden !important;
}

.active {
  z-index: 999;
  //animation-name: fadeIn;
  visibility: visible;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.un-active {
  //animation-name: fadeOut;
  visibility: hidden;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

.slide-wrapper {
  //overflow: hidden;
  width: 100%;
  min-height: 320px;
  position: relative;
  /*background: #eee;
  border-radius: 5px;*/

  &:hover {
    .slider-btns {
      opacity: 1;
      visibility: visible;
    }
  }

  .slide-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
  }
}

.slider-btns {
  z-index: 1000;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  position: absolute;
  top: 50%;
  padding: 0;
  border: none;
  width: 35px;
  height: 36px;
  background: #fff;
  border-radius: 50%;
  display: block;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  //opacity: 0;
  //visibility: hidden;
  //@include transition(.2s .3s);

  @media (max-width: $screen-md-max) {
    opacity: 1;
    visibility: inherit;
  }

  @media (max-width: $screen-sm-max) {
    top: 45%;
  }

  &:before {
    color: #f86649;
    font: normal normal normal 19px/1 FontAwesome;
    opacity: 1;
    position: relative;
  }

  &.btn-prev {
    //left: 8px;
    left: -50px;

    @media (max-width: $screen-sm-max) {
      left: -25px;
    }

    &:before {
      content: "\f053";
      top: 2px;
    }
  }

  &.btn-next {
    //right: 12px;
    right: -50px;

    @media (max-width: $screen-sm-max) {
      right: -25px;
    }

    &:before {
      content: "\f054";
      top: 2px;
      left: 2px;
    }
  }
}

.slide-image-wrapper {
  position: absolute;
  animation-duration: 1s;
  animation-fill-mode: both;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
