<div class="slide-wrapper" [ngStyle]="{'width': width + 'px'}">
  <div class="loading-wrapper" *ngIf="loading">
    <div class="loading-logo">
      <img src="{{getAbsoluteUrl('/assets/img/loading-logo.svg')}}" alt="">
    </div>
    <span class="loading-txt">Searching for amazing workspaces</span>
  </div>
  <div *ngFor="let slide of slideList; let i = index"
       [ngClass]="{'slide-image-wrapper': true,
                   'active-loading': loading,
                   'active': i != activeIndex ,
                   'un-active': i != activeIndex}">
    <app-slider-workspace [workSpace]="slide" class="slide-image slider-marker-wrap"></app-slider-workspace>
  </div>
  <button (click)="slideLeft($event)" class="slider-btns btn-prev" *ngIf="slideList.length > 1"></button>
  <button (click)="slideRight($event)" class="slider-btns btn-next" *ngIf="slideList.length > 1"></button>
</div>
