<app-post-space-bar [disableHomePage]="true"></app-post-space-bar>
<section class="upload-section">
  <div class="upload-wrapper">
    <div
      class="upload-heading-wrapper d-flex justify-content-between align-items-center"
    >
      <h2 class="upload-heading">
        Upload a
        <span class="upload-heading-mark">{{ formTitles[currentType] }}</span>
      </h2>
      <span
        *ngIf="currentOfficePosition && bkList.length"
        class="upload-heading-mark"
      >{{ currentOfficePosition }}/{{ bkList.length }}</span
      >
    </div>

    <div class="upload-container">
      <form
        *ngIf="workSpaceList['office']['pointed']"
        [formGroup]="formWorkspaceData"
        [autocomplete]="'off'"
      >
        <div class="upload-row w400">
          <span class="label-name">Building/Office name</span>
          <div class="input-class">
            <input type="text" placeholder="name" formControlName="name"/>
          </div>
          <mat-error
            *ngIf="
              formWorkspaceData.get('name').invalid &&
              (formWorkspaceData.get('name').dirty ||
                formWorkspaceData.get('name').touched)
            "
          >
            <div *ngIf="formWorkspaceData.get('name').errors['required']">
              Name is required.
            </div>
            <div *ngIf="formWorkspaceData.get('name').errors['maxlength']">
              The maximum length of this field is 40 symbols.
            </div>
          </mat-error>
        </div>
        <div class="upload-row w400">
          <span class="label-name">Address</span>
          <div class="input-class">
            <input
              type="text"
              placeholder="address line 1"
              autocomplete="no"
              #addressElement
              [(ngModel)]="address"
              formControlName="address"
              (change)="addressChanged($event)"
            />
            <mat-error
              *ngIf="
                formWorkspaceData.get('address').invalid &&
                (formWorkspaceData.get('address').dirty ||
                  formWorkspaceData.get('address').touched)
              "
            >
              <div *ngIf="formWorkspaceData.get('address').errors['required']">
                Address is required.
              </div>
              <div *ngIf="formWorkspaceData.get('address').errors['not_found']">
                {{ formWorkspaceData.get('address').errors['not_found'] }}
              </div>
              <div *ngIf="formWorkspaceData.get('address').errors['not_choosed']">
                {{ formWorkspaceData.get('address').errors['not_choosed'] }}
              </div>
              <div *ngIf="formWorkspaceData.get('address').errors['street_number']">
                Wrong house number
              </div>
            </mat-error>
          </div>
          <div class="input-class">
            <input
              type="text"
              placeholder="address line 2 (optional)"
              formControlName="optionalAddress"
            />
          </div>
          <div class="input-class">
            <input
              type="text"
              placeholder="Company (optional)"
              formControlName="company"
            />
          </div>
        </div>
        <div class="area upload-row w400">
          <div class="input-class">
            <input
              type="text"
              placeholder="area"
              autocomplete="no"
              formControlName="area"
              #area
              (focus)="suggestionsShow(true, area.value)"
              (blur)="suggestionsShow(false, area.value)"
            />
            <mat-error
              *ngIf="
                formWorkspaceData.get('area').invalid &&
                (formWorkspaceData.get('area').dirty ||
                  formWorkspaceData.get('area').touched)
              "
            >
              <div *ngIf="formWorkspaceData.get('area').errors['area']">
                Area is required.
              </div>
              <div *ngIf="formWorkspaceData.get('area').errors['invalid_area']">
                Invalid Area.
              </div>
            </mat-error>
            <ul class="search-dropdown-list" *ngIf="suggestions.length">
              <li
                *ngFor="let suggestion of suggestions"
                [innerHTML]="handleSuggestions(suggestion)"
                (click)="submitSuggestion($event.target.innerText)">
              </li>
            </ul>
          </div>
        </div>

        <div class="upload-row row">
          <div class="col-md-6">
            <div class="input-class">
              <input
                type="text"
                placeholder="town/city"
                formControlName="town"
              />
              <mat-error
                *ngIf="
                  formWorkspaceData.get('town').invalid &&
                  (formWorkspaceData.get('town').dirty ||
                    formWorkspaceData.get('town').touched)
                "
              >
                <div *ngIf="formWorkspaceData.get('town').errors['required']">
                  City is required.
                </div>
              </mat-error>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-class">
              <input
                type="text"
                placeholder="postcode"
                formControlName="postcode"
              />
              <mat-error
                *ngIf="
                  formWorkspaceData.get('postcode').invalid &&
                  (formWorkspaceData.get('postcode').dirty ||
                    formWorkspaceData.get('postcode').touched)
                "
              >
                <div
                  *ngIf="formWorkspaceData.get('postcode').errors['required']"
                >
                  Postcode is required.
                </div>
                <div
                  *ngIf="formWorkspaceData.get('postcode').errors['maxLength']"
                >
                  Maximum postcode length is 10.
                </div>
                <div
                  *ngIf="formWorkspaceData.get('postcode').errors['postcode']"
                >
                  {{ formWorkspaceData.get('postcode').errors['postcode'] }}
                </div>
              </mat-error>
            </div>
          </div>
        </div>

        <div class="upload-row" *ngIf="currentType === 'office'">
        <span class="label-name"
        >What workspaces would you like to upload?</span
        >
          <div class="d-flex flex-wrap">
            <app-km-checkbox
              [elemetId]="'meeting-room'"
              (changed)="setWorkingSpace($event)"
            >Meeting room
            </app-km-checkbox
            >
            <app-km-checkbox
              [elemetId]="'desk'"
              (changed)="setWorkingSpace($event)"
            >Desk
            </app-km-checkbox
            >
            <app-km-checkbox
              [elemetId]="'private-office'"
              (changed)="setWorkingSpace($event)"
            >Private office
            </app-km-checkbox
            >
          </div>
        </div>

        <div class="upload-row">
          <span class="label-name">About you as a company</span>
          <div class="textarea-class">
            <textarea
              name=""
              placeholder="Write something small to describe your company. E.g. “ We offer great work spaces in the heart of London.” or “We pride ourselves on having a great workplace community”"
              formControlName="description"
            ></textarea>
            <mat-error
              *ngIf="
                formWorkspaceData.get('description').invalid &&
                (formWorkspaceData.get('description').dirty ||
                  formWorkspaceData.get('description').touched)
              "
            >
              <div
                *ngIf="formWorkspaceData.get('description').errors['required']"
              >
                Description is required.
              </div>
            </mat-error>
          </div>
        </div>
      </form>
      <form
        *ngIf="workSpaceList['meeting-room']['pointed']"
        [formGroup]="officeForms['meeting-room']"
      >
        <div class="upload-row">
          <div class="d-flex flex-wrap">
            <div class="radio">
              <input
                      type="radio"
                      value="hourly_meeting_room"
                      name="deskType"
                      id="rad5"
                      checked
                      formControlName="deskType"
              />
              <label for="rad5">
                <span class="check-wrap"></span>
                <i class="checkbox-text">Hourly - Meeting Space</i>
              </label>
            </div>
            <div class="radio">
              <input
                      type="radio"
                      value="daily_meeting_room"
                      name="deskType"
                      id="rad6"
                      checked
                      formControlName="deskType"
              />
              <label for="rad6">
                <span class="check-wrap"></span>
                <i class="checkbox-text">Daily - Meeting Space</i>
              </label>
            </div>
          </div>
          <mat-error
                  *ngIf="
              officeForms['meeting-room'].get('deskType').invalid &&
              (officeForms['meeting-room'].get('deskType').dirty ||
                officeForms['meeting-room'].get('deskType').touched)
            ">
            <div *ngIf="officeForms['meeting-room'].get('deskType').errors['required']">
              Rent type is required.
            </div>
          </mat-error>
        </div>
        <div class="upload-row">
          <div class="d-flex flex-wrap">
            <div class="upload-col w65">
              <span class="label-name">Quantity</span>
              <div class="input-class">
                <input type="text" placeholder="" formControlName="quantity"/>
                <mat-error
                  *ngIf="
                    officeForms['meeting-room'].get('quantity').invalid &&
                    (officeForms['meeting-room'].get('quantity').dirty ||
                      officeForms['meeting-room'].get('quantity').touched)
                  "
                  style="position: inherit"
                >
                  <div
                    *ngIf="
                      officeForms['meeting-room'].get('quantity').errors['required']
                    "
                  >
                    Quantity is required.
                  </div>
                  <div
                    *ngIf="officeForms['meeting-room'].get('quantity').errors.min"
                  >
                    Minimal quantity is 1.
                  </div>
                  <div *ngIf="officeForms['meeting-room'].get('quantity').errors.pattern">
                    This field should content only numbers
                  </div>
                </mat-error>
              </div>
            </div>
            <div class="upload-col">
              <span class="label-name">Price</span>
              <div class="d-flex">
                <div class="input-class">
                  <input type="text" placeholder="" formControlName="price"/>
                </div>
                <span class="input-hint">per {{ officeForms['meeting-room'].get('deskType').value === 'daily_meeting_room' ? 'day' : payType}}</span>
              </div>
              <mat-error
                *ngIf="
                  officeForms['meeting-room'].get('price').invalid &&
                  (officeForms['meeting-room'].get('price').dirty ||
                    officeForms['meeting-room'].get('price').touched)
                "
              >
                <div
                  *ngIf="officeForms['meeting-room'].get('price').errors['required']"
                >
                  Price is required.
                </div>
                <div *ngIf="officeForms['meeting-room'].get('price').errors.max">
                  Maximal price is 1000
                </div>
                <div *ngIf="officeForms['meeting-room'].get('price').errors.pattern">
                  This field should content only numbers or decimals
                </div>
              </mat-error>
            </div>
          </div>
        </div>
        <div class="upload-row">
          <div class="d-flex flex-wrap">
            <div class="upload-col w65">
              <span class="label-name">Capacity</span>
              <div class="d-flex">
                <div class="input-class">
                  <input
                    type="text"
                    placeholder=""
                    formControlName="capacity"
                  />
                </div>
                <span class="input-hint">people</span>
              </div>
              <mat-error
                *ngIf="
                  officeForms['meeting-room'].get('capacity').invalid &&
                  (officeForms['meeting-room'].get('capacity').dirty ||
                    officeForms['meeting-room'].get('capacity').touched)
                "
              >
                <div
                  *ngIf="
                    officeForms['meeting-room'].get('capacity').errors['required']
                  "
                >
                  Capacity is required.
                </div>
                <div *ngIf="officeForms['meeting-room'].get('capacity').errors.min">
                  Minimal capacity is 1.
                </div>
                <div *ngIf="officeForms['meeting-room'].get('capacity').errors.max">
                  Maximal capacity is 5000.
                </div>
                <div *ngIf="officeForms['meeting-room'].get('capacity').errors.pattern">
                  This field should content only numbers
                </div>
              </mat-error>
            </div>
            <div class="upload-col w-auto opn-hours" *ngIf="officeForms['meeting-room'].get('deskType').value === 'hourly_meeting_room'">
              <span class="label-name">Opening hours</span>
              <div class="d-flex">
                <div class="d-flex mar-right20">
                  <span class="input-hint">start</span>
                  <div class="input-class">
                    <!--<input-->
                      <!--type="text"-->
                      <!--placeholder=""-->
                      <!--(click)="opensFromSelect.open()"-->
                      <!--(focus)="opensFromSelect.open()"-->
                      <!--formControlName="opensFrom"-->
                      <!--[value]="officeForms['meeting-room'].get('opensFrom').value"-->
                    <!--/>-->
                    <div class="hour-select-wrapper">
                      <mat-select #opensFromSelect formControlName="opensFrom"
                                  placeholder=""
                                  (change)="validateTime($event, 'closeTimeList')">
                        <mat-option *ngFor="let time of openTimeList" [value]="time.value"
                                    [disabled]="!time.valid">{{ time.value }}</mat-option>
                      </mat-select>
                    </div>
                  </div>
                </div>
                <div class="d-flex">
                  <span class="input-hint">end</span>
                  <div class="input-class">
                    <!--<input-->
                      <!--type="text"-->
                      <!--placeholder=""-->
                      <!--(click)="closesAtSelect.open()"-->
                      <!--(focus)="closesAtSelect.open()"-->
                      <!--formControlName="closesAt"-->
                      <!--[value]="officeForms['meeting-room'].get('closesAt').value"-->
                    <!--/>-->
                    <div class="hour-select-wrapper">
                      <mat-select #closesAtSelect formControlName="closesAt"
                                  (change)="validateTime($event, 'openTimeList')">
                        <mat-option *ngFor="let time of closeTimeList" [value]="time.value"
                                    [disabled]="!time.valid">{{ time.value }}</mat-option>
                      </mat-select>
                    </div>
                  </div>
                </div>
              </div>
              <mat-error
                *ngIf="
                (officeForms['meeting-room'].get('opensFrom').invalid &&
                (officeForms['meeting-room'].get('opensFrom').dirty ||
                  officeForms['meeting-room'].get('opensFrom').touched)) ||
                (officeForms['meeting-room'].get('closesAt').invalid &&
                (officeForms['meeting-room'].get('closesAt').dirty ||
                  officeForms['meeting-room'].get('closesAt').touched))
              "
              >
                <div
                  *ngIf="
                  officeForms['meeting-room'].get('opensFrom').errors && officeForms['meeting-room'].get('opensFrom').errors['required'] ||
                  officeForms['meeting-room'].get('closesAt').errors && officeForms['meeting-room'].get('closesAt').errors['required']
                "
                >
                  Opening hours is required.
                </div>
                <div
                  *ngIf="
                  officeForms['meeting-room'].get('opensFrom').errors && officeForms['meeting-room'].get('opensFrom').errors['pattern'] ||
                  officeForms['meeting-room'].get('closesAt').errors && officeForms['meeting-room'].get('closesAt').errors['pattern']
                "
                >
                  Invalid time format,<br>
                  expected format is HH:MM
                </div>
              </mat-error>
            </div>
            <div class="upload-row" *ngIf="officeForms['meeting-room'].get('deskType').value === 'daily_meeting_room'">
              <div class="d-flex flex-wrap">
                <div class="upload-col">
                  <span class="label-name">Available from</span>
                  <div class="d-flex">
                    <div class="input-class datepicker-wrap">
                      <div class="input-datepicker">
                        <input
                                matInput
                                [matDatepicker]="picker"
                                [min]="minDate"
                                placeholder="dd/mm/yyyy"
                                formControlName="availableFrom"
                        />
                        <mat-datepicker-toggle
                                matSuffix
                                [for]="picker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </div>
                    </div>
                  </div>
                  <mat-error
                   *ngIf="
                    officeForms['meeting-room'].get('availableFrom').invalid &&
                    (officeForms['meeting-room'].get('availableFrom').dirty ||
                    officeForms['meeting-room'].get('availableFrom').touched)
              ">
                    <div *ngIf="officeForms['meeting-room'].get('availableFrom').errors || !officeForms['meeting-room'].get('availableFrom').value">
                      Available from is required.
                    </div>
                  </mat-error>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="upload-row">
          <span class="label-name">Describe the workspace</span>
          <div class="textarea-class">
            <textarea
              name=""
              placeholder="Write a description to describe your workspace. E.g. “Perfect for up to 12 people with great natural lights, high ceilings and equipped with a screen projector.”"
              formControlName="description"
            ></textarea>
            <mat-error
              *ngIf="
                officeForms['meeting-room'].get('description').invalid &&
                (officeForms['meeting-room'].get('description').dirty ||
                  officeForms['meeting-room'].get('description').touched)
              "
            >
              <div
                *ngIf="
                  officeForms['meeting-room'].get('description').errors['required']
                "
              >
                Description is required.
              </div>
            </mat-error>
          </div>
        </div>
      </form>
      <form
        *ngIf="workSpaceList['desk']['pointed']"
        [formGroup]="officeForms['desk']"
      >
        <div class="upload-row">
          <div class="d-flex flex-wrap">
            <div class="radio">
              <input
                type="radio"
                value="hourly_hot_desk"
                name="deskType"
                id="rad1"
                checked
                formControlName="deskType"
              />
              <label for="rad1">
                <span class="check-wrap"></span>
                <i class="checkbox-text">Hourly - Hot desk</i>
              </label>
            </div>
            <div class="radio">
              <input
                type="radio"
                value="daily_hot_desk"
                name="deskType"
                id="rad4"
                checked
                formControlName="deskType"
              />
              <label for="rad4">
                <span class="check-wrap"></span>
                <i class="checkbox-text">Daily - Hot desk</i>
              </label>
            </div>
            <div class="radio">
              <input
                type="radio"
                value="monthly_hot_desk"
                name="deskType"
                id="rad2"
                formControlName="deskType"
              />
              <label for="rad2">
                <span class="check-wrap"></span>
                <i class="checkbox-text">Monthly - Hot desk</i>
              </label>
            </div>
            <div class="radio">
              <input
                type="radio"
                value="monthly_fixed_desk"
                name="deskType"
                id="rad3"
                formControlName="deskType"
              />
              <label for="rad3">
                <span class="check-wrap"></span>
                <i class="checkbox-text">Monthly - Fixed desk</i>
              </label>
            </div>
          </div>
          <mat-error
            *ngIf="
              officeForms['desk'].get('deskType').invalid &&
              (officeForms['desk'].get('deskType').dirty ||
                officeForms['desk'].get('deskType').touched)
            ">
            <div *ngIf="officeForms['desk'].get('deskType').errors['required']">
              Rent type is required.
            </div>
          </mat-error>
        </div>

        <div class="upload-row">
          <div class="d-flex flex-wrap">
            <div class="upload-col w65">
              <span class="label-name">Quantity</span>
              <div class="input-class">
                <input type="text" placeholder="" formControlName="quantity"/>
                <mat-error
                  *ngIf="
                    officeForms['desk'].get('quantity').invalid &&
                    (officeForms['desk'].get('quantity').dirty ||
                      officeForms['desk'].get('quantity').touched)
                  "
                  style="position: inherit"
                >
                  <div
                    *ngIf="
                      officeForms['desk'].get('quantity').errors['required']
                    "
                  >
                    Quantity is required.
                  </div>
                  <div *ngIf="officeForms['desk'].get('quantity').errors.min">
                    Minimal quantity is 1.
                  </div>
                  <div *ngIf="officeForms['desk'].get('quantity').errors.pattern">
                    This field should content only numbers
                  </div>
                </mat-error>
              </div>
            </div>
            <div class="upload-col">
              <span class="label-name">Price</span>
              <div class="d-flex">
                <div class="input-class">
                  <input type="text" placeholder="" formControlName="price"/>
                </div>
                <span class="input-hint">per {{ officeForms['desk'].get('deskType').value === 'daily_hot_desk' ? 'day' : payType}}</span>
              </div>
              <mat-error
                *ngIf="
                  officeForms['desk'].get('price').invalid &&
                  (officeForms['desk'].get('price').dirty ||
                    officeForms['desk'].get('price').touched)
                "
              >
                <div
                  *ngIf="officeForms['desk'].get('price').errors['required']"
                >
                  Price is required.
                </div>
                <div *ngIf="officeForms['desk'].get('price').errors.max">
                  Maximal price is {{ officeForms['desk'].get('deskType').value.includes('hourly') ? 1000 : 100000 }}
                </div>
                <div *ngIf="officeForms['desk'].get('price').errors.pattern">
                  This field should content only numbers or decimals
                </div>
              </mat-error>
            </div>
            <div class="upload-col w-auto opn-hours"
                 *ngIf="officeForms['desk'].get('deskType').value === 'hourly_hot_desk'">
              <span class="label-name">Opening hours</span>
              <div class="d-flex">
                <div class="d-flex mar-right20">
                  <span class="input-hint">start</span>
                  <div class="input-class">
                    <!--<input-->
                      <!--type="text"-->
                      <!--placeholder=""-->
                      <!--(click)="opensFromSelect.open()"-->
                      <!--(focus)="opensFromSelect.open()"-->
                      <!--formControlName="opensFrom"-->
                      <!--[value]="officeForms['desk'].get('opensFrom').value"-->
                    <!--/>-->
                    <div class="hour-select-wrapper">
                      <mat-select #opensFromSelect formControlName="opensFrom"
                                  (change)="validateTime($event, 'closeTimeList')">
                        <mat-option *ngFor="let time of openTimeList" [value]="time.value"
                                    [disabled]="!time.valid">{{ time.value }}</mat-option>
                      </mat-select>
                    </div>
                  </div>
                </div>
                <div class="d-flex">
                  <span class="input-hint">end</span>
                  <div class="input-class">
                    <!--<input-->
                      <!--type="text"-->
                      <!--placeholder=""-->
                      <!--(click)="closesAtSelect.open()"-->
                      <!--(focus)="closesAtSelect.open()"-->
                      <!--formControlName="closesAt"-->
                      <!--[value]="officeForms['desk'].get('closesAt').value"-->
                    <!--/>-->
                    <div class="hour-select-wrapper">
                      <mat-select #closesAtSelect formControlName="closesAt"
                                  (change)="validateTime($event, 'openTimeList')">
                        <mat-option *ngFor="let time of closeTimeList" [value]="time.value"
                                    [disabled]="!time.valid">{{ time.value }}</mat-option>
                      </mat-select>
                    </div>
                  </div>
                </div>
              </div>
              <mat-error
                *ngIf="
                (officeForms['desk'].get('opensFrom').invalid &&
                (officeForms['desk'].get('opensFrom').dirty ||
                  officeForms['desk'].get('opensFrom').touched)) ||
                (officeForms['desk'].get('closesAt').invalid &&
                (officeForms['desk'].get('closesAt').dirty ||
                  officeForms['desk'].get('closesAt').touched))
              "
              >
                <div
                  *ngIf="
                  officeForms['desk'].get('opensFrom').errors && officeForms['desk'].get('opensFrom').errors['required'] ||
                  officeForms['desk'].get('closesAt').errors && officeForms['desk'].get('closesAt').errors['required']
                "
                >
                  Opening hours is required.
                </div>
                <div
                  *ngIf="
                  officeForms['desk'].get('opensFrom').errors && officeForms['desk'].get('opensFrom').errors['pattern'] ||
                  officeForms['desk'].get('closesAt').errors && officeForms['desk'].get('closesAt').errors['pattern']
                "
                >
                  Invalid time format,<br>
                  expected format is HH:MM
                </div>
              </mat-error>
            </div>
          </div>
        </div>


        <div class="upload-row" *ngIf="officeForms['desk'].get('deskType').value !== 'hourly_hot_desk'">
          <div class="d-flex flex-wrap">
            <div class="upload-col">
              <span class="label-name">Available from</span>
              <div class="d-flex">
                <div class="input-class datepicker-wrap">
                  <div class="input-datepicker">
                    <input
                      matInput
                      [matDatepicker]="picker"
                      [min]="minDate"
                      placeholder="dd/mm/yyyy"
                      formControlName="availableFrom"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </div>
                </div>
              </div>
              <mat-error
                *ngIf="
                officeForms['desk'].get('availableFrom').invalid &&
                (officeForms['desk'].get('availableFrom').dirty ||
                officeForms['desk'].get('availableFrom').touched)
              ">
                <div *ngIf="officeForms['desk'].get('availableFrom').errors || !officeForms['desk'].get('availableFrom').value">
                  Available from is required.
                </div>
              </mat-error>
            </div>
          </div>
        </div>

        <div class="upload-row" *ngIf="officeForms['desk'].get('deskType').value !== 'hourly_hot_desk' && officeForms['desk'].get('deskType').value !== 'daily_hot_desk'">
          <div class="d-flex flex-wrap">
            <div class="upload-col w100">
              <span class="label-name">Minimum contract length</span>
              <div class="d-flex flex-wrap">
                <div class="d-flex w150">
                  <div class="input-class">
                    <input
                      type="text"
                      placeholder=""
                      formControlName="minContractLength"
                    />
                  </div>
                  <span class="input-hint">months</span>
                  <mat-error
                    *ngIf="
                      officeForms['desk'].get('minContractLength').invalid &&
                      (officeForms['desk'].get('minContractLength').dirty ||
                        officeForms['desk'].get('minContractLength').touched)
                    ">
                    <div
                      *ngIf="
                        officeForms['desk'].get('minContractLength').errors[
                          'required'
                        ]
                      ">
                      Contract min length is required.
                    </div>
                    <div
                      *ngIf="
                        officeForms['desk'].get('minContractLength').errors
                          .min
                      ">
                      Minimal value is 1.
                    </div>
                    <div *ngIf="officeForms['desk'].get('minContractLength').errors.pattern">
                      This field should content only numbers
                    </div>
                  </mat-error>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="upload-row">
          <span class="label-name">Describe the workspace</span>
          <div class="textarea-class">
            <textarea
              name=""
              placeholder="Write a description to describe your workspace.  E.g. “Amazing workstations perfect for freelancers”"
              formControlName="description"
            ></textarea>
            <mat-error
              *ngIf="
                officeForms['desk'].get('description').invalid &&
                (officeForms['desk'].get('description').dirty ||
                  officeForms['desk'].get('description').touched)
              "
            >
              <div
                *ngIf="
                  officeForms['desk'].get('description').errors['required']
                "
              >
                Description is required.
              </div>
            </mat-error>
          </div>
        </div>
      </form>
      <form
        *ngIf="workSpaceList['private-office']['pointed']"
        [formGroup]="officeForms['private-office']"
      >
        <div class="upload-row">
          <div class="d-flex flex-wrap">
            <div class="upload-col w65">
              <span class="label-name">Quantity</span>
              <div class="input-class">
                <input type="text" placeholder="" formControlName="quantity"/>
                <mat-error
                  *ngIf="
                    officeForms['private-office'].get('quantity').invalid &&
                    (officeForms['private-office'].get('quantity').dirty ||
                      officeForms['private-office'].get('quantity').touched)
                  "
                  style="position: inherit"
                >
                  <div
                    *ngIf="
                      officeForms['private-office'].get('quantity').errors['required']
                    "
                  >
                    Quantity is required.
                  </div>
                  <div
                    *ngIf="officeForms['private-office'].get('quantity').errors.min"
                  >
                    Minimal quantity is 1.
                  </div>
                  <div *ngIf="officeForms['private-office'].get('quantity').errors.pattern">
                    This field should content only numbers
                  </div>
                </mat-error>
              </div>
            </div>

            <div class="upload-col">
              <span class="label-name">Price</span>
              <div class="d-flex">
                <div class="input-class">
                  <input type="text" placeholder="" formControlName="price"/>
                </div>
                <span class="input-hint">per month</span>
              </div>
              <mat-error
                *ngIf="
                  officeForms['private-office'].get('price').invalid &&
                  (officeForms['private-office'].get('price').dirty ||
                    officeForms['private-office'].get('price').touched)
                "
              >
                <div
                  *ngIf="officeForms['private-office'].get('price').errors['required']"
                >
                  Price is required.
                </div>
                <div *ngIf="officeForms['private-office'].get('price').errors.max">
                  Maximal price is 100000
                </div>
                <div *ngIf="officeForms['private-office'].get('price').errors.pattern">
                  This field should content only numbers or decimals
                </div>
              </mat-error>
            </div>
          </div>
        </div>

        <div class="upload-row">
          <div class="d-flex flex-wrap">
            <div class="upload-col">
              <span class="label-name">Size</span>
              <div class="d-flex">
                <div class="input-class">
                  <input type="text" placeholder="" formControlName="size"/>
                </div>
                <span class="input-hint">sq feet</span>
              </div>
              <mat-error
                *ngIf="
                  officeForms['private-office'].get('size').invalid &&
                  (officeForms['private-office'].get('size').dirty ||
                    officeForms['private-office'].get('size').touched)
                "
              >
                <div
                  *ngIf="officeForms['private-office'].get('size').errors['required']"
                >
                  Size is required.
                </div>
                <div *ngIf="officeForms['private-office'].get('size').errors.min">
                  Minimal size is 1.
                </div>
                <div *ngIf="officeForms['private-office'].get('size').errors.max">
                  Maximal size is 500000.
                </div>
                <div *ngIf="officeForms['private-office'].get('size').errors.pattern">
                  This field should content only numbers
                </div>
              </mat-error>
            </div>

            <div class="upload-col">
              <span class="label-name">Capacity</span>
              <div class="d-flex">
                <div class="input-class">
                  <input
                    type="text"
                    placeholder=""
                    formControlName="capacity"
                  />
                </div>
                <span class="input-hint">people</span>
              </div>
              <mat-error
                *ngIf="
                  officeForms['private-office'].get('capacity').invalid &&
                  (officeForms['private-office'].get('capacity').dirty ||
                    officeForms['private-office'].get('capacity').touched)
                "
              >
                <div
                  *ngIf="
                    officeForms['private-office'].get('capacity').errors['required']
                  "
                >
                  Capacity is required.
                </div>
                <div *ngIf="officeForms['private-office'].get('capacity').errors.min">
                  Minimal capacity is 1.
                </div>
                <div *ngIf="officeForms['private-office'].get('capacity').errors.max">
                  Maximal capacity is 5000.
                </div>
                <div *ngIf="officeForms['private-office'].get('capacity').errors.pattern">
                  This field should content only numbers
                </div>
              </mat-error>
            </div>
          </div>
        </div>

        <div class="upload-row">
          <div class="d-flex flex-wrap">
            <div class="upload-col">
              <span class="label-name">Available from</span>
              <div class="d-flex">
                <div class="input-class datepicker-wrap">
                  <div class="input-datepicker">
                    <input
                      matInput
                      [matDatepicker]="picker"
                      [min]="minDate"
                      placeholder="dd/mm/yyyy"
                      formControlName="availableFrom"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="upload-row">
          <div class="d-flex flex-wrap">
            <div class="upload-col w100">
              <span class="label-name">Minimum contract length</span>
              <div class="d-flex flex-wrap">
                <div class="d-flex w150">
                  <div class="input-class">
                    <input
                      type="text"
                      placeholder=""
                      formControlName="minContractLength"
                    />
                  </div>
                  <span class="input-hint">months</span>
                  <mat-error
                    *ngIf="
                      officeForms['private-office'].get('minContractLength').invalid &&
                      (officeForms['private-office'].get('minContractLength').dirty ||
                        officeForms['private-office'].get('minContractLength').touched)
                    "
                  >
                    <div
                      *ngIf="
                        officeForms['private-office'].get('minContractLength').errors[
                          'required'
                        ]
                      "
                    >
                      Contract min length is required.
                    </div>
                    <div
                      *ngIf="
                        officeForms['private-office'].get('minContractLength').errors
                          .min
                      "
                    >
                      Minimal value is 1.
                    </div>
                    <div *ngIf="officeForms['private-office'].get('minContractLength').errors.pattern">
                      This field should content only numbers
                    </div>
                  </mat-error>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="upload-row">
          <span class="label-name">Describe the workspace</span>
          <div class="textarea-class">
            <textarea
              name=""
              placeholder="Write a description to describe your workspace. E.g. “Spacious office, perfect for a team of up to 10 people fully equipped ready to go.”"
              formControlName="description"
            ></textarea>
            <mat-error
              *ngIf="
                officeForms['private-office'].get('description').invalid &&
                (officeForms['private-office'].get('description').dirty ||
                  officeForms['private-office'].get('description').touched)
              "
            >
              <div
                *ngIf="
                  officeForms['private-office'].get('description').errors['required']
                "
              >
                Description is required.
              </div>
            </mat-error>
          </div>
        </div>
      </form>

      <div class="upload-row" *ngIf="currentType !== 'office' && officeForms[currentType].get('facilities').value">
        <span class="label-name">Office facilities</span>
        <app-facilities [checked]="officeForms[currentType].get('facilities')"
                        (changed)="facilityChange($event)"></app-facilities>
      </div>

      <div class="upload-row" *ngIf="currentType !== 'office'">
        <span class="label-name">Images</span>
        <div class="row">
          <div class="col-sm-8">
            <div class="uploaded-imgs">
              <!-- Last Design changes START -->
              <div
                *ngFor="let image of imageList; let i = index"
                class="img-col"
                [ngStyle]="{ 'background-image': 'url(\'' + image.url + '\')' }"
              >
                <div
                  class="toggle-main-img"
                  [ngClass]="{ main: imageFav === image.id }"
                >
                  <i class="fa fa-star" *ngIf="imageFav === image.id; else faStarO"></i>
                  <ng-template #faStarO>
                    <i class="fa fa-star-o" (click)="selectMainImage(image.id)"></i>
                  </ng-template>
                </div>
                <img
                  src="{{getAbsoluteUrl('/assets/img/delete-image-icon.svg')}}"
                  class="delete-img"
                  alt=""
                  (click)="removeImage(image.id)"
                />
              </div>
              <div class="img-col" *ngIf="loading">
                <div
                  class="spinner-wrap d-flex justify-content-center align-items-center"
                >
                  <mat-spinner diameter="38" strokeWidth="4"></mat-spinner>
                </div>
              </div>
              <!-- Last Design changes END -->
            </div>
          </div>
          <div class="col-sm-4">
            <div class="upload-input-wrapper">
              <input
                type="file"
                class="upload-file"
                multiple
                [disabled]="officeForms[currentType].invalid || loading"
                (change)="updating ? updateImages($event) : onFileChanged($event)"
              />
              <div class="upload-input">
                <div class="upload-top">
                  <img src="{{getAbsoluteUrl('/assets/img/upload-icon.svg')}}" alt=""/>
                  <span>Drag and drop files here</span>
                </div>
                <div class="upload-bottom">browse...</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="control-buttons d-flex justify-content-between flex-wrap">
        <a *ngIf="workSpaceList[currentType]['pointed'] && !updating && !currentOfficePosition ||
                  workSpaceList['office']['pointed'] ||
                  currentOfficePosition === 1 ||
                  updating && !currentOfficePosition; else back" (click)="handleExit()" class="btn-site grey_c">Exit</a>
        <ng-template #back>
          <button class="btn-site grey_c" (click)="procceedBack()">Back</button>
        </ng-template>
        <button
          *ngIf="workSpaceList['office']['pointed']"
          class="btn-site blue_c"
          [disabled]="formWorkspaceData.disabled"
          (click)="
            updating ? updateLocation(formWorkspaceData) : doOfficeProcceed()
          "
        >
          {{ updating ? 'Submit' : 'Procceed' }}
        </button>
        <button
          *ngIf="
            currentType !== 'office' && workSpaceList[currentType]['pointed']
          "
          [disabled]="officeForms[currentType].disabled"
          (click)="changeHandler(currentType, officeForms[currentType])"
          class="btn-site blue_c"
        >
          {{ currentOfficePosition === bkList.length ? 'Submit' : 'Next' }}
        </button>
      </div>
    </div>
  </div>
</section>
