<div>
  <app-post-space-bar></app-post-space-bar>
  <div class="login-window-wrapper">
    <app-logindialog *ngIf="!confirm; else confirmMsg"></app-logindialog>
    <ng-template #confirmMsg>
      <mat-card class="login-modal-wnd">
        <p class="login-message-text">User was registered</p>
      </mat-card>
    </ng-template>
  </div>
</div>