.login-window-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-modal-wnd {
  background: white;
  width: 414px;
  padding-left: 82px;
  padding-right: 82px;
  padding-top: 72px;
  border-radius: 5px;
}

.login-message-text {
  color: black;
}
