<app-menu-market></app-menu-market>
<div class="wrapper">
  <div class="community-market-row row">
    <div class="col-md-5">
      <h2 class="main-title">West London</h2>
      <p class="main-txt">A diverse area of London with every kind of business.</p>
      <p class="main-txt">The main areas of West London consist of <span class="medium-weight">Kensington, Paddington, Hammersmith, Shepherds Bush</span> and <span class="medium-weight">Notting Hill.</span></p>
    </div>
    <div class="col-md-7">
      <div class="img-wrap">
        <img src="{{getAbsoluteUrl('/assets/img/community-maps/map-west-london.png')}}" alt="">
        <span class="cite">London, UK</span>
      </div>
    </div>
  </div>
  <p class="main-txt">West London is home to one of Britain’s most famous markets – Portobello market.</p>
  <p class="main-txt">There have been many speculative and actual office developments in recent years, for example Sheldon Square in Paddington providing a wide range of great office spaces.</p>
  <h3 class="sub-title">Transport Links</h3>
  <p class="main-txt">Local stations include <span class="medium-weight">Hammersmith, Paddington</span> and <span class="medium-weight">Notting Hill.</span> The area is also due to benefit significantly from the London Crossrail launch in 2018. Which will improve journey times to the East of the City and to more Western locations such as <span class="medium-weight">Heathrow.</span></p>
  <div class="community-list-wrapper">
    <p class="main-txt">Journey times from <span class="medium-weight">Hammersmith Sation</span> by London Underground:</p>
    <ul class="community-list">
      <li><span class="medium-weight">Piccadilly</span> – 20 minutes</li>
      <li><span class="medium-weight">Paddington</span> – 14 minutes</li>
      <li><span class="medium-weight">Heathrow</span> – 35 minutes (direct)</li>
    </ul>
  </div>
  <div class="community-list-wrapper">
    <p class="main-txt">Journey times from <span class="medium-weight">Paddington Sation</span> by London Underground:</p>
    <ul class="community-list">
      <li><span class="medium-weight">Oxford Circus</span> – 8 minutes</li>
      <li><span class="medium-weight">Baker Street</span> – 5 minutes</li>
      <li><span class="medium-weight">Heathrow</span> – 20 minutes (direct)</li>
    </ul>
  </div>
  <div class="community-list-wrapper">
    <p class="main-txt">Journey times from <span class="medium-weight">Notting Hill</span> by London Underground:</p>
    <ul class="community-list">
      <li><span class="medium-weight">Bond Street</span> – 7 minutes</li>
      <li><span class="medium-weight">Liverpool Street</span> – 20 minutes</li>
      <li><span class="medium-weight">Heathrow</span> – 25 minutes (1 change)</li>
    </ul>
  </div>

  <h3 class="sub-title">Are you Looking for office space or workspace in West London?</h3>

  <div class="table-community-wrapper">
    <div class="table-community">
      <table>
        <thead>
        <tr>
          <th style="width: 58%">Co-working and services office spaces</th>
          <th style="width: 14%">Affordable</th>
          <th style="width: 14%">A step up</th>
          <th style="width: 14%">High-end</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td>SW3/SW7: Knightsbridge</td>
          <td>£500 - £600</td>
          <td>£600 - £800</td>
          <td>£800 - £1200</td>
        </tr>
        <tr>
          <td>SW7: Kensington</td>
          <td>£500 - £600</td>
          <td>£600 - £800</td>
          <td>£800 - £1000</td>
        </tr>
        <tr>
          <td>W2: Paddington</td>
          <td>£450 - £550</td>
          <td>£550 - £800</td>
          <td>£800 - £1000</td>
        </tr>
        <tr>
          <td>W11: Notting Hill</td>
          <td>£400 - £500</td>
          <td>£500 - £600</td>
          <td>£600 - £700</td>
        </tr>
        <tr>
          <td>W12: Shepherds Bush</td>
          <td>£300 - £400</td>
          <td>£400 - £450</td>
          <td>£450 - £550</td>
        </tr>
        <tr>
          <td>W6: Hammersmith</td>
          <td>£450 - £550</td>
          <td>£550 - £750</td>
          <td>£750 - £850</td>
        </tr>
        <tr>
          <td>W4: Chiswick</td>
          <td>£300 - £400</td>
          <td>£400 - £600</td>
          <td>£600 - £800</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="text-right">
      <span class="table-community-hint">Prices: per desk/per month</span>
    </div>
  </div>


  <div class="table-community-wrapper">
    <div class="table-community">
      <table>
        <thead>
        <tr>
          <th style="width: 58%">Leased office space</th>
          <th style="width: 14%">Affordable</th>
          <th style="width: 14%">A step up</th>
          <th style="width: 14%">High-end</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td>SW3/SW7: Knightsbridge</td>
          <td>£40 - £50</td>
          <td>£50 - £80</td>
          <td>£80 - £100</td>
        </tr>
        <tr>
          <td>SW7: Kensington</td>
          <td>£47.50 - £55</td>
          <td>£55 - £60</td>
          <td>£60 - £70</td>
        </tr>
        <tr>
          <td>W2: Paddington</td>
          <td>£42.50 - £45</td>
          <td>£45 - £59.50</td>
          <td>£59.50 - £65</td>
        </tr>
        <tr>
          <td>W11: Notting Hill</td>
          <td>£35 - £40</td>
          <td>£40 - £55</td>
          <td>£55 - £58.50</td>
        </tr>
        <tr>
          <td>W12: Shepherds Bush</td>
          <td>£25 - £35</td>
          <td>£35 - £45</td>
          <td>£45 - £55</td>
        </tr>
        <tr>
          <td>W6: Hammersmith</td>
          <td>£35 - £40</td>
          <td>£40 - £50</td>
          <td>£50 - £62.50</td>
        </tr>
        <tr>
          <td>W4: Chiswick</td>
          <td>£27.50 - £35</td>
          <td>£35 - £45</td>
          <td>£45 - £55</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="text-right">
      <span class="table-community-hint">Prices: per square foot</span>
    </div>
  </div>
</div>
