<app-menu-market></app-menu-market>
<div class="wrapper">
  <div class="community-market-row row">
    <div class="col-md-5">
      <h2 class="main-title">Midtown</h2>
      <p class="main-txt">Perfectly situated, moments from the West End and in close proximity to the City.</p>
    </div>
    <div class="col-md-7">
      <div class="img-wrap">
        <img src="{{getAbsoluteUrl('/assets/img/community-maps/map-midtown.png')}}" alt="">
        <span class="cite">London, UK</span>
      </div>
    </div>
  </div>
  <p class="main-txt">Midtown is a collective term for Holborn and Bloomsbury areas. Located near the West End as well as moment away from Chancery Lane, Clerkenwell and Farringdon.</p>
  <p class="main-txt">Midtown’s biggest employers have historically been government agencies and professional services for example: insurers, lawyers, accountants and recruitment consultants – the marketing hype have succeeded in luring more glorious businesses, especially in the media sector. </p>
  <h3 class="sub-title">Transport Links</h3>
  <p class="main-txt">Local stations include <span class="medium-weight">Chancery Lane</span> and <span class="medium-weight">Holborn.</span></p>
  <div class="community-list-wrapper">
    <p class="main-txt">Journey Times from <span class="medium-weight">Holborn Station</span> by Tube</p>
    <ul class="community-list">
      <li><span class="medium-weight">Liverpool Street</span> – 7 minutes</li>
      <li><span class="medium-weight">Bond Street</span> – 4 minutes</li>
      <li><span class="medium-weight">London Bridge</span> – 18 minutes</li>
      <li><span class="medium-weight">Heathrow</span> – 55 minutes (direct)</li>
    </ul>
  </div>

  <h3 class="sub-title">Are you Looking for office space or workspace in Bloomsbury, Kingsway or Holborn?</h3>

  <div class="table-community-wrapper">
    <div class="table-community">
      <table>
        <thead>
        <tr>
          <th style="width: 58%">Co-working and services office spaces</th>
          <th style="width: 14%">Affordable</th>
          <th style="width: 14%">A step up</th>
          <th style="width: 14%">High-end</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td>WC1: Bloomsbury</td>
          <td>£400 - £500</td>
          <td>£500 - £700</td>
          <td>£700 - £900</td>
        </tr>
        <tr>
          <td>WC2: Kingsway/Holborn</td>
          <td>£500 - £550</td>
          <td>£550 - £750</td>
          <td>£750 - £900</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="text-right">
      <span class="table-community-hint">Prices: per desk/per month</span>
    </div>
  </div>


  <div class="table-community-wrapper">
    <div class="table-community">
      <table>
        <thead>
        <tr>
          <th style="width: 58%">Leased office space</th>
          <th style="width: 14%">Affordable</th>
          <th style="width: 14%">A step up</th>
          <th style="width: 14%">High-end</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td>WC1: Bloomsbury</td>
          <td>£40 - £50</td>
          <td>£50 - £60</td>
          <td>£60 - £75</td>
        </tr>
        <tr>
          <td>WC2: Kingsway/Holborn</td>
          <td>£40 - £50</td>
          <td>£50 - £65</td>
          <td>£65 - £75</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="text-right">
      <span class="table-community-hint">Prices: per square foot</span>
    </div>
  </div>
</div>
