@import "../../../variables.scss";

/* post a space page hero section start */
.post-hero-section {
  width: 100%;
  min-height: 700px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  padding: 180px 0 50px 0;

  @media (max-width:$screen-sm-max) {
    min-height: 580px;
    padding: 120px 0 50px 0;
  }

  @media (max-width: $screen-xs-max) {
    min-height: 460px;
    padding: 110px 0 50px 0;
  }

  .post-hero-text {
    max-width: 360px;
  }
}

.post-hero-text {
  .hero-title {
    font-size: 48px;
    line-height: 50px;
    font-weight: 600;
    color: #fff;
    margin: 0 0 25px 0;

    @media (max-width:$screen-sm-max) {
      font-size: 34px;
      line-height: 38px;
    }
  }

  .hero-description {
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 25px;
  }
}

.get-started-button {
  display: block;
  max-width: 360px;
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: $orange;
  padding: 10px;
  color: #fff !important;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  transition: all .3s linear;
  cursor: pointer;

  &:hover {
    background-color: #da4e32;
  }
}
/* post a space page hero section end */



/* post a space page info section start */
.info-section {
  .info-col {
    @media (max-width:$screen-sm-max) {
      margin-bottom: 50px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .home-block-title-text {
    margin-bottom: 40px;
  }

  .info-description {
    font-size: 16px;
    line-height: 23px;
    color: #000;
    margin: 0;
  }

  .row {
    margin-bottom: 0;
  }
}
/* post a space page info section end */



/* post a space page how it works section start */
.postspace-howitw {
  background-color: #f7f7f7;
}

.postspace-howitw-row {
  max-width: 930px;
  margin: 0 auto 100px auto;
  padding: 0 15px;

  @media (max-width:$screen-sm-max) {
    margin: 0 auto 40px auto;
  }

  &:last-child {
    margin: 0 auto;
  }

  &.reverse {
    .postspace-howitw-content {
      margin-right: 0;

      @media (max-width:$screen-sm-max) {
        padding-top: 0;
      }
    }

    .postspace-howitw-img {
      margin-right: 130px;

      @media (max-width: $screen-md-max) {
        margin-right: 30px;
        width: 300px;
      }

      img {
        @media (max-width: $screen-md-max) {
          width: 100%;
        }
      }
    }
  }
}

.postspace-howitw-img {
  @media (max-width:$screen-sm-max) {
    display: none;
  }
}

.postspace-howitw-content {
  margin-right: 130px;
  padding-top: 20px;
  flex: 1;

  @media (max-width: $screen-md-max) {
    margin-right: 30px;
  }

  @media (max-width: $screen-xs-max) {
    margin-right: 0;
  }

  &.w430 {
    max-width: 430px;
    margin: 0 auto;

    @media (max-width:$screen-sm-max) {
      max-width: initial;
    }
  }

  .howitw-icon {
    margin-right: 30px;

    @media (max-width:$screen-sm-max) {
      margin-right: 0;
      margin-bottom: 20px;
      text-align: center;
    }
  }

  .howitw-text {
    flex: 1;

    .howitw-title {
      display: block;
      font-size: 26px;
      line-height: 28px;
      font-weight: 500;
      color: #000;
      margin-bottom: 20px;
    }

    .howitw-description {
      font-size: 16px;
      line-height: 23px;
      color: #000;
    }
  }
}
/* post a space page how it works section end */



/* post a space page review section start */
.post-review {
  max-width: 570px;
  margin: 0 auto;
}
/* post a space page review section end */



/* post a space page proud to work section start */
.section-proudtowork {
  background-image: linear-gradient(to bottom, #fff, #dfdfdf);
  position: relative;
  padding-bottom: 150px;

  @media (max-width: $screen-xs-max) {
    padding-bottom: 60px;
  }

  .proud-col {
    margin-bottom: 30px;

    @media (max-width: $screen-xs-max) {
      text-align: center;
      margin-bottom: 20px;
    }

    img {
      border-radius: 5px;
    }
  }
}
/* post a space page proud to work section end */
