<app-navmenu></app-navmenu>

<section class="post-hero-section" [style.background-image]="'url(' + getAbsoluteUrl('/assets/img/post-space-hero-bg.jpg') + ')'">
  <div class="wrapper">
    <div class="post-hero-text">
      <h1 class="hero-title">Post a Space</h1>
      <p class="hero-description">Post and advertise your office space and Kikmoov will provide you with great tenants.</p>
      <p class="hero-description">Let us do the work so you can benefit from the reward.</p>

      <a (click)="tryToGetStarted()" class="get-started-button">{{ (userService.isLoggedin() && this.userService.getUserType() === 'seller') ? 'Go to your spaces' : 'Get started' }}</a>
    </div>
  </div>
</section>

<section class="section-wrap info-section">
  <div class="wrapper">
    <div class="row">
      <div class="col-md-4 info-col">
        <span class="home-block-title-text">Get Access</span>
        <p class="info-description">We have thousands of users searching for office space in London.</p>
      </div>
      <div class="col-md-4 info-col">
        <span class="home-block-title-text">Fill your space</span>
        <p class="info-description">Find great companies and freelancers to fill your office space </p>
      </div>
      <div class="col-md-4 info-col">
        <span class="home-block-title-text">24/7 support</span>
        <p class="info-description">Our online office agents and booking team is always here to help and support on all requirements.</p>
      </div>
    </div>
  </div>
</section>

<section class="section-wrap postspace-howitw">
  <span class="home-block-title-text">How it works</span>

  <div class="postspace-howitw-row d-flex">
    <div class="postspace-howitw-content d-flex flex-md-row flex-column">
      <div class="howitw-icon">
        <img src="{{getAbsoluteUrl('/assets/img/hiw-post-icon.svg')}}" alt="">
      </div>
      <div class="howitw-text">
        <span class="howitw-title">Post and advertise your space</span>
        <p class="howitw-description">It takes minutes to upload your space through the kikmoov portal. Our real estate professionals
          are here to help. Please get in touch if you require any advice. </p>
      </div>
    </div>
    <div class="postspace-howitw-img">
      <img src="{{getAbsoluteUrl('/assets/img/post-hiw-img1.png')}}" alt="">
    </div>
  </div>
  <div class="postspace-howitw-row reverse d-flex">
    <div class="postspace-howitw-img">
      <img src="{{getAbsoluteUrl('/assets/img/post-hiw-img2.png')}}" alt="">
    </div>
    <div class="postspace-howitw-content d-flex flex-md-row flex-column">
      <div class="howitw-icon">
        <img src="{{getAbsoluteUrl('/assets/img/hiw-booking-icon.svg')}}" alt="">
      </div>
      <div class="howitw-text">
        <span class="howitw-title">Receive viewing and booking requests</span>
        <p class="howitw-description">Kikmoov will organise viewings and bookings on your behalf. If you require advise on
          pricing or anything else, feel free to contact us.</p>
      </div>
    </div>
  </div>
  <div class="postspace-howitw-row d-flex">
    <div class="postspace-howitw-content w430 d-flex flex-md-row flex-column">
      <div class="howitw-icon">
        <img src="{{getAbsoluteUrl('/assets/img/hiw-income-icon.svg')}}" alt="">
      </div>
      <div class="howitw-text">
        <span class="howitw-title">Generate income</span>
        <p class="howitw-description">Concentrate on innovating and creating. We will find you great tenants. We work on
          your behalf and you benefit from the reward. We only charge 10% for 12 months of the tenant duration to fill your
          space. See our terms of business for more details.</p>
      </div>
    </div>
  </div>
</section>

<section class="section-wrap section-faq">
  <div class="wrapper">
    <span class="home-block-title-text">FAQ</span>

    <div class="faq-accordion">
      <mat-accordion *ngFor="let faq of faqContent">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            {{ faq.title }}
            <i class="fa fa-angle-right faq-arrow"></i>
          </mat-expansion-panel-header>
          <p class="faq-content">{{ faq.description }}</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</section>

<section class="section-wrap section-review">
  <div class="wrapper">
    <div class="post-review">
      <div class="slide-wrap">
        <img src="{{getAbsoluteUrl('/assets/img/dan-cohen.png')}}" alt="" class="">

        <div class="review-author-info">
          <span class="review-author-name">Dan Cohen</span>
          <span class="review-author-position">Purpose Group | <mark>Director</mark></span>
        </div>

        <div class="quote-wrap">
          <div class="quote-img">
            <img src="{{getAbsoluteUrl('/assets/img/quote.svg')}}" alt="">
          </div>
        </div>

        <p class="review-text">“I run multiple co-working buildings across London. Kikmoov have found me fantastic tennants.
          They are highly recomended!”</p>
      </div>
    </div>
  </div>
</section>

<section class="section-wrap section-proudtowork">
  <div class="wrapper" *ngIf="proudToWork; else defaultProudToWork">
    <span class="home-block-title-text">Proud to work with</span>

    <div class="row">
      <div class="col-sm-4" *ngFor="let proud of proudToWork">
        <div class="proud-col">
          <img [src]="proud.image" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </div>
  <ng-template #defaultProudToWork>
    <div class="wrapper">
      <span class="home-block-title-text">Proud to work with</span>

      <div class="row justify-content-center">
        <div class="col-sm-4">
          <div class="proud-col">
            <img src="{{getAbsoluteUrl('/assets/img/proud-purpose.jpg')}}" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="proud-col">
            <img src="{{getAbsoluteUrl('/assets/img/proud-runway-east.jpg')}}" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="proud-col">
            <img src="{{getAbsoluteUrl('/assets/img/proud-office-group.jpg')}}" class="img-fluid" alt="">
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <div class="home-partners-email">
    <p>Need help? email us at <a href="mailto:info@kikmoov.com">info@kikmoov.com</a></p>
  </div>
</section>


<app-kikmoov-footer></app-kikmoov-footer>
