@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
/*@font-face {*/
/*font-family: NunitoSans;*/
/*src: url(sansation_light.woff);*/
/*}*/
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import 'assets/fonts/montserrat/stylesheet';
@import 'variables.scss';
@import '~ngx-smart-modal/ngx-smart-modal';
//@import '~@ngx-share/button/styles/share-buttons';
@import '~@ngx-share/button/themes/circles/circles-light-theme';

* {
  outline: none;
}

app-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body {
  font-family: 'Montserrat', sans-serif;
  min-width: 320px;
  overflow-x: hidden;
  line-height: 1.2;

  &.dialog-open {
    padding-right: 15px;

    @media (max-width: $screen-md-max) {
      padding-right: 0;
    }

    .nav-bar-frame {
      padding: 10px 65px 10px 50px;

      @media (max-width: $screen-lg-max) {
        padding: 10px 30px 10px 15px;
      }

      @media (max-width: $screen-md-max) {
        padding: 10px 15px;
      }
    }
  }
}

tr {
  border-bottom: 0;
}

input {
  font-family: 'Montserrat', sans-serif;

  @include input-placeholder {
    font-family: 'Montserrat', sans-serif;
  }
}

.overlay {
  &.nsm-overlay-open {
    padding-right: 15px;

    @media (max-width: $screen-md-max) {
      padding-right: 0;
    }
  }
}

main {
  flex: 1 0 auto;
}

.row {
  margin-bottom: 0;
}

.container .row {
  margin-right: -15px;
  margin-left: -15px;
}

.wrapper {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

.wrapper-sm {
  max-width: 807px;
  min-height: calc(100vh - 435px);
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

input {
  box-sizing: border-box !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.toast-container.toast-bottom-center .toast {
  width: 50vh;
}

.spinner-wrapper {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.breadcrumb {
  padding: 0.25rem 1rem;
  margin: 0.5rem 0;
}

/* Modals */
.nsm-dialog {
  margin: 15px auto;

  &.medium-modal {
    max-width: 1024px;
    padding: 0 15px;
    margin: 40px auto;

    .nsm-dialog-btn-close {
      top: -30px;
      right: 0;
      width: 28px;
      height: 28px;
      background-color: #fff;
      padding: 0;
      text-align: center;

      img {
        margin-top: -2px;
      }
    }
  }

  .nsm-content {
    margin: 0;
    padding: 0;
    background: none;
    box-shadow: none;
    width: 100%;

    .modal-dialog {
      width: 100%;
      margin: 0;

      .modal-content {
        width: 100%;
        border-radius: 5px;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
        background-color: #fff;
        border: none;
      }
    }
  }
}

.modal-dialog {
  max-width: 100%;
}

.auth-modal-wrapper {
  max-width: 444px;
  padding: 0 15px;
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - (0.5rem * 2));
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  line-height: 14px;
  color: #4a4a4a !important;
  cursor: pointer;
  @include transition(0.2s);

  &:hover {
    color: #000 !important;
  }
}

// confirm sign out modal
.confirm-modal {
  max-width: 370px;
  padding: 0 15px;

  .modal-dialog {
    max-width: 340px;
    margin: 20px auto;
  }

  .modal-content {
    border-radius: 5px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
    background-color: #fff;
    padding: 20px 35px 5px 35px;
    text-align: center;

    .confirm-text {
      font-size: 21px;
      color: #f33;
      margin-bottom: 30px;
      font-weight: 500;
    }

    p {
      font-size: 14px;
      line-height: 16px;
      font-weight: 500;
      color: #000;
      margin: 0 0 35px 0;
    }

    span {
      font-size: 16px;
      color: #000;
      margin-bottom: 50px;
    }

    .btn-site {
      margin-bottom: 20px;
    }
  }
}

// booking modal
.booking-modal {
  max-width: 1080px;
  padding: 0 15px;

  .modal-content {
    .bookings-top-info {
      padding: 20px 15px 15px 15px;

      .workspace-info {
        display: block;
        font-size: 14px;
        line-height: 16px;
        color: #3d8fc6;
        margin-bottom: 5px;
      }

      .location-info {
        display: block;
        font-size: 16px;
        line-height: 18px;
        font-weight: 500;
        color: #000;
      }
    }
  }
}

// auth modals
.auth-modal {
  .modal-dialog {
    max-width: 414px;
    margin: 20px auto;
  }
}

// request to book process modal
.request-book-modal {
  max-width: 525px;
  padding: 0 15px;

  .overlay {
    position: absolute;
    height: 100%;
    overflow: hidden;
    padding: 0;

    .invite-attendee {
      height: 100%;
    }
  }
}

.invite-body {
  padding: 20px;
}

.invite-attendee-input {
  margin-bottom: 20px;

  .selected-emails {
    margin-bottom: 10px;

    .selected {
      display: inline-block;
      vertical-align: middle;
      margin: 0 10px 10px 0;
      font-size: 14px;
      img {
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
      }
    }
  }

  .invite-form {
    position: relative;

    .invite-email-input {
      display: block;
      width: 100%;
      border-radius: 3px;
      border: 1px solid #cacaca;
      height: 30px;
      padding: 5px 40px 5px 10px;
      font-size: 11px;

      &:focus {
        box-shadow: none !important;
        border-bottom: 1px solid #cacaca !important;
      }
    }

    .invite-add-btn {
      position: absolute;
      top: 8px;
      right: 3px;
      background: none;
      border: none;
      color: $orange;
      font-size: 11px;
      font-weight: 500;
    }
  }
}

// cancel booking modal
.booking-cancel-modal {
  max-width: 340px;

  .modal-dialog {
    border-radius: 5px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);

    .modal-content {
      padding: 25px 35px;

      .booking-cancel-wrap {
        img {
          display: inline-block;
          margin-bottom: 20px;
        }

        .b-modal-title {
          display: block;
          font-size: 18px;
          font-weight: 500;
          color: #000;
          margin-bottom: 20px;
        }

        .b-modal-txt {
          font-size: 14px;
          margin: 0 0 40px 0;
          color: #000;
        }

        .btn-site {
          margin-bottom: 20px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

// share modal
.share-modal {
  max-width: 450px;
  padding: 0 15px;

  .share-heading {
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    text-align: center;
    padding: 15px 15px 15px 15px;
    background-color: #f5f5f5;
    border-radius: 10px 10px 0 0;
  }

  .share-body {
    padding: 40px;

    @media (max-width: $screen-sm-max) {
      padding: 40px 15px;
    }

    .share-string {
      width: 100%;
      border-radius: 3px;
      border: 1px solid #cacaca;
      padding: 5px;
      font-size: 11px;
      color: #000;
      white-space: nowrap;
      overflow: hidden;
      position: relative;

      .copy-share-button {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        text-align: right;
        padding-right: 5px;
        text-transform: uppercase;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #fff);
        font-size: 11px;
        line-height: 23px;
        font-weight: 500;
        color: $orange;
      }
    }

    .share-social-links {
      text-align: center;
      margin-top: 40px;

      a {
        display: inline-block;
        vertical-align: middle;
        margin: 0 10px;
      }
    }
  }
}

.invite-attendee {

}

/* slick */
.slick-slide {
  outline: none;
}

.slick-track,
.slick-slide,
.slick-list {
  -webkit-perspective: 2000px;
  perspective: 2000px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.slick-dots {
  bottom: -50px;

  @media (max-width: $screen-sm-max) {
    display: flex;
    justify-content: center;
  }

  li {
    margin: 0 5px;
    cursor: pointer;

    @media (max-width: $screen-sm-max) {
      margin: 0;
      width: 18px;
      height: 18px;
    }

    &.slick-active button,
    &:hover button {
      background: $orange;
      opacity: 1;
    }

    button {
      display: inline-block;
      vertical-align: middle;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: $orange;
      opacity: 0.15;
      padding: 0;
      transition: all 0.3s linear;

      @media (max-width: $screen-sm-max) {
        width: 10px;
        height: 10px;
      }

      &:before {
        display: none;
      }
    }
  }
}

.indepth-slider .slick-dots {
  bottom: 15px;

  li {
    margin: 0 3px;

    &.slick-active button,
    &:hover button {
      background: #fff;
      opacity: 1;
    }

    button {
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background: #fff;
      opacity: 0.5;
    }
  }
}

.section-wrap {
  padding: 80px 0;

  @media (max-width: $screen-xs-max) {
    padding: 50px 0;
  }

  &.section-faq-hiw {
    background-color: #f7f7f7;
    padding: 100px 0 50px 0;
    margin-top: -50px;

    .wrapper {
      max-width: 930px;
    }
  }
}

.home-block-title-text {
  display: block;
  position: relative;
  font-size: 26px;
  line-height: 28px;
  font-weight: 500;
  color: #000;
  text-align: center;
  margin-bottom: 60px;

  /*&:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 14px;
    background-color: $orange;
  }*/
}

.home-partners-email {
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  color: #000;
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  padding: 0 15px;

  p a {
    color: #2f374b;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

/* reviews block start*/
.slide-wrap {
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid #ececec;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 15px;

  > img {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: -70px auto 15px auto;
    object-fit: cover;
    object-position: top center;
    /*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);*/
  }
}

.review-author-info {
  text-align: center;
  margin-bottom: 25px;
}

.review-author-name {
  display: block;
  font-size: 24px;
  line-height: 26px;
  font-weight: 500;
  color: #000;
  margin-bottom: 10px;
}

.review-author-position {
  display: block;
  color: #4a4a4a;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  mark {
    font-weight: 300;
    background: none;
    padding: 0;
  }
}

.quote-wrap {
  width: 100%;
  position: relative;
  text-align: center;
  margin-bottom: 25px;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 9px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #cacaca;
  }
}

.quote-img {
  display: inline-block;
  background-color: #fff;
  position: relative;
  z-index: 10;
  padding: 0 10px;

  img {
    width: 27px;
  }
}

.review-text {
  font-size: 14px;
  line-height: 18px;
  color: #000;
}

/* reviews block end*/

/* input and textarea styles */

.input-class,
.textarea-class {
  &.input-class-border-bottom {
    input,
    textarea,
    .StripeElement,
    .StripeElement--empty,
    .StripeElement--focus,
    .StripeElement--complete {
      border-bottom: 2px solid #e2e2e2 !important;
      background: none !important;
      border-radius: 0 !important;
    }
  }

  input,
  textarea,
  .StripeElement,
  .StripeElement--empty,
  .StripeElement--focus,
  .StripeElement--complete {
    display: block;
    border: none !important;
    font-size: 14px !important;
    line-height: 16px;
    color: #4a4a4a;
    background-color: #f1f1f1 !important;
    border-radius: 3px !important;
    height: 30px !important;
    padding: 5px !important;
    font-family: 'Montserrat', sans-serif !important;

    @include input-placeholder {
      font-size: 14px;
      line-height: 16px;
      color: #9b9b9b;
      font-family: 'Montserrat', sans-serif !important;
    }

    &:focus {
      box-shadow: none !important;
    }
  }

  &.input-form-mod {
    input {
      height: 40px !important;
      padding: 10px 15px !important;
      font-size: 16px !important;
      line-height: 18px;

      @include input-placeholder {
        font-size: 16px;
        line-height: 18px;
      }
    }

    textarea {
      padding: 10px 15px !important;
      font-size: 16px !important;
      line-height: 18px;

      @include input-placeholder {
        font-size: 16px;
        line-height: 18px;
      }
    }
  }
}

.textarea-class {
  &.height170 {
    textarea {
      height: 170px !important;
    }
  }

  textarea {
    height: 100px !important;
    resize: none;
  }
}


.input-datepicker {
  position: relative;

  &.filter-datepicker {
    input {
      padding: 8px 10px 8px 35px !important;
      margin: 0;
      height: auto;
      border: none;
      width: 130px;
      font-size: 14px;
      font-weight: 500;
      color: $blue;
      /*overflow: hidden;
      text-overflow: ellipsis;*/
      background: url("/assets/img/filters/combined-shape2.svg") no-repeat 13px 49%;
      transition: none;

      &.ng-dirty {
        width: 195px;
      }

      @include input-placeholder {
        font-size: 14px;
        font-weight: 500;
        color: $blue;

        @media (max-width: $screen-lg-max) {
          font-size: 12px;
        }
      }

      @media (max-width: $screen-lg-max) {
        width: 105px;
        padding: 6px 10px 7px 30px !important;
        background: url("/assets/img/filters/combined-shape2.svg") no-repeat 8px 50%;
        font-size: 12px;

        &.ng-dirty {
          width: 160px;
        }
      }

      @media (max-width: $screen-md-max) {
        width: 120px;
      }

      @media (max-width: $screen-sm-max) {
        padding: 8px 10px 8px 38px !important;
        background: url("/assets/img/filters/combined-shape2.svg") no-repeat 6px 50%;
        width: 100%;
      }
    }

    .mat-datepicker-toggle {
      top: 0;
      height: 100%;
      color: #9b9b9b;
      font-size: 14px;

      .mat-button-wrapper {
        display: none;
      }
    }
  }

  input {
    padding-left: 25px !important;
  }

  .mat-datepicker-toggle {
    position: absolute;
    top: -7px;
    left: 0;
    width: 100%;
    color: #9b9b9b;
    @include transition(0.2s);

    &.mat-datepicker-toggle-active {
      color: #3d8fc6;
    }

    button {
      background: none;
      width: 100%;
      text-align: left;

      .mat-button-focus-overlay {
        display: none;
      }
    }
  }
}

#invisibleTextID {
  opacity: 0;
  visibility: hidden;
  position: relative;
  top: -25px;
}

.mat-datepicker-content {
  background: transparent;
  box-shadow: none !important;

  .mat-calendar {
    border-radius: 4px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
    background-color: #fff;
    height: auto !important;
  }

  button {
    background: none;
  }

  .mat-calendar-body-cell {
    .mat-calendar-body-cell-content {
      border-radius: 2px;
      border-color: #ececec;
      color: #cacaca;
      @include transition(.2s);

      &:hover {
        border-color: $orange;
      }
    }

    &.mat-calendar-body-active {
      .mat-calendar-body-cell-content {
        border-color: #3d8fc6;
        color: #fff;
        background-color: #3d8fc6;
      }
    }
  }

  .mat-calendar-header {
    background-color: #3d8fc6;
    border-radius: 4px 4px 0 0;
    padding: 10px;
    height: 40px;
    margin-bottom: 12px;

    .mat-calendar-controls {
      margin: 0;

      .mat-icon-button {
        width: 20px;
        height: 20px;
        background-color: #fff;
        position: absolute;
        top: 10px;

        &.mat-calendar-previous-button {
          left: 10px;

          &:after {
            transform: rotate(0deg);
            top: 4px;
            left: -1px;
          }
        }

        &.mat-calendar-next-button {
          right: 10px;

          &:after {
            transform: rotate(180deg);
            top: 4px;
            left: 7px;
          }
        }

        &:after {
          margin: 0;
          border: 6px solid transparent;
          border-right-color: #3d8fc6;
          border-right-width: 8px;
          bottom: auto;
          right: auto;
        }
      }

      .mat-calendar-period-button {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        padding: 0;
        line-height: 22px;

        .mat-calendar-arrow {
          display: none;
        }
      }
    }
  }

  .mat-calendar-table {
    .mat-calendar-table-header {
      border: none;

      th {
        font-size: 12px;
        color: #4a4a4a;
      }
    }

    .mat-calendar-body-label {
      display: none;
    }
  }
}

.filter-datepicker-wrap {
  position: relative;
  top: 20px;

  @media (max-width: $screen-sm-max) {
    top: auto;
  }

  .mat-calendar-header {
    background-color: $blue;

    .mat-calendar-controls .mat-icon-button {
      background-color: $blue;

      &:after {
        border-right-color: #fff;
      }
    }
    .mat-calendar-controls .mat-button-wrapper {
      display: block;
      text-transform: lowercase;
      &:first-letter {
        text-transform: uppercase !important;
      }
    }
  }

  .mat-calendar-body-cell.mat-calendar-body-active .mat-calendar-body-cell-content {
    background-color: $blue;
    color: #fff;
    border-color: $blue;
  }
}

// select styles
.input-select {
  &.input-select-filter {
    .mat-select {
      border: none;

      .mat-select-trigger {
        .mat-select-value {
          display: block;
          max-width: initial;
          font-size: 12px;
          color: #4a4a4a;
          font-weight: 500;

          .mat-select-placeholder {
            font-size: 12px;
            color: #4a4a4a;
            font-weight: 500;
          }
        }

        .mat-select-arrow-wrapper {
          .mat-select-arrow {
            color: #4a4a4a;
          }
        }
      }
    }
  }

  .mat-select {
    height: 30px;
    padding: 5px 2px;
    border-bottom: 2px solid #e2e2e2;

    .mat-select-trigger {
      .mat-select-value {
        font-size: 14px;
        color: #9b9b9b;
        font-family: 'Montserrat', sans-serif;

        .mat-select-placeholder {
          font-size: 14px;
          color: #9b9b9b;
          font-family: 'Montserrat', sans-serif;
        }
      }

      .mat-select-arrow-wrapper {
        .mat-select-arrow {
          color: #9b9b9b;
        }
      }
    }
  }
}

.capacity-select {
  margin-right: 10px;
  width: 95px;
  height: 25px;

  .input-control {
    display: block;
    width: 25px;
    height: 100%;
    background-color: $blue;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    line-height: 25px;
    font-weight: 600;

    &.minus {
      border-radius: 4px 0 0 4px;
    }

    &.plus {
      border-radius: 0 4px 4px 0;
    }
  }

  .capacity-input {
    flex: 1;
    height: 100% !important;
    margin: 0 !important;
    width: 45px !important;
    text-align: center;
    border: 1px solid $blue !important;
    box-shadow: none !important;
    padding: 0 9px !important;

    @include input-placeholder {
      text-align: center;
    }
  }

  /*.mat-select {
    border-radius: 4px;
    border: solid 1px #9b9b9b;
    padding: 4px 0;

    .mat-select-trigger {
      .mat-select-placeholder,
      .mat-select-value {
        font-size: 12px;
        font-weight: 500;
        color: #4a4a4a;
      }

      .mat-select-arrow {
        color: #9b9b9b;
      }
    }
  }*/
}

.mat-select,
.mat-option {
  font-family: 'Montserrat', sans-serif;
}

.mat-select-panel {
  box-shadow: none !important;
  border: 1px solid #979797;
  background: #fff;

  .mat-option {
    color: #9b9b9b;
    @include transition(0.2s);

    &:hover {
      color: #000;
    }

    &.mat-active {
      color: #000;
    }
  }
}

.home-select-wrap {
  .mat-select {
    .mat-select-trigger {
      height: 25px;
      padding: 4px 0;
      border-bottom: solid 2px #e6e6e6;

      .mat-select-value {
        display: block;
        max-width: initial;
        min-width: 90px;
        color: #000;
        font-size: 14px;

        .mat-select-placeholder {
          font-size: 14px;
          color: #9b9b9b;
        }
      }

      .mat-select-arrow {
        color: #9b9b9b;
      }
    }
  }
}

.hour-select-wrapper {
  background-color: #f1f1f1;
  border-radius: 3px;
  height: 30px;
  padding: 5px;

  .mat-select-value {
    color: #4a4a4a;
    font-size: 14px;
    text-overflow: inherit;
  }
}

.home-select-space {
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15) !important;
  border: none;
  background-color: #f9f9f9;

  .mat-select-content {
    background-color: #f9f9f9;
  }
}

// checkbox and radio styles
.checkbox,
.radio {
  margin-right: 70px;
  margin-bottom: 15px;

  @media (max-width: $screen-xs-max) {
    margin-right: 30px;
  }

  input {
    display: none;

    &:checked {
      + label {
        .check-wrap {
          background-color: #3d8fc6;

          &:after {
            animation: check 0.2s ease-in-out forwards;
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }

  label {
    position: relative;
    padding-left: 30px;
    height: 22px !important;
    line-height: 22px !important;
    margin: 0;
    cursor: pointer;
    @include unselectable;

    &:before,
    &:after {
      display: none;
    }

    .check-wrap {
      position: absolute;
      top: 3px;
      left: 0;
      width: 18px;
      height: 18px;
      border-radius: 2px;
      background-color: #ececec;
      @include transition(0.2s);

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 10px;
        left: 2px;
        border: solid 2px #fff;
        width: 13px;
        height: 6px;
        border-top: none;
        border-right: none;
        transform: rotate(-45deg);
        transform-origin: top left;
        opacity: 0;
        visibility: hidden;
      }
    }

    .checkbox-text {
      display: inline-block;
      font-style: normal;
      color: #4a4a4a;
      font-size: 14px;
      line-height: 16px;
      font-weight: 500;
      text-decoration: none;
      @include transition(0.2s);
    }
  }
}

@keyframes check {
  0% {
    width: 0;
    height: 0;
  }

  50% {
    width: 0;
    height: 6px;
  }

  100% {
    width: 13px;
  }
}

.indepth-row .checkbox {
  margin-right: 40px;
}

.radio {
  margin-right: 40px;

  @media (max-width: $screen-xs-max) {
    margin-right: 30px;
    margin-bottom: 15px;
  }

  &:last-child {
    margin-right: 0;
  }

  input {
    display: none;

    &:checked {
      + label {
        .check-wrap {
          background-color: #ececec;

          &:before {
            opacity: 1;
            visibility: visible;
            transform: scale(1);
          }
        }
      }
    }
  }

  label {
    padding-left: 25px !important;

    .check-wrap {
      top: 4px;
      width: 14px;
      height: 14px;
      border-radius: 50%;

      &:after {
        display: none;
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -4px;
        margin-top: -4px;
        width: 8px;
        height: 8px;
        background-color: #3d8fc6;
        border-radius: 50%;
        opacity: 0;
        visibility: hidden;
        transform: scale(0.7);
        @include transition(0.2s);
      }
    }
  }
}

.radio-blue {
  .radio {
    input {
      &:checked {
        + label {
          .check-wrap {
            border-color: #3d8fc6;
            background: transparent;
          }

          .select-space-info {
            opacity: 1;
          }
        }
      }
    }

    label {
      .check-wrap {
        background: transparent;
        border: 1px solid #cacaca;

        &:before {
          background-color: #3d8fc6;
        }
      }

      .select-space-info {
        opacity: 0.5;
        @include transition(0.2s);
      }
    }
  }
}

// checkbox notifications
.check-notifications {
  .checkbox {
    input {
      &:checked {
        + label {
          .check-wrap {
            background-color: $orange;
            border: none;
          }
        }
      }
    }

    label {
      .check-wrap {
        border-radius: 5px;
        border: 1px solid #ececec;
        background-color: #fff;
        &:after {
          display: none;
        }
      }
    }
  }
}

// buttons styles
.btn-site {
  display: inline-block;
  min-width: 250px !important;
  border-radius: 4px;
  padding: 10px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  border: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;

  @include transition(0.2s);

  @media (max-width: $screen-xs-max) {
    width: 100%;
    min-width: inherit !important;
  }

  &:hover {
    opacity: 0.9;
    text-decoration: none;
  }

  &.save-changes-btn {
    font-weight: 500;
    min-width: 150px !important;
  }

  &.grey_c {
    background-color: #ececec;
    color: #9b9b9b !important;
  }

  &.blue_c {
    background-color: #3d8fc6;
    color: #fff !important;
  }

  &.orange_c {
    background-color: $orange;
    color: #fff !important;

    a {
      color: #fff !important;
      text-decoration: none !important;
    }
  }

  .mat-progress-spinner {
    circle {
      stroke: #fff !important;
    }
  }

  .login-spinner {
    margin: 0px auto;
  }

  &.green_c {
    background-color: #50e3c2;
    color: #fff !important;
  }

  &.red_c {
    background-color: $orange;
    color: #fff !important;
  }

  &.w100 {
    width: 100%;
    min-width: inherit !important;
  }

  &.btn-cancel {
    color: #9b9b9b;
  }

  &.view-policy {
    border: 1px solid $orange;
    color: $orange;
    font-weight: normal;
  }

  &.anytime_button {
    background-color: #fff;
    color: #ececec;
    border: 1px solid #ececec;
    border-radius: 2px;
    width: 100%;
    max-width: 276px;
    margin-left: 2px;
    margin-top: 15px;
  }
}

// upload sections
.upload-section {
  padding: 100px 15px;
}

.upload-wrapper {
  max-width: 730px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
}

.upload-container {
  padding: 30px 60px;

  @media (max-width: $screen-xs-max) {
    padding: 20px 15px;
  }
}

.upload-heading-wrapper {
  padding: 20px 60px;
  background-color: #f5f5f5;
  border-radius: 5px;

  @media (max-width: $screen-xs-max) {
    padding: 20px 15px;
  }
}

.upload-heading {
  display: block;
  font-size: 20px;
  line-height: 22px;
  font-weight: 300;
  color: #000;
  margin: 0;
}

.upload-heading-mark {
  font-size: 20px;
  line-height: 22px;
  font-weight: 500;
  color: #000;
}

.upload-row {
  margin-bottom: 30px;

  &.w400 {
    max-width: 400px;
  }

  .textarea-class {
    textarea {
      margin: 0 0 20px;
    }
  }

  .label-name {
    display: block;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #4a4a4a;
    margin-bottom: 15px;
  }
}

.input-hint {
  display: block;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  color: #9b9b9b;
  margin: 7px 5px 0 5px;
}

.mat-error {
  white-space: nowrap;
}

.upload-col {
  margin-right: 35px;
  margin-bottom: 15px;
  width: 150px;

  &:last-child {
    margin-right: 0;
  }

  .input-class {
    width: 70px;

    &.datepicker-wrap {
      width: auto;
    }
  }

  &.opn-hours {
    .input-class {
      input {
        margin: 0 !important;
      }
    }
  }

  &.w100 {
    width: 100%;
  }

  &.w-auto {
    width: auto;
  }

  .w150 {
    width: 150px;
    margin-right: 35px;
    position: relative;

    .mat-error {
      width: 100%;
      position: absolute;
      left: 0;
      top: 100%;
    }
  }
}

.upload-input-wrapper {
  position: relative;
  overflow: hidden;
  width: 170px;

  @media (max-width: $screen-xs-max) {
    width: 100%;
  }

  .upload-file {
    position: absolute;
    top: -25px;
    left: 0;
    width: 100%;
    height: calc(100% + 25px);
    opacity: 0;
    cursor: pointer;
    z-index: 10;
  }

  .upload-input {
    .upload-top {
      width: 100%;
      height: 165px;
      background-color: #e6eef3;
      border-radius: 2px;
      padding: 40px 15px;
      margin-bottom: 9px;
      text-align: center;

      @media (max-width: $screen-xs-max) {
        padding: 15px;
        height: 105px;
      }

      img {
        display: inline-block;
        margin-bottom: 10px;
      }

      span {
        display: block;
        font-size: 12px;
        line-height: 14px;
        color: #368fc8;
      }
    }

    .upload-bottom {
      border-radius: 2px;
      border: 1px solid #ececec;
      padding: 4px 0;
      text-align: center;
      font-size: 10px;
      line-height: 12px;
      font-weight: 500;
      color: #9b9b9b;
      background-color: #ececec;
    }
  }
}

.uploaded-imgs {
  margin-left: -11px;
  margin-right: -11px;
  margin-top: -8px;

  @media (max-width: $screen-xs-max) {
    margin-bottom: 10px;
    margin-left: -8px;
    margin-right: -8px;
  }

  .img-col {
    margin: 8px;
    width: 120px;
    height: 90px;
    border-radius: 4px;
    position: relative;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    float: left;

    &:first-child {
      width: 256px;
      height: 196px;
    }

    @media (max-width: $screen-xs-max) {
      width: calc(50% - 16px) !important;
      height: 90px !important;
    }

    .toggle-main-img {
      position: absolute;
      top: 5px;
      left: 5px;
      cursor: pointer;

      &.main {
        .fa {
          color: #f5cb23;
        }
      }

      .fa {
        color: #fff;
        font-size: 16px;
      }
    }

    .delete-img {
      position: absolute;
      top: 5px;
      right: 5px;
      cursor: pointer;
    }
  }
}

.mar-right20 {
  margin-right: 20px;
}

.spinner-wrap {
  width: 100%;
  height: 100%;
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #4a90e2;
}

.control-buttons {
  margin-top: 70px;

  @media (max-width: $screen-xs-max) {
    margin-top: 30px;
  }

  .btn-site {
    @media (max-width: $screen-xs-max) {
      margin-bottom: 15px;
    }
  }
}

// portal pages
.portal-wrapper {
  padding: 145px 0;
}

.portal-row {
  .portal-col {
    margin-right: 45px;

    &.portal-col-change-pass {
      width: 500px;
      flex: none !important;
    }

    &:nth-child(2) {
      margin-right: 0;
    }

    &.col-sidebar {
      width: 210px;

      @media (max-width: $screen-md-max) {
        width: calc(50% - 23px);
        margin-bottom: 30px;
      }

      @media (max-width: $screen-sm-max) {
        width: 100%;
        margin-right: 0;
      }
    }

    &.col-main {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;

      @media (max-width: $screen-md-max) {
        margin-right: 0;
      }
    }
  }
}

.sidebar-block-button {
  border-top: 1px solid #cacaca;

  a {
    display: block;
    padding: 18px 15px 10px 15px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
    text-align: center;
    color: $orange;
    @include transition(0.2s);

    &:hover {
      text-decoration: none;
      color: #4a4a4a;
    }

    img {
      display: inline-block;
      vertical-align: middle;
      margin-right: 11px;
      position: relative;
      top: -2px;
    }
  }
}

.portal-sidebar-block {
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  background-color: #fff;
  margin-bottom: 25px;

  &.portal-location-block {
    .sidebar-block-button {
      a {
        img {
          width: 30px;
        }
      }
    }
  }

  .addr-block {
    border-bottom: 1px solid #cacaca;
    padding: 15px;

    .location-name-overview {
      word-break: break-all;
    }

    .addr-text {
      margin: 0;
      font-size: 14px;
      line-height: 16px;
      color: #000;
    }
  }

  .add-workspace {
    padding: 5px 10px 1px 10px;
  }

  .sidebar-block-list {
    padding: 15px 0;

    .block-link {
      cursor: pointer;
      display: block;
      padding: 10px 20px;
      font-size: 14px;
      line-height: 16px;
      color: #000;
      margin-left: -5px;
      margin-right: -5px;
      @include transition(0.2s);

      &:hover,
      &.active {
        text-decoration: none;
        color: $green;
      }
    }
  }
}

.sidebar-expansion-panel {
  margin-left: -5px;
  margin-right: -5px;

  .mat-expansion-panel {
    background: none;
    box-shadow: none !important;
    overflow: initial;

    .mat-expansion-panel-header {
      padding: 6px 20px;
      @include transition(.2s);

      &.mat-expanded {
        background-color: $orange;

        + .mat-expansion-panel-content {
          opacity: 1;
        }

        .mat-content {
          .mat-expansion-panel-header-title {
            color: #fff;
          }
        }
      }

      .mat-content {
        .mat-expansion-panel-header-title {
          font-size: 14px;
          font-weight: 500;
          color: #000;
          font-family: 'Montserrat', sans-serif;
          @include transition(.2s);
        }
      }

      .mat-expansion-indicator {
        display: none;
      }
    }

    .mat-expansion-panel-content {
      opacity: 0;

      .mat-expansion-panel-body {
        padding: 10px 30px;
        background-color: #ececec;

        p {
          margin: 0;

          .add-link {
            display: block;
            font-size: 12px;
            color: #000;
            margin-bottom: 15px;
            font-family: 'Montserrat', sans-serif;
            @include transition(.2s);

            &:hover {
              text-decoration: none;
              color: $blue;
            }

            &:last-child {
              margin-bottom: 0;
            }

            .mark-space {
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}

.location-edit {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  color: #4a4a4a;
  cursor: pointer;
  @include transition(0.2s);

  &:hover {
    text-decoration: none;
    color: $orange !important;
  }
}

.location-heading {
  display: block;
  font-size: 12px;
  line-height: 14px;
  font-weight: 600;
  color: #9b9b9b;
  margin-bottom: 10px;
}

.location-title {
  display: block;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  color: #000;
  margin-bottom: 10px;
}

.workspace-name {
  display: block;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  color: #000;
  margin-bottom: 10px;
}

.main-portal-wrapper {
  border-radius: 5px;
  border: 1px solid #ececec;
  padding: 25px 30px;
  margin-bottom: 20px;

  @media (max-width: $screen-xs-max) {
    padding: 20px 5px;
  }

  &.main-portal-change-pass {
    padding: 55px 30px;
  }
}

.inputs-row {
  margin-bottom: 25px;

  .input-class {
    &.input-class-current-pass {
      margin-bottom: 37px;
    }
  }
}

.change-password-wrapper {
  margin: 50px 0;

  @media (max-width: $screen-md-max) {
    margin: 0;
  }
}

.change-pass {
  display: inline-block;
  font-size: 12px;
  color: #4a4a4a;
  border-bottom: 1px solid #4a4a4a;
  cursor: pointer;
  @include transition(.2s);

  &:hover {
    border-color: transparent;
  }
}

.n-delete {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  color: #4a4a4a;
  margin-bottom: 8px;
  cursor: pointer;
  @include transition(.2s);

  &:hover {
    color: #000;
  }
}

.n-table {
  border-radius: 5px;
  border: solid 1px #ececec;
  overflow: hidden;

  @media (max-width: $screen-sm-max) {
    overflow: auto;
  }

  table {
    user-select: none;

    @media (max-width: $screen-sm-max) {
      width: 670px;
    }

    .checkbox {
      width: 100%;
      margin: 0;

      label {
        .checkbox-text {
          font-size: 12px;
        }
      }
    }

    thead {
      border: none;
      background-color: #ececec;

      th {
        padding: 5px 10px;
        font-size: 10px;
        font-weight: 400;
        color: #9b9b9b;
      }
    }

    tbody {
      tr {
        &.decline {
          td {
            color: #6f6f6f;
          }
        }
      }

      td {
        padding: 10px;
        font-size: 12px;
        color: #000;

        span {
          font-weight: 600;
        }

        span.message {
          font-weight: normal;
          font-size: 12px;
        }

        .status {
          display: inline-block;
          color: #9b9b9b;
          margin-right: 5px;

          &.no-cursor {
            .accept, .decline {
              cursor: auto;
            }
          }

          .accept, .decline {
            cursor: pointer;
          }
        }

        .accept, .decline {
          display: inline-block;
          font-weight: 500;
        }

        .accept {
          color: #55c183;
        }

        .decline {
          color: #d0021b;
        }
      }
    }
  }
}

.signup-seller-wrapper {
  width: 100%;
  height: 100vh;
  //min-height: 700px;
  min-height: 840px;
  position: relative;
  padding: 0 15px;

  @media (max-width: $screen-sm-max) {
    min-height: initial;
    height: auto;
    padding: 150px 15px 50px 15px;
  }
}

.error-msg {
  color: #dc4e41;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}

.create-button-wrap {
  margin-top: 50px;
}

.login-modal-wnd {
  width: 100%;
  background-color: #fff;
  padding: 30px 82px 40px 82px !important;
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  font-family: 'Montserrat', sans-serif;

  @media (max-width: $screen-xs-max) {
    padding: 30px !important;
  }
}

.logo-wrap {
  margin-bottom: 40px;
}

.hint-title {
  display: block;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  color: #000;
  text-align: center;
  margin-bottom: 15px;
  position: relative;
  left: 50%;
  width: 320px;
  transform: translateX(-50%);
}

.hint-description {
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  color: #000;
  margin-bottom: 40px;
  text-align: center;
}

.slider-arrows {
  width: 36px;
  height: 36px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
  text-align: center;

  @media (max-width: $screen-sm-max) {
    display: none;
  }

  &:hover .fa {
    color: $orange;
  }

  .fa {
    display: block;
    color: #2f374b;
    font-size: 39px;
    line-height: 36px;
    transition: all 0.3s linear;
  }

  &.prev {
    left: 50px;
    padding: 0 10px;

    @media (max-width: $screen-md-max) {
      left: -30px;
    }
  }

  &.next {
    right: 50px;
    padding: 0 13px;

    @media (max-width: $screen-md-max) {
      right: -30px;
    }
  }
}

.cdk-overlay-container {
  z-index: 1200 !important;
}

.bp-row {
  margin-bottom: 25px;

  .radio {
    label {
      margin-right: 25px;
    }
  }

  .input-class {
    margin-bottom: 20px;

    input {
      margin-bottom: 0;
    }
  }
}

.stripe-wrapper {
  margin-top: -25px;
  width: 100%;

  p {
    margin-left: -15px;
    margin-right: -15px;
    padding: 10px 30px 10px 45px;
    font-size: 11px;
    font-weight: 500;
    color: #fff;
    background: #3d8fc6 url("/assets/img/lock-icon.svg") no-repeat 30px 10px;

    @media (max-width: $screen-sm-max) {
      margin-right: 0;
      margin-left: 0;
      padding: 10px 30px;
      background: #3d8fc6 url("/assets/img/lock-icon.svg") no-repeat 15px 10px;
    }

    strong {
      font-weight: 700;
    }
  }
}

.payment-icons {
  img {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
  }
}

// top picks columns
.topticks-slide {
  display: block;
  margin: 0 25px;
  position: relative;
  cursor: pointer !important;
  text-decoration: none !important;

  &.topticks-slide-workspace {
    margin: 0;
    padding: 8px;
  }

  @media (max-width: $screen-sm-max) {
    margin: 0 15px;
  }

  .veryfied-icon-wrapper {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
  }

  .topticks-img {
    display: block;
    width: 100%;
    border-radius: 5px;
    min-height: 160px;
    background-color: #d8d8d8;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  .topticks-info-wrapper {
    padding: 7px 30px 0 0;
    position: relative;

    .topticks-info-wrapper-title {
      display: block;
      font-size: 12px;
      line-height: 14px;
      font-weight: 500;
      color: $orange;
      margin-bottom: 2px;
    }

    .topticks-info-wrapper-name {
      display: block;
      font-size: 18px;
      line-height: 20px;
      font-weight: 500;
      overflow: hidden;
      color: #000;
      margin-bottom: 3px;
      position: relative;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .topticks-info-wrapper-location {
      display: block;
      font-size: 12px;
      line-height: 14px;
      font-weight: 500;
      color: #9b9b9b;
      height: 28px;
      margin-bottom: 10px;
    }

    .topticks-info-wrapper-like {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      color: #cacaca;
      font-size: 25px;
      line-height: 25px;

      .fa {
        &.selected {
          color: $orange;
        }
      }

      a {
        text-decoration: none;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .topticks-price {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 9px 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #ececec;
    border-radius: 5px;

    .topticks-price-col {
      border-right: 1px solid #cacaca;
      padding: 0 5px;
      flex: 1;
      text-align: center;

      &:last-child {
        border: none;
      }

      &.more {
        width: 45px;
        flex: none;
        cursor: pointer;

        .fa {
          font-size: 12px;
          color: #cacaca;
        }

        .topticks-more {
          display: block;
          font-size: 10px;
          font-weight: 500;
          color: #cacaca;
          text-transform: uppercase;
        }
      }

      .topticks-price-col-text {
        font-size: 16px;
        line-height: 16px;
        color: #000;
        margin: 0 0 0 0;

        &:last-child {
          margin: 0;
        }

        span {
          font-size: 12px;
          color: #4a4a4a;
        }
      }
    }
  }
}

.slider-marker-wrap {
  .topticks-slide {
    .topticks-info-wrapper {
      .topticks-marker-holder {
        //height: 40px;
      }

      .topticks-info-wrapper-location {
        height: 28px;
      }
    }
    .topticks-price {
      .topticks-price-col {
        .topticks-price-col-text {
          max-width: 140px;
          margin: 0 auto;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }
  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}

.slide-wrapper .topticks-info-wrapper-like {
  z-index: 100000;
}

.slide-workspace-img {
  background-color: #eee;
  border-radius: 5px;
  min-height: 165px;

  img {
    border-radius: 5px;
    height: 165px;
    object-fit: cover;
    object-position: center;
  }
}

.indepth-slider {
  &.indepth-slider-one-item {
    .slick-list {
      &:before,
      &:after {
        background: rgba(144, 151, 167, .4);
      }
    }
  }

  .slick-list {
    position: relative;
    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 350px;
      height: 100%;
      background: rgba(144, 151, 167, .4);
      z-index: 10;
      @media (max-width: 1300px) {
        display: none;
      }
    }

    &:after {
      left: auto;
      right: 0;
    }
  }
}

.fs-slider {
  &:hover {
    .slick-arrow {
      opacity: 1;
      visibility: visible;
    }
  }

  .slide {
    border-radius: 5px;
    width: 100%;
    min-height: 160px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }

  .slick-arrow {
    z-index: 10;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    opacity: 0;
    visibility: hidden;
    @include transition(.2s);

    @media (max-width: $screen-md-max) {
      opacity: 1;
      visibility: inherit;
    }

    &:before {
      color: #fff;
      font: normal normal normal 23px/1 FontAwesome;
      margin-left: 5px;
      opacity: 1;
    }

    &.slick-prev {
      left: 8px;

      &:before {
        content: "\f053";
      }
    }

    &.slick-next {
      right: 12px;

      &:before {
        content: "\f054";
      }
    }
  }
}

.noUi-horizontal .noUi-handle {
  background-color: $blue;
}

.noUi-connect {
  background: $blue;
}

.search-dropdown-list {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 100;
  border-radius: 4px;
  padding: 0;
  overflow: auto;
  max-height: 270px;
  text-align: left;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);

  &.findaspace-search {
    top: calc(100% + 25px);
    width: 250px;

    @media (max-width: $screen-md-max) {
      width: 100%;
    }
  }

  li {
    //display: flex;
    padding: 10px;
    font-size: 14px;
    color: #000;
    cursor: pointer;
    @include transition(.2s);

    &:hover {
      background: #eee;
    }

    strong {
      font-weight: 600;
    }

    .search-hint {
      float: right;
      margin-top: 2px;
      margin-left: auto;
      padding-left: 5px;
      font-size: 12px;
      font-weight: 500;
      color: $orange;
    }
  }
}

/* post a space page faq section start */
.faq-accordion {
  user-select: none;

  .mat-expansion-panel {
    background: none;
    box-shadow: none;
    color: #000;
    overflow: initial;

    @media (max-width: $screen-xs-max) {
      margin-bottom: 15px;
    }
  }

  .mat-expansion-panel-header {
    border-radius: 45px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
    color: #000;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    padding: 11px 40px 11px 20px;
    position: relative;
    background-color: #fff !important;
    font-family: 'Montserrat', sans-serif;

    @media (max-width: $screen-xs-max) {
      font-size: 16px;
      line-height: 18px;
    }

    &.mat-expanded .faq-arrow {
      transform: translateY(-50%) rotate(90deg);
    }
  }

  .mat-expansion-panel {
    margin-bottom: 30px;
    box-shadow: none !important;
  }

  .faq-content {
    padding-top: 15px;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #4a4a4a;
    font-family: 'Montserrat', sans-serif;

    @media (max-width: $screen-xs-max) {
      font-size: 14px;
      line-height: 23px;
    }
  }
}

.faq-arrow {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 40px;
  line-height: 40px;
  color: $blue;
  z-index: 1;
  transition: all .2s ease-in-out;

  @media (max-width: $screen-xs-max) {
    font-size: 30px;
    line-height: 30px;
  }
}

/* post a space page faq section end */

.form-top-block {
  margin-bottom: 50px;

  @media (max-width: $screen-sm-max) {
    margin-right: 30px;
  }

  .row {
    margin-left: -6px;
    margin-right: -6px;
  }
}

.form-title {
  display: block;
  text-align: center;
  font-size: 23px;
  font-weight: 500;
  color: $orange;
  margin-bottom: 50px;

  @media (max-width: $screen-sm-max) {
    margin-bottom: 30px;
  }
}

.form-txt {
  margin: 0 0 10px 0;
  font-size: 18px;
  line-height: 22px;
  color: #000;

  @media (max-width: $screen-sm-max) {
    font-size: 16px;
    line-height: 20px;
  }
}

.contact-form-holder {
  padding-top: 90px;
  margin-top: -90px;
}

.form-holder {
  border-radius: 10px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #fff;
  border-left: 10px solid $orange;
  padding: 46px 39.6px 44.6px 39.6px;

  @media (max-width: $screen-sm-max) {
    padding: 20px;
    border-width: 5px;
    border-radius: 5px;
  }
}

.form-heading {
  display: block;
  font-size: 23px;
  font-weight: 500;
  color: #000;
  margin-bottom: 35.8px;

  @media (max-width: $screen-sm-max) {
    margin-bottom: 20px;
  }
}

.form-label {
  display: block;
  font-size: 18px;
  font-weight: 500;
  color: #000;
  margin-bottom: 17.6px;
}

.form-row-wrap {
  margin-bottom: 36px;

  &.contact-details-row {
    margin-bottom: 27.4px;
  }

  @media (max-width: $screen-sm-max) {
    margin-bottom: 30px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .input-class {
    input {
      background-color: #f7f7f7 !important;

      @include input-placeholder {
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
      }
    }
  }

  .btn-site {
    padding: 12px 10px;
    font-size: 18px;
    font-weight: 400;
  }

  .mat-error {
    white-space: nowrap;
  }
}

.checkbox-form-block {
  margin-right: 10px;

  input {
    opacity: 0;
    visibility: hidden;

    &:checked {
      + label {
        background-color: $orange;
        color: #fff;
      }
    }
  }

  label {
    height: auto !important;
    min-width: 90px;
    padding: 10px 15px !important;
    text-align: center;
    font-size: 18px !important;
    color: #9b9b9b;
    border-radius: 3px;
    cursor: pointer;
    background-color: #f7f7f7;
    @include transition(.2s);

    @media (max-width: $screen-xs-max) {
      min-width: 90px;
    }

    &:before,
    &:after {
      display: none;
    }
  }
}

.hero-title-blog {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -30px;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -0.7px;
  color: #fff;
  width: 100%;
  text-align: center;
}

// personal details
.personal-details-wrapper {
  padding: 160px 15px 50px 15px;
  position: relative;

  @media (max-width: $screen-sm-max) {
    padding: 100px 15px 50px 15px;
  }

  &.reset-pass-wrapper,
  &.personal-details {
    .personal-title {
      margin-bottom: 28px;
    }
  }
}

.personal-details-container {
  max-width: 630px;
  margin: 0 auto;
  padding: 30px 50px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);

  @media (max-width: $screen-sm-max) {
    padding: 20px 15px;
  }
}

.personal-row {
  margin-bottom: 20px;

  &.personal-email-row {
    margin-bottom: 38px;
  }

  &.current-pass-row {
    margin-bottom: 38px;
  }

  &.repeat-pass-row,
  &.personal-company-row {
    margin-bottom: 60px;
  }
}

.personal-title, .bookings-title {
  display: block;
  font-size: 18px;
  font-weight: 500;
  color: #000;
}

.bookings-title {
  margin-bottom: 20px;
  padding-left: 25px;

  @media (max-width: $screen-sm-max) {
    padding-left: 15px;
  }

  &.mt-height {
    margin-top: -41px;
  }
}

.personal-bottom-link {
  display: block;
  margin: 10px 0;
  font-size: 14px;
  color: #000;
  cursor: pointer;
  @include transition(.2s);

  &:hover {
    color: $orange;
  }
}

// loading
.loading-wrapper {
  @include center(both);
  width: 215px;
  text-align: center;
  z-index: 100;

  // center loading with transparent white bg, if need remove top 4 lines and uncomment bottom code

  /*position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 100;
  background-color: rgba(255, 255, 255, .6);*/

  .loading-logo {
    margin-bottom: 15px;
    animation: rotating 2s linear infinite;
  }

  .loading-txt {
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: $orange;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// pagination find a space
.pagination-wrapper {
  text-align: center;
  width: 100%;
  margin: 40px 0;
  white-space: nowrap;

  .pag-item {
    display: inline-block;
    vertical-align: middle;
    color: #4a4a4a;
    font-size: 16px;
    margin: 0 7px;
    padding: 5px;
    border-radius: 50%;
    min-width: 31px;
    min-height: 31px;
    cursor: pointer;
    border: 1px solid transparent;

    @media (max-width: $screen-sm-max) {
      margin: 0;
    }

    @media (max-width: $screen-sm-max) {
      font-size: 14px;
      line-height: 13px;
      min-width: 25px;
      min-height: 25px;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      text-decoration: underline;
    }

    &.disabled-item {
      color: #9b9b9b;
      cursor: default;
      text-decoration: none;
    }

    &.active {
      border-color: $orange;
      color: $orange;
      text-decoration: none;
    }
  }
}

// styles only for Firefox
@-moz-document url-prefix() {
  input[type='password'] {
    font: small-caption;
    font-size: 8px !important;
  }

  .capacity-select .capacity-input {
    flex: auto;
    width: 45px !important;
  }
}

// styles only for Safari (any version)
@media not all and (min-resolution: .001dpcm) {
  @supports (-webkit-appearance:none) {
    .map-view-btn {
      &.active {
        .map-icon {
          .img-wrap {
            &.close-map {
              display: block !important;
              transform: none !important;
            }

            &.open-map {
              display: none !important;
            }
          }
        }
      }

      .map-icon {
        transition: none !important;

        .img-wrap {
          backface-visibility: initial !important;

          &.close-map {
            display: none !important;
          }

          &.open-map {
            display: block !important;
          }
        }
      }
    }
  }
}

// styles only for IE
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .hero-section-contact {
    .wrapper {
      position: absolute;
      bottom: 150px;
      width: 100%;
      max-width: 100%;
    }
  }
}

// Material Error SnackBar Styles
snack-bar-container.error-snackbar {
  background-color: #b00020 !important;
  color: #fff;

  simple-snack-bar {
    font-weight: bold;
  }
}

#share {
  .sb-circles-light {
    .sb-button.sb-circles-light {
      margin: 0;
    }

    share-button {
      margin: 0;

      .sb-wrapper {
        .sb-icon {
          color: var(--button-color) !important;
          border: 1px solid var(--button-color);
          box-shadow: none;
          background: none;
          max-width: 37px;
          max-height: 37px;
          margin: 0 11px;
        }
      }
    }
  }
}

.hidden {
  position: fixed;
  top: 0;
  left: 0;
  height: 1px !important;
  width: 1px !important;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 0 !important;
}

.watch-video-button {
  display: inline-block;
  min-width: 275px;
  border-radius: 45px;
  padding: 15px 20px;
  text-align: center;
  font-size: 21px;
  font-weight: 600;
  cursor: pointer;
  border: 1.3px solid #fff;
  color: #fff;
  @include transition(.2s);

  &.home-page-video-btn {
    min-width: 190px;
    font-size: 14px;
    padding: 12px 15px 7px 15px;

    img {
      width: 19px !important;
    }

    svg {
      width: 20px;
      margin-right: 5px;
      position: relative;
      top: -2px;

      path {
        @include transition(.2s);
      }
    }
  }

  &:hover {
    border-color: $orange;

    svg path {
      fill: $orange;
    }
  }

  img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: auto !important;
  }
}


.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.kikmoov-checked-button {
  display: block;
  border-radius: 25px;
  background-color: #e7f9f2;
  padding: 5px 18px;
  color: #000;
  font-size: 12px;
  margin: 0 10px 20px 10px;

  img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }
}

.hero-slider {
  .slick-list, .slick-track {
    height: 100%;
  }
}

.clickable {
  cursor: pointer;
}

.reviews-slider {
  .slick-slider {
    .slick-arrow {
      width: 15%;
      height: 100%;
      opacity: 0;
      z-index: 100;

      &.slick-next {
        right: 0;
      }

      &.slick-prev {
        left: 0;
      }
    }
  }
}

.terms-privacy-msg {
  color: #4a4a4a;
  font-size: 14px;
  line-height: 23px;
  font-weight: 500;
  margin: 15px 0 0 0;

  a {
    color: #4a4a4a;
    text-decoration: underline;
    font-weight: 500;

    &:hover {
      text-decoration: none;
    }
  }
}

.article-txt {
  p {
    img {
      height: auto !important;
      max-width: 100% !important;
      margin: 15px 0;
    }
  }
}

#login-button {
  &[disabled] {
    background-color: #3d8fc6;
  }
  .login-spinner {
    margin: 8px auto;
  }

  .mat-progress-spinner {
    circle {
      stroke: #fff !important;
    }
  }
}

.home-office-carusel {
  > .slick-slider {
    > .slick-arrow {
      width: 36px;
      height: 36px;
      background-color: #fff;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
      border-radius: 50%;
      z-index: 10;
      text-align: center;
      @include transition(.3s);

      &.slick-disabled {
        &:after {
          color: #4a4a4a;
        }
      }

      &:hover {
        &:after {
          color: #4a4a4a;
        }
      }

      &:before {
        display: none;
      }

      &:after {
        display: block;
        color: #f86649;
        line-height: 36px;
        font: 33px/1 FontAwesome;
        @include transition(.3s);
      }

      &.slick-prev {
        left: -50px;
        padding-right: 3px;

        &:after {
          content: "\f104";
        }
      }

      &.slick-next {
        right: -50px;
        padding-left: 3px;

        &:after {
          content: "\f105";
        }
      }
    }
  }

}

.mat-select-arrow {
  color: rgba(0, 0, 0, .7)
}

.price-range-wrapper {
  .ng5-slider {
    .ng5-slider-bar {
      background-color: #cdcdcd;
    }

    .ng5-slider-draggable {
      cursor: pointer;
    }

    .ng5-slider-selection {
      background: $blue !important;
    }

    .ng5-slider-pointer {
      width: 15px;
      height: 15px;
      top: -6px;
      background-color: $blue;

      &:after {
        display: none;
      }
    }
  }
}

.error-wraptext {
  + .mat-error {
    white-space: normal;
  }
}

.matSuccess {
  color: #f86649!important;
}

.indepth-slider-wrapper {
  .slick-list {
    @media (max-width: 1300px) {
      padding: 0 !important;
    }
  }
  .slick-arrow {
    @media (max-width: $screen-sm-max) {
      display: none !important;
    }
  }
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none !important;
  }
}

a.topticks-info-wrapper {
  display: block;
}


.select-skills {
  .mat-select {
    height: 45px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.08);
    border: none;

    .mat-select-trigger {
      height: 100%;
      padding: 0 20px;

      .mat-select-value {
        vertical-align: middle;

        span {
          font-size: 14px !important;
          line-height: 16px;
          letter-spacing: .7px;
          color: #000 !important;
        }
      }
    }
  }
}

.pws-testimonials-slider {
  max-width: 570px;
  margin: 0 auto;

  &.home-page-testimonials {
    max-width: 780px;
  }

  .pws-testimonials-slide {
    &.slick-active {
      .testimonials-author-photo {
        img {
          opacity: 1;
          transform: scale(1);
        }
      }

      .testimonials-author-info {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .testimonials-slide-wrap {
      @media (max-width: $screen-sm-max) {
        display: block !important;
      }
    }

    .testimonials-author-photo {
      width: 320px;
      margin-right: 30px;

      @media (max-width: $screen-sm-max) {
        margin: 0 auto 30px;
      }

      img {
        max-width: 100%;
        opacity: 0;
        transform: scale(.97);
        transition: all .3s ease-in-out;
      }
    }

    .testimonials-author-info {
      flex: 1;
      text-align: center;
      opacity: 0;
      transform: translateY(30px);
      transition: all .3s ease-in-out;

      .desc {
        font-size: 18px;
        line-height: 23px;
        letter-spacing: .9px;
        color: #000;
        margin-bottom: 30px;
      }

      .testimonials-author-name {
        display: block;
        font-size: 16px;
        line-height: 18px;
        color: $blue-light;
        font-weight: 500;
        margin-bottom: 5px;
      }

      .testimonials-author-pos {
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
        letter-spacing: .7px;
        color: #4a4a4a;
      }
    }
  }
}

.anim-wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 780px;
  z-index: -1;

  @media (max-width: $screen-sm-max) {
    width: 100%;
  }

    .anim-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 320px;

    @media (max-width: $screen-sm-max) {
      left: 50%;
      transform: translateX(-50%);
    }

    &.animation_0 {
      img {
        &.anim-elem-1 {
          transform: translate(165px, 0);
        }

        &.anim-elem-2 {
          transform: translate(0, 70px);
        }
      }
    }

    &.animation_1 {
      img {
        &.anim-elem-1 {
          transform: translate(165px, 160px);
        }

        &.anim-elem-2 {
          transform: translate(0, 0);
        }
      }
    }

    &.animation_2 {
      img {
        &.anim-elem-1 {
          transform: translate(0, 160px);
        }

        &.anim-elem-2 {
          transform: translate(115px, 0);
        }
      }
    }

    &.animation_3 {
      img {
        &.anim-elem-1 {
          transform: translate(0, 0);
        }

        &.anim-elem-2 {
          transform: translate(115px, 70px);
        }
      }
    }

    &.animation_4 {
      img {
        &.anim-elem-1 {
          transform: translate(165px, 0);
        }

        &.anim-elem-2 {
          transform: translate(0, 70px);
        }
      }
    }

    &.animation_5 {
      img {
        &.anim-elem-1 {
          transform: translate(165px, 160px);
        }

        &.anim-elem-2 {
          transform: translate(0, 0);
        }
      }
    }

    &.animation_6 {
      img {
        &.anim-elem-1 {
          transform: translate(0, 160px);
        }

        &.anim-elem-2 {
          transform: translate(115px, 0);
        }
      }
    }

    &.animation_7 {
      img {
        &.anim-elem-1 {
          transform: translate(0, 0);
        }

        &.anim-elem-2 {
          transform: translate(115px, 70px);
        }
      }
    }

    img {
      position: absolute;
      transition: all .3s ease-in-out;
    }
  }
}

.pws-testimonials-slider {
  .slick-arrow {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    -webkit-background-size: contain;
    background-size: contain;

    @media (max-width: $screen-md-max) {
      display: none !important;
    }

    &:before {
      display: none;
    }

    &.slick-prev {
      background: url("/assets/img/pws-page/arrow-l.png") no-repeat 50% 50%;
      left: -150px;
    }

    &.slick-next {
      background: url("/assets/img/pws-page/arrow-r.png") no-repeat 50% 50%;
      right: -150px;
    }
  }
}

.outer-wrapper {
  padding: 75px 0;

  @media (max-width: $screen-sm-max) {
    padding: 40px 0;
  }
}

.repeat-title-wrapper {
  max-width: 700px;
  margin: 0 auto 80px;
  text-align: center;

  &.fullwidth {
    max-width: 100%;
  }

  @media (max-width: $screen-sm-max) {
    margin: 0 auto 30px;
    padding: 0 15px;
  }

  .title {
    display: block;
    color: $orange;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }

  .subtitle {
    display: block;
    font-size: 28px;
    line-height: 30px;
    font-weight: 600;
    letter-spacing: 1.4px;
    color: #4a4a4a;

    @media (max-width: $screen-sm-max) {
      font-size: 24px;
      line-height: 28px;
    }

  }
}
