// colors
$blue: #2f374b;
$orange: #f86649;
$green: #28e5aa;
$blue-light: #38afd6;



// media queries
$screen-lg-max: 1199.98px;
$screen-md-max: 991.98px;
$screen-sm-max: 767.98px;
$screen-xs-max: 575.98px;




// mixins
@mixin transition($duration){
  transition: all $duration ease-in-out;
}

@mixin center($position) {
  position: absolute;

  @if $position == 'vertical' {
    top: 50%;
    transform: translateY(-50%);
  }
  @else if $position == 'horizontal' {
    left: 50%;
    transform: translate(-50%);
  }
  @else if $position == 'both' {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@mixin reset-position {
  position: inherit;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  transform: none;
}

@mixin input-placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

@mixin unselectable {
  -webkit-touch-callout: none;
  user-select: none;
}

@mixin truncate($truncation-boundary) {
  max-width: $truncation-boundary;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
