<app-navmenu [filled]="true"></app-navmenu>

<section class="terms-wrapper">
    <div class="wrapper">
        <h1 class="terms-main-title">Kikmoov Ltd – Terms of Business</h1>

        <h2 class="terms-sub-title">1. These Terms</h2>
        <ol class="terms-list">
            <li>1.1 The website https://www.kikmoov.com/ and associated mobile application (the “Platform”) is an online platform that connects the owners of office spaces (“Providers”) with customers (“Client”) seeking to hire office space, self-contained office units, meeting rooms, access to desks within an office or other commercial space on a temporary basis.</li>
            <li>1.2 In these terms a “Space” refers to any space or location listed on the Platform, but please note that a “Space” may not include a self-contained or designated area and may refer to access to a given communal or collective space (details of what is offered and whether a unit is self-contained will be set out in a Provider’s listing).</li>
            <li>1.3 The Platform is owned and operated by Kikmoov Ltd (“Kikmoov”, “we”, “us”, or “our”), a limited company registered in England under company number 11241506.  Our registered office address is 12 Belvedere Court 225 Willesden Lane, London, United Kingdom, NW2 5RL.  If you have a query or would like to speak to us about these terms, please contact us by email at info@kikmoov.com or by telephone on +44 20 7097 5717.</li>
            <li>1.4 These terms apply to all services provided or arranged by us to Providers and/or to Clients (“Services”).</li>
            <li>1.5 In these terms “you” refers to Providers and/or Clients (as appropriate).</li>
            <li>1.6 Please read these terms carefully to ensure you understand them.  By creating an account on the Platform, you are agreeing to these terms.  The terms may be varied at any time by posting amended terms on the Platform.  The terms which will apply to a booking will be those terms applicable at the time your booking is confirmed.</li>
            <li>1.7 These terms relate to your use of the Platform once you have created an account. Please also see our Privacy Policy for information about how we collect and use your personal data and for information about cookies.</li>
        </ol>

        <h2 class="terms-sub-title">2. Creating your account</h2>
        <ol class="terms-list">
            <li>
                2.1 To use our Services, you will be required to register and create an account on the Platform which will form the basis of your profile (“Profile”).
            </li>
            <li>
                2.2 To create an account you must:
                <ol class="terms-list sublist">
                    <li>2.2.1 be at least 18 years of age;</li>
                    <li>2.2.2 if you are a business, be authorised by the company or organisation that you work for to create an account, create a listing or make an enquiry about a listing.</li>
                </ol>
            </li>
            <li>2.3 All the information you provide when creating your account must be true, accurate and not misleading.  You will be required to create a password and you should take care that your password is protected at all times. The protection of your password is your responsibility and you are solely responsible for the unauthorised use of your password or unauthorised access to your account.  We may suspend or terminate your access to the Platform at any time with or without notice.</li>
            <li>
                <span class="terms-title-sm">Providers</span>
            </li>
            <li>2.4 To create an account you will be required to submit specific information about your company or organisation including your contact details (individual or company name, as relevant), email address (or you may be able to log in using a third party account such as Google, Facebook, LinkedIn, where applicable), phone number, bank account or paypal account details for receipt of payment and VAT registration number (if applicable) (“Provider Payment Details”).</li>
            <li>2.5 Your Profile will not be publicly available to any user of the Platform.  To contact you, a user must register with us and arrange a viewing or submit an enquiry. Your Profile will not display any contact information, and a Client will not receive any information regarding your Profile unless they have arranged a viewing or submitted and enquiry.</li>
            <li>
                2.6 To market a Space, you will be required to create a Space listing that includes (“Listing”):
                <ol class="terms-list sublist">
                    <li>2.6.1 full particulars (including photographs, how access is to be provided, whether any additional services such as use of a Space will be provided) of the Space;</li>
                    <li>2.6.2 the availability and type of occupancy (such as whether it is a shared or private Space, meeting room, day pass, hourly desk, hot desk, fixed desk) of the Space; and</li>
                    <li>2.6.3 any specific rules or restrictions that apply to the Space.</li>
                </ol>
            </li>
            <li>2.7 You must provide us with any other information relating to you or the Space as we may reasonably request at any time. Guidance on how to create a Listing and further details on the information that must be included in a Listing can be found here.</li>
            <li>2.8 We will review the Listing and we reserve the right to approve, decline or amend the Listing.  In the event that we decide to decline or amend the Listing we will contact you via the email address provided when you created the Listing with our reasons for declining the Listing or with our suggested amendments to the Listing.</li>
            <li>2.9 Once a Listing is approved it will be posted to the Platform and will be publicly available to all users of the Platform.</li>
            <li>2.10 You are responsible for the accuracy of all information in your Listing and any information you provide to us in relation to a booking. <strong>You will be liable to the Client under these terms and, in the case of any Long-Term Bookings under any separate Licence entered into (where applicable), if the information you provide is inaccurate, incomplete or misleading in any way. Your liability may include any reasonable losses incurred by the Client as a result of such inaccurate, incomplete or misleading information provided by you and you may be ordered to pay reasonable damages on the basis of misrepresentation, breach of contract or otherwise.</strong></li>
            <li>2.11 We reserve the right to conduct a physical inspection of the Space at any time and may remove your Listing if the Space does not conform to the information you have provided or our standards or we believe you to be in breach of your obligations under this these terms.</li>
            <li>2.12 In addition to marketing the Space on the Platform, we will be entitled to send promotional emails to Clients and provide such information about your Space as we may deem appropriate to promote Kikmoov or your Listing, subject to applicable marketing rules.</li>
            <li>
                <span class="terms-title-sm">Clients</span>
            </li>
            <li>2.13 You can browse Listings and search for Spaces without creating an account. To enquire about a Listing (“Enquiry”) or make a booking (“Booking”), you must register with us and create an account on the Platform. To create an account you will be required to submit specific information about your company or organisation including your contact details (individual or company name, as relevant), email address (or equivalent account such as with Google, Facebook, LinkedIn), phone number.  To understand how we use the information that we collect from you, please read our Privacy Policy.</li>
            <li>2.14 If you submit an enquiry about a Listing, a Provider will gain access to your Profile.  Your Profile will contain your contact information and an automated email will be sent to the Provider containing this information.  A Provider can only contact you via Kikmoov, or via a messenger tool on the Platform (where applicable).</li>
        </ol>

        <h2 class="terms-sub-title">3. Booking Process</h2>
        <ol class="terms-list">
            <li>3.1 Bookings can be made on a short-term (hourly or daily) basis (“Hourly Bookings”) or monthly, weekly or longer basis (“Long-Term Bookings”).</li>
            <li>
                3.2 A Provider can make a Listing which will contain the following:
                <ol class="terms-list sublist">
                    <li>3.2.1 the price of the Listing (“Hire Price”);</li>
                    <li>3.2.2 full details of the terms of the Listing (e.g. payment terms, hire period, type of occupancy);</li>
                    <li>3.2.3 information relating to the Space;</li>
                    <li>3.2.4 any specific requirements to apply to the Client;</li>
                    <li>3.2.5 any specific rules to apply to the Listing; and</li>
                    <li>3.2.6 in relation to Long-Term Bookings any applicable licence to occupy agreement (“Licence”). Any Licence will be between the Provider and the Client.  Please note that Kikmoov is not a party to this Licence.</li>
                </ol>
            </li>
            <li>3.3 To make an Enquiry or request a Booking, a Client can send an enquiry via the Platform or alternatively contact us directly by email (info@kikmoov.com) or telephone (+44 207 097 5017).</li>
            <li>3.4 For Long-Term Bookings, if a Client wishes to view a Space before making a Booking, this can be requested when submitting an Enquiry. The Client is not obliged to arrange a viewing and you can submit an Enquiry or request for a Booking without requesting a viewing. The Client will use the calendar function on the Platform to request a date and time for a viewing or for a Booking.  Viewings are not available for Hourly Bookings.</li>
            <li>3.5 By making a request for a Booking, the Client agrees to all terms set out in the Listing and to any Licence (where applicable).</li>
            <li>3.6 Once an Enquiry or request for Booking has been submitted, a Provider can either accept or decline the Enquiry or request for Booking via the Platform.</li>
            <li>
                3.7 The contract between the Provider and the Client will be formed (“Confirmation”, “Confirmed”) when:
                <ol class="terms-list sublist">
                    <li>3.7.1 in relation to Hourly Bookings, the Provider accepts the Booking requested via the Platform; or</li>
                    <li>3.7.2 in relation to Long-Term Bookings, the Client enters into the Licence (or commences occupation at the Space).</li>
                </ol>
            </li>
            <li>3.8 It is the Providers responsibility to ensure that any applicable Licence is signed by the Client.</li>
            <li>3.9 If a viewing is arranged, Kikmoov will be updated via the calendar function on the Platform.  It is the responsibility of the Provider to hold the viewing and of the Client to attend the viewing. Unless otherwise agreed, we will not attend the viewing and we do not accept any responsibility or liability for any loss incurred by a party if the other party fails to attend a viewing.</li>
            <li>3.10 The terms agreed in the Listing, the obligations set out in clause 8, the terms of Schedule 1 (the “Space Hire Terms”) and the terms of any Licence (where applicable) between the parties will constitute the agreement between the Provider and the Client (referred to as the “Space Hire Agreement”).</li>
            <li>3.11 The Space Hire Agreement is a contract between the Provider and the Client. We are not a party to that agreement and we will not be liable to the Provider, the Client or any third party for any breach of the Space Hire Agreement by either party or otherwise in relation to the Space or its use by a Client. Kikmoov neither occupies or provides access to any Space.</li>
        </ol>

        <h2 class="terms-sub-title">4. The parties to the Space Hire Agreement agree that the Space Hire Agreement will apply for the duration of the booking, subject to the terms of any Licence (where relevant).</h2>
        <ol class="terms-list">
            <li>4.1 On Confirmation, the Provider agrees to issue an invoice for payment of the Hire Price which will be sent via the Platform or by email or post to the Client in accordance with the terms of the Booking.  The Client agrees to pay Kikmoov in accordance with the payment terms agreed in the Booking.</li>
            <li>
                <span class="terms-title-sm">Provider</span>
            </li>
            <li>4.2 You agree that Clients will be entitled to use the Platform to enter into binding agreements between you and the Client who makes a Booking.</li>
            <li>4.3 After Confirmation has taken place, the Space Hire Agreement will be formed between you and the Client. The agreement will be a binding agreement and will constitute the terms of your Listing, the terms of this Agreement, the Space Hire Terms, and any Licence (where applicable) and will only include such additional terms, requirements, restrictions or rules relating to your Space if listed by you in the Listing. You may apply general rules applicable to a given Space or building (e.g. restrictions on bringing animals into the Space, or fire procedures) provided that such rules apply to all occupiers, and do not materially affect the terms of the Space Hire Agreement subject to such rules, the Client is not obliged to accept any further terms once Confirmation has taken place.</li>
        </ol>

        <h2 class="terms-sub-title">5. Payment of Hire Price and Kikmoov Fees</h2>
        <ol class="terms-list">
            <li>
                <span class="terms-title-sm">Hourly Bookings</span>
            </li>
            <li>5.1 All payments in relation to the Hire Price with respect to Hourly Bookings shall be paid by the Client to Kikmoov in advance of the Booking Start Time. Payment will be made via a third party gateway, no later than 24 hours in advance of the Booking Start Time.  We (Kikmoov) will deduct the total fee payable to us (“Kikmoov Fee”) from the payment of the Hire Price, and transfer the remainder of the Hire Price due to the Provider within 7 days of completion of the Booking, using the Provider Payment Details.</li>
            <li>5.2 All Hourly Bookings will be subject to the terms as set out in this Agreement including the Listing details and the Cancellation Policy set out at clause 6 and each of the Provider and the Client agree to comply with clauses 6 and 8 with respect to the Booking.</li>
            <li>5.3 We will email our invoice to the Provider in advance of the start of the Booking (“Booking Start Time”).  The invoice will set out the Kikmoov Fee.</li>
            <li>5.4 Kikmoov Fee will for Hourly Bookings will be equal to 20% of the Hire Price (exclusive of VAT) of every Booking made through the Platform, and this fee is payable by the Provider.</li>
            <li>
                <span class="terms-title-sm">Long-Term Bookings</span>
            </li>
            <li>5.5 The Client’s payment of the Hire Price for Long-Term Bookings will be made directly to the Provider in accordance with the terms of the Licence.</li>
            <li>5.6 All Long-Term Bookings will be subject to the Provider’s Licence terms, as well as the terms as set out in this Agreement including the Listing details and the Cancellation Policy set out at clause 6. Clause 8 of these terms and the Space Hire Terms at Schedule 1 will apply as between the Client and Provider unless the terms of these clauses contradict the terms of any Licence, in which event the Licence will prevail.</li>
            <li>5.7 The Hire Price will be calculated on a monthly or weekly basis or as may be agreed between the parties.</li>
            <li>5.8 We may email our invoice to the Provider at any time once a Booking has been Confirmed. The invoice will set out the Kikmoov Fee payable to us, along with our preferred payment methods.</li>
            <li>
                5.9 The Kikmoov Fee for Long-Term Bookings will be calculated as follows:
                <ol class="terms-list sublist">
                    <li>5.9.1 10% of the Hire Price (exclusive of VAT) of every Booking made through the Platform which is payable by the Provider;</li>
                    <li>5.9.2 by reference to the minimum term of the Licence or the first 12 months of any Licence (whichever is greater);</li>
                    <li>5.9.3 the Provider may (at its discretion discretion) opt to pay the Kikmoov Fee on a monthly basis.  If the Provider opts to pay the Kikmoov Fee on a monthly basis, the Kikmoov Fee shall be 15% of the Hire Price (exclusive of VAT) and shall calculated by reference to the minimum term of the Licence or the first 12 months of any Licence (whichever is greater).</li>
                </ol>
            </li>
            <li>5.10 The Provider agrees to pay the Kikmoov Fee within 7 days from the date of the invoice sent to the Provider (save for as mentioned under clause 5.9.3, where the Provider will pay the Kikmoov Fee within 7 days of the monthly payment falling due).</li>
            <li>
                <span class="terms-title-sm">Interest</span>
            </li>
            <li>
                5.11 In the event that any Provider fails to make any payment due to Kikmoov, then the Provider shall pay the overdue sum together with any interest on any sum due under this agreement, calculated as follows:
                <ol class="terms-list sublist">
                    <li>5.11.1 4% per annum above Nat West Bank’s base rate from time to time, but at 4% per annum for any period when that base rate is below 0%;</li>
                    <li>5.11.2 from when the overdue sum became due, until it is paid (whether before or after judgment).</li>
                </ol>
            </li>
        </ol>

        <h2 class="terms-sub-title">6. Cancellation Policy – Bookings</h2>
        <span class="terms-title-sm">General Cancellation Terms</span>
        <ol class="terms-list">
            <li>6.1 The cancellation policy that applies to a Booking will vary depending on the terms of the Booking, and whether it is a Long-Term Booking or Hourly Booking.</li>
            <li>6.2 Any applicable refund or cancellation fee will be calculated in accordance with the terms of the cancellation policy set out in the below (“the Cancellation Policy”).</li>
            <li>6.3 We do not accept any responsibility for any cancelled Bookings and will not be liable for any fees, costs, expenses, or losses incurred by either a Provider or a Client as a result of a cancelled Booking.</li>
            <li>6.4 We reserve the right to cancel the account of a Provider and terminate our agreement with them if a Provider does not refund a Client the amounts specified or within the timeframes agreed in the Cancellation Policy.</li>
            <li>6.5 The Provider agrees to honour all Bookings. If the Provider needs to cancel a Booking due to exceptional circumstances beyond the Provider’s reasonable control, the Provider (through us) will attempt to arrange for a suitable alternative Space to be booked through us. If a suitable alternative cannot be arranged, the Provider will refund all fees paid in respect of the Booking but will not be obliged to pay any further compensation or damages unless otherwise agreed under the terms of any Licence (where applicable in relation to Long-Term Bookings).</li>
            <li>6.6 We will be notified of any cancellation via the Platform, and a Booking is not cancelled until the Client receives a cancellation confirmation email from Kikmoov. This does not impact on the Notice periods set out below.</li>
            <li>
                <span class="terms-title-sm">Clients – How to Cancel</span>
            </li>
            <li>6.7 If a Client wishes to cancel a Booking, it must do so via the cancellation button on the Platform.  When the Client contacts the Provider via the Platform, this will constitute “Notice” for the purposes of this clause.</li>
            <li>
                <span class="terms-title-sm">Providers – How to Cancel</span>
            </li>
            <li>6.8 If a Provider wishes to cancel a Booking, it must do so via contacting Kikmoov by email at info@kikmoov.com or by telephone on +44 20 7097 5717.  When the Provider contacts Kikmoov via email or telephone, this will constitute “Notice” for the purposes of this clause.</li>
            <li>
                <span class="terms-title-sm">Long-Term Bookings</span>
            </li>
            <li>6.9 A prospective booking which has not yet been Confirmed can be cancelled by the Client or Provider at any time prior to Confirmation of a Booking, in this event the Client will receive a full refund and will not be charged any penalty, and Kikmoov will not be entitled to be paid the Kikmoov Fee. Once a Booking has been Confirmed the terms of the Licence will govern cancellation of a Long-Term Booking for both the Provider and Client.</li>
            <li>6.10 Once a Booking has been Confirmed, the Booking may be cancelled by the parties in accordance with the terms agreed between the parties (for instance, in the Licence).</li>
            <li>6.11 If a Provider cancels a Long-Term Booking after Confirmation has taken place, then the Provider is still obliged to pay Kikmoov 50% of the Kikmoov Fee. </li>
            <li>6.12 If the Provider has opted to pay the Kikmoov Fee on a monthly basis, we will immediately raise an invoice for the outstanding balance of that Kikmoov Fee which must be paid within 7 days of receipt.</li>
            <li>
                <span class="terms-title-sm">Hourly Bookings</span>
            </li>
            <li>
                6.13 For Hourly Bookings made at least 24 hours before the Booking Start Time:
                <ol class="terms-list sublist">
                    <li>6.13.1 where Bookings are cancelled by the Client more than 24 hours’ before the Booking Start Time, the Client will receive a full refund and Kikmoov will not be entitled to be paid the Kikmoov Fee;</li>
                    <li>6.13.2 where Bookings are cancelled by the Client on 24 hours’ or less Notice before the Booking Start Time, the Client will be charged the full cost of the Booking and will not be eligible for a refund, Kikmoov will be entitled to be paid the Kikmoov Fee.</li>
                </ol>
            </li>
            <li>
                6.14 For Hourly Bookings made less than 24 hours before the Booking Start Time:
                <ol class="terms-list sublist">
                    <li>the Client will have one hour, from the time that they made the Booking, to cancel the Booking, in which case the Client will receive a full refund and Kikmoov will not be entitled to be paid the Kikmoov Fee;</li>
                    <li>6.14.2 where Bookings are not cancelled within one hour, the Client will be charged the full cost of the Booking and will not be eligible for a refund, Kikmoov will be entitled to be paid the Kikmoov Fee.</li>
                </ol>
            </li>
            <li>6.15 For any Hourly Bookings, where they are cancelled by the Provider, the Client will receive a full refund and will not be charged any penalty.</li>
            <li>6.16 In the event that an Hourly Booking is cancelled by a Provider, the Provider is still obliged to pay the Kikmoov Fee in full.</li>
        </ol>

        <h2 class="terms-sub-title">7. Introduced Space Clients</h2>
        <ol class="terms-list">
            <li>7.1 For the purposes of this clause an ‘Introduced Space Client’ means any business who a) has made a Booking of a Provider’s Space through the Platform; or b) has made an enquiry through the Platform (whether or not such business completed a Booking); or c) has become aware of a Provider’s Space or the address or location of the Space (or any other space owned by you that is not listed on the Platform) directly or indirectly as a result of the Provider’s Listing with the Platform. </li>
            <li>7.2 In the event that you, as a Provider, arrange any Booking or hire of your Space with an Introduced Space Client within a period of 12 months from the end of any Introduced Space Client’s hire period (if the Introduced Space Client made a Booking) or the date on which we introduced the Introduced Space Client to you or the Introduced Space Client became aware of you or your Space (or any other space owned by you that is not listed on the Platform) through us, then you will be liable to us for the fees we would have received had such a Booking been made in accordance with the terms of this agreement. You will also be liable for the costs we incur in enforcing this clause.</li>
            <li>7.3 We reserve the right to inspect the Space at any time to verify any fees due in accordance with these terms.</li>
        </ol>

        <h2 class="terms-sub-title">8. The Space – Requirements for Providers</h2>
        <ol class="terms-list">
            <li>8.1 We have provided guidelines for you which explain what you need to do to make your Space safe and fit for hire by the Client.</li>
            <li>8.2 Before any Booking begins the Provider must ensure the Space is in a satisfactory condition and is able to meet the requirements of the Provider under the Booking and that it complies with all applicable health and safety, and environmental requirements.</li>
            <li>8.3 By listing the Space, the Provider warrants that it has all necessary regulatory, planning, licensing and/or health and safety approvals required to operate and rent the space as a commercial office space and that the Provider will comply with all relevant legislation including planning, environmental and health and safety legislation.</li>
            <li>8.4 The Provider agrees to notify us immediately upon receiving any notice, correspondence or contact in any other form from its local authority or any environmental, or health and safety officer, regulator or authority in connection with the use of space as a commercial office.  Following such notice from a Provider, we reserve the right to terminate this agreement and remove the Listing from the Platform.</li>
            <li>8.5 The Provider warrants that it owns the Space or that it is authorised to allow third parties to use the Space and, where necessary, that it has permission from its landlord or tenant to do so. If the Provider is in any doubt it should check the terms of its lease, mortgage deed and/or freehold title to ensure that it is able to licence the occupation of the Space in the manner envisaged by these terms and by the terms of the Space Hire Agreement.</li>
            <li>8.6 We will not be liable to the Provider, the Client or any other third party (such as a landlord or freehold management company) if the Space does not have the necessary authority referred to in clause 8.5 and the Provider agrees to indemnify us for any loss we may suffer as a result of a breach of the warranty.</li>
            <li>8.7 The Provider agrees that we shall not be liable to it in any way whatsoever if it suffers any loss as a result of the local authority or any environmental, or health and safety officer, regulator or authority or any other relevant public authority bringing proceedings against it or taking any other action against it as a result of listing a Space on the Platform.</li>
        </ol>

        <h2 class="terms-sub-title">9. Complaints and Disputes</h2>
        <ol class="terms-list">
            <li>9.1 Both the Provider and the Client agree that if any dispute arises concerning a Booking or any use of a Space each party will attempt to resolve such dispute in the first instance by communicating directly with the other.  Any agreement reached between the parties may be communicated to us. </li>
            <li>9.2 In the event that a dispute cannot be resolved it is agreed that either party may refer the dispute to us. If any dispute arises at least 24 hours’ before the Booking Start Time, then notice of the dispute must be given to Kikmoov by email at least 24 hours’ before the Booking Start Time.</li>
            <li>9.3 Both parties authorise us to deal with the dispute or complaint as we see fit and agree to abide by any decisions we may make in such circumstances which may include requiring you to refund any payments you have received or requesting that the Client pays any outstanding amounts in relation to the relevant Booking.</li>
            <li>9.4 Clauses 9.1 or 9.2 are without prejudice to either party’s rights to bring or settle any claim against the other.</li>
        </ol>

        <h2 class="terms-sub-title">10. Additional Services</h2>
        <ol class="terms-list">
            <li>
                10.1 At the request of a Provider, we may from time to time be engaged to supply the following additional services (“Additional Services”):
                <ol class="terms-list sublist">
                    <li>10.1.1 carrying out an initial inspection and assessment of the Space in connection with assessing the potential viability of marketing the Space on the Platform;</li>
                    <li>10.1.2 assistance in preparing a Listing including photography services and preparing content for the Listing;</li>
                    <li>10.1.3 advertising services on or through the Platform; or</li>
                    <li>10.1.4 assisting Clients in acquiring a leasehold Space.</li>
                </ol>
            </li>
            <li>10.2 Additional Services will be provided at our absolute discretion and at such fees and on such terms as may be agreed between us and the Provider.  For more information about our Additional Services please contact us by email at: info@kikmoov.com.</li>
        </ol>

        <h2 class="terms-sub-title">11. Termination of this Agreement</h2>
        <span class="terms-title-sm">Providers</span>
        <ol class="terms-list">
            <li>11.1 Either you or us may terminate this agreement at any time but upon termination you agree to honour any outstanding Bookings. From the date of termination we will no longer display your Profile, post your Listings or accept any new enquiries or Bookings in respect of any of your Listings but the agreement will continue in respect of those outstanding Bookings (subject to clause 11.5).</li>
            <li>11.2 In the event that this agreement is terminated while any fees or charges whatsoever are outstanding to us then you must pay all outstanding fees or charges to us immediately without set-off or deduction.</li>
            <li>
                11.3 We will be entitled to terminate this agreement immediately if:
                <ol class="terms-list sublist">
                    <li>11.3.1 you are in material breach of any of the terms of this agreement; or </li>
                    <li>11.3.2 you do anything to put our goodwill or reputation at risk; or</li>
                    <li>11.3.3 we have any reason to believe that you are not authorised to rent any Space advertised in any Listing by you;</li>
                    <li>11.3.4 you cancel a Booking other than in accordance with the cancellation policy agreed in a Booking; or</li>
                    <li>11.3.5 you refuse to cooperate with us in respect of this agreement.</li>
                    <li>If any Bookings are outstanding on termination by us under this clause then clause 11.5 will apply.</li>
                </ol>
            </li>
            <li>11.4 In the event of termination the terms of this agreement will continue in full force, so far as such terms relate to existing Bookings or the consequences of any previous Booking (including terms relating to fees, liability and damage).</li>
            <li>
                11.5 In the event that:
                <ol class="terms-list sublist">
                    <li>11.5.1 this agreement is terminated by you and existing Bookings cannot proceed under clause 11.1 (e.g. because you sell the property where the Space is situated); or </li>
                    <li>11.5.2 this agreement is terminated by us under clause 11.3 while there are existing Bookings</li>
                    <li>then you will be fully liable to us (under the terms of this Agreement) for all associated costs, charges, damage and liability which we may incur as a result and you agree to indemnify us on a continuing basis in respect of any such cancelled Booking.</li>
                </ol>
            </li>
            <li>11.6 You should be aware that you may be liable to the Client (under the Space Hire Agreement) for any reasonable associated costs, charges, damage and liability which the Client incurs as a result of any of the events described in clause 11.5, including the Client’s costs of having to make alternative Space rental arrangements.</li>
            <li>
                <span class="terms-title-sm">Client</span>
            </li>
            <li>11.7 Either you or us may terminate this agreement at any time but upon termination you agree to pay any fees that may be payable to a Provider under the Space Hire Agreement.</li>
            <li>
                11.8 We will be entitled to terminate this agreement immediately if:
                <ol class="terms-list sublist">
                    <li>11.8.1 you are in material breach of any of the terms of this agreement;</li>
                    <li>11.8.2 you are in material breach of any of the terms of the Space Hire Agreement including any non-payment of Licence fees; </li>
                    <li>11.8.3 you do not attend a viewing that has been arranged with a Provider; or</li>
                    <li>11.8.4 you refuse to cooperate with us in respect of this agreement.</li>
                </ol>
            </li>
            <li>11.9 From the date of termination of this agreement we will close your account and we will no longer display your Profile.  You will no longer be able to enquire about any Listings on the Platform.</li>
        </ol>

        <h2 class="terms-sub-title">12. Our Liability</h2>
        <ol class="terms-list">
            <li>12.1 We will not be liable to you in the event of a claim by a Provider or Client against you and, for the avoidance of doubt, we shall not be required to return any money received by us under this agreement to either you or the Provider/ Client in such circumstances save that we may be liable to you if such a claim arises due to our negligence.</li>
            <li>12.2 We will not be liable to you for any business, financial or economic loss or for any consequential or indirect loss such as loss to reputation, lost bargain, lost profit, loss of anticipated savings or lost opportunity arising as a result of any Services we provide to you under, or in any other way connected with, this agreement (whether suffered or incurred as a result of our negligence or otherwise) except in the case of fraud, wilful concealment or theft.</li>
            <li>12.3 Our liability to a Provider for all losses under this agreement (subject to any liability in accordance with clause 12.5 below) is capped at the total fees paid by a Provider to us under this agreement.</li>
            <li>12.4 No claim may be brought against us by a Provider in relation to this agreement more than 12 months following the date on which the Space to which such claim relates was last promoted on the Platform.</li>
            <li>12.5 No claim may be brought against us by a Client in relation to this agreement more than 12 months following the date on which the Booking to which such claim relates ended.</li>
            <li>12.6 Nothing in this agreement limits or excludes our liability for death or personal injury arising as a result of our negligence or the negligence of our employees, agents, or self-employed contractors or for fraud or fraudulent misrepresentation.</li>
        </ol>

        <h2 class="terms-sub-title">13. Data Protection</h2>
        <ol class="terms-list">
            <li>13.1 We agree to comply with our obligations under all applicable laws and regulations relating to the data protection and privacy as may be applicable from time to time, which at the date of these terms means the Data Protection Act 2018 and the GDPR (EU General Data Protection Regulation 2016/679) and any successor legislation (“Data Protection Legislation”).</li>
            <li>13.2 For further details on how we comply with the Data Protection Legislation please refer to our Privacy Notice.</li>
        </ol>

        <h2 class="terms-sub-title">14. Confidentiality</h2>
        <ol class="terms-list">
            <li>14.1 Each party agrees with the other not to divulge or allow to be divulged any confidential information relating to the other’s business or affairs other than to its employees, associates or contractors (if any) who are subject to appropriate non-disclosure undertakings (if required), or where the other party has consented to such disclosure or where required by law to make such disclosure. Either party may upon termination of this agreement require by notice in writing to the other party the destruction or return of any confidential material in that party’s possession or control. The confidentiality obligation set out here shall expire 3 years after the expiry or termination of the agreement.</li>
        </ol>

        <h2 class="terms-sub-title">15. General</h2>
        <ol class="terms-list">
            <li>15.1 Each of the parties warrants its power to enter into the agreement and that it has obtained all necessary approvals to do so.</li>
            <li>15.2 Clauses 6 and 8 and Schedule 1 of these terms may be enforced by the Provider or Client under the Contracts (Rights of Third Parties) Act 1999, terms which set out rights and obligations of or by Kikmoov will not be enforceable by any other party.</li>
            <li>15.3 We will be entitled to assign or sub-contract our obligations under this Agreement.</li>
            <li>15.4 All parties to this agreement shall be released from their respective obligations in the event of national emergency, war, prohibitive governmental regulation or if any other cause beyond the reasonable control of the parties or any of them renders the performance of the agreement impossible, whereupon all money accrued due under the agreement shall be paid.</li>
            <li>15.5 If any provision of this agreement is prohibited by law or judged by a court to be unlawful, void or unenforceable, the provision shall, to the extent required, be severed from this agreement and rendered ineffective as far as possible without modifying the remaining provisions of this Agreement, and shall not in any way affect any other circumstances of or the validity or enforcement of this agreement.</li>
            <li>15.6 No delay, neglect or forbearance on the part of any party in enforcing against another party any term or condition of this agreement shall either be or be deemed to be a waiver or in any way prejudice any right of that party under this agreement. No right, power or remedy in this agreement conferred upon or reserved for either party is exclusive of any other right, power or remedy available to that party.</li>
            <li>15.7 This Agreement shall be governed by English law in every particular including formation and interpretation and shall be deemed to have been made in England.</li>
        </ol>

        <br>
        <br>
        <h2 class="terms-main-title">SCHEDULE 1: SPACE HIRE TERMS</h2>
        <h2 class="terms-sub-title">1. Obligations of the Provider</h2>
        <ol class="terms-list">
            <li>
                15.8 You (the Provider) must:
                <ol class="terms-list sublist">
                    <li>15.8.1 honour all viewings with Clients; </li>
                    <li>15.8.2 honour all Bookings with Clients;</li>
                    <li>15.8.3 provide the Space in line with the details presented on the Listing (subject to such as amendments that have been agreed between you and a Client during the booking process);</li>
                    <li>15.8.4 ensure that all information contained on your Profile and any of your Listings that is provided to us for inclusion on the Platform is true and accurate in all respects and could not in any way be construed as misleading to a Client;</li>
                    <li>15.8.5 ensure the availability of your Listings is regularly updated;</li>
                    <li>15.8.6 deal with all Clients in a professional and courteous manner and in such a way as to not cause any harm or damage to our reputation;</li>
                    <li>15.8.7 deal with all queries from Clients relating to a Listing or Booking in a prompt and satisfactory manner;</li>
                    <li>15.8.8 use your best endeavours to settle any disputes that may arise during a Booking including taking such action as is necessary to bring the dispute to a satisfactory conclusion as soon as practicable so that the Client may still fulfil their Booking.</li>
                </ol>
            </li>
            <li>15.9 You agree that you have the right to grant a licence to occupy any Space you list with Kikmoov and you agree that you will not create any false account with Kikmoov or use your account with Kikmoov for any immoral or illegal activity or purpose including (without limit) malicious or fraudulent Bookings or money laundering.</li>
            <li>15.10 You agree not to offer any rental, hire, or licence to occupy any Space you list with us to any business at a lower price than an equivalent rental, hire or licence to occupy to a Space is offered to a Client through the Platform.  If we or a Client discover that you have offered the Space on similar terms to the Listing made through the Platform but at a lower price, you agree to offer such lower price to the Client through the Platform. </li>
        </ol>

        <h2 class="terms-sub-title">16. Obligations of the Client</h2>
        <ol class="terms-list">
            <li>16.1 You (the Client) have primary responsibility for your own safety and the safety of your employees, staff, agents, contractor or clients that may use the Space during the hire period. We do not accept any responsibility for ensuring your safety or the safety of your employees, staff, agents, self-employed contractor or clients during the hire period.</li>
            <li>
                You must:
                <ol class="terms-list sublist">
                    <li>16.2.1 Honour the terms of any Booking;</li>
                    <li>16.2.2 keep the Space clean, tidy and clear of rubbish and leave the Space in the same condition as you find it;</li>
                    <li>16.2.3 notify the Provider or us of any damage to the Space during the hire period as soon as it occurs;</li>
                    <li>16.2.4 not do or permit to be done on the Space anything which is or which may be or become a nuisance, (whether actionable or not) damage, annoyance, inconvenience or disturbance to the Provider, to any other occupiers of the Space or to the owner or occupier of neighbouring property;</li>
                    <li>16.2.5 not conduct any illegal or immoral activity from the Space;</li>
                    <li>16.2.6 not conduct any business or commercial activity whatsoever from the Space other than what has been agreed between with the Provider under the terms of the Space Hire Agreement; and</li>
                    <li>16.2.7 act with courtesy towards the Provider.</li>
                </ol>
            </li>
            <li>16.3 You hereby acknowledge that the Space is someone else's property and you agree not to access any other part of the property to where the Space is situated.</li>
        </ol>

        <h1 class="terms-main-title" id="privacy" style="padding-top: 80px;">Kikmoov Privacy Policy</h1>
        <p>This privacy policy (this “Privacy Policy”) describes how Kikmoov Ltd. (Kikmoov) collects and uses the personal information we may hold about you. This information may be provided via our web site kikmoov.com or Mobile Software (“Site”) or may in some cases be collected from other sources. This policy sets out describes the choices available to you and your rights regarding our use of your personal information and how you can access and update this information. By using, accessing or participating in the Service, you agree to the terms of this Privacy Policy. Capitalised terms not defined in this Privacy Policy have the meanings set forth in the Terms of Use (located at kikmoov.com/Home/Terms-Of-Use).</p>
        <p>If you have questions or complaints regarding our Privacy Policy or practices, please contact us at <a
                href="mailto:info@kikmoov.com">info@kikmoov.com</a>.</p>
        <p>Kikmoov complies with the UK and EU General Data Protection Regulation (GDPR); The UK and EU General Data Protection Regulation (GDPR) superseded the UK Data Protection Act 1998 on 25 May 2018. It expands the rights of individuals to control how their personal data is collected and processed and replaces a range of new obligations on organisations to be more accountable for data protection. The Data Protection Act 2018 enshrines the GDPR into UK law, and supplements the GDPR by filling in the sections of the Regulation that are left to individual member states to interrupt and implement. As an act of UK law, the Data Protection Act’s requirements will continue to apply after the UK’s departure from the European Union. Kikmoov has certified that it adheres to GDPR and UK law and privacy principles of notice, choice, onward transfer, security, data integrity, access and enforcement. To learn more about GDRP, please visit
            <a href="https://www.gov.uk/government/publications/guide-to-the-general-data-protection-regulation" target="_blank">https://www.gov.uk/government/publications/guide-to-the-general-data-protection-regulation</a></p>
        <p>We reserve the right to change our Privacy Policy at any time. If we do this, we will post a notice that we have made material changes to this Privacy Policy on the Site for at least 7 days before the changes are posted and will indicate at the bottom of the Privacy Policy the date this policy was last revised. Any revisions to this Privacy Policy will become effective (i) on the effective date or (ii) the first time you access or use the Service after any such changes. If you do not agree to abide by this or any future Privacy Policy, do not use, access or participate in (or continue to use, access or participate in) the Service. We encourage you to periodically review this page for the latest information on our privacy practices.</p>

        <h2 class="terms-sub-title">The Information We Collect</h2>
        <p>We collect and store information to provide you with a better overall experience and present you with the most relevant products and ads possible. When you use the Service, you provide us with three types of information: (i) information you submit via the Service, (ii) information regarding your use of the Service collected by us as you interact with the Service and (iii) information from other sources.</p>

        <ul class="terms-ul-list">
            <li>Information you submit via the Service.</li> 
            <li>Through the registration process you may provide us with your name, company affiliation, email address, telephone number, physical address, and other information that may be requested during the registration process on the Site.</li>
            <li>Information relating to bookings you make or request through the Site.</li>
            <li>If you wish to create an account that requires payment of a fee, or use services offered via the Site that require payment of a fee, a valid credit card number or other payment information may be required. By submitting your payment information, you authorise Kikmoov to access and use this information in order to provide you with and accept payment for the Service.</li>
            <li>When you use the Service, you may submit information and content to your Profile, send messages, perform searches, submit reviews, and otherwise transmit information to other Users. We store this information and registration information so that we can provide you the service and offer personalised features.</li>
            <li>Information we get from your use of the Service.</li>
            <li>When you enter the Site, we collect your browser type and IP address. This information is gathered for all Kikmoov visitors.</li>
            <li>When you download and use our Mobile Software, we automatically collect information on the type of device you use, operating system version, and the device identifier (or "UDID").</li>
            <li>We store certain information from your browser using “cookies.” A cookie is a piece of data stored on the user’s computer tied to information about the user. We use session ID cookies to confirm that users are logged in. We also use persistent cookies to remember sign-in status, coupon availability, search preferences, and Space origination information so that you do not have to enter it again the next time you visit.</li>
            <li>You can remove persistent cookies by following directions provided in your Internet browser’s “help” directory. If you do not want information collected through the use of cookies, there is a simple procedure in most browsers that allows you to deny or accept the cookie feature; however, you should note that cookies may be necessary to provide you certain features (e.g., customised delivery of information) available on the Site.</li>
            <li>We adhere to GDPR and UK/EU law on cookie policies. We adhere to the GDPR Code of Conduct; you can opt-out of receiving targeted advertising based on data collected via your browser by using the opt-out tool.  When you opt out, we will stop (a) collecting information about your interests via your browser and (b) serving you targeted advertisements based on the data collected via your browser.</li>
            <li>Our third-party partners employ clear gifs (a.k.a. Web Beacons/Web Bugs), images, and scripts that help them better manage content, advertising and marketing on our site as well as off our site.</li>
            <li>While you may disable the usage of cookies through your browser settings, we do not respond to a “Do Not Track” signal in the HTTP header from your browser or mobile application. We may use analytics to track responses from third-party ads such as search engines and social networks.</li>
            <li>We use analytics tools like Google Analytics to track application usage, performance, and availability as well as your response to Kikmoov content, ads and placements, including on search engines and social networks. For more information on how Google uses data when you use our site or app, please visit.</li>
            <li>We may, either directly or through Third Parties we partner with, track your interaction with the Service and ads on the site and off the site for the purposes of Kikmoov customer support, analytics, research, product development, fraud prevention, risk assessment, regulatory compliance and investigation.</li>
            <li>The use of cookies by our partners, affiliates, tracking utility company, service providers is not covered by our privacy policy. We do not have access or control over these cookies.</li>
            <li>If you use the Mobile Software, your location may be tracked on the mobile device on which the Mobile Software is installed. Kikmoov will not collect, transmit or otherwise use this information without your permission. We use location data to provide you relevant search results for spaces in your area as part of a value added service. As a Guest, you can control when providers can see your location through your privacy settings. To opt out of location tracking, please change your settings at the device level.</li>
            <li>Information from other sources</li>
            <li>If you sign up for Kikmoov using your social media account, link your Kikmoov account to your social media account, or use other Kikmoov social media features, we may access information about you via that social media provider in accordance with the provider’s policies.</li>
        </ul>
        <p>We are not responsible for circumvention of any privacy settings or security measures contained on the Site. You understand and acknowledge that, even after removal, copies of User Content may remain viewable in cached and archived pages or if other Users have copied or stored your User Content.</p>

        <h2 class="terms-sub-title">Legal Basis</h2>
        <p>The legal basis we rely on to process personal data where you are an account holder with us or have signed up any of our Services (for instance information relating to any bookings, profile information and registration information) is the contract in place between you and us.</p>
        <p>In all other cases (for instance cookie information, information relating to your device, marketing information) we rely on our legitimate interest in operating and promoting our business.</p>

        <h2 class="terms-sub-title">Your privacy rights</h2>
        <p>With respect to your personal data, you have the right to:</p>
        <ol class="terms-list">
            <li>- request that your personal data will not be processed;</li>
            <li>- ask for a copy of any personal data that we have about you;</li>
            <li>- request a correction of any errors in or update of the personal data that we have about you;</li>
            <li>- request that your personal data will not be used to contact you for direct marketing purposes;</li>
            <li>- request that your personal data will not be used for profiling purposes;</li>
            <li>- request that your personal data will not be used to contact you at all;</li>
            <li>- request that your personal data be transferred or exported to another organisation, or deleted from our records; or</li>
            <li>- at any time, withdraw any permission you have given us to process your personal data</li>
        </ol>
        <p>All requests or notifications in respect of your above rights may be sent to us in writing at the contact details listed at the end of this policy. We will endeavour to comply with such requests as soon as possible but in any event we will comply within one month of receipt (unless a longer period of time to respond is reasonable by virtue of the complexity or number of your requests).</p>
        <p>If personal data we hold about you is subject to a breach or unauthorised disclosure or access, we will report this to the Information Commissioner’s Office (ICO) and/or our data protection manager.</p>
        <p>If a breach is likely to result in a risk to your data rights and freedoms, we will notify you as soon as possible.</p>

        <h2 class="terms-sub-title">Minors</h2>
        <p>Kikmoov does not knowingly collect or solicit information from anyone under the age of 18 or knowingly allow such persons to register. If you are under 18, please do not attempt to register for Kikmoov or send any information about you to us, including your name, address, telephone number, or email address. No one under age 18 may provide any information to or on Kikmoov. If you believe that we might have any information from or about a minor under 18, please contact us at info@kikmoov.com.</p>

        <h2 class="terms-sub-title">Use of Information Obtained by Kikmoov</h2>
        <p>We use the information we collect from our services to enable your access to our products, enhance our products, protect the site and our customers, and to offer tailored content, like more relevant search results and ads.</p>
        <p>Once you register with Kikmoov, you may create your Profile. Your Profile and contact information are displayed to other Users, including providers at spaces at which you make or request bookings and viewings.</p>
        <p>We may also send you service-related announcements and marketing communications on the site, across other websites, and through email. Examples include promotions, new product/service messages, ads for the service and partner offers. You will be given an opportunity to opt out of receiving marketing communications when we collect your email address.  Generally, you may opt out of such emails by following the unsubscribe option included in each email; however, Kikmoov reserves the right to send you account-related notices such as reservation confirmation emails even if you opt out of all marketing-related emails.</p>
        <p>Kikmoov provides push notifications for upcoming reservations. To turn off push notifications, please edit your personal settings on your device.
            Profile information and your reservation activity is used by Kikmoov primarily to be presented back to and edited by you when you access the Service and to be presented to other Users. The amount of such information presented to other Users will depend on your relationship with those Users (e.g., whether they are following you, or you are following them, as permitted by the Service, or whether you were referred to the Service by them).</p>
        <p>If you register for the Service via a referral from a Professional, Kikmoov will inform the Professional when you register for the Service and begin browsing listings on the Service and will provide the Professional with information regarding reservations that you book. In some cases, other Users may be able to supplement your Profile or contribute information about your Space (if you are a Host), including by submitting comments and reviews. You consent to Kikmoov making such information available to other Users and the public.</p>
        <p>You may change the privacy settings of your profile through your account portal. Information from your Profile may be available to our third party service provider for search engines. This is primarily so that potential users may be able to find you.</p>
        <p>Kikmoov may use non-identifiable aggregate data (based partly on IP addresses) collected through the Service to analyze Service usage and system performance. Such data may be used by Kikmoov and shared with third parties in any manner.</p>

        <h2 class="terms-sub-title">Sharing Your Information with Third Parties</h2>
        <p>You may choose to provide information about you, your company or organization or, if you are a Host, your Space to other Users and to the public by providing such information on public areas of the Site (“Public Information”). Public Information consists of information that is posted by you on areas of the Site accessible by other Users and/or the public, such as Space descriptions. Public information does not include information you submit to us but do not post on areas of the Site accessible by other Users and/or the public, such as billing and payment information (“Non-Public Information”).</p>
        <p>We will share your personal information with third parties only in the ways that are described in this Privacy Policy. We do not sell your personal information to third parties. We share your Non-Public Information with third parties only in limited circumstances where we believe such sharing is reasonably necessary to offer the Service, legally required or permitted by you. For example:</p>
        <ul class="terms-ul-list">
            <li>We may provide Non-Public Information to service providers who help us bring you the services we offer, such as hosting the service at a co-location facility, sending email updates about Kikmoov, removing repetitive information from our User lists, processing payments, or to provide search results or links. In connection with these offerings and business operations, our service providers may have access to your Non-Public Information for use for a limited time in connection with these business activities. Where we utilise third parties for the processing of any of your Non-Public Information, we implement reasonable contractual protections limiting the use of that Non-Public Information to the provision of services to Kikmoov.</li>
            <li>We may be required to disclose Non-Public Information pursuant to lawful requests, such as witness summons or court orders, or in compliance with applicable laws. Additionally, we may share Non-Public Information when we believe it is necessary to comply with law, to protect our interests or property, to prevent fraud or other illegal activity perpetrated through the Service or using the Kikmoov name, or to prevent imminent harm. This may include sharing Non-Public Information with other companies, lawyers, agents, government agencies or to any third party with your prior consent to do so.</li>
            <li>We may offer to provide services jointly with other companies on the Service, and we may share Non-Public Information with that company in connection with such offer or your use of that service.</li>
            <li>If the ownership of all or substantially all of the Kikmoov business, or individual business units or assets owned by Kikmoov that are related to the Site, were to change, your Non-Public Information may be transferred to the new owner. In any such transfer of information, your Non-Public Information would remain subject to this Privacy Policy. You will be notified via email and/or a prominent notice on our web site of any change in ownership or uses of your personal information, as well as any choices you may have regarding your personal information.</li>
            <li>If we have a separate agreement with a company we believe to be your employer or company for whom we believe you work as a contractor (as determined in each case by your email domain), we may provide your User ID, email address and reservation activity to that company so that you may be included within an arrangement that we have with such company. We will notify you if we provide this information to a company and you may elect not to participate in any such arrangement by contacting us at info@kikmoov.com and stating that you do not wish to participate in such arrangement.</li>
            <li>When you use the Service, certain information you post or share with third parties (including other Users), such as comments, reviews or other information, may be shared with other Users in accordance with the privacy settings you select. All such sharing of information is done at your own risk. Please keep in mind that if you disclose confidential information in your Profile or when posting comments, reviews or other submissions, this information may become publicly available.</li>
            <li>Your posting of Public Information to public areas of the Site constitutes your consent to share such Public Information publicly. Please be aware that Public Information will be accessible by both Users and the general public. Nothing in this Privacy Policy shall restrict Kikmoov’s right to use Public Information. To request removal of your personal information from public areas of the Site, please contact us. In some cases, we may not be able to remove your personal information, in which case we will let you know if we are unable to do so and why.</li>
            <li>We use Stripe Payment Ltd. (“Stripe”) to gather user data from financial institutions. By using our service, you grant us and Stripe the right, power, and authority to act on your behalf to access and transmit your personal and financial information from the relevant financial institution. You agree to your personal and financial information being transferred, stored, and processed by Stripe in accordance with the Stripe Privacy Policy</li>
        </ul>

        <h2 class="terms-sub-title">Links</h2>
        <p>Kikmoov may contain links to other websites. We are not responsible for the privacy practices of other web sites. We encourage Users to be aware when they leave the Site to read the privacy statements of other web sites that collect personally identifiable information. This Privacy Policy applies solely to information collected by Kikmoov via the Site.</p>

        <h2 class="terms-sub-title">Single Sign-on (sign up)</h2>
        <p>You can log in to our site using sign-in services such as an Open ID provider. These services will authenticate your identity and provide you the option to share certain personal information with us such as your name and email address to pre-populate our sign-up form. Services like Linked In Open ID provider give you the option to post information about your activities on this web site to your profile page to share with others within your network.</p>

        <h2 class="terms-sub-title">Social Media Widgets</h2>
        <p>Our web site includes social media features, for example direct post interaction to social media providers and widgets, such as the Share-This button or interactive mini-programs that run on our site. These features may collect your IP address, which page you are visiting on our site, and may set a cookie to enable the feature to function properly. Social media features and widgets are either hosted by a third party or hosted directly on our site. Your interactions with these features are governed by the privacy policy of the company providing it.</p>

        <h2 class="terms-sub-title">Third Party Advertising</h2>
        <p>Advertisements that appear on Kikmoov are sometimes delivered (or “served”) directly to Users by third party advertisers. They automatically receive your IP address when this happens. These third-party advertisers may also download cookies to your computer or use other technologies such as JavaScript and “web beacons” (also known as “1×1 gifs”) to measure the effectiveness of their ads and to personalise advertising content. Doing this allows the advertising network to recognise your computer each time they send you an advertisement in order to measure the effectiveness of their ads and to personalise advertising content. In this way, they may compile information about where individuals using your computer or browser saw their advertisements and determine which advertisements are clicked. Kikmoov does not have access to or control of the cookies or other technologies that may be used by the third-party advertisers. Third party advertisers have no access to your contact information stored on Kikmoov unless you choose to share it with them. If you wish to not have this information used for the purpose of serving you targeted ads, you may opt-out by contacting us at info@kikmoov.com. Please note this does not opt you out of being served advertising. You will continue to receive generic ads.</p>
        <p>This Privacy Policy covers the use of cookies by Kikmoov and does not cover the use of cookies or other tracking technologies by any of its advertisers.</p>

        <h2 class="terms-sub-title">Changing or Removing Information</h2>
        <p>Users may modify or delete their Profile information by logging into their account. Removed information may persist in backup copies but will not be generally available to other Users. Where you make use of the communication features of the service to share information with other Users (e.g., sending a message to another User) you generally cannot remove such communications from the Site.</p>
        <p>Upon your request, we will close your account and remove your personal information from view as soon as reasonably possible, based on your account activity and in accordance with applicable law. We do retain personal information from closed accounts to comply with law, prevent fraud, collect any fees owed, resolve disputes, troubleshoot problems, assist with any law abiding or police investigations, enforce our Terms of Use and take other actions otherwise permitted by law. Nothing in this policy reduces or limits your rights under applicable legislation.</p>

        <h2 class="terms-sub-title">Security</h2>
        <p>Kikmoov takes reasonable precautions to protect Users’ Non-Public Information. Your account information is located on a secured server behind a firewall. When you enter sensitive information, such as a credit card number on our order forms or transmit location data, we encrypt the transmission of that information using secure socket layer technology (SSL). However, no method of transmission over the Internet, or method of electronic storage, is 100% secure. Therefore, we cannot guarantee absolute security. If you have any questions about security, please contact us.</p>

        <h2 class="terms-sub-title">Data Transmission</h2>
        <p>The data Protection Directive 95/46/EC and the UK DPA permit data transmission within the EU/EEA: under the UK Data Protection Act, the rules may be applied only in such a way that the free movement of personal data between the member states of the European Union is not impaired of prohibited. Data transmission laws will differ in non – EU countries, including the country in which you reside.  By providing Kikmoov with your personal information, you consent to the collection, transfer and processing of your personal information to and from the United Kingdom and agree that your personal information may be subject to access requests from governments, courts or law enforcement in the United Kingdom according to the laws of the United Kingdom.</p>
        <p>If we transfer your information outside of the EEA, and the third country or international organisation in question has not been deemed by the EU Commission to have adequate data protection laws, we will provide appropriate safeguards and we will be responsible for ensuring your privacy rights continue to be protected as outlined in this notice.</p>
        <p>We may disclose information to third parties in the following circumstances:</p>
        <ol class="terms-list">
            <li>- As part of our services we may provide information to our third party service providers;</li>
            <li>- We may disclose information to our group companies;</li>
            <li>- In order to manage bookings you have made through the Site;</li>
            <li>- if we are under a duty to disclose or share your personal data in order to comply with any legal obligation (for example, if required to do so by a court order or for the purposes of prevention of fraud or other crime);</li>
            <li>- in order to enforce any terms and conditions or agreements for our services that may apply;</li>
            <li>- we may transfer your personal information to a third party as part of a sale of some or all of our business and assets to any third party or as part of any business restructuring or reorganisation, but we will take steps with the aim of ensuring that your privacy rights continue to be protected;</li>
            <li>- to protect our rights, property and safety, or the rights, property and safety of our users or any other third parties. This includes exchanging information with other companies and organisations for the purposes of fraud protection and credit risk reduction.</li>
        </ol>
        <p>If we do supply your personal information to a third party we will take steps to ensure that your privacy rights are protected and that third party complies with the terms of this notice.</p>

        <h2 class="terms-sub-title">Data Retention</h2>
        <p>Our current data retention policy is to delete or destroy (to the extent we are able to) personal data after the following periods:</p>
        <ol class="terms-list">
            <li>- Records relating to a your account with us - 7 years from either the end of the contract or the date you last used our services or placed an order with us, being the length of time following a breach of contract in which a contract party is entitled to make a legal claim.</li>
            <li>- Records relating to the hire of space or property – 12 years from the date on which the hire agreement was entered into.</li>
            <li>- Marketing records - 3 years from the last date on which you have interacted with us.</li>
        </ol>
        <p>For any category of personal data not specifically defined in this notice, and unless otherwise specified by applicable law, the required retention period for any personal data will be deemed to be 7 years from the date of receipt by us of that data. The retention periods stated in this notice can be prolonged or shortened as may be required (for example, in the event that legal proceedings apply to the data or if there is an on-going investigation into the data).</p>

        <h2 class="terms-sub-title">Contacting Kikmoov </h2>
        <p>If you have any questions about this Privacy Policy or Kikmoov’s privacy practices in general, please contact us as provided for below. You may also contact us to require that we provide you with a copy of your Non-Public Information within our control, to have us correct any erroneous information, to discontinue receipt of certain types of communications or to ask us to delete any of your Non-Public Information we have stored that is no longer required for the purpose for which it was collected. We will respond to your request to access Non-Public Information within 30 days.</p>
        <p>Michael Rabi: Data Protection Manager </p>
        <p>Address: </p>
        <p>12 Belvedere Court<br>
            225 Willesden Lane<br>
            London<br>
            NW2 5RL<br>
            Email : info@kikmoov.com<br>
            Last revised on January 18 2019<br>
        </p>
        <p>Kikmoov – Privacy Policy</p>
    </div>
</section>

<app-kikmoov-footer></app-kikmoov-footer>
