@import "../../../variables.scss";

.terms-wrapper {
  padding: 100px 0;

  @media (max-width: $screen-xs-max) {
    padding: 100px 0 50px 0;
  }

  p {
    font-size: 14px;
    line-height: 19px;
    color: #000;
    margin: 0 0 15px 0;

    a {
      color: $orange;
    }
  }
}

.terms-main-title {
  margin: 0 0 20px 0;
  font-size: 36px;
  font-weight: 500;
  color: #000;
  text-align: center;
}

.terms-sub-title {
  margin: 30px 0 20px 0;
  font-size: 24px;
  font-weight: 500;
  color: #000;
}

.terms-title-sm {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #000;
  margin-bottom: 20px;
}

.terms-list {
  padding: 0;
  list-style: none;
  margin: 0;

  &.sublist {
    margin: 20px 0 0 15px;
  }

  li {
    font-size: 14px;
    line-height: 19px;
    color: #000;
    margin-bottom: 15px;

    .terms-title-sm {
      margin-top: 20px;
    }

    p {
      margin: 0;
    }
  }
}

.terms-ul-list {
  padding-left: 20px;

  li {
    list-style-type: circle;
    margin-bottom: 10px;
  }
}
