@import "../../../variables.scss";

.fs-wrapper {
  padding: 25px 15px 0 15px;
  position: relative;
  margin-top: 50px;

  @media (max-width: $screen-md-max) {
    margin-top: 0;
  }
}

.fs-holder {
  margin-top: 65px;
  overflow: hidden;

  @media (max-width: $screen-lg-max) {
    margin-top: 55px;
  }

  @media (max-width: $screen-sm-max) {
    margin-top: 65px;
  }
}

.fs-top-row {
  padding: 0 18px;

  @media (max-width: $screen-md-max) {
    padding: 0 10px;
  }

  @media (max-width: $screen-sm-max) {
    margin-bottom: 10px;
    padding: 0;
  }
}

.fs-container {
  margin-bottom: 50px;

  .fs-col {
    width: 270px;
    margin: 18px;

    @media (max-width: $screen-md-max) {
      width: 225px;
      margin: 10px;
    }

    @media (max-width: $screen-sm-max) {
      width: 100%;
      margin: 0 auto 40px auto;
    }

    .topticks-slide {
      margin: 0;
      cursor: pointer !important;
    }
  }
}

.map-view-btn {
  position: fixed;
  top: 130px;
  right: 15px;
  z-index: 100;

  @media (max-width: $screen-lg-max) {
    top: 115px;
  }

  @media (max-width: $screen-md-max) {
    top: 165px;
  }

  @media (max-width: $screen-sm-max) {
    top: 125px;
  }

  &.active {
    .map-icon {
      .img-wrap {
        &.open-map {
          display: none;
        }

        &.close-map {
          display: block;
        }
      }
    }
  }

  .map-icon {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
    background-color: #fff;
    cursor: pointer;
    transform-style: preserve-3d;
    @include transition(.5s);

    .img-wrap {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      line-height: 48px;

      &.open-map {
        display: block;
      }

      &.close-map {
        display: none;
      }
    }
  }
}

.results-open-map {
  .results-list {
    width: 50%;
    height: calc(100vh - 170px);
    overflow: auto;
    overflow-x: hidden;

    .fs-col {
      width: calc(33.33% - 36px);
      margin: 18px;

      @media (max-width: 1600px) {
        width: calc(50% - 36px);
      }

      @media (max-width: 1100px) {
        width: 100%;
        margin: 0 0 30px 0;
      }
    }

    @media (max-width: 1024px) {
      padding-right: 15px;

      .fs-container {
        .fs-col {
          width: 100%;
        }
      }
    }

    @media (max-width: $screen-sm-max) {
      opacity: 0;
      visibility: hidden;
    }
  }

  .results-map {
    opacity: 1;
    visibility: visible;
    width: 50%;

    @media (max-width: $screen-sm-max) {
      width: 100%;
    }
  }
}

#map-canvas {
  height: 100%;
}

.results-list {
  position: relative;
  min-height: calc(100vh - 170px);
  width: 100%;
}

.results-map {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  height: calc(100vh - 85px);
  @include transition(.5s);

  ngui-map {
    height: calc(100vh - 85px) !important;
  }

  @media (max-width: $screen-sm-max) {
    @include transition(.4s);
    height: calc(100vh - 75px);
  }
}

.empty-result-wrapper {
  @include center(both);
  text-align: center;
  width: 100%;
  padding: 0 15px;

  img {
    display: inline-block;
    margin-bottom: 45px;
  }

  .empty-text-hint {
    display: block;
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    color: #9b9b9b;
  }
}

.map-marker-wrapper {
  @media (max-width: $screen-sm-max) {
    @include center(both);
  }

  .map-marker {
    border-radius: 4px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
    background-color: #fff;
    padding: 5px 10px;
    color: $blue;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    @include transition(.2s);

    &.active {
      opacity: 0;
      visibility: hidden;
      z-index: -1000;
    }

    &.hover {
      color: #fff;
      background-color: $blue;
      z-index: 100000;

      &:after {
        border-color: transparent transparent $blue $blue;
      }
    }

    &:hover {
      color: #fff;
      background-color: $blue;
      z-index: 100000;
      &:after {
        border-color: transparent transparent $blue $blue;
      }
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      bottom: -7px;
      left: calc(50% - 3px);
      box-sizing: border-box;
      border: 6px solid black;
      border-color: transparent transparent #fff #fff;
      transform-origin: 0 0;
      transform: rotate(-45deg) translateX(-50%);
      box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.3);
      @include transition(.2s);
    }
  }

  .detail-location {
    visibility: hidden;
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translate(-50%, -100%);
    width: 280px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);

    @media (max-width: $screen-sm-max) {
      @include center(both);
    }

    &.show {
      visibility: visible;
      z-index: 1000;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      bottom: -7px;
      left: calc(50% - 3px);
      box-sizing: border-box;
      border: 6px solid black;
      border-color: transparent transparent #fff #fff;
      transform-origin: 0 0;
      transform: rotate(-45deg) translateX(-50%);
      box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.3);
      @include transition(.2s);
    }

    .topticks-slide {
      margin: 0;
      cursor: pointer !important;
    }
  }
}
