<!-- Find a Space -> fs -->
<app-navmenu [filled]="true"></app-navmenu>

<div class="fs-holder">
  <app-findaspace-filters (loading)="handleLoading($event)"
                          (atFilter)="handleFilterResults($event)"
                          (onSortValueClear)="sort.value = undefined"
                          [sortValue]="sortValue"
                          [pagination]="pagination"></app-findaspace-filters>

  <div class="fs-wrapper">
    <div
      class="map-view-btn"
      (click)="toggleMap()"
      [ngClass]="{ active: showMap }"
    >
      <div class="map-icon">
        <div class="img-wrap open-map">
          <img src="{{getAbsoluteUrl('/assets/img/open-map-button.svg')}}" alt=""/>
        </div>
        <div class="img-wrap close-map">
          <img src="{{getAbsoluteUrl('/assets/img/close-map.svg')}}" class="close-map" alt=""/>
        </div>
      </div>
    </div>

    <div class="fs-top-row">
      <div class="input-select input-select-filter">
        <mat-select #sort (selectionChange)="handleSortSelect($event.value)" placeholder="Sort by">
          <mat-select-trigger>Sort by {{selectedDate}}</mat-select-trigger>
          <mat-option [value]="{type: 'price', value: 'lowest'}">price: lowest first</mat-option>
          <mat-option [value]="{type: 'price', value: 'highest'}">price: highest first</mat-option>
          <mat-option [value]="{type: 'date', value: 'newest'}">date added: newest first</mat-option>
          <mat-option [value]="{type: 'date', value: 'oldest'}">date added: oldest first</mat-option>
        </mat-select>
      </div>
    </div>
    <div
      class="results-wrapper d-flex"
      [ngClass]="{ 'results-open-map': showMap && isBrowser }"
    >
      <div class="results-list">
        <!-- Empty results START -->
        <div class="empty-result-wrapper" *ngIf="!loading && workSpaces && !workSpaces.length; else workSpaceList">
          <img src="{{getAbsoluteUrl('/assets/img/empty-results-icon.svg')}}" alt="">
          <span class="empty-text-hint">Sorry, no results. Try widening your search filters.</span>
        </div>
        <!-- Empty results END -->

        <!-- Loading START -->
        <div class="loading-wrapper" *ngIf="loading">
          <div class="loading-logo">
            <img src="{{getAbsoluteUrl('/assets/img/loading-logo.svg')}}" alt="">
          </div>
          <span class="loading-txt">Searching for amazing workspaces</span>
        </div>
        <!-- Loading END -->

        <ng-template #workSpaceList>
          <!--<div class="fs-container d-flex flex-wrap justify-content-center" [style.opacity]="showChildSlider==true?'1':'0'">-->
          <div class="fs-container d-flex flex-wrap justify-content-center">
            <app-workspace (onShowSlider)="setShowSlider($event)" (mouseenter)="handleWorkSpaceHover(workSpace['location'], 'in')"
                           (mouseleave)="handleWorkSpaceHover(workSpace['location'], 'out')"
                           *ngFor="let workSpace of workSpaces"
                           [workSpace]="workSpace" class="fs-col"></app-workspace>
          </div>
        </ng-template>

        <app-pagination *ngIf="workSpaces && workSpaces.length && pagination$.totalPages > 1" (onPageChange)="handlePageChange($event)" [pagination$]="pagination$"></app-pagination>

      </div>
      <div class="results-map" *ngIf="showMap && isBrowser">
        <!--<div id="map-canvas" #map></div>-->
        <ngui-map
          (mapReady$)="onMapReady($event)"
          [options]="{
            disableDefaultUI: true,
            disableDoubleClickZoom: true,
            clickableIcons: false,
            center: mapCenter,
            zoom: 10,
            minZoom: 10
          }"
        >
          <custom-marker [draggable]="false" *ngFor="let marker of markers"  [position]="[marker['location'].latitude, marker['location'].longitude]">
            <div class="map-marker-wrapper">
              <span class="map-marker" [id]="'marker-' + marker['location'].id" [attr.data-position]="marker['location'].latitude + ';' + marker['location'].longitude" (click)="openInfoWindow(marker)" [ngClass]="{'active': showDetails}">{{handleMinMaxPrices(marker)}}</span>
              <div class="detail-location"  [id]="'details-' + marker['location'].id" [ngClass]="{'show': showDetails === marker['location'].id}">
                <app-slider [slideList]="marker['workspaces']"></app-slider>
              </div>
            </div>
          </custom-marker>
        </ngui-map>
      </div>
    </div>
  </div>
</div>
