@import "../../../../variables.scss";

:host(.fs-col) {
  width: 270px;
  margin: 18px;

  @media (max-width: $screen-md-max) {
    width: 225px;
    margin: 10px;
  }

  @media (max-width: $screen-sm-max) {
    width: 100%;
    margin: 0 auto 40px auto;
  }

  .topticks-slide {
    margin: 0;
    cursor: pointer !important;
    text-decoration: none !important;

    &.slide {
      .fs-slider {
        border-radius: 5px;
      }
    }
  }
}
:host(.saved-workspace-col) {
  width: 270px;
  margin: 18px;

  @media (max-width: $screen-md-max) {
    width: 225px;
    margin: 10px;
  }

  @media (max-width: $screen-sm-max) {
    width: 100%;
    margin: 0 auto 40px auto;
  }

  .topticks-slide {
    margin: 0;
    cursor: pointer !important;
  }
}

:host(.results-open-map) {
  :host(.results-list) {
    width: 50%;
    height: calc(100vh - 170px);
    overflow: auto;

    :host(.fs-col) {
      width: calc(33.33% - 36px);
      margin: 18px;

      @media (max-width: 1600px) {
        width: calc(50% - 36px);
      }

      @media (max-width: 1100px) {
        width: 100%;
        margin: 0 0 30px 0;
      }
    }

    @media (max-width: 1024px) {
      padding-right: 15px;

      :host(.fs-container) {
        :host(.fs-col) {
          width: 100%;
        }
      }
    }

    @media (max-width: $screen-sm-max) {
      opacity: 0;
      visibility: hidden;
    }
  }
}


:host(.marker-item) {
  width: 270px;

  @media (max-width: $screen-md-max) {
    width: 225px;
  }

  @media (max-width: $screen-sm-max) {
    width: 100%;
    margin: 0 auto 40px auto;
  }

  .topticks-slide {
    margin: 0;
    cursor: pointer !important;

    &.marker-details {
      margin: 0;
    }

    &.slide {
      .fs-slider {
        border-radius: 5px;
      }
    }
  }
}
