<div [ngClass]="classes" class="topticks-slide">
  <div class="veryfied-icon-wrapper" *ngIf="workSpace['workspace']['visited']">
    <img src="{{getAbsoluteUrl('/assets/img/filters/veryfied-icon.svg')}}" alt=""/>
  </div>
  <div
    class="topticks-img"
    *ngIf="!workSpace['workspace']['images'] || !workSpace['workspace']['images'].length" (click)="openDetails($event, workSpace['workspace'].id)"
  ></div>
  <ngx-slick-carousel class="fs-slider" #slickModal="slick-carousel" #slider [config]="fsSliderConfig" *ngIf="isBrowser; else noslider">
    <div ngxSlickItem *ngFor="let image of workSpace['workspace']['images']; trackBy: trackByFn" class="slide"
         [style.background-image]="'url(' + image.url + ')'" (click)="openDetails($event, workSpace['workspace'].id)"></div>
  </ngx-slick-carousel>
  <ng-template #noslider>
    <ngx-slick-carousel class="fs-slider" #slickModal="slick-carousel" (click)="openDetails($event, workSpace['workspace'].id)">
      <div class="slide"
         [style.background-image]="'url(' + workSpace['workspace']['coverImageUrl'] + ')'"></div>
    </ngx-slick-carousel>
  </ng-template>
  <div class="topticks-info-wrapper" (click)="openDetails($event, workSpace['workspace'].id)">
    <div style="display: block;">
      <span class="topticks-info-wrapper-title">{{
        workSpaceTypes[workSpace['workspace'].type]}}</span>
      <div class="location-name-holder">
        <span class="topticks-info-wrapper-name" title="{{workSpace.location.name}}">
          {{ workSpace.location.name }}
        </span>
      </div>
      <span class="topticks-info-wrapper-location">{{
        workSpace.location.address
        }}</span>
    </div>

    <div class="topticks-info-wrapper-like" (click)="handleLikeWorkSpace(workSpace)">
      <i class="fa fa-heart-o"
         [ngClass]="{'selected': workSpace.workspace['isLiked'], 'fa-heart': workSpace.workspace['isLiked'], 'fa-heart-o': !workSpace.workspace['isLiked']}"></i>
    </div>
  </div>

  <div class="topticks-price">
    <div class="topticks-price-col" (click)="openDetails($event, workSpace['workspace'].id)">
      <p class="topticks-price-col-text">
        {{ workSpace['workspace'].price | currency:'GBP': 'symbol': '1.0-2' }}
        <span *ngIf="workSpace['workspace'].deskType === 'daily_hot_desk' || workSpace['workspace'].deskType === 'daily_meeting_room'; else notDailyDesk">/day</span>
        <ng-template #notDailyDesk>
        <span>{{
          workSpace['workspace'].deskType === 'hourly_hot_desk' || workSpace['workspace'].type === 'meeting-room' ? '/hr' : '/m'
          }}</span>
        </ng-template>
      </p>
      <p class="topticks-price-col-text"
         *ngIf="workSpace['workspace'].type !== 'desk'; else deskPriceInfo">
        <span *ngIf="!!workSpace['workspace'].size; else privateOfficeWithoutSize">{{ workSpace['workspace'].type === 'private-office' ?
                  workSpace['workspace'].size + ' sq ft • ' : '' }}{{ workSpace['workspace'].capacity }} ppl</span>
        <ng-template #privateOfficeWithoutSize>
          <span>{{ workSpace['workspace'].capacity }} ppl</span>
        </ng-template>
      </p>
      <ng-template #deskPriceInfo>
        <p class="topticks-price-col-text">
          <span>{{ deskTypeNames[workSpace['workspace'].deskType] }}</span>
        </p>
      </ng-template>
    </div>
    <ng-template [ngIf]="workSpace['related'].length <= 1 ||
                         workSpace['workspace'].type === 'desk' && workSpace['related'].length <= 2">
      <div class="topticks-price-col" *ngFor="let related of workSpace['related']"
           (click)="related.type === 'desk' ?
              openDetails($event, related['id']) :
              openDetails($event, workSpace['workspace'].id, related['id'])">
        <p class="topticks-price-col-text">
          {{ related.price | currency:'GBP' : 'symbol' : '1.0-2'}}
          <span>{{
            related.deskType === 'hourly_hot_desk' || related.type === 'meeting-room' ? '/hr' : '/m'
            }}</span>
        </p>
        <p class="topticks-price-col-text" *ngIf="related.type !== 'desk'; else deskPriceInfoAll">
          <span *ngIf="!!related.size; else privateOfficeWithoutSize">{{ related.type === 'private-office' ?
            related.size + ' sq ft • ' : '' }}{{ related.capacity }} ppl</span>
          <ng-template #privateOfficeRelatedWithoutSize>
            <span>{{ related.capacity }} ppl</span>
          </ng-template>
        </p>
        <ng-template #deskPriceInfoAll>
          <p class="topticks-price-col-text">
            <span>{{ deskTypeNames[related.deskType] }}</span>
          </p>
        </ng-template>
      </div>
    </ng-template>
    <ng-template [ngIf]="workSpace['workspace'].type !== 'desk' && workSpace['related'].length > 1 ||
                         workSpace['workspace'].type === 'desk' && workSpace['related'].length > 2">
      <div class="topticks-price-col"
           (click)="openDetails($event, workSpace['workspace'].id, workSpace['related'][0]['id'])">
        <p class="topticks-price-col-text">
          {{ workSpace['related'][0].price | currency:'GBP' : 'symbol' : '1.0-2' }}
          <span>{{
            workSpace['related'][0].deskType === 'hourly_hot_desk' || workSpace['related'][0].type === 'meeting-room' ? '/hr' : '/m'
            }}</span>
        </p>
        <p class="topticks-price-col-text"
           *ngIf="workSpace['related'][0].type !== 'desk'; else deskPriceInfoMore">
          <span *ngIf="!!workSpace['related'][0].size; else relatedWithoutSize">{{ workSpace['related'][0].type === 'private-office' ?
            workSpace['related'][0].size + ' sq ft • ' : '' }}{{ workSpace['related'][0].capacity }} ppl</span>
          <ng-template #relatedWithoutSize>
            <span>{{ workSpace['related'][0].capacity }} ppl</span>
          </ng-template>
        </p>
        <ng-template #deskPriceInfoMore>
          <p class="topticks-price-col-text">
            <span>{{ deskTypeNames[workSpace['related'][0].deskType] }}</span>
          </p>
        </ng-template>
      </div>
      <div class="topticks-price-col more">
        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
        <span class="topticks-more">more</span>
      </div>
    </ng-template>
  </div>
</div>
